Repository wazuh/wazuh, pull requests merged in 2018-05, with the labels that each got.

#556 Fix problem comparing releases of ubuntu packages
  CHANGELOG.md
  src/wazuh_modules/wm_vuln_detector.c
Labels: vuln detector

#547 Read data from registry on Windows (syscollector)
  src/shared/version_op.c
Labels: syscollector

#546 Syscollector: Network inventory improvements
  CHANGELOG.md
  etc/templates/config/centos/5/wodle-syscollector.template
  etc/templates/config/generic/wodle-syscollector.template
  src/analysisd/decoders/syscollector.c
  src/config/wmodules_syscollector.c
  src/init/inst-functions.sh
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_parser.c
  src/wazuh_db/wdb_syscollector.c
  src/wazuh_modules/syscollector/syscollector.h
  src/wazuh_modules/syscollector/syscollector_bsd.c
  src/wazuh_modules/syscollector/syscollector_linux.c
  src/wazuh_modules/syscollector/syscollector_win_ext.c
  src/win32/ossec.conf
Labels: syscollector

#554 Application inventory for Mac OS X
  src/wazuh_modules/syscollector/syscollector.h
  src/wazuh_modules/syscollector/syscollector_bsd.c
  src/wazuh_modules/syscollector/syscollector_common.c
Labels: syscollector

#555 Remove lsof query to get PID of an opened port
  src/wazuh_modules/syscollector/syscollector_linux.c
Labels: syscollector

#599 Sort shared files before merging
  CHANGELOG.md
  src/REVISION
  src/headers/file_op.h
  src/headers/string_op.h
  src/remoted/manager.c
  src/shared/file_op.c
  src/shared/string_op.c
  src/win32/ossec-installer.nsi
Labels: bug

#602 Allow decoders mix plugin and multiregex children
  CHANGELOG.md
  src/analysisd/decoders/decoder.c
  src/analysisd/decoders/decoders_list.c
Labels: enhancement

#603 Internal option to enable merged file creation by Remoted
  CHANGELOG.md
  etc/internal_options.conf
  src/remoted/main.c
Labels: enhancement

#604 Removed some fields from Logstash config files
  extensions/logstash/01-wazuh-local.conf
  extensions/logstash/01-wazuh-remote.conf
Labels: enhancement, wazuh app

#470 Add Debian and Ubuntu 18 support in vulnerability-detector
  CHANGELOG.md
  etc/templates/config/generic/wodle-vulnerability-detector.manager.template
  src/REVISION
  src/config/wmodules-vuln-detector.c
  src/error_messages/debug_messages.h
  src/error_messages/error_messages.h
  src/os_xml/os_xml_internal.h
  src/wazuh_db/schema_vuln_detector.sql
  src/wazuh_modules/wm_vuln_detector.c
  src/wazuh_modules/wm_vuln_detector.h
  src/wazuh_modules/wm_vuln_detector_db.h
  src/wazuh_modules/wmodules.c
  src/wazuh_modules/wmodules.h
Labels: vuln detector

#549 Extracts CVE codes instead of RHSA codes into vulnerability-detector
  CHANGELOG.md
  etc/templates/config/generic/wodle-vulnerability-detector.manager.template
  src/REVISION
  src/config/wmodules-vuln-detector.c
  src/error_messages/debug_messages.h
  src/error_messages/error_messages.h
  src/os_xml/os_xml_internal.h
  src/wazuh_db/schema_vuln_detector.sql
  src/wazuh_modules/wm_vuln_detector.c
  src/wazuh_modules/wm_vuln_detector.h
  src/wazuh_modules/wm_vuln_detector_db.h
  src/wazuh_modules/wmodules.c
  src/wazuh_modules/wmodules.h
Labels: bug, vuln detector

#610 Add support for GDPR rules in API
  framework/wazuh/exception.py
  framework/wazuh/rule.py
Labels: enhancement

#613 Added GDPR field to Elasticsearch template
  extensions/elasticsearch/wazuh-elastic6-template-alerts.json
Labels: enhancement, wazuh app

#618 Add GPG13 to the Elasticsearch template
  extensions/elasticsearch/wazuh-elastic6-template-alerts.json
Labels: enhancement, wazuh app

#626 Fix bug when receiving a connection with a client with a repeated name
  framework/wazuh/cluster/communication.py
Labels: bug

#636 Fix hash sum in logs rotation
  CHANGELOG.md
  src/REVISION
  src/monitord/sign_log.c
  src/win32/ossec-installer.nsi
Labels: bug

#642 Fix file descriptor leak in Remoted
  src/shared/file_op.c
Labels: bug

#641 Fix segmentation fault in logcollector when multi-line is applied to a remote configuration
  CHANGELOG.md
  src/REVISION
  src/config/localfile-config.c
  src/config/localfile-config.h
  src/logcollector/read_multiline.c
Labels: bug

#643 Fix defects found by Coverity
  src/os_dbd/config.c
  src/wazuh_modules/wm_database.c
Labels: bug

#652 Fix 3.2 cluster log permissions
  framework/scripts/wazuh-clusterd.py
  src/REVISION
  src/init/inst-functions.sh
  src/win32/ossec-installer.nsi
Labels: bug, framework

#649 Multithread message authorization and decryption in Remoted
  CHANGELOG.md
  etc/internal_options.conf
  etc/templates/config/generic/global.template
  src/analysisd/analysisd.c
  src/analysisd/config.c
  src/config/global-config.c
  src/config/global-config.h
  src/headers/queue_op.h
  src/headers/sec.h
  src/os_crypto/shared/keys.c
  src/os_crypto/shared/msgs.c
  src/remoted/secure.c
  src/remoted/sendmsg.c
  src/shared/mq_op.c
  src/shared/queue_op.c
Labels: enhancement

#659 Fix: Encrypted message exceeds the max allowed length of messages in cluster
  framework/wazuh/cluster/communication.py
  src/REVISION
  src/win32/ossec-installer.nsi
Labels: bug, framework

#639 Fix comparison between agent ID when deleting timestamps
  CHANGELOG.md
  src/addagent/validate.c
Labels: bug

#627 Integration with osquery
  CHANGELOG.md
  etc/rules/0545-osquery_rules.xml
  etc/templates/config/generic/osquery.template
  src/analysisd/analysisd.c
  src/analysisd/rules.c
  src/analysisd/rules.h
  src/config/wmodules-config.c
  src/config/wmodules-osquery-monitor.c
  src/headers/exec_op.h
  src/headers/file_op.h
  src/headers/json_op.h
  src/headers/rules_op.h
  src/headers/shared.h
  src/init/inst-functions.sh
  src/remoted/manager.c
  src/shared/exec_op.c
  src/shared/file_op.c
  src/shared/json_op.c
  src/shared/rules_op.c
  src/shared/tests/Makefile
  src/wazuh_modules/wm_exec.c
  src/wazuh_modules/wm_osquery_monitor.c
  src/wazuh_modules/wm_osquery_monitor.h
  src/wazuh_modules/wmodules.h
  src/win32/ossec.conf
  src/win32/win_service.c
Labels: enhancement

#650 Fix agents purge
  framework/wazuh/agent.py
  framework/wazuh/exception.py
Labels: framework

#644 Fix bug in GET/manager/logs API request
  framework/wazuh/manager.py
Labels: bug, framework

#695 Add excluded extensions config to cluster.json
  framework/wazuh/cluster/cluster.json
  framework/wazuh/cluster/cluster.py
Labels: enhancement, framework

#681 Improve configuration parser in API
  framework/wazuh/utils.py
Labels: bug, framework

#687 Fix wazuh-installer.wxs file and InstallerScripts.vbs
  src/win32/InstallerScripts.vbs
  src/win32/wazuh-installer.wxs
Labels: bug
