Repository wazuh/wazuh, pull requests merged in 2018-06, with the labels that each got.

#701 Fix errors in framework running Python 3
  framework/scripts/cluster_control.py
  framework/wazuh/agent.py
  framework/wazuh/cluster/cluster.py
  framework/wazuh/pyDaemonModule.py
  framework/wazuh/rootcheck.py
  framework/wazuh/syscheck.py
Labels: bug, framework

#731 Fixed unmerge files error detection
  CHANGELOG.md
  etc/rules/0016-wazuh_rules.xml
  src/client-agent/agentd.h
  src/client-agent/receiver-win.c
  src/client-agent/receiver.c
Labels: bug

#741 Fix cluster cluster control only allows to obtain 500 agents
  framework/scripts/cluster_control.py
  framework/wazuh/cluster/cluster.py
  framework/wazuh/cluster/control.py
  framework/wazuh/cluster/master.py
Labels: framework

#740 Fix remove agents only allows to remove 500 agents
  framework/wazuh/agent.py
Labels: framework

#743 Refactor filters in GET/agents and GET/agents/groups/:group_id requests
  framework/examples/get_agents.py
  framework/wazuh/agent.py
  framework/wazuh/cluster/cluster.py
  framework/wazuh/cluster/master.py
Labels: framework

#750 Add node_name to the valid search fields in GET/agents
  framework/wazuh/agent.py
Labels: framework

#754 Fix logcollector multi-line
  CHANGELOG.md
  src/logcollector/logcollector.c
  src/logcollector/read_multiline.c
Labels: bug

#773 Fixing windows event channel problem with temporary files
  CHANGELOG.md
  src/logcollector/read_win_event_channel.c
Labels: bug

#765 Fix version comparison in remote upgrades
  CHANGELOG.md
  framework/wazuh/utils.py
Labels: bug

#776 Fix log rotation in windows
  CHANGELOG.md
  src/monitord/rotate_log.c
Labels: bug

#775 Fix report_changes option
  CHANGELOG.md
  src/syscheckd/seechanges.c
Labels: bug

#771 Fix minor detection adding it to the fields list
  CHANGELOG.md
  framework/wazuh/agent.py
  src/REVISION
  src/win32/ossec-installer.nsi
Labels: bug, framework

#784 Fix bugs in upgrade agents
  CHANGELOG.md
  framework/wazuh/agent.py
Labels: bug, framework

#790 Cluster exits with error when an error occurs
  CHANGELOG.md
  framework/scripts/wazuh-clusterd.py
  framework/wazuh/cluster/communication.py
Labels: framework

#762 Fix bug when cluster control cannot get nodes in client
  CHANGELOG.md
  framework/scripts/cluster_control.py
  framework/wazuh/cluster/control.py
  framework/wazuh/exception.py
Labels: bug, framework

#760 Check version of python in cluster control
  framework/scripts/cluster_control.py
Labels: framework

#796 Fixed error when module wasn't valid
  CHANGELOG.md
  src/wazuh_modules/wmodules.c
Labels: bug

#799 Verify WPK with Wazuh CA by default
  CHANGELOG.md
  src/headers/defs.h
  src/init/inst-functions.sh
  src/os_crypto/signature/signature.c
  src/os_execd/config.c
  src/os_execd/execd.c
  src/os_execd/execd.h
  src/os_execd/win_execd.c
  src/win32/ossec.conf
Labels: bug

#804 Fix to detect errors when unmerging files in agents
  CHANGELOG.md
  etc/rules/0016-wazuh_rules.xml
  src/client-agent/agentd.h
  src/client-agent/receiver-win.c
  src/client-agent/receiver.c
Labels: bug

#787 Fix definition of CDB lists in different "ruleset" blocks of the configuration
  CHANGELOG.md
  src/config/rules-config.c
Labels: bug

#802 Fix missing fields in agents: key and os_build
  framework/wazuh/agent.py
Labels: bug, framework

#795 Add total_affected_agents and total_failed_ids to API request DELETE/agents
  framework/wazuh/agent.py
Labels: enhancement, framework

#823 Updated Logstash configuration files for Elastic 6.3.0
  extensions/logstash/01-wazuh-local.conf
  extensions/logstash/01-wazuh-remote.conf
Labels: enhancement, wazuh app

#812 Add error returned when sockets connections and merge operations fail
  src/client-agent/start_agent.c
  src/error_messages/error_messages.h
  src/os_auth/local-server.c
  src/os_auth/main-server.c
  src/os_csyslogd/csyslogd.c
  src/os_execd/wcom.c
  src/remoted/remoted.c
  src/shared/file_op.c
  src/wazuh_db/main.c
Labels: bug

#847 Fix filter for 'gpg-pubkey' packages in Syscollector
  CHANGELOG.md
  src/wazuh_modules/syscollector/syscollector_linux.c
Labels: bug

#863 Logcollector: define per-target custom output format strings
  src/config/localfile-config.c
  src/config/localfile-config.h
  src/headers/mq_op.h
  src/logcollector/config.c
  src/logcollector/read_audit.c
  src/logcollector/read_command.c
  src/logcollector/read_djb_multilog.c
  src/logcollector/read_fullcommand.c
  src/logcollector/read_json.c
  src/logcollector/read_mssql_log.c
  src/logcollector/read_multiline.c
  src/logcollector/read_mysql_log.c
  src/logcollector/read_nmapg.c
  src/logcollector/read_ossecalert.c
  src/logcollector/read_postgresql_log.c
  src/logcollector/read_snortfull.c
  src/logcollector/read_syslog.c
  src/shared/mq_op.c
Labels: enhancement
