Repository wazuh/wazuh, pull requests merged in 2018-10, with the labels that each got.

#1473 Fix crash in Remoted due to legacy request protocol
  CHANGELOG.md
  etc/internal_options.conf
  framework/wazuh/agent.py
  framework/wazuh/common.py
  framework/wazuh/ossec_socket.py
  src/client-agent/request.c
  src/remoted/request.c
  src/shared/pthreads_op.c
Labels: bug, framework, remoted

#1485 Prevent wazuh package from crashing if global.db is not created
  framework/wazuh/__init__.py
Labels: bug, cluster, framework

#1487 Prevent distributed api in workers from crashing if there's no connection with master
  framework/wazuh/cluster/control.py
  framework/wazuh/cluster/dapi/dapi.py
  framework/wazuh/cluster/internal_socket.py
Labels: bug, cluster, framework

#1488 Fix segmentation faults in Analysisd 3.7
  .gitignore
  src/Makefile
  src/analysisd/analysisd.c
  src/analysisd/decoders/ciscat.c
  src/analysisd/decoders/decode-xml.c
  src/analysisd/decoders/decoder.c
  src/analysisd/decoders/decoder.h
  src/analysisd/decoders/plugin_decoders.h
  src/analysisd/decoders/plugins/json_decoder.c
  src/analysisd/decoders/plugins/ossecalert_decoder.c
  src/analysisd/decoders/plugins/pf_decoder.c
  src/analysisd/decoders/plugins/sonicwall_decoder.c
  src/analysisd/decoders/plugins/symantecws_decoder.c
  src/analysisd/decoders/syscheck.c
  src/analysisd/dodiff.c
  src/analysisd/eventinfo.c
  src/analysisd/eventinfo.h
  src/analysisd/fts.c
  src/analysisd/fts.h
  src/analysisd/rules.c
  src/analysisd/rules.h
  src/analysisd/testrule.c
  src/config/rules-config.c
  src/headers/mem_op.h
  src/headers/rules_op.h
  src/os_regex/os_regex.h
  src/os_regex/os_regex_compile.c
  src/os_regex/os_regex_execute.c
  src/os_regex/os_regex_free_pattern.c
  src/os_regex/os_regex_free_substrings.c
  src/shared/mem_op.c
  src/util/ossec-regex.c
  src/util/parallel-regex.c
Labels: analysisd, bug

#1493 Create table scan_info
  src/analysisd/decoders/syscheck.c
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_fim.c
  src/wazuh_db/wdb_metadata.c
  src/wazuh_db/wdb_parser.c
  src/wazuh_db/wdb_scan_info.c
Labels: API, fim, framework

#1463 Fix invalid read in AWS module
  src/wazuh_modules/wm_aws.c
Labels: bug, v3.7.0-pre

#1509 Fixing query with pipes in azure-logs
  src/wazuh_modules/wm_azure.c
  wodles/azure/azure-logs.py
Labels: bug

#1515 Fix Coverity issues and Analysisd race condition
  .gitignore
  src/Makefile
  src/addagent/auth_client.c
  src/addagent/manage_agents.c
  src/analysisd/analysisd.c
  src/analysisd/decoders/ciscat.c
  src/analysisd/decoders/decode-xml.c
  src/analysisd/decoders/decoder.c
  src/analysisd/decoders/decoder.h
  src/analysisd/decoders/plugin_decoders.h
  src/analysisd/decoders/plugins/json_decoder.c
  src/analysisd/decoders/plugins/ossecalert_decoder.c
  src/analysisd/decoders/plugins/pf_decoder.c
  src/analysisd/decoders/plugins/sonicwall_decoder.c
  src/analysisd/decoders/plugins/symantecws_decoder.c
  src/analysisd/decoders/rootcheck.c
  src/analysisd/decoders/syscheck.c
  src/analysisd/dodiff.c
  src/analysisd/eventinfo.c
  src/analysisd/eventinfo.h
  src/analysisd/fts.c
  src/analysisd/fts.h
  src/analysisd/rules.c
  src/analysisd/rules.h
  src/analysisd/testrule.c
  src/config/email-alerts-config.c
  src/config/rules-config.c
  src/config/wmodules-azure.c
  src/headers/mem_op.h
  src/headers/rules_op.h
  src/os_auth/main-server.c
  src/os_execd/config.c
  src/os_execd/wcom.c
  src/os_net/os_net.c
  src/os_net/os_net.h
  src/os_regex/os_regex.h
  src/os_regex/os_regex_compile.c
  src/os_regex/os_regex_execute.c
  src/os_regex/os_regex_free_pattern.c
  src/os_regex/os_regex_free_substrings.c
  src/shared/mem_op.c
  src/syscheckd/create_db.c
  src/syscheckd/win-registry.c
  src/util/ossec-regex.c
  src/util/parallel-regex.c
Labels: bug, v3.7.0-pre

#1504 Migrate old syscheck databases to Wazuh DB
  CHANGELOG.md
  tools/migration/fim_migrate.py
Labels: fim, needs documentation, v3.7.0-pre

#1518 Improve multigroup implementation
  framework/scripts/agent_groups.py
  framework/wazuh/InputValidator.py
  framework/wazuh/agent.py
  framework/wazuh/common.py
  framework/wazuh/configuration.py
  framework/wazuh/exception.py
  src/addagent/manage_agents.h
  src/addagent/validate.c
  src/headers/agent_op.h
  src/headers/defs.h
  src/headers/file_op.h
  src/headers/string_op.h
  src/os_auth/main-server.c
  src/os_crypto/sha256/sha256_op.c
  src/os_crypto/sha256/sha256_op.h
  src/remoted/manager.c
  src/shared/agent_op.c
  src/shared/file_op.c
  src/shared/string_op.c
  src/wazuh_db/wdb_agent.c
  src/wazuh_modules/wm_database.c
Labels: enhancement

#1508 A generic exception was changed to a WazuhException.
  framework/wazuh/exception.py
  framework/wazuh/rootcheck.py
Labels: bug, framework

#1510 Fix bug when receiving a list as parameter in distributed API
  framework/wazuh/utils.py
Labels: API, bug, framework

#1511 Check if an agent exists before removing it in framework
  framework/wazuh/agent.py
Labels: API, bug, framework

#1449 syscheck.py refactor
  framework/wazuh/agent.py
  framework/wazuh/cluster/dapi/requests_list.py
  framework/wazuh/common.py
  framework/wazuh/rootcheck.py
  framework/wazuh/syscheck.py
  framework/wazuh/wdb.py
Labels: enhancement, framework

#1520 Agent name check (limit 128 characters).
  framework/wazuh/agent.py
  framework/wazuh/exception.py
Labels: API, bug, framework

#1533 Remove unused agent database table
  src/wazuh_db/schema_agents.sql
Labels: fim

#1535 Move clock length from syscollector.h to defs.h
  src/headers/defs.h
  src/wazuh_modules/syscollector/syscollector.h
Labels: bug

#1482 Improve keepalive checks in cluster
  framework/scripts/cluster_control.py
  framework/wazuh/cluster/cluster.json
  framework/wazuh/cluster/communication.py
  framework/wazuh/cluster/master.py
  framework/wazuh/cluster/worker.py
Labels: cluster, framework

#1527 Added is_sync call
  framework/scripts/agent_groups.py
  framework/wazuh/agent.py
  framework/wazuh/cluster/dapi/requests_list.py
  framework/wazuh/exception.py
  src/remoted/manager.c
Labels: framework

#1547 Prevent Logcollector from null-terminating socket output messages
  src/shared/mq_op.c
Labels: bug, logcollector

#1550 Fix Syscollector memory leak when deleting JSON objects
  src/wazuh_modules/syscollector/syscollector_linux.c
Labels: bug

#1556 Fixed message when accessing folder
  src/remoted/manager.c
Labels: bug

#1565 Update source installer for new FIM behavior
  src/init/inst-functions.sh
  src/init/wazuh/wazuh.sh
Labels: v3.7.0-pre

#1558 Fix bug when filtering by multiple statuses in GET/agents API call
  framework/wazuh/utils.py
Labels: API, bug, framework

#1559 Fix decode registry checksum in Windows agent
  src/analysisd/decoders/syscheck.c
  src/shared/syscheck_op.c
  src/syscheckd/win-registry.c
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_fim.c
  src/wazuh_db/wdb_parser.c
Labels: bug, fim

#1580 Fix get first scantime from Wazuh-db
  src/analysisd/decoders/syscheck.c
  src/wazuh_db/wdb_scan_info.c
Labels: bug, fim

#1586 Improve input validation of group names
  framework/wazuh/InputValidator.py
  framework/wazuh/exception.py
  framework/wazuh/utils.py
Labels: API, bug, framework

#1585 Fix for get osquery config
  framework/wazuh/configuration.py
Labels: API, bug, framework

#1584 Fix master logs (decoding errors)
  framework/wazuh/utils.py
Labels: API, bug, framework

#1591 Filter null values and remove internal key from GET/agents/:agent_id
  framework/wazuh/agent.py
Labels: API, bug, framework

#1590 Return false when an agent's merged sum can't be found
  framework/wazuh/agent.py
Labels: API, bug, framework

#1588 Fix for delete multiple groups
  framework/wazuh/agent.py
Labels: API, bug, framework

#1597 Fix bugs when working with groups and never connected agents
  framework/wazuh/agent.py
  src/REVISION
Labels: API, bug, framework

#1595 Fix metadata permissions when creating it
  framework/scripts/agent_groups.py
  framework/wazuh/agent.py
  src/init/inst-functions.sh
  src/remoted/manager.c
Labels: bug, framework, v3.7.0-pre

#1612 Update clean up when manually removing agents in API
  framework/wazuh/agent.py
  src/addagent/validate.c
  src/remoted/manager.c
Labels: API, bug, framework

#1626 Syscheck alerts for new and deleted files
  src/analysisd/decoders/syscheck.c
Labels: bug

#1627 Return correctly formatted key when inserting a new agent
  framework/wazuh/agent.py
  framework/wazuh/cluster/dapi/requests_list.py
Labels: API, bug, framework

#1647 Added new agent template when creating groups
  CHANGELOG.md
  framework/wazuh/agent.py
  src/init/inst-functions.sh
Labels: enhancement

#1644 Update API and cluster test templates for 3.7
  .github/ISSUE_TEMPLATE/test--api.md
  .github/ISSUE_TEMPLATE/test--cluster.md
Labels: qa

#1652 Fix for cast msg to bytes with Python 3
  framework/wazuh/agent.py
  framework/wazuh/ossec_socket.py
Labels: API, bug, framework

#1651 Fix for check if nodes have children
  framework/wazuh/configuration.py
Labels: API, bug, framework

#1655 Fix for removing multigroups in Python 3
  framework/wazuh/agent.py
Labels: API, bug, framework

#1661 Fix for encoding msg parameter if it is string
  framework/wazuh/agent.py
  framework/wazuh/ossec_socket.py
Labels: API, bug, framework

#1665 Delete analysis/rules and analysis/decoders calls
  framework/wazuh/agent.py
Labels: API, enhancement

#1666 Fixed multigroup hash
  src/remoted/manager.c
  src/shared/file_op.c
Labels: bug

#1630 Fix uppercase environment variables on Windows
  src/config/syscheck-config.c
Labels: fim

#1663 Fix netstat aix
  etc/templates/config/AIX/localfile-commands.template
Labels: bug

#1668 Fix distributed API bugs in python 3
  framework/wazuh/cluster/communication.py
  framework/wazuh/cluster/master.py
  framework/wazuh/cluster/worker.py
  framework/wazuh/utils.py
Labels: API, bug, cluster, framework

#1679 Fix Mac OS X version detection when unknown codename
  src/shared/version_op.c
Labels: bug

#1676 Fix FIM path depth
  src/syscheckd/create_db.c
  src/syscheckd/run_realtime.c
  src/syscheckd/win_whodata.c
Labels: bug

#1677 Fix for Python 3.4 compatibility
  framework/wazuh/cluster/internal_socket.py
Labels: API, bug, framework

#1678 Fix for get manager key
  framework/wazuh/agent.py
Labels: API, bug, framework

#1680 Fix for error getting remote configuration in inactive agents
  framework/wazuh/agent.py
  framework/wazuh/exception.py
Labels: API, bug, framework

#1683 Fix type of /cluster/config call
  framework/wazuh/cluster/dapi/requests_list.py
Labels: API, bug, framework

#1692 Fixed analysisd stats, multigroups debug message
  src/analysisd/analysisd.c
  src/analysisd/stats.c
  src/analysisd/stats.h
  src/remoted/manager.c
Labels: bug

#1688 Improve cluster and distributed API logs
  framework/scripts/wazuh-clusterd.py
  framework/wazuh/cluster/communication.py
  framework/wazuh/cluster/dapi/dapi.py
  framework/wazuh/cluster/internal_socket.py
  framework/wazuh/cluster/master.py
  framework/wazuh/cluster/worker.py
Labels: cluster, framework

#1685 Fix for return JSON instead string with an error happens
  framework/wazuh/cluster/master.py
  framework/wazuh/exception.py
Labels: API, bug, framework

#1695 Fixed multigroup removal from manage agents
  src/addagent/validate.c
  src/remoted/manager.c
  src/shared/string_op.c
Labels: bug

#1702 Removed manager metadata integrity control
  framework/wazuh/agent.py
  src/addagent/validate.c
  src/remoted/manager.c
  src/shared/string_op.c
Labels: enhancement

#1693 API calls cluster/stats/remoted and cluster/stats/analysisd
  framework/wazuh/cluster/dapi/requests_list.py
Labels: API, cluster, enhancement, framework

#1710 Fixed multigroup removal without authd
  framework/wazuh/agent.py
  framework/wazuh/exception.py
Labels: bug

#1708 Set rlimit_nofile in WazuhDB
  etc/internal_options.conf
  src/analysisd/analysisd.c
  src/logcollector/config.c
  src/remoted/remoted.c
  src/wazuh_db/main.c
Labels: analysisd, bug, v3.7.0-pre

#1719 Fix Analysisd 3.7
  src/analysisd/analysisd.c
  src/analysisd/dodiff.c
  src/analysisd/eventinfo.c
  src/analysisd/eventinfo.h
  src/analysisd/format/to_json.c
  src/analysisd/rules.c
  src/analysisd/rules.h
  src/analysisd/rules_list.c
  src/headers/list_op.h
  src/headers/rules_op.h
  src/shared/list_op.c
  src/shared/rules_op.c
Labels: analysisd, bug

#1721 try/exception for unicode errors with python3
  framework/wazuh/cluster/cluster.py
Labels: API, enhancement

#1718 Fix FIM migration script
  tools/migration/fim_migrate.py
Labels: bug, fim

#1728 Fix for is_sync_group function with Python 3
  framework/wazuh/agent.py
Labels: API, bug, framework

#1739 Delete rm line from update script
  src/init/update.sh
Labels: bug

#1737 Fix for getting labels config
  framework/wazuh/configuration.py
Labels: API, bug, framework

#1268 Removed format
  extensions/elasticsearch/wazuh-elastic6-template-alerts.json
Labels: stall

#1740 Overwrite FIM configuration when is pushed from manager
  CHANGELOG.md
  src/config/syscheck-config.c
  src/config/syscheck-config.h
  src/syscheckd/syscheck.c
Labels: fim

#1750 Prevent Remoted from refreshing multi-group merged files on worker
  src/remoted/manager.c
Labels: remoted

#1747 Disable agent_groups on workers
  framework/scripts/agent_groups.py
  framework/wazuh/exception.py
Labels: API, framework

#1754 Move cluster request timeout to cluster.json
  framework/wazuh/cluster/cluster.json
  framework/wazuh/cluster/communication.py
  framework/wazuh/cluster/internal_socket.py
  framework/wazuh/common.py
Labels: cluster, framework

#1756 Fix bugs checking cluster status
  framework/wazuh/cluster/cluster.py
Labels: cluster, framework

#1755 Duplicated syscheck remote config thread
  src/syscheckd/run_check.c
Labels: bug, v3.7.0-pre

#1775 exception.py accepts dictionaries as arguments now
  framework/wazuh/exception.py
Labels: API, enhancement, framework

#1770 Disable agent_groups binary in worker nodes
  framework/scripts/agent_groups.py
Labels: enhancement, framework

#1743 Add error message when trying to manage agents being a worker
  src/addagent/main.c
  src/config/cluster-config.c
  src/config/global-config.c
  src/config/global-config.h
  src/headers/cluster_utils.h
  src/headers/shared.h
  src/os_auth/main-server.c
  src/remoted/main.c
  src/shared/cluster_utils.c
  src/util/agent_control.c
Labels: cluster, enhancement

#1772 Fix discard of modification alert when the scan of fim is interrupted
  src/analysisd/decoders/syscheck.c
Labels: bug, fim

#1776 Enable cluster_control -a in worker nodes
  framework/scripts/cluster_control.py
Labels: cluster, framework

#1764 Add an option to disable timeout in distributed API calls
  framework/scripts/cluster_control.py
  framework/wazuh/cluster/control.py
  framework/wazuh/cluster/dapi/dapi.py
  framework/wazuh/cluster/internal_socket.py
Labels: API, framework

#1779 Added subquery to osquery json
  src/wazuh_modules/wm_osquery_monitor.c
Labels: enhancement

#1765 Add reception timeout to Remoted in TCP mode
  etc/internal_options.conf
  src/os_crypto/shared/keys.c
  src/os_net/os_net.c
  src/os_net/os_net.h
  src/remoted/manager.c
  src/remoted/remoted.c
  src/remoted/request.c
  src/remoted/secure.c
  src/remoted/sendmsg.c
Labels: bug, needs documentation, remoted

#1781 Fix error when distributed API client disconnects before its final response reaches the server
  framework/wazuh/cluster/communication.py
  framework/wazuh/cluster/master.py
Labels: bug, cluster, framework
