Repository wazuh/wazuh, pull requests merged in 2018-12, with the labels that each got.

#2019 Fix bug when creating multigroups using Python 3
  framework/wazuh/agent.py
Labels: API, bug, framework

#1761 Fix mapping template for AWS GuardDuty
  extensions/elasticsearch/wazuh-elastic6-template-alerts.json
Labels: aws_integration, framework

#2020 Fix race condition in distributed API calls
  framework/wazuh/cluster/dapi/dapi.py
Labels: API, bug, framework

#2021 Set close-on-exec flag to socket descriptor
  src/os_net/os_net.c
Labels: agent, bug, operations

#2014 Fix decoding of CIS-CAT events
  src/analysisd/analysisd.c
Labels: bug

#2022 Add a file reloading feature to Logcollector
  etc/internal_options.conf
  src/config/localfile-config.h
  src/logcollector/config.c
  src/logcollector/logcollector.c
  src/logcollector/logcollector.h
Labels: agent, bug, logcollector

#2001 Avoid network timeout error in the agent on unsupported platforms
  src/client-agent/start_agent.c
Labels: agent, operations

#2010 Fix regex in CentOS 5
  src/init/dist-detect.sh
Labels: bug

#1499 Error in wm_osquery_monitor_read() function.
  src/config/wmodules-osquery-monitor.c
Labels: bug

#1536 Errors in ReadDecodeXML() function.
  src/analysisd/decoders/decode-xml.c
Labels: bug

#1541 Improve get_info_attributes() function.
  src/analysisd/rules.c
Labels: analysisd, enhancement

#1725 Fix block remoted because an timeout in AR for Windows
  src/client-agent/receiver-win.c
  src/os_execd/win_execd.c
Labels: agent, bug

#2036 Agent config regex fix
  CHANGELOG.md
  src/config/config.c
  src/os_regex/os_regex.h
Labels: bug, operations

#2031 Detect more big-endian platforms natively
  src/os_net/os_net.c
Labels: agent, bug

#2030 Fix attempt to set the file limit to 0 in Logcollector
  src/logcollector/main.c
Labels: bug, logcollector

#2035 Fix for AWS > 1000 logs limit
  wodles/aws/aws-s3.py
Labels: aws_integration, framework

#2039 improvement for AWS Inspector database
  wodles/aws/aws-s3.py
Labels: aws_integration, framework

#2068 New tables for each service in AWS wodle
  wodles/aws/aws-s3.py
Labels: aws_integration, framework

#2058 Avoid the check_attrs option from being set on Linux
  src/config/syscheck-config.c
Labels: fim

#2077 Fix for getting all AWS VPC logs
  wodles/aws/aws-s3.py
Labels: aws_integration, framework

#2085 Improve custom bucket table
  wodles/aws/aws-s3.py
Labels: aws_integration, framework

#2094 Improvement for VPC debug.
  wodles/aws/aws-s3.py
Labels: aws_integration, framework

#2101 New table for CloudTrail, VPC and Config
  wodles/aws/aws-s3.py
Labels: aws_integration, framework

#2112 Remove regions from Inspector
  wodles/aws/aws-s3.py
Labels: aws_integration, framework

#2113 Fix for migrate trail_progress table
  wodles/aws/aws-s3.py
Labels: aws_integration, framework

#2114 Python 3.7 + asyncio cluster implementation: Wazuh and distributed API
  framework/scripts/cluster_control.py
  framework/scripts/wazuh-clusterd.py
  framework/tests/test_cluster_sync.py
  framework/tests/test_communication.py
  framework/wazuh/InputValidator.py
  framework/wazuh/__init__.py
  framework/wazuh/__main__.py
  framework/wazuh/active_response.py
  framework/wazuh/agent.py
  framework/wazuh/ciscat.py
  framework/wazuh/cluster/__init__.py
  framework/wazuh/cluster/client.py
  framework/wazuh/cluster/cluster.json
  framework/wazuh/cluster/cluster.py
  framework/wazuh/cluster/common.py
  framework/wazuh/cluster/communication.py
  framework/wazuh/cluster/control.py
  framework/wazuh/cluster/dapi/dapi.py
  framework/wazuh/cluster/dapi/requests_list.py
  framework/wazuh/cluster/internal_socket.py
  framework/wazuh/cluster/local_client.py
  framework/wazuh/cluster/local_server.py
  framework/wazuh/cluster/master.py
  framework/wazuh/cluster/server.py
  framework/wazuh/cluster/worker.py
  framework/wazuh/common.py
  framework/wazuh/configuration.py
  framework/wazuh/database.py
  framework/wazuh/decoder.py
  framework/wazuh/exception.py
  framework/wazuh/manager.py
  framework/wazuh/ossec_queue.py
  framework/wazuh/ossec_socket.py
  framework/wazuh/pyDaemonModule.py
  framework/wazuh/rootcheck.py
  framework/wazuh/rule.py
  framework/wazuh/stats.py
  framework/wazuh/syscheck.py
  framework/wazuh/syscollector.py
  framework/wazuh/utils.py
  framework/wazuh/wdb.py
Labels: cluster, framework

#1985 Fix multigroups consistency
  CHANGELOG.md
  etc/internal_options.conf
  framework/wazuh/agent.py
  framework/wazuh/cluster/cluster.json
  src/addagent/validate.c
  src/headers/defs.h
  src/headers/hash_op.h
  src/remoted/config.c
  src/remoted/manager.c
  src/remoted/remoted.h
  src/shared/agent_op.c
  src/shared/hash_op.c
  src/wazuh_db/wdb_agent.c
  src/wazuh_modules/wm_database.c
Labels: bug

#1698 Increase qty of aws.eventNames; remove usage of aws.eventSources
  etc/lists/amazon/aws-eventnames
  etc/lists/amazon/aws-sources
  etc/lists/amazon/aws-sources.cdb
  etc/rules/0350-amazon_rules.xml
  framework/tests/test_cluster_sync.py
Labels: aws_integration, framework

#2080 Fix SIGSEV on analysisd when check_value doesn't exist
  CHANGELOG.md
  src/os_regex/os_match_execute.c
  src/os_regex/os_regex.h
Labels: bug

#2121 Cast pid_t to int at log printing to avoid compile warnings in Solaris 10
  src/wazuh_modules/wm_exec.c
Labels: bug

#2119 Fix when only inspector service is configured
  src/config/wmodules-aws.c
Labels: aws_integration, framework

#2126 Add remove parameter to AWS Inspector
  wodles/aws/aws-s3.py
Labels: aws_integration, framework

#2131 Fix AWS rules
  etc/lists/amazon/aws-eventnames
  etc/lists/amazon/aws-sources
  etc/rules/0350-amazon_rules.xml
  etc/templates/config/generic/rules.template
Labels: aws_integration, framework

#2130 Fix for getting AWS Config logs
  wodles/aws/aws-s3.py
Labels: aws_integration, framework

#2087 Solaris rootcheck fix
  src/rootcheck/check_rc_sys.c
Labels: agent

#1822 Replace getline with fgets in vulnerability-detector
  CHANGELOG.md
  src/wazuh_modules/wm_vuln_detector.c
Labels: vuln detector

#2129 Enabling ossec-authd by default
  CHANGELOG.md
  etc/templates/config/generic/auth.template
  gen_ossec.sh
  install.sh
  src/config/authd-config.c
  src/config/authd-config.h
  src/init/inst-functions.sh
  src/init/ossec-server.sh
  src/os_auth/config.c
Labels: enhancement

#2134 Updated regular expression for audit.key
  CHANGELOG.md
  etc/decoders/0040-auditd_decoders.xml
  etc/rules/0365-auditd_rules.xml
Labels: bug

#2138 Improve AWS rules
  etc/rules/0350-amazon_rules.xml
Labels: aws_integration, framework

#2159 Fix reparse parameter in AWS Config
  wodles/aws/aws-s3.py
Labels: aws_integration, framework

#2147 Updated DB's automatically from Wazuh-db
  CHANGELOG.md
  src/init/wazuh/wazuh.sh
  src/wazuh_db/main.c
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/schema_upgrade_v1.sql
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_agent.c
  src/wazuh_db/wdb_fim.c
  src/wazuh_db/wdb_metadata.c
  src/wazuh_db/wdb_parser.c
  src/wazuh_db/wdb_scan_info.c
  src/wazuh_db/wdb_upgrade.c
Labels: db

#2127 Allow remoted to connect to external DB for retrieving client key
  etc/internal_options.conf
  etc/ossec.conf
  etc/rules/0015-ossec_rules.xml
  src/addagent/auth_client.c
  src/addagent/manage_agents.c
  src/addagent/manage_agents.h
  src/addagent/manage_keys.c
  src/client-agent/receiver-win.c
  src/client-agent/receiver.c
  src/client-agent/start_agent.c
  src/config/reports-config.h
  src/config/wmodules-config.c
  src/config/wmodules-key-request.c
  src/error_messages/error_messages.h
  src/headers/agent_op.h
  src/headers/auth_client.h
  src/headers/defs.h
  src/headers/read-agents.h
  src/headers/sec.h
  src/headers/shared.h
  src/headers/url.h
  src/monitord/main.c
  src/monitord/monitor_agents.c
  src/monitord/monitord.c
  src/monitord/monitord.h
  src/os_auth/local-server.c
  src/os_crypto/shared/msgs.c
  src/remoted/secure.c
  src/shared/agent_op.c
  src/shared/auth_client.c
  src/shared/read-agents.c
  src/shared/url.c
  src/util/list_agents.c
  src/wazuh_modules/main.c
  src/wazuh_modules/wm_azure.c
  src/wazuh_modules/wm_azure.h
  src/wazuh_modules/wm_exec.c
  src/wazuh_modules/wm_keyrequest.c
  src/wazuh_modules/wm_keyrequest.h
  src/wazuh_modules/wm_vuln_detector.c
  src/wazuh_modules/wm_vuln_detector.h
  src/wazuh_modules/wmodules.h
Labels: enhancement, remoted

#2137 Improves vulnerability detection in Red Hat systems
  CHANGELOG.md
  etc/templates/config/generic/wodle-vulnerability-detector.manager.template
  src/config/wmodules-config.c
  src/config/wmodules-vuln-detector.c
  src/error_messages/debug_messages.h
  src/error_messages/error_messages.h
  src/headers/json_op.h
  src/headers/shared.h
  src/headers/string_op.h
  src/os_regex/examples/regex.c
  src/os_regex/examples/regex_str.c
  src/os_regex/os_regex.h
  src/shared/json_op.c
  src/wazuh_db/schema_vuln_detector.sql
  src/wazuh_modules/wm_osquery_monitor.c
  src/wazuh_modules/wm_vuln_detector.c
  src/wazuh_modules/wm_vuln_detector.h
  src/wazuh_modules/wm_vuln_detector_db.h
Labels: vuln detector

#2162 New call for deleting multiple agents of a group
  framework/wazuh/agent.py
  framework/wazuh/cluster/dapi/requests_list.py
Labels: API, framework

#2168 Added DEB and RPM package scan regardless of Linux distribution
  src/wazuh_modules/syscollector/syscollector.h
  src/wazuh_modules/syscollector/syscollector_linux.c
Labels: bug

#2169 New format for AWS Inspector alerts
  etc/rules/0350-amazon_rules.xml
  wodles/aws/aws-s3.py
Labels: aws_integration, framework

#2160 Removed Wazuh version number from the product display name field (Windows MSI)
  src/win32/wazuh-installer.wxs
Labels: bug, in review

#1885 Fixes for w_input_thread() and wcom_restart() segfaults + OSHash memleaks
  src/analysisd/accumulator.c
  src/analysisd/analysisd.c
  src/analysisd/decoders/decoder.h
  src/analysisd/decoders/syscheck.c
  src/analysisd/fts.c
  src/analysisd/labels.c
  src/analysisd/labels.h
  src/analysisd/rules.c
  src/client-agent/request.c
  src/client-agent/restart_agent.c
  src/headers/hash_op.h
  src/headers/pthreads_op.h
  src/logcollector/logcollector.c
  src/logcollector/read_win_el.c
  src/os_crypto/shared/keys.c
  src/os_execd/execd.c
  src/os_execd/wcom.c
  src/remoted/manager.c
  src/shared/hash_op.c
  src/shared/tests/hash_test.c
  src/syscheckd/create_db.c
  src/syscheckd/run_realtime.c
  src/syscheckd/syscheck.c
  src/syscheckd/win_whodata.c
  src/wazuh_db/main.c
  src/wazuh_modules/syscollector/syscollector_win_ext.c
  src/wazuh_modules/wm_vuln_detector.c
Labels: agent, bug

#2142 Windows eventchannel enhancement
  .gitignore
  CHANGELOG.md
  etc/internal_options.conf
  etc/lists/security-eventchannel
  etc/rules/0220-msauth_rules.xml
  etc/rules/0225-mcafee_av_rules.xml
  etc/rules/0230-ms-se_rules.xml
  etc/rules/0240-ids_rules.xml
  etc/rules/0330-sysmon_rules.xml
  etc/rules/0430-ms_wdefender_rules.xml
  etc/rules/0435-ms_logs_rules.xml
  etc/rules/0590-ms_ipsec_rules_json.xml
  etc/templates/config/generic/rules.template
  src/analysisd/analysisd.c
  src/analysisd/decoders/decode-xml.c
  src/analysisd/decoders/decoder.h
  src/analysisd/decoders/winevtchannel.c
  src/analysisd/rules.h
  src/analysisd/state.c
  src/analysisd/state.h
  src/headers/mq_op.h
  src/init/inst-functions.sh
  src/logcollector/logcollector.c
  src/logcollector/read_win_event_channel.c
  src/os_xml/os_xml.c
  src/os_xml/os_xml.h
Labels: enhancement
