Repository wazuh/wazuh, pull requests merged in 2019-05, with the labels that each got.

#3223 Add uWSGI to Wazuh API
  api/Makefile
  api/api/alogging.py
  api/api/api.py
  api/api/authentication.py
  api/api/configuration.py
  api/api/configuration/template-api.yaml
  api/api/configuration/uwsgi.yaml
  api/api/constants.py
  api/api/test/test_configuration.py
  api/scripts/wazuh-apid.py
  api/setup.py
  api/wrappers/generic_wrapper.sh
  framework/requirements.txt
  framework/scripts/wazuh-clusterd.py
  framework/wazuh/wlogging.py
Labels: API

#3143 Add docstrings to all cluster protocol methods
  framework/wazuh/cluster/client.py
  framework/wazuh/cluster/local_client.py
  framework/wazuh/cluster/local_server.py
  framework/wazuh/cluster/master.py
  framework/wazuh/cluster/server.py
  framework/wazuh/cluster/worker.py
Labels: cluster, framework

#2959 accept ] as a terminal prompt character
  src/agentlessd/scripts/sshlogin.exp
Labels: operations

#3209 ] and > for agentless with no password
  src/agentlessd/scripts/ssh_nopass.exp
Labels: operations

#3266 Cluster: Fix typings error in client.py and worker.py inside cluster
  framework/wazuh/cluster/client.py
  framework/wazuh/cluster/worker.py
Labels: cluster, framework

#3275 Fix restart script for restarting Wazuh in Docker containers
  active-response/restart.sh
  framework/wazuh/cluster/cluster.py
  framework/wazuh/manager.py
Labels: bug

#3261 Fix parser of the CIS-CAT XML report
  src/wazuh_modules/wm_ciscat.c
  src/wazuh_modules/wm_ciscat.h
Labels: bug, core/cis-cat

#3232 API: Flask - Implement decoders endpoints
  api/api/configuration/uwsgi.yaml
  api/api/controllers/decoders_controller.py
  api/api/spec/changes.md
  api/api/spec/spec.yaml
  api/api/util.py
  api/api/validator.py
  api/test/integration/test_decoders_endpoints.tavern.yaml
  framework/wazuh/cluster/dapi/dapi.py
  framework/wazuh/decoder.py
  framework/wazuh/exception.py
  framework/wazuh/utils.py
Labels: API

#2660 Fix .ssh folder permissions
  src/init/inst-functions.sh
Labels: operations

#2948 Rules endpoints (new API)
  api/api/controllers/rules_controller.py
  api/api/controllers/rules_controllers.py
  api/api/models/rules_files_model.py
  api/api/models/rules_model.py
  api/api/spec/changes.md
  api/api/spec/spec.yaml
  api/api/util.py
  api/api/validator.py
  api/test/integration/test_rules_endpoint.tavern.yaml
  framework/wazuh/cluster/dapi/dapi.py
  framework/wazuh/exception.py
  framework/wazuh/rule.py
  framework/wazuh/tests/test_rules.py
  framework/wazuh/utils.py
Labels: API

#3245 Change the extraction point of the package name in the OVALs
  src/error_messages/debug_messages.h
  src/shared/url.c
  src/wazuh_db/schema_vuln_detector.sql
  src/wazuh_modules/wm_vuln_detector.c
  src/wazuh_modules/wm_vuln_detector.h
  src/wazuh_modules/wm_vuln_detector_db.h
Labels: bug, core/vuln detector

#3279 Fix insert_agent default behaviour by changing force=-1 to force=0
  framework/wazuh/agent.py
Labels: bug, framework

#3362 Change error message to debug in Whodata for Windows
  src/syscheckd/win_whodata.c
Labels: core/fim/audit, platform/windows

#3366 Delete timeout checking when reading files
  src/headers/file_op.h
  src/os_crypto/md5_sha1_sha256/md5_sha1_sha256_op.c
  src/shared/file_op.c
Labels: bug, core/fim

#3360 Fix memory leak when updating a Vulnerability Detector feed
  src/wazuh_modules/wm_vuln_detector.c
Labels: bug, core/vuln detector

#3140 Add IPv6 loopback ::1 to localhost list in mysql_osdb_connect()
  src/os_dbd/db_op.c
Labels: community, enhancement

#3383 Fix invalid access to OSMatch array in remote config request
  src/analysisd/config.c
Labels: bug, core/analysisd

#3385 Change "x" to "y"
  etc/preloaded-vars.conf
Labels: community

#2911 Syscheck endpoints (new API)
  api/api/controllers/syscheck_controller.py
  api/api/models/base_model_.py
  api/api/spec/spec.yaml
  api/api/util.py
  api/api/validator.py
  api/scripts/wazuh-apid.py
  api/test/integration/tavern_utils.py
  api/test/integration/test_syscheck_endpoints.tavern.yaml
  api/test/integration/test_syscheck_endpoints.tavern.yml
  framework/wazuh/cluster/common.py
  framework/wazuh/exception.py
  framework/wazuh/syscheck.py
  framework/wazuh/tests/test_syscheck.py
Labels: API

#3352 Fix error when editing ossec.conf in docker
  framework/wazuh/agent.py
  framework/wazuh/configuration.py
  framework/wazuh/manager.py
  framework/wazuh/tests/test_agent.py
  framework/wazuh/tests/test_manager.py
Labels: API, framework

#2912 Syscollector endpoints (new API)
  api/api/controllers/syscollector_controller.py
  api/api/spec/changes.md
  api/api/spec/spec.yaml
  api/api/util.py
  api/test/integration/tavern_utils.py
  api/test/integration/test_syscollector_endpoint.tavern.yaml
  api/test/integration/utils_files/ossec_manager.conf
  framework/wazuh/exception.py
  framework/wazuh/syscollector.py
  framework/wazuh/wdb.py
Labels: API, framework

#3382 Fix deleting of temporary files in worker nodes
  CHANGELOG.md
  framework/wazuh/cluster/master.py
  framework/wazuh/cluster/worker.py
Labels: cluster

#3351 Fix agent mismatch in database when selecting agents with a mask
  src/wazuh_db/wdb_agent.c
Labels: bug, core/db

#3339 Fix compilation issue for local installation
  src/Makefile
Labels: bug

#3358 Fix for getting Wazuh versions >=3.10
  framework/wazuh/agent.py
  framework/wazuh/tests/test_agent.py
  framework/wazuh/tests/test_util.py
  framework/wazuh/utils.py
Labels: API, framework

#3364 Fix for upgrading agents >=3.10 by using API or agent_upgrade
  framework/wazuh/agent.py
  framework/wazuh/tests/test_agent.py
Labels: API, framework

#3348 Group GPG13 requirements in the rules output
  framework/wazuh/cluster/dapi/requests_list.py
  framework/wazuh/exception.py
  framework/wazuh/rootcheck.py
  framework/wazuh/rule.py
  framework/wazuh/tests/test_rules.py
Labels: framework

#3419 Fix for getting agent version in syscheck
  framework/wazuh/syscheck.py
  framework/wazuh/tests/data/schema_syscheck_test.sql
  framework/wazuh/tests/test_syscheck.py
Labels: framework

#3420 Update wazuh framework module rule.py to support HIPAA and NIST-800-53
  framework/wazuh/cluster/dapi/requests_list.py
  framework/wazuh/rule.py
  framework/wazuh/tests/test_rules.py
Labels: framework

#3439 Fix permissions after copying agent-groups to workers in cluster
  framework/wazuh/cluster/worker.py
Labels: cluster
