Repository wazuh/wazuh, pull requests merged in 2019-06, with the labels that each got.

#3433 3309 fix rhel 8
  src/init/init.sh
Labels: bug

#3391 Fix invalid version check on remote upgrades
  framework/wazuh/agent.py
Labels: bug, packages/wpk

#3361 Add SCA template for Ubuntu 12.04
  etc/templates/config/ubuntu/12/04/sca.files
  etc/templates/config/ubuntu/12/04/sca.template
Labels: bug, core/sca

#3405 Disable hostname resolution in agent start up
  src/client-agent/agentd.c
  src/client-agent/agentd.h
  src/client-agent/config.c
  src/client-agent/start_agent.c
  src/config/client-config.c
  src/os_net/os_net.c
  src/win32/ui/common.c
  src/win32/win_agent.c
Labels: bug, core/agent

#3470 Fix descriptor leak appearing in Modulesd on subprocess execution error
  src/wazuh_modules/wm_exec.c
Labels: aws_integration, bug, core/cis-cat, core/command, core/docker, core/openscap, core/sca

#3225 Fix AIX service file
  src/init/ossec-hids-aix.init
Labels: bug

#3417 Increased email_maxperhour upper limit
  src/config/global-config.c
Labels: core/maild, enhancement, status/needs documentation

#3334 Removed unused Jenkinsfile
  Jenkinsfile-daily
  Jenkinsfile-instant
Labels: enhancement, jenkins

#3446 Revert changes introduced in #3279
  framework/wazuh/agent.py
Labels: API, framework

#3494 Clear osquery results log feof state before reading
  src/wazuh_modules/wm_osquery_monitor.c
Labels: bug, core/osquery

#3432 Remove socket deletion from epoll
  src/remoted/secure.c
Labels: bug, core/remoted

#3541 Changed type for "full_log" (text)
  extensions/elasticsearch/7.x/wazuh-template.json
Labels: elastic-stack, priority/high

#3555 Prevent the agent from sending unitialized data to the manager
  src/client-agent/notify.c
Labels: bug, core/agent

#2867 Manager endpoints (Flask API)
  api/api/controllers/manager_controller.py
  api/api/spec/changes.md
  api/api/spec/spec.yaml
  api/api/util.py
  api/api/validator.py
  api/test/integration/test_manager_endpoints.tavern.yaml
  framework/wazuh/__init__.py
  framework/wazuh/cluster/cluster.py
  framework/wazuh/common.py
  framework/wazuh/configuration.py
  framework/wazuh/decoder.py
  framework/wazuh/exception.py
  framework/wazuh/manager.py
  framework/wazuh/rule.py
  framework/wazuh/stats.py
  framework/wazuh/tests/test_manager.py
Labels: API

#3544 Fix memory leak when CIS-CAT cannot read reports
  src/wazuh_modules/wm_ciscat.c
Labels: bug, core/cis-cat

#3564 Fix memory leak in Modulesd when querying configuration
  src/wazuh_modules/wmodules.c
Labels: bug, core/modulesd

#3530 Introduce global mutex for Rootcheck decoder
  src/analysisd/decoders/rootcheck.c
Labels: bug, core/analysisd

#3587 Fix conflicts between rule context options
  src/analysisd/rules.h
Labels: bug, bug/regression, core/analysisd
