Repository wazuh/wazuh, pull requests merged in 2019-01, with the labels that each got.

#2146 Syscheck first queue error message changed into a warning
  CHANGELOG.md
  src/syscheckd/syscheck.c
Labels: bug, fim

#2180 Improve audit integration
  src/headers/audit_op.h
  src/shared/audit_op.c
  src/syscheckd/syscheck.c
  src/syscheckd/syscheck.h
  src/syscheckd/syscheck_audit.c
Labels: enhancement, fim

#2211 Fix internal error in agent_groups tool
  framework/scripts/agent_groups.py
Labels: bug

#2212 Error updating database in Wazuh-db
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb_upgrade.c
Labels: bug, db, priority

#2213 Make FIM alert new files by default
  src/analysisd/config.c
Labels: fim

#2216 Fix bug in regex when input string has no extra bytes
  src/os_regex/os_regex_execute.c
Labels: bug

#2210 Default values for auto-ignore parameters
  src/analysisd/config.c
  src/config/global-config.c
Labels: bug, fim

#2201 Changed warning messages
  src/analysisd/decoders/syscheck.c
  src/syscheckd/create_db.c
Labels: fim

#2214 Fix invalid keys structure size on ARM architecture
  src/remoted/sendmsg.c
  src/wazuh_modules/wmodules.h
Labels: bug

#2221 Fixed an error when wazuh-db non updating any database
  src/wazuh_db/wdb_upgrade.c
Labels: bug, db

#1798 Decrease the maximum request size to wazuh-db by vulnerability-detector
  src/wazuh_modules/wm_vuln_detector.c
Labels: vuln detector

#2204 Fixes bytes literals issue
  framework/wazuh/cluster/cluster.py
Labels: cluster, framework

#2006 Use $HOSNAME as node_name and $NODE_TYPE as node_type in the cluster
  framework/wazuh/cluster/cluster.py
Labels: cluster, framework

#2225 Fix for Inspector configuration
  src/config/wmodules-aws.c
  src/wazuh_modules/wm_aws.c
Labels: aws_integration, framework

#2155 Support for upgrading group configuration
  framework/wazuh/agent.py
  framework/wazuh/cluster/dapi/requests_list.py
  framework/wazuh/configuration.py
  framework/wazuh/exception.py
  src/init/inst-functions.sh
Labels: API, framework

#2222 Show rule variables
  framework/wazuh/rule.py
Labels: API, framework

#2223 Fix for missing keys in default group
  framework/wazuh/configuration.py
Labels: API, framework

#2250 New column for VPC table
  wodles/aws/aws-s3.py
Labels: aws_integration, framework

#2282 Fix for getting AWS Config logs
  wodles/aws/aws-s3.py
Labels: aws_integration, framework

#2289 Fix error when updating group configurations in a custom installation path
  framework/wazuh/configuration.py
Labels: bug, framework

#2292 Fix sending of the owner attribute when a file is created in Windows
  CHANGELOG.md
  src/syscheckd/create_db.c
Labels: bug

#2209 Add date information to the name of backups generated by Wazuh-db
  src/wazuh_db/wdb_upgrade.c
Labels: db

#2294 Fix bug when using &, <, " or > in group configuration
  framework/wazuh/configuration.py
Labels: API, bug

#2295 Fix bug in POST/agents/group/:group_id/configuration
  framework/wazuh/cluster/dapi/requests_list.py
  framework/wazuh/configuration.py
Labels: API, bug, framework

#2303 Fix bug updating group configuration when there's a wazuh syntax error using python 3
  framework/wazuh/configuration.py
Labels: API, bug, framework

#2325 Fix race condition in upload_group_configuration
  framework/wazuh/configuration.py
Labels: framework

#2319 Fix for getting VPC logs of multiple regions
  wodles/aws/aws-s3.py
Labels: aws_integration, framework

#2304 Fix detection of CPU cores in Analysisd and Syscollector
  src/analysisd/analysisd.c
  src/headers/shared.h
  src/headers/version_op.h
  src/shared/version_op.c
  src/wazuh_modules/syscollector/syscollector_bsd.c
  src/wazuh_modules/syscollector/syscollector_linux.c
Labels: bug, qa

#2310 Fix validation of field white_list
  src/config/global-config.c
Labels: bug, qa

#2312 Fix invalid directory closing in database sync module
  src/wazuh_db/wdb_agent.c
Labels: bug, qa

#2307 Fix decoding of the "nice" value for the process inventory
  src/wazuh_db/wdb_parser.c
  src/wazuh_db/wdb_syscollector.c
Labels: bug, in review, qa

#2332 Support for multiple regions and accounts in AWS Inspector
  wodles/aws/aws-s3.py
Labels: aws_integration, framework

#2329 Fix agent connection in TCP mode on Windows XP
  CHANGELOG.md
  src/client-agent/receiver-win.c
  src/client-agent/receiver.c
  src/client-agent/start_agent.c
  src/os_net/os_net.c
  src/os_net/os_net.h
Labels: agent, bug

#2316 Fix wodle command message
  src/wazuh_modules/wm_exec.c
Labels: bug

#2301 Fixed string searching terminator
  src/headers/string_op.h
  src/shared/string_op.c
  src/wazuh_modules/wm_vuln_detector.c
Labels: bug, vuln detector

#2333 Fix for AWS confing
  wodles/aws/aws-s3.py
Labels: aws_integration, framework

#2335 Fix bug when preparsing Debian OVAL
  src/wazuh_modules/wm_vuln_detector.c
Labels: bug, vuln detector

#2337 Add warning when trying to enable authd
  src/init/ossec-server.sh
Labels: bug

#2347 New column (account ID) for AWS Custom database
  wodles/aws/aws-s3.py
Labels: aws_integration, framework

#2348 Update primary key in VPC database (AWS)
  wodles/aws/aws-s3.py
Labels: aws_integration, framework

#2338 Fix regex when removing agents in cluster
  framework/wazuh/agent.py
  framework/wazuh/cluster/cluster.py
Labels: cluster, framework

#2353 Prevent master interval variables to be overwritten when getting healthcheck
  framework/wazuh/cluster/master.py
Labels: cluster, framework

#2351 Fix symlink path linux
  src/syscheckd/create_db.c
  src/syscheckd/run_realtime.c
  src/syscheckd/syscheck.h
Labels: fim

#2358 Add list/info attributes
  framework/wazuh/rule.py
Labels: bug, framework

#2384 Fix wodle command conditional jump
  src/wazuh_modules/wm_command.c
Labels: bug

#2392 Fix runtime error when removing workers in cluster
  framework/wazuh/cluster/master.py
Labels: bug, cluster, framework

#2390 Error in FIM JSON alert in Windows systems
  src/analysisd/decoders/syscheck.c
Labels: bug, fim

#2395 Fix memory leak in Wazuh DB on saving FIM data
  src/wazuh_db/wdb_fim.c
Labels: bug, db

#2398 Fix 3.8 rename config fields
  wodles/aws/aws-s3.py
Labels: aws_integration, framework

#2402 Add table to control the metadata of the vuln-detector DB
  CHANGELOG.md
  src/wazuh_db/schema_vuln_detector.sql
  src/wazuh_modules/wm_vuln_detector.c
  src/wazuh_modules/wm_vuln_detector_db.h
Labels: vuln detector

#2429 Move from urllib to requests in agent_upgrade
  framework/wazuh/agent.py
Labels: enhancement, framework

#2435 Move from urllib to requests in update_ruleset
  src/update/ruleset/update_ruleset
Labels: enhancement, framework, ruleset

#2451 Fix memory leak in Logcollector (Windows Event channel)
  src/logcollector/read_win_event_channel.c
Labels: bug, logcollector

#2449 Fix script parsing error in Solaris 10
  src/init/inst-functions.sh
Labels: bug

#2445 Fix version comparisons on Red Hat systems
  src/wazuh_modules/wm_vuln_detector.c
Labels: bug, vuln detector

#2456 Fix use-after-free corruption in Analysisd at the accumulator library
  src/analysisd/accumulator.c
Labels: bug

#2148 Add connection retries to global.db by vulnerability-detector
  src/error_messages/error_messages.h
  src/wazuh_modules/wm_vuln_detector.c
Labels: bug, core/vuln detector

#2470 Fix crash in Modulesd when parsing command with missing tag
  src/wazuh_modules/wmodules.c
Labels: bug, core/command

#2387 Fix ossec-dbd PID file creation
  src/os_dbd/main.c
Labels: bug

#2484 Delete trailing spaces from Eventchannel fields
  src/analysisd/decoders/winevtchannel.c
Labels: bug

#2460 Fix ossec-remoted messages
  src/remoted/main.c
  src/remoted/remoted.c
Labels: bug, core/remoted

#2466 Prepare whodata to alert about hot-added symlinks
  src/syscheckd/create_db.c
  src/syscheckd/run_realtime.c
  src/syscheckd/syscheck_audit.c
Labels: bug, core/fim

#2495 Fix ossec-control script in Solaris
  src/init/ossec-client.sh
  src/init/ossec-local.sh
  src/init/ossec-server.sh
Labels: bug

#2464 Collect network and port inventory for Windows XP/Server 2003
  src/wazuh_db/wdb_syscollector.c
  src/wazuh_modules/syscollector/syscollector_common.c
  src/wazuh_modules/syscollector/syscollector_win_ext.c
  src/wazuh_modules/syscollector/syscollector_windows.c
Labels: enhancement
