Repository wazuh/wazuh, pull requests merged in 2019-04, with the labels that each got.

#2963 Improve cluster exception "Malformed agent-info.merged file"
  framework/wazuh/cluster/cluster.py
  framework/wazuh/cluster/tests/test_cluster.py
Labels: cluster, enhancement, framework

#2989 Fix whodata mode on devices other than the main one
  src/shared/syscheck_op.c
  src/syscheckd/create_db.c
  src/syscheckd/run_realtime.c
  src/syscheckd/syscheck.h
  src/syscheckd/win_whodata.c
Labels: bug, core/fim, platform/windows

#2966 Prevent agent removal process to fail and leave useless data
  framework/wazuh/agent.py
  framework/wazuh/exception.py
  framework/wazuh/tests/data/schema_global_test.sql
  framework/wazuh/tests/test_agent.py
Labels: bug, framework

#2993 Add GET/{manager,cluster/:node_id}/config/:component/:configuration endpoints
  framework/wazuh/agent.py
  framework/wazuh/cluster/dapi/requests_list.py
  framework/wazuh/configuration.py
  framework/wazuh/manager.py
  framework/wazuh/tests/data/schema_global_test.sql
  framework/wazuh/tests/test_agent.py
Labels: enhancement, framework

#2978 Fix for duplicate events in AWS
  src/init/inst-functions.sh
  wodles/aws/aws_s3.py
  wodles/aws/tests/data/schema_cloudtrail_test.sql
  wodles/aws/tests/data/schema_metadata_test.sql
  wodles/aws/tests/test_aws.py
Labels: aws_integration

#3016 Log unhandled exceptions in cluster.log file
  framework/scripts/wazuh-clusterd.py
Labels: cluster, enhancement, framework

#3040 Return the master node as the first one when listing all nodes
  framework/wazuh/cluster/server.py
Labels: API, cluster, framework

#3020 Update template files for MacOS CIS benchmarks policy files
  etc/templates/config/darwin/15/sca.files
  etc/templates/config/darwin/15/sca.template
  etc/templates/config/darwin/16/sca.files
  etc/templates/config/darwin/16/sca.template
  etc/templates/config/darwin/17/sca.files
  etc/templates/config/darwin/17/sca.template
  etc/templates/config/darwin/sca.files
  etc/templates/config/darwin/sca.template
  etc/templates/config/generic/sca.manager.files
Labels: enhancement, status/in review

#2605 Improve embedded Python build process
  framework/requirements.txt
  install.sh
  src/Makefile
  src/init/inst-functions.sh
Labels: enhancement, framework

#3017 Removed unused directory /ossec/queue/agents from installation
  src/init/inst-functions.sh
Labels: bug, packages

#3059 Fix Syscheck hang when monitoring system directories
  etc/internal_options.conf
  etc/templates/config/generic/syscheck.agent.template
  etc/templates/config/generic/syscheck.manager.template
  src/client-agent/intcheck_op.c
  src/config/syscheck-config.h
  src/headers/file_op.h
  src/os_crypto/md5_sha1_sha256/md5_sha1_sha256_op.c
  src/os_crypto/md5_sha1_sha256/md5_sha1_sha256_op.h
  src/shared/file_op.c
  src/syscheckd/config.c
  src/syscheckd/create_db.c
  src/syscheckd/run_check.c
  src/syscheckd/syscheck.c
Labels: bug, operations, priority/high

#3046 Improve exceptions used in API active-response endpoints
  framework/wazuh/active_response.py
  framework/wazuh/exception.py
  framework/wazuh/ossec_queue.py
  framework/wazuh/tests/test_active_response.py
Labels: API, bug, framework

#3060 Better error handling
  api/api/controllers/agents_controller.py
  api/api/models/base_model_.py
  api/api/spec/changes.md
  api/api/spec/spec.yaml
  api/api/util.py
  api/scripts/wazuh-apid.py
  framework/wazuh/agent.py
  framework/wazuh/cluster/control.py
  framework/wazuh/cluster/dapi/dapi.py
  framework/wazuh/cluster/dapi/tests/test_dapi.py
  framework/wazuh/cluster/local_client.py
  framework/wazuh/exception.py
  framework/wazuh/results.py
  framework/wazuh/wlogging.py
Labels: API

#3084 Improve error messages in active configuration API endpoint
  framework/wazuh/configuration.py
  framework/wazuh/exception.py
  framework/wazuh/ossec_socket.py
  framework/wazuh/tests/test_agent.py
Labels: API, framework

#3085 Add auto-registration support for OSX agent
  src/init/register_configure_agent.sh
Labels: enhancement

#3087 GET/manager/logs: fix bugs when parsing multiline logs and using filters
  framework/wazuh/manager.py
  framework/wazuh/tests/test_manager.py
Labels: API, bug, framework

#3042 API: Flask - Remove Cache endpoints
  api/api/controllers/cache_controller.py
  api/api/spec/changes.md
  api/api/spec/spec.yaml
Labels: API

#3048 API: Flask - Implement new Cache management system
  api/api/test/test_flask_cached.py
  api/api/util.py
  api/scripts/wazuh-apid.py
  api/setup.py
Labels: API

#3068 Return rules field in SCA checks API endpoints
  framework/wazuh/security_configuration_assessment.py
  framework/wazuh/tests/data/000.db
  framework/wazuh/tests/data/schema_sca_test.sql
  framework/wazuh/tests/test_security_configuration_assessment.py
  framework/wazuh/utils.py
Labels: API, framework

#3091 Fixed wrong counting of files of logcollector 3.8 - 3.9
  src/logcollector/config.c
  src/logcollector/logcollector.c
Labels: core/logcollector

#3096 Auto register aix
  src/init/register_configure_agent.sh
Labels: enhancement

#3010 Add Control module to Mac OS X agents
  src/client-agent/notify.c
  src/headers/agent_op.h
  src/shared/agent_op.c
  src/wazuh_modules/syscollector/syscollector.h
  src/wazuh_modules/syscollector/syscollector_bsd.c
  src/wazuh_modules/syscollector/syscollector_linux.c
  src/wazuh_modules/wm_control.c
  src/wazuh_modules/wmodules.c
Labels: status/in review

#3000 Fix duplicated alerts for Red Hat feed in vulnerability-detector
  src/config/wmodules-vuln-detector.c
  src/error_messages/debug_messages.h
  src/wazuh_db/schema_vuln_detector.sql
  src/wazuh_modules/wm_vuln_detector.c
  src/wazuh_modules/wm_vuln_detector.h
  src/wazuh_modules/wm_vuln_detector_db.h
Labels: core/vuln detector

#2965 Fixing broken pipe error when manager closes TCP connection
  src/client-agent/agentd.c
  src/client-agent/sendmsg.c
  src/error_messages/error_messages.h
  src/os_net/os_net.c
Labels: bug, core/agent

#3109 Show bucket type in `ossec.log` for AWS wodle
  src/wazuh_modules/wm_aws.c
Labels: aws_integration, enhancement

#3025 Solve bug when processing symbolic links in Whodata
  etc/internal_options.conf
  framework/wazuh/syscheck.py
  src/analysisd/decoders/syscheck.c
  src/analysisd/eventinfo.c
  src/analysisd/eventinfo.h
  src/analysisd/format/to_json.c
  src/config/syscheck-config.c
  src/config/syscheck-config.h
  src/headers/hash_op.h
  src/headers/syscheck_op.h
  src/shared/hash_op.c
  src/shared/syscheck_op.c
  src/syscheckd/config.c
  src/syscheckd/create_db.c
  src/syscheckd/run_check.c
  src/syscheckd/run_realtime.c
  src/syscheckd/syscheck.c
  src/syscheckd/syscheck.h
  src/syscheckd/win-registry.c
  src/syscheckd/win_whodata.c
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/schema_upgrade_v3.sql
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_fim.c
  src/wazuh_db/wdb_metadata.c
  src/wazuh_db/wdb_upgrade.c
Labels: bug, core/fim/audit

#3124 Fix show bucket type aws wodle
  src/wazuh_modules/wm_aws.c
Labels: aws_integration

#3127 Force formatting of data.aws.tags field as an object
  wodles/aws/aws_s3.py
Labels: aws_integration, bug

#3126 Changed type for sca.scan: score, failed, passed
  extensions/elasticsearch/wazuh-elastic6-template-alerts.json
Labels: elasticsearch

#3005 Add a docker compose environment for API integration tests
  api/test/integration/environment/docker-compose.yml
  api/test/integration/environment/wazuh-agent/Dockerfile
  api/test/integration/environment/wazuh-agent/entrypoint.sh
  api/test/integration/environment/wazuh-manager/Dockerfile
  api/test/integration/environment/wazuh-manager/entrypoint.sh
  api/test/integration/environment/wazuh-manager/install_wazuh_manager.sh
Labels: API, cluster, enhancement, framework

#3144 Added excluded files hash table emptying
  etc/internal_options.conf
  src/headers/defs.h
  src/logcollector/config.c
  src/logcollector/logcollector.c
  src/logcollector/logcollector.h
Labels: core/logcollector

#3155 Fix leaks on SCA
  src/analysisd/decoders/security_configuration_assessment.c
  src/wazuh_modules/wm_sca.c
Labels: bug

#3157 Added hash_field
  framework/wazuh/security_configuration_assessment.py
  framework/wazuh/tests/data/schema_sca_test.sql
Labels: API, framework

#3166 Added database dump preference
  src/wazuh_modules/wm_sca.c
Labels: core/sca

#3123 Delete database from Wazuh-DB for removed agents
  etc/internal_options.conf
  src/addagent/manage_agents.c
  src/addagent/validate.c
  src/headers/wazuhdb_op.h
  src/os_auth/main-server.c
  src/shared/auth_client.c
  src/shared/wazuhdb_op.c
  src/wazuh_db/main.c
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_parser.c
  src/wazuh_modules/wm_database.c
Labels: status/needs documentation

#3161 Delegate database deletion to wazuh-db
  framework/wazuh/agent.py
  framework/wazuh/cluster/tests/test_worker.py
  framework/wazuh/cluster/worker.py
  framework/wazuh/exception.py
  framework/wazuh/tests/test_agent.py
  framework/wazuh/tests/test_wdb.py
  framework/wazuh/wdb.py
Labels: framework

#3019 Implement default root-endpoint for new API
  api/api/controllers/default_controller.py
  api/api/models/__init__.py
  api/api/models/basic_info.py
  api/api/models/test/test_basic_info.py
  api/api/spec/spec.yaml
  api/api/test/test_default_controller.py
  api/test/integration/test_default_endpoints.tavern.yaml
Labels: API

#3113 Adapt cluster protocol to new error handling system
  framework/scripts/cluster_control.py
  framework/wazuh/cluster/client.py
  framework/wazuh/cluster/common.py
  framework/wazuh/cluster/control.py
  framework/wazuh/cluster/dapi/dapi.py
  framework/wazuh/cluster/local_client.py
  framework/wazuh/cluster/local_server.py
  framework/wazuh/cluster/master.py
  framework/wazuh/cluster/server.py
  framework/wazuh/cluster/worker.py
  framework/wazuh/exception.py
Labels: API, cluster, framework

#3172 Add new fields status and reason to SCA
  framework/wazuh/security_configuration_assessment.py
  framework/wazuh/tests/data/schema_sca_test.sql
Labels: API, framework

#3204 Simplified registering process
  src/init/register_configure_agent.sh
Labels: enhancement

#3217 Covering ignore rootcheck case of use
  src/rootcheck/check_rc_sys.c
Labels: core/rootcheck

#3210 Fix FIM check_inode option
  src/syscheckd/create_db.c
  src/syscheckd/run_check.c
Labels: bug, core/fim
