Repository wazuh/wazuh, pull requests merged in 2019-10, with the labels that each got.

#4028 General fixes, more compatibility with wildcards and merge error engine
  framework/wazuh/core/core_utils.py
  framework/wazuh/rbac/decorators.py
Labels: API, framework

#3872 Avoid to get the creation date of Whodata monitored files
  src/error_messages/debug_messages.h
  src/error_messages/error_messages.h
  src/headers/file_op.h
  src/shared/file_op.c
  src/syscheckd/win_whodata.c
Labels: wazuhci/stressme

#3758 Add doxyfile for source code documentation
  .gitignore
  contrib/bump_version.sh
  src/Doxyfile
Labels: enhancement

#4043 General fixes
  framework/wazuh/core/core_utils.py
  framework/wazuh/rbac/decorators.py
  framework/wazuh/rbac/pre_policies.py
Labels: API, framework

#4060 Fix service's installation path for CentOS 8
  src/init/init.sh
Labels: bug, services

#4049 Unit test for RBAC decorator
  api/api/authentication.py
  framework/wazuh/rbac/decorators.py
  framework/wazuh/rbac/pre_policies.py
  framework/wazuh/rbac/tests/data/RBAC_auth-roles.json
  framework/wazuh/rbac/tests/data/RBAC_authorization_contexts.json
  framework/wazuh/rbac/tests/data/RBAC_decorators_permissions_black.json
  framework/wazuh/rbac/tests/data/RBAC_decorators_permissions_white.json
  framework/wazuh/rbac/tests/data/RBAC_decorators_resourceless_black.json
  framework/wazuh/rbac/tests/data/RBAC_decorators_resourceless_white.json
  framework/wazuh/rbac/tests/data/RBAC_preprocessor_policies.json
  framework/wazuh/rbac/tests/data/RBAC_rules_roles.json
  framework/wazuh/rbac/tests/test_decorators.py
  framework/wazuh/rbac/tests/test_preprocessor.py
Labels: API, framework

#4073 Decorator improvements and bugfixes
  api/api/configuration.py
  api/api/configuration/template-api.yaml
  api/api/constants.py
  api/scripts/configure_api.py
  framework/wazuh/common.py
  framework/wazuh/exception.py
  framework/wazuh/rbac/decorators.py
  framework/wazuh/rbac/tests/data/RBAC_decorators_permissions_black.json
  framework/wazuh/rbac/tests/data/RBAC_decorators_permissions_white.json
  framework/wazuh/rbac/tests/data/RBAC_decorators_resourceless_black.json
  framework/wazuh/rbac/tests/data/RBAC_decorators_resourceless_white.json
  framework/wazuh/rbac/tests/test_decorators.py
Labels: API, framework

#4076 Add new DB version
  src/wazuh_db/wdb_metadata.c
Labels: core/db

#4080 General fixes and RBAC improvements
  framework/wazuh/core/core_utils.py
  framework/wazuh/rbac/decorators.py
  framework/wazuh/rbac/tests/data/RBAC_decorators_permissions_black.json
  framework/wazuh/rbac/tests/data/RBAC_decorators_resourceless_black.json
  framework/wazuh/rbac/tests/data/RBAC_decorators_resourceless_white.json
Labels: API, framework

#4071 Fix for getting rootcheck last scan
  framework/wazuh/rootcheck.py
Labels: API, bug

#4088 Fix DISABLE_SHARED flag filter in Makefile
  src/Makefile
Labels: bug, core/Makefile

#4086 New design with context var
  api/api/authentication.py
  api/api/encoder.py
  framework/wazuh/cluster/dapi/dapi.py
  framework/wazuh/common.py
  framework/wazuh/rbac/decorators.py
  framework/wazuh/rbac/post_processor.py
  framework/wazuh/rbac/preprocessor.py
  framework/wazuh/rbac/tests/data/RBAC_postprocessor.json
  framework/wazuh/rbac/tests/test_decorators.py
  framework/wazuh/rbac/tests/test_postprocesor.py
  framework/wazuh/rbac/tests/test_preprocessor.py
  framework/wazuh/results.py
Labels: API, framework

#4103 New design for postprocessor
  api/api/encoder.py
  framework/wazuh/cluster/common.py
  framework/wazuh/cluster/dapi/dapi.py
  framework/wazuh/cluster/tests/test_common.py
  framework/wazuh/common.py
  framework/wazuh/exception.py
  framework/wazuh/rbac/decorators.py
  framework/wazuh/rbac/post_processor.py
  framework/wazuh/rbac/tests/test_postprocesor.py
  framework/wazuh/results.py
Labels: API, framework

#4072 Add 'condition' field to SCA module
  framework/wazuh/security_configuration_assessment.py
  framework/wazuh/tests/data/schema_sca_test.sql
Labels: API, framework

#3532 Fix no error message when AR is disabled and agent is request to be restarted
  framework/wazuh/agent.py
  framework/wazuh/exception.py
Labels: API, framework

#4079 Handle MemoryError when no permissions for ossec user in /tmp.
  framework/scripts/wazuh-clusterd.py
Labels: cluster

#4082 Support for GovCloud regions (AWS)
  CHANGELOG.md
  wodles/aws/aws_s3.py
  wodles/aws/tests/test_aws.py
Labels: aws_integration

#4106 Fix event iteration when evaluating a contextual rule
  src/analysisd/eventinfo.c
Labels: bug, core/analysisd

#4090 RBAC implemented in the security module
  api/api/authentication.py
  api/api/controllers/security_controller.py
  api/api/controllers/user_controller.py
  api/api/spec/spec.yaml
  api/scripts/configure_api.py
  api/test/integration/test_security_DELETE_endpoint.tavern.yaml
  api/test/integration/test_security_GET_endpoint.tavern.yaml
  api/test/integration/test_security_POST_endpoint.tavern.yaml
  api/test/integration/test_security_PUT_endpoint.tavern.yaml
  api/test/integration/test_users_DELETE_endpoints.tavern.yaml
  api/test/integration/test_users_GET_endpoints.tavern.yaml
  api/test/integration/test_users_POST_endpoints.tavern.yaml
  api/test/integration/test_users_PUT_endpoints.tavern.yaml
  framework/wazuh/active_response.py
  framework/wazuh/agent.py
  framework/wazuh/rbac/auth_context.py
  framework/wazuh/rbac/orm.py
  framework/wazuh/rule.py
  framework/wazuh/security.py
  framework/wazuh/tests/test_security.py
  framework/wazuh/user_manager.py
Labels: API, framework

#4113 RBAC added to active response
  api/api/controllers/active_response_controller.py
  api/api/spec/spec.yaml
  api/test/integration/test_active_response_endpoints.tavern.yaml
  framework/wazuh/active_response.py
  framework/wazuh/core/active_response.py
  framework/wazuh/tests/test_active_response.py
Labels: API, framework

#4109 Fix decode error when loading 'ossec.conf'
  framework/wazuh/manager.py
Labels: API, bug, framework

#4142 RBAC security integrated tests
  api/api/authentication.py
  api/test/integration/conftest.py
  api/test/integration/env/.env
  api/test/integration/env/base/wazuh-agent/Dockerfile
  api/test/integration/env/base/wazuh-manager/manager.Dockerfile
  api/test/integration/env/base/wazuh-manager/master.Dockerfile
  api/test/integration/env/configurations/rbac/security/black_config.txt
  api/test/integration/env/configurations/rbac/security/black_configuration_rbac.sh
  api/test/integration/env/configurations/rbac/security/healthcheck/healthcheck.py
  api/test/integration/env/configurations/rbac/security/healthcheck/security_rbac.txt
  api/test/integration/env/configurations/rbac/security/rbac.db
  api/test/integration/env/configurations/rbac/security/white_config.txt
  api/test/integration/env/configurations/rbac/security/white_configuration_rbac.sh
  api/test/integration/tavern_utils.py
  api/test/integration/test_rbac_black_security_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_security_endpoints.tavern.yaml
  api/test/integration/test_security_DELETE_endpoint.tavern.yaml
  api/test/integration/test_security_GET_endpoint.tavern.yaml
  api/test/integration/test_security_POST_endpoint.tavern.yaml
  api/test/integration/test_security_PUT_endpoint.tavern.yaml
  framework/wazuh/rbac/auth_context.py
  framework/wazuh/rbac/decorators.py
  framework/wazuh/rbac/orm.py
  framework/wazuh/security.py
Labels: API, framework

#4145 Fix for filtering rules by 'nist'
  framework/wazuh/rule.py
Labels: API, bug, framework

#4133 Update integration tests and add RBAC integration tests for agents module
  api/api/controllers/agents_controller.py
  api/api/spec/spec.yaml
  api/test/integration/conftest.py
  api/test/integration/env/base/wazuh-agent/Dockerfile
  api/test/integration/env/base/wazuh-manager/manager.Dockerfile
  api/test/integration/env/base/wazuh-manager/master.Dockerfile
  api/test/integration/env/configurations/base/wazuh-master/config.txt
  api/test/integration/env/configurations/rbac/agents/black_config.txt
  api/test/integration/env/configurations/rbac/agents/black_configuration_rbac.sh
  api/test/integration/env/configurations/rbac/agents/white_config.txt
  api/test/integration/env/configurations/rbac/agents/white_configuration_rbac.sh
  api/test/integration/tavern_utils.py
  api/test/integration/test_agentsGET_endpoints.tavern.yaml
  api/test/integration/test_agentsPUT_endpoints.tavern.yaml
  api/test/integration/test_rbac_black_agents_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_agents_endpoints.tavern.yaml
  framework/wazuh/agent.py
  framework/wazuh/cluster/dapi/dapi.py
  framework/wazuh/common.py
  framework/wazuh/exception.py
  framework/wazuh/rbac/decorators.py
Labels: API, framework

#4169 Add RBAC support for Rules endpoints
  api/api/controllers/rules_controller.py
  api/api/controllers/security_controller.py
  api/api/spec/changes.md
  api/api/spec/spec.yaml
  api/test/integration/conftest.py
  api/test/integration/env/base/wazuh-agent/Dockerfile
  api/test/integration/env/base/wazuh-manager/manager.Dockerfile
  api/test/integration/env/base/wazuh-manager/master.Dockerfile
  api/test/integration/env/configurations/base/wazuh-master/healthcheck/daemons_check.txt
  api/test/integration/env/configurations/base/wazuh-master/healthcheck/healthcheck_daemons.py
  api/test/integration/env/configurations/rbac/rules/black_config.txt
  api/test/integration/env/configurations/rbac/rules/black_configuration_rbac.sh
  api/test/integration/env/configurations/rbac/rules/white_config.txt
  api/test/integration/env/configurations/rbac/rules/white_configuration_rbac.sh
  api/test/integration/env/configurations/rbac/security/healthcheck/healthcheck.py
  api/test/integration/env/configurations/syscollector/wazuh-master/healthcheck/healthcheck.py
  api/test/integration/env/configurations/syscollector/wazuh-master/healthcheck/syscollector_check.txt
  api/test/integration/tavern_utils.py
  api/test/integration/test_rbac_black_rules_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_rules_endpoints.tavern.yaml
  api/test/integration/test_rules_endpoints.tavern.yaml
  framework/wazuh/core/rule.py
  framework/wazuh/exception.py
  framework/wazuh/rbac/decorators.py
  framework/wazuh/rule.py
Labels: API, framework

#4114 Support for AWS WAF
  src/config/wmodules-aws.c
  wodles/aws/aws_s3.py
Labels: aws_integration
