Repository wazuh/wazuh, pull requests merged in 2019-07, with the labels that each got.

#3260 Replace local protocol definitions with Socket API definitions.
  src/client-agent/config.c
  src/client-agent/receiver-win.c
  src/client-agent/receiver.c
  src/client-agent/request.c
  src/client-agent/sendmsg.c
  src/client-agent/start_agent.c
  src/config/client-config.c
  src/config/config.h
  src/config/remote-config.c
  src/config/socket-config.c
  src/logcollector/config.c
  src/logcollector/logcollector.c
  src/remoted/config.c
  src/remoted/manager.c
  src/remoted/remoted.c
  src/remoted/request.c
  src/remoted/secure.c
  src/remoted/sendmsg.c
  src/shared/mq_op.c
  src/win32/win_agent.c
Labels: community

#2859 Cluster endpoints (Flask API)
  api/api/api.py
  api/api/controllers/cluster_controller.py
  api/api/models/base_model_.py
  api/api/spec/changes.md
  api/api/spec/spec.yaml
  api/api/util.py
  api/api/validator.py
  api/test/integration/test_cluster_endpoints.tavern.yaml
  api/test/integration/test_cluster_validation_endpoints.tavern.yaml
  framework/scripts/cluster_control.py
  framework/scripts/wazuh-clusterd.py
  framework/wazuh/cluster/cluster.py
  framework/wazuh/cluster/common.py
  framework/wazuh/cluster/control.py
  framework/wazuh/cluster/dapi/dapi.py
  framework/wazuh/cluster/local_client.py
  framework/wazuh/cluster/local_server.py
  framework/wazuh/cluster/master.py
  framework/wazuh/configuration.py
  framework/wazuh/exception.py
  framework/wazuh/stats.py
  framework/wazuh/utils.py
Labels: API

#3259 Increase IPSIZE for IPv6 compatibility.
  src/client-agent/notify.c
  src/headers/defs.h
  src/win32/win_agent.c
Labels: community, core/configuration

#3609 Prevent list-based rule from matching if the list is missing
  src/analysisd/lists_list.c
Labels: bug, core/analysisd

#2846 Flask API: Add implementation for CIS-CAT endpoints
  api/api/controllers/ciscat_controller.py
  api/api/models/ciscat_results.py
  api/api/models/scan_id_time.py
  api/api/spec/spec.yaml
  api/api/util.py
  api/test/integration/conftest.py
  api/test/integration/test_ciscat_endpoints.tavern.yaml
  framework/wazuh/ciscat.py
  framework/wazuh/security_configuration_assessment.py
  framework/wazuh/tests/test_ciscat.py
Labels: API

#3237 Finish tests for agents endpoint
  api/api/controllers/agents_controller.py
  api/api/models/agent_added.py
  api/api/models/agent_all_items_affected_data.py
  api/api/models/agent_configuration.py
  api/api/models/agent_group_deleted.py
  api/api/models/agent_id.py
  api/api/models/agent_id_key.py
  api/api/models/agent_id_key_data.py
  api/api/models/agent_inserted.py
  api/api/models/agent_is_sync.py
  api/api/models/agent_item_affected_data.py
  api/api/models/agent_key.py
  api/api/models/agent_list_model.py
  api/api/models/agent_sync.py
  api/api/models/all_item_affected.py
  api/api/models/common_response.py
  api/api/models/group_delete.py
  api/api/models/item_affected.py
  api/api/models/model_future_type.py
  api/api/spec/changes.md
  api/api/spec/spec.yaml
  api/api/test/data/agent.conf.xml
  api/api/test/test_example.tavern.yaml
  api/api/validator.py
  api/test/integration/agent_enviroment/docker-compose.yml
  api/test/integration/agent_enviroment/enviroment/ossec_manager.conf
  api/test/integration/agent_enviroment/wazuh-agent/Dockerfile
  api/test/integration/agent_enviroment/wazuh-agent/entrypoint.sh
  api/test/integration/agent_enviroment/wazuh-manager/Dockerfile
  api/test/integration/agent_enviroment/wazuh-manager/entrypoint.sh
  api/test/integration/agent_enviroment/wazuh-manager/id_rsa
  api/test/integration/agent_enviroment/wazuh-manager/id_rsa.pub
  api/test/integration/agent_enviroment/wazuh-manager/preloaded-vars.conf
  api/test/integration/agent_enviroment/wazuh-manager/sshd.conf
  api/test/integration/agent_enviroment/wazuh-manager/supervisord.conf
  api/test/integration/common.yaml
  api/test/integration/conftest.py
  api/test/integration/tavern_utils.py
  api/test/integration/test_agentsDELETE_endpoints.tavern.yaml
  api/test/integration/test_agentsGET_endpoints.tavern.yaml
  api/test/integration/test_agentsPOST.tavern.yaml
  api/test/integration/test_agentsPUT.tavern.yaml
  framework/scripts/cluster_control.py
  framework/wazuh/__init__.py
  framework/wazuh/agent.py
  framework/wazuh/cluster/dapi/dapi.py
  framework/wazuh/cluster/worker.py
  framework/wazuh/configuration.py
  framework/wazuh/database.py
  framework/wazuh/exception.py
  framework/wazuh/ossec_queue.py
  framework/wazuh/pyDaemonModule.py
  framework/wazuh/results.py
  framework/wazuh/utils.py
  src/Makefile
Labels: API, framework

#3244 SCA endpoints for new API
  api/api/controllers/sca_controller.py
  api/api/spec/spec.yaml
  api/api/util.py
  api/test/integration/test_sca_endpoints.tavern.yaml
  framework/wazuh/security_configuration_assessment.py
  framework/wazuh/tests/test_security_configuration_assessment.py
Labels: API

#3626 Avoid double-free in Analysisd's decoder for Windows Eventchannel
  src/analysisd/decoders/winevtchannel.c
Labels: bug, core/analysisd

#3648 Remove calls to thread-unsafe cJSON_GetErrorPtr()
  src/analysisd/decoders/ciscat.c
  src/analysisd/decoders/plugins/json_decoder.c
  src/analysisd/decoders/security_configuration_assessment.c
  src/analysisd/decoders/syscollector.c
  src/logcollector/read_json.c
  src/os_auth/local-server.c
  src/os_execd/config.c
  src/shared/agent_op.c
  src/shared/auth_client.c
  src/shared/json-queue.c
  src/shared/json_op.c
  src/shared/string_op.c
  src/wazuh_db/wdb_parser.c
  src/wazuh_modules/wm_keyrequest.c
  src/wazuh_modules/wm_osquery_monitor.c
  src/wazuh_modules/wm_vuln_detector.c
  src/win32/win_agent.c
Labels: bug, core/analysisd

#3430 API: Flask - Add HIPAA, NIST-800-53, GPG13 support and cache handling to new API rules endpoints
  api/api/controllers/rules_controller.py
  api/api/spec/changes.md
  api/api/spec/spec.yaml
  api/test/integration/test_rules_endpoint.tavern.yaml
  framework/wazuh/exception.py
  framework/wazuh/rule.py
  framework/wazuh/tests/test_rules.py
Labels: API, framework

#3502 Updated spec to use good practices
  api/api/controllers/agents_controller.py
  api/api/controllers/cluster_controller.py
  api/api/controllers/manager_controller.py
  api/api/spec/changes.md
  api/api/spec/spec.yaml
Labels: API, framework

#3616 Fix deletion of duplicate entries in Logcollector
  src/config/localfile-config.c
Labels: bug, core/logcollector

#3602 Fix errors in ossec-remoted when it is stressed
  src/os_net/os_net.c
  src/remoted/netcounter.c
  src/remoted/queue.c
  src/remoted/remoted.h
  src/remoted/secure.c
  src/remoted/sendmsg.c
  src/remoted/state.c
Labels: status/needs documentation

#3652 Handle exception when invalid bucket in AWS wodle
  wodles/aws/aws_s3.py
  wodles/aws/tests/test_aws.py
Labels: aws_integration

#3690 Close a possible handler leak in Windows
  src/syscheckd/win_whodata.c
Labels: bug, core/fim/audit, platform/windows

#3627 Fix issues reported by Coverity
  src/client-agent/notify.c
  src/logcollector/read_audit.c
  src/logcollector/read_json.c
  src/logcollector/read_multiline.c
  src/logcollector/read_syslog.c
  src/logcollector/read_ucs2_be.c
  src/logcollector/read_ucs2_le.c
  src/os_auth/main-server.c
  src/reportd/report.c
  src/shared/file_op.c
  src/shared/string_op.c
  src/wazuh_db/wdb.c
  src/wazuh_modules/syscollector/syscollector_linux.c
  src/wazuh_modules/wm_fluent.c
  src/wazuh_modules/wm_vuln_detector.c
Labels: bug

#3655 Changed shebang from #!/bin/bash to #!/bin/sh
  active-response/kaspersky.sh
Labels: enhancement

#3699 Fix wildcard pattern defined file handling in Logcollector
  src/logcollector/logcollector.c
Labels: bug, core/logcollector

#3514 Prevent integrations from inheriting descriptors
  src/headers/file_op.h
  src/os_xml/os_xml.c
  src/shared/file_op.c
  src/shared/randombytes.c
  src/shared/validate_op.c
  src/wazuh_modules/syscollector/syscollector_linux.c
  src/wazuh_modules/wm_database.c
  src/wazuh_modules/wm_exec.c
  src/wazuh_modules/wm_sca.c
  src/wazuh_modules/wmodules.c
Labels: bug, core/modulesd

#3696 Fix errors in file permissions to avoid problems synchronizing cluster files
  CHANGELOG.md
  framework/wazuh/agent.py
  framework/wazuh/cluster/cluster.json
  framework/wazuh/cluster/master.py
  framework/wazuh/cluster/tests/test_cluster.py
  framework/wazuh/cluster/worker.py
  framework/wazuh/configuration.py
  framework/wazuh/manager.py
  framework/wazuh/tests/test_agent.py
  framework/wazuh/tests/test_manager.py
  framework/wazuh/tests/test_utils.py
  framework/wazuh/utils.py
  src/analysisd/lists_make.c
  src/init/inst-functions.sh
  src/shared/file_op.c
Labels: API, cluster, framework

#3437 Fix SIGABORTED and SEGFAULT at execd upgrading an agent by WPK while auto-restarting
  framework/wazuh/agent.py
  src/os_execd/wcom.c
Labels: bug, core/execd, packages/wpk

#3724 API: Flask Implement Active-response endpoints
  api/api/controllers/active_response_controller.py
  api/api/models/active_response_model.py
  api/api/spec/changes.md
  api/api/spec/spec.yaml
  api/test/integration/test_active_response_endpoints.tavern.yaml
  framework/wazuh/active_response.py
  framework/wazuh/exception.py
  framework/wazuh/tests/test_active_response.py
Labels: API, framework

#3732 Dev flask poc 3129 cluster ondemand endpoint
  api/api/controllers/cluster_controller.py
  api/api/controllers/manager_controller.py
  api/api/spec/spec.yaml
  api/test/integration/test_ondemand_endpoints.tavern.yml
  framework/wazuh/ossec_socket.py
Labels: API, framework

#3689 General fixes based on the LGTM report
  api/test/integration/conftest.py
  api/test/integration/test_agentsPUT_endpoints.tavern.yaml
  framework/wazuh/agent.py
Labels: enhancement, framework

#3661 RBAC Database Administration
  .gitignore
  api/api/authentication.py
  api/api/spec/changes.md
  api/api/test/test_authentication.py
  api/setup.py
  framework/__init__.py
  framework/wazuh/rbac/__init__.py
  framework/wazuh/rbac/migrations/README
  framework/wazuh/rbac/migrations/alembic.ini
  framework/wazuh/rbac/migrations/env.py
  framework/wazuh/rbac/migrations/script.py.mako
  framework/wazuh/rbac/rbac.py
  framework/wazuh/tests/test_RBAC.py
Labels: API, framework

#3663 Added RBAC endpoints
  api/api/controllers/rbac_controller.py
  api/api/models/rbac_added.py
  api/api/spec/spec.yaml
  api/test/integration/test_rbac_DELETE_endpoint.tavern.yaml
  api/test/integration/test_rbac_GET_endpoint.tavern.yaml
  api/test/integration/test_rbac_POST_endpoint.tavern.yaml
  api/test/integration/test_rbac_PUT_endpoint.tavern.yaml
  framework/wazuh/agent.py
  framework/wazuh/exception.py
  framework/wazuh/security.py
  framework/wazuh/tests/data/RBAC_auth-roles.json
  framework/wazuh/tests/data/RBAC_authorization_contexts.json
  framework/wazuh/tests/data/RBAC_rules_roles.json
  framework/wazuh/tests/test_RBAC.py
Labels: API, framework

#3745 New login system for RBAC
  framework/wazuh/auth_rbac.py
  framework/wazuh/exception.py
  framework/wazuh/tests/test_RBAC.py
  framework/wazuh/tests/test_auth_rbac.py
Labels: API, framework

#3767 Allow existing aws_profile argument to work with vpcflowlogs
  CHANGELOG.md
  wodles/aws/aws_s3.py
Labels: aws_integration, community

#3776 Fix array above bounds
  src/logcollector/read_win_event_channel.c
Labels: bug

#3743 Improve error message when a bucket is empty (AWS)
  wodles/aws/aws_s3.py
  wodles/aws/tests/data/ossec-init.conf
  wodles/aws/tests/test_aws.py
Labels: aws_integration

#3772 Add new function for giving information about manager and cluster configuration
  framework/wazuh/agent.py
  framework/wazuh/cluster/cluster.py
  framework/wazuh/cluster/dapi/requests_list.py
  framework/wazuh/cluster/utils.py
  framework/wazuh/manager.py
Labels: API, framework

#3755 Implement RBAC decorators and functionality
  api/api/authentication.py
  api/api/controllers/security_controller.py
  api/api/spec/changes.md
  api/api/spec/spec.yaml
  framework/wazuh/database.py
  framework/wazuh/exception.py
  framework/wazuh/rbac/auth_context.py
  framework/wazuh/rbac/decorators.py
  framework/wazuh/rbac/orm.py
  framework/wazuh/rbac/tests/__init__.py
  framework/wazuh/rbac/tests/test_auth_context.py
  framework/wazuh/rbac/tests/test_decorators.py
  framework/wazuh/rbac/tests/test_orm.py
  framework/wazuh/security.py
Labels: API, framework
