Repository wazuh/wazuh, pull requests merged in 2019-09, with the labels that each got.

#3888 Add 'summary/agents' endpoint to new API
  api/api/controllers/summary_controller.py
  api/api/spec/spec.yaml
  api/test/integration/test_summary_endpoints.tavern.yaml
  framework/wazuh/__init__.py
  framework/wazuh/agent.py
  framework/wazuh/tests/__init__.py
  framework/wazuh/tests/test_agent.py
Labels: API

#3707 Refactor of Wazuh DB query functions
  src/Makefile
  src/addagent/validate.c
  src/analysisd/decoders/ciscat.c
  src/analysisd/decoders/decoder.h
  src/analysisd/decoders/security_configuration_assessment.c
  src/analysisd/decoders/syscheck.c
  src/analysisd/decoders/syscollector.c
  src/headers/fs_op.h
  src/headers/read-agents.h
  src/headers/wazuhdb_op.h
  src/os_auth/main-server.c
  src/shared/auth_client.c
  src/shared/read-agents.c
  src/shared/wazuhdb_op.c
  src/tests/tap_shared.c
  src/tests/tap_wazuhdb_op.c
Labels: core/db

#3919 Fix memory leak in Syscheck for Windows
  src/error_messages/debug_messages.h
  src/headers/hash_op.h
  src/remoted/manager.c
  src/shared/hash_op.c
  src/syscheckd/create_db.c
  src/syscheckd/run_check.c
  src/syscheckd/syscheck.h
Labels: bug, core/fim

#3920 Change nested field format from "_" to "." in new API and framework
  api/api/controllers/agents_controller.py
  api/api/controllers/ciscat_controller.py
  api/api/controllers/syscollector_controller.py
  api/api/spec/spec.yaml
  api/api/util.py
  framework/wazuh/ciscat.py
  framework/wazuh/syscollector.py
Labels: API, framework

#3956 Preprocessing engine for RBAC policies
  api/api/authentication.py
  api/api/controllers/active_response_controller.py
  framework/wazuh/active_response.py
  framework/wazuh/fcore/__init__.py
  framework/wazuh/fcore/active_response.py
  framework/wazuh/fcore/core_utils.py
  framework/wazuh/rbac/auth_context.py
  framework/wazuh/rbac/decorators.py
  framework/wazuh/rbac/pre_policies.py
  framework/wazuh/tests/test_active_response.py
Labels: API, framework

#3964 Remove useless select() calls in Analysisd decoders
  src/analysisd/decoders/security_configuration_assessment.c
  src/analysisd/decoders/syscheck.c
  src/analysisd/decoders/syscollector.c
Labels: bug, core/analysisd

#3969 Fix coverity report for 3.10
  src/analysisd/decoders/security_configuration_assessment.c
  src/analysisd/decoders/syscheck.c
  src/analysisd/decoders/syscollector.c
Labels: bug

#3979 Bugfixes for RBAC preprocessing code
  framework/wazuh/active_response.py
  framework/wazuh/core/__init__.py
  framework/wazuh/core/active_response.py
  framework/wazuh/core/core_utils.py
  framework/wazuh/exception.py
  framework/wazuh/rbac/decorators.py
Labels: API, framework

#1106 Systemd unit - start after network
  src/systemd/wazuh-agent.service
  src/systemd/wazuh-manager.service
Labels: bug, community

#3846 Improvements and clarifications in RBAC code
  api/test/integration/test_security_PUT_endpoint.tavern.yaml
  framework/wazuh/exception.py
  framework/wazuh/rbac/auth_context.py
  framework/wazuh/rbac/orm.py
  framework/wazuh/rbac/tests/data/RBAC_auth-roles.json
  framework/wazuh/rbac/tests/data/RBAC_authorization_contexts.json
  framework/wazuh/rbac/tests/data/RBAC_rules_roles.json
  framework/wazuh/rbac/tests/test_orm.py
  framework/wazuh/security.py
Labels: API, framework

#3757 Endpoints for users CRUD cycle
  api/api/authentication.py
  api/api/configuration/template-api.yaml
  api/api/constants.py
  api/api/controllers/login_controller.py
  api/api/controllers/user_controller.py
  api/api/spec/spec.yaml
  api/api/test/test_authentication.py
  api/scripts/configure_api.py
  api/test/integration/test_users_DELETE_endpoints.tavern.yaml
  api/test/integration/test_users_GET_endpoints.tavern.yaml
  api/test/integration/test_users_POST_endpoints.tavern.yaml
  api/test/integration/test_users_PUT_endpoints.tavern.yaml
  framework/wazuh/exception.py
  framework/wazuh/user_manager.py
Labels: API, framework

#3929 Remove framework handling of multigroups files and folders
  CHANGELOG.md
  framework/wazuh/agent.py
Labels: API, framework

#3105 Fix compilation warnings on OpenBSD platform
  src/Makefile
  src/analysisd/analysisd.c
  src/headers/shared.h
  src/rootcheck/check_rc_if.c
Labels: bug

#3993 Fix/dev flask poc 3986
  api/api/authentication.py
  api/api/controllers/overview_controller.py
  api/api/controllers/sca_controller.py
  api/api/spec/spec.yaml
  api/test/integration/test_active_response_endpoints.tavern.yaml
  api/test/integration/test_overview_endpoints.tavern.yaml
  api/test/integration/test_sca_endpoints.tavern.yaml
  api/test/integration/test_syscheck_endpoints.tavern.yaml
  framework/wazuh/agent.py
  framework/wazuh/decoder.py
  framework/wazuh/manager.py
  framework/wazuh/rbac/auth_context.py
  framework/wazuh/tests/test_agent.py
Labels: API, framework

#3985 Fix for non existent agents
  framework/wazuh/rbac/decorators.py
Labels: API, framework

#3995 Fix segmentation fault in Logcollector
  src/config/localfile-config.h
  src/logcollector/logcollector.c
Labels: bug, bug/regression, core/logcollector

#3971 Fix agentless slack integration
  integrations/slack
Labels: bug, community, core/integratord

#4013 Dev flask poc 3955 rbac development
  api/api/authentication.py
  framework/wazuh/agent.py
  framework/wazuh/core/core_utils.py
  framework/wazuh/exception.py
  framework/wazuh/rbac/decorators.py
  framework/wazuh/rbac/pre_policies.py
Labels: API, framework

#3980 Improvements in upgrade custom call
  framework/wazuh/agent.py
  framework/wazuh/exception.py
Labels: API, framework

#4022 Add compatibility with action:*
  framework/wazuh/rbac/decorators.py
Labels: API, framework

#2962 Experimental endpoints (new API)
  api/api/controllers/ciscat_controller.py
  api/api/controllers/experimental_controller.py
  api/api/controllers/rules_controller.py
  api/api/controllers/syscollector_controller.py
  api/api/spec/changes.md
  api/api/spec/spec.yaml
  api/api/util.py
  api/test/integration/test_experimental_endpoints.tavern.yaml
  framework/wazuh/ciscat.py
Labels: API
