Repository wazuh/wazuh, pull requests merged in 2019-11, with the labels that each got.

#3923 Fix safe_move to overwrite files mounted in Docker containers
  framework/wazuh/utils.py
Labels: framework

#4132 Add support for Cisco Umbrella in AWS wodle.
  CHANGELOG.md
  src/config/wmodules-aws.c
  wodles/aws/aws_s3.py
Labels: aws_integration

#4183 RBAC in syscollector module
  api/api/controllers/syscollector_controller.py
  api/api/spec/spec.yaml
  api/test/integration/conftest.py
  api/test/integration/env/base/wazuh-agent/Dockerfile
  api/test/integration/env/base/wazuh-manager/manager.Dockerfile
  api/test/integration/env/base/wazuh-manager/master.Dockerfile
  api/test/integration/env/configurations/rbac/agents/black_config.txt
  api/test/integration/env/configurations/rbac/syscollector/black_config.txt
  api/test/integration/env/configurations/rbac/syscollector/black_configuration_rbac.sh
  api/test/integration/env/configurations/rbac/syscollector/white_config.txt
  api/test/integration/env/configurations/rbac/syscollector/white_configuration_rbac.sh
  api/test/integration/test_rbac_black_syscollector_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_syscollector_endpoints.tavern.yaml
  api/test/integration/test_syscollector_endpoints.tavern.yaml
  framework/wazuh/core/syscollector.py
  framework/wazuh/syscollector.py
Labels: API, framework

#4191 Add RBAC support to decoders module
  api/api/controllers/decoders_controller.py
  api/api/spec/changes.md
  api/api/spec/spec.yaml
  api/api/util.py
  api/test/integration/conftest.py
  api/test/integration/env/base/wazuh-agent/Dockerfile
  api/test/integration/env/base/wazuh-manager/manager.Dockerfile
  api/test/integration/env/base/wazuh-manager/master.Dockerfile
  api/test/integration/env/configurations/rbac/decoders/black_config.txt
  api/test/integration/env/configurations/rbac/decoders/black_configuration_rbac.sh
  api/test/integration/env/configurations/rbac/decoders/white_config.txt
  api/test/integration/env/configurations/rbac/decoders/white_configuration_rbac.sh
  api/test/integration/test_agentsGET_endpoints.tavern.yaml
  api/test/integration/test_decoders_endpoints.tavern.yaml
  api/test/integration/test_rbac_black_decoders_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_decoders_endpoints.tavern.yaml
  api/test/integration/test_rules_endpoints.tavern.yaml
  framework/wazuh/core/decoder.py
  framework/wazuh/core/rule.py
  framework/wazuh/decoder.py
  framework/wazuh/exception.py
  framework/wazuh/rbac/decorators.py
  framework/wazuh/rule.py
Labels: API, framework

#3978 Update ossec-slack.sh
  active-response/ossec-slack.sh
Labels: core/active-response, enhancement, operations

#4222 Let Logcollector queue file rotation and keepalive messages
  src/headers/wait_op.h
  src/logcollector/logcollector.c
  src/shared/wait_op.c
Labels: bug, core/logcollector, operations

#4216 Add 'mitre' field for rules
  framework/wazuh/cluster/dapi/requests_list.py
  framework/wazuh/rule.py
  framework/wazuh/tests/test_rules.py
Labels: framework

#4064 Add new endpoint to query MITRE attack database
  framework/wazuh/cluster/dapi/requests_list.py
  framework/wazuh/mitre.py
  framework/wazuh/rule.py
  framework/wazuh/tests/data/schema_mitre_test.sql
  framework/wazuh/tests/test_mitre.py
  framework/wazuh/tests/test_rules.py
  framework/wazuh/tests/util.py
  framework/wazuh/utils.py
  framework/wazuh/wdb.py
Labels: framework

#4233 Add RBAC support for lists module
  api/api/controllers/lists_controller.py
  api/api/spec/changes.md
  api/api/spec/spec.yaml
  api/test/integration/conftest.py
  api/test/integration/env/base/wazuh-agent/Dockerfile
  api/test/integration/env/base/wazuh-manager/manager.Dockerfile
  api/test/integration/env/base/wazuh-manager/master.Dockerfile
  api/test/integration/env/configurations/rbac/lists/black_config.txt
  api/test/integration/env/configurations/rbac/lists/black_configuration_rbac.sh
  api/test/integration/env/configurations/rbac/lists/white_config.txt
  api/test/integration/env/configurations/rbac/lists/white_configuration_rbac.sh
  api/test/integration/test_lists_endpoints.tavern.yaml
  api/test/integration/test_rbac_black_lists_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_lists_endpoints.tavern.yaml
  framework/wazuh/cdb_list.py
  framework/wazuh/core/cdb_list.py
  framework/wazuh/rbac/decorators.py
Labels: API, framework

#4226 Fix for the distributed call /agents/groups/:group/restart
  CHANGELOG.md
  framework/wazuh/agent.py
  framework/wazuh/cluster/dapi/dapi.py
  framework/wazuh/cluster/dapi/requests_list.py
  framework/wazuh/exception.py
Labels: API, bug, framework

#4110 Wodle for monitoring Google Cloud
  wodles/gcloud/__main__.py
  wodles/gcloud/integration.py
  wodles/gcloud/tests/common.py
  wodles/gcloud/tests/data/ossec-init.conf
  wodles/gcloud/tests/test_integration.py
  wodles/gcloud/tests/test_tools.py
  wodles/gcloud/tools.py
Labels: gcp_integration

#4207 Display a warning message when registering to manager without -v option
  src/os_auth/main-client.c
Labels: core/auth, priority/alpha

#4204 General fixes and RBAC tests for active-response endpoints
  api/api/controllers/active_response_controller.py
  api/test/integration/conftest.py
  api/test/integration/env/base/wazuh-agent/Dockerfile
  api/test/integration/env/base/wazuh-manager/manager.Dockerfile
  api/test/integration/env/base/wazuh-manager/master.Dockerfile
  api/test/integration/env/configurations/rbac/active-response/black_config.txt
  api/test/integration/env/configurations/rbac/active-response/black_configuration_rbac.sh
  api/test/integration/env/configurations/rbac/active-response/white_config.txt
  api/test/integration/env/configurations/rbac/active-response/white_configuration_rbac.sh
  api/test/integration/test_active-response_endpoints.tavern.yaml
  api/test/integration/test_active_response_endpoints.tavern.yaml
  api/test/integration/test_rbac_black_active-response_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_active-response_endpoints.tavern.yaml
  framework/wazuh/active_response.py
  framework/wazuh/cluster/dapi/dapi.py
  framework/wazuh/core/active_response.py
  framework/wazuh/core/core_agent.py
  framework/wazuh/rbac/decorators.py
  framework/wazuh/rbac/tests/data/RBAC_decorators_permissions_black.json
Labels: API, framework

#4251 RBAC support for syscheck module
  api/api/controllers/syscheck_controller.py
  api/api/spec/changes.md
  api/api/spec/spec.yaml
  api/test/integration/conftest.py
  api/test/integration/env/base/wazuh-agent/Dockerfile
  api/test/integration/env/base/wazuh-manager/manager.Dockerfile
  api/test/integration/env/base/wazuh-manager/master.Dockerfile
  api/test/integration/env/configurations/rbac/syscheck/black_config.txt
  api/test/integration/env/configurations/rbac/syscheck/black_configuration_rbac.sh
  api/test/integration/env/configurations/rbac/syscheck/white_config.txt
  api/test/integration/env/configurations/rbac/syscheck/white_configuration_rbac.sh
  api/test/integration/env/configurations/syscheck/wazuh-agent/healthcheck/healthcheck.py
  api/test/integration/env/configurations/syscheck/wazuh-master/healthcheck/healthcheck.py
  api/test/integration/test_rbac_black_syscheck_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_syscheck_endpoints.tavern.yaml
  api/test/integration/test_syscheck_endpoints.tavern.yaml
  framework/wazuh/core/syscheck.py
  framework/wazuh/exception.py
  framework/wazuh/rbac/decorators.py
  framework/wazuh/results.py
  framework/wazuh/syscheck.py
Labels: API, framework

#4278 Fix FTS data length bound mishandling in Analysisd
  src/analysisd/fts.c
Labels: bug, core/analysisd, operations

#4237 Check the status of the daemons in the background after ossec-control start
  src/init/ossec-client.sh
  src/init/ossec-server.sh
Labels: bug, core/auth

#4148 Osquery module - Modify Windows installation path
  src/config/wmodules-osquery-monitor.c
  src/wazuh_modules/wm_osquery_monitor.c
  src/win32/ossec-pre6.conf
  src/win32/ossec.conf
Labels: core/configuration, core/osquery, status/needs documentation

#4201 Solve scan-build warnings reported
  src/addagent/manage_keys.c
  src/agentlessd/lessdcom.c
  src/analysisd/asyscom.c
  src/analysisd/decoders/decode-xml.c
  src/analysisd/decoders/geoip.c
  src/analysisd/decoders/plugins/json_decoder.c
  src/client-agent/agcom.c
  src/logcollector/lccom.c
  src/monitord/moncom.c
  src/os_auth/authcom.c
  src/os_csyslogd/csyscom.c
  src/os_integrator/intgcom.c
  src/os_maild/mailcom.c
  src/os_xml/os_xml.c
  src/remoted/request.c
  src/syscheckd/syscom.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/wm_sca.c
  src/wazuh_modules/wmcom.c
Labels: bug
