Repository wazuh/wazuh, pull requests merged in 2019-08, with the labels that each got.

#3747 Add query parameter to multiple API endpoints
  framework/wazuh/agent.py
  framework/wazuh/ciscat.py
  framework/wazuh/cluster/control.py
  framework/wazuh/database.py
  framework/wazuh/decoder.py
  framework/wazuh/manager.py
  framework/wazuh/rootcheck.py
  framework/wazuh/rule.py
  framework/wazuh/security_configuration_assessment.py
  framework/wazuh/syscheck.py
  framework/wazuh/syscollector.py
  framework/wazuh/tests/data/schema_ciscat_test.sql
  framework/wazuh/tests/data/schema_global_test.sql
  framework/wazuh/tests/data/schema_rootcheck_test.sql
  framework/wazuh/tests/data/schema_syscollector_000.sql
  framework/wazuh/tests/test_agent.py
  framework/wazuh/tests/test_ciscat.py
  framework/wazuh/tests/test_rootcheck.py
  framework/wazuh/tests/test_security_configuration_assessment.py
  framework/wazuh/tests/test_syscollector.py
  framework/wazuh/tests/test_util.py
  framework/wazuh/tests/util.py
  framework/wazuh/utils.py
  src/update/ruleset/RULESET_VERSION
Labels: API, framework

#3786 Fix for getting profiles properly in custom buckets
  wodles/aws/aws_s3.py
Labels: aws_integration

#3806 Dev-flask-poc fixes after 3.11 merge
  api/api/controllers/syscheck_controller.py
  framework/wazuh/agent.py
  framework/wazuh/cluster/dapi/dapi.py
  framework/wazuh/cluster/utils.py
  framework/wazuh/configuration.py
  framework/wazuh/syscheck.py
  framework/wazuh/utils.py
Labels: API, framework

#3814 Fix timestamp in JSON alerts
  src/analysisd/format/json_extended.c
Labels: bug, core/analysisd, elasticsearch

#3480 Clarified usage of NOPASS for agentless
  src/agentlessd/scripts/register_host.sh
Labels: operations, status/in review

#3778 Fix use of fcntl on Windows
  src/shared/file_op.c
Labels: bug

#3850 Github issue template: mention enabling debug logging.
  .github/ISSUE_TEMPLATE/default.md
Labels: community

#3847 Fix error code when a configuration file of an agent is updated
  framework/wazuh/configuration.py
Labels: bug, framework

#3841 Fix unit tests for 3.11 version
  framework/wazuh/InputValidator.py
  framework/wazuh/decoder.py
  framework/wazuh/manager.py
  framework/wazuh/tests/test_agent.py
  framework/wazuh/tests/test_decoders.py
  framework/wazuh/tests/test_manager.py
  framework/wazuh/tests/test_rootcheck.py
  framework/wazuh/tests/test_rules.py
  framework/wazuh/tests/test_security_configuration_assessment.py
  framework/wazuh/tests/test_syscheck.py
  framework/wazuh/tests/test_syscollector.py
  framework/wazuh/tests/test_util.py
  framework/wazuh/tests/test_utils.py
  framework/wazuh/utils.py
Labels: framework

#3853 New method for restarting agents by group
  framework/wazuh/agent.py
  framework/wazuh/cluster/dapi/requests_list.py
  framework/wazuh/tests/test_agent.py
Labels: API, framework

#3842 New function for getting a full summary of agents
  framework/wazuh/agent.py
  framework/wazuh/cluster/dapi/requests_list.py
  framework/wazuh/tests/test_agent.py
Labels: API, framework

#3851 Fix wazuh timestamps to UTC
  framework/setup.py
  framework/wazuh/agent.py
  framework/wazuh/manager.py
  framework/wazuh/rootcheck.py
  framework/wazuh/syscheck.py
  framework/wazuh/tests/data/schema_global_test.sql
  framework/wazuh/tests/data/var/db/global.db
  framework/wazuh/tests/data/var/db/global.db-shm
  framework/wazuh/tests/data/var/db/global.db-wal
  framework/wazuh/tests/test_agent.py
  framework/wazuh/utils.py
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/schema_global.sql
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_agent.c
  src/wazuh_db/wdb_rootcheck.c
Labels: API, core/db, framework

#3533 Control the use of mutex in the OSRegex Library
  src/Makefile
  src/analysisd/fts.c
  src/client-agent/agentd.c
  src/client-agent/buffer.c
  src/client-agent/request.c
  src/client-agent/sendmsg.c
  src/client-agent/state.c
  src/headers/pthreads_op.h
  src/logcollector/logcollector.c
  src/os_auth/main-server.c
  src/os_crypto/shared/keys.c
  src/os_execd/win_execd.c
  src/os_regex/os_regex_compile.c
  src/os_regex/os_regex_free_pattern.c
  src/remoted/sendmsg.c
  src/shared/hash_op.c
  src/shared/list_op.c
  src/shared/pthreads_op.c
  src/shared/queue_op.c
  src/shared/request_op.c
  src/shared/rules_op.c
  src/syscheckd/create_db.c
  src/syscheckd/run_check.c
  src/syscheckd/run_realtime.c
  src/syscheckd/syscheck_audit.c
  src/tests/tap_os_regex.c
  src/wazuh_db/wdb.c
  src/wazuh_modules/wm_exec.c
  src/wazuh_modules/wm_sca.c
  src/win32/win_agent.c
Labels: bug, core/analysisd, core/logcollector

#3708 Refactor the deploy variables
  src/init/register_configure_agent.sh
  src/win32/InstallerScripts.vbs
  src/win32/wazuh-installer.wxs
Labels: enhancement

#3867 Fix duplicated linked files at logcollector
  src/config/localfile-config.c
  src/error_messages/error_messages.h
  src/logcollector/logcollector.c
Labels: bug, core/logcollector
