Repository wazuh/wazuh, pull requests merged in 2019-02, with the labels that each got.

#2471 Support for new API calls (get and edit files)
  framework/wazuh/cluster/dapi/requests_list.py
  framework/wazuh/configuration.py
  framework/wazuh/manager.py
  framework/wazuh/tests/test_manager.py
Labels: API, framework

#2481 Support to new calls for getting CDB lists
  framework/wazuh/cdb_list.py
  framework/wazuh/cluster/dapi/requests_list.py
  framework/wazuh/common.py
  framework/wazuh/exception.py
  framework/wazuh/tests/test_cdb_list.py
Labels: API, framework

#2480 Embed Python v3.7.2 into Wazuh
  etc/preloaded-vars.conf
  framework/Makefile
  framework/requirements.txt
  framework/wrappers/generic_wrapper.sh
  framework/wrappers/wodles/generic_wodle_wrapper.sh
  install.sh
  src/Makefile
  src/init/inst-functions.sh
Labels: enhancement, framework, status/stall

#2465 Wazuh manager must start regardless of the contents of local_decoder.xml
  src/analysisd/decoders/decode-xml.c
  src/analysisd/testrule.c
  src/headers/defs.h
Labels: bug

#2517 Let Remoted wait for download module availability.
  src/headers/url.h
  src/remoted/shared_download.c
  src/remoted/shared_download.h
  src/shared/url.c
  src/wazuh_modules/wm_download.c
Labels: bug, core/remoted

#2416 Fix bug when trying to discard files that should not be monitored in Whodata
  src/syscheckd/win_whodata.c
Labels: bug, core/fim

#2379 Fix disconnected agent alert
  src/monitord/monitor_agents.c
  src/monitord/monitord.h
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_agent.c
Labels: enhancement, status/in review, status/needs ruleset

#2425 Remove debug message when no tmp/cve has been created
  src/wazuh_modules/wm_vuln_detector.c
Labels: core/vuln detector

#2523 Fix multiple definition of Audit functions
  src/headers/audit_op.h
  src/shared/audit_op.c
Labels: bug, core/fim/audit

#2391 Fix invalid read at CleanMSG
  src/analysisd/cleanevent.c
Labels: bug

#2489 Add error message to agent-auth -i
  src/os_auth/main-client.c
Labels: status/stall, wontfix

#2530 Rework generic wrapper
  framework/wrappers/generic_wrapper.sh
  framework/wrappers/wodles/generic_wodle_wrapper.sh
  src/init/inst-functions.sh
Labels: enhancement, framework

#2492 Delete empty fields from Windows eventchannel
  src/analysisd/decoders/winevtchannel.c
Labels: bug

#2528 Optimize network performance in Remoted
  etc/internal_options.conf
  src/client-agent/start_agent.c
  src/os_net/os_net.c
  src/os_net/os_net.h
  src/remoted/config.c
  src/remoted/netbuffer.c
  src/remoted/remoted.h
  src/remoted/secure.c
  src/remoted/state.c
Labels: core/remoted, enhancement

#2521 Fixes from Cppcheck report
  src/config/global-config.c
  src/os_auth/main-server.c
  src/shared/sig_op.c
  src/shared/version_op.c
  src/wazuh_modules/syscollector/syscollector_windows.c
Labels: bug

#2550 Linux syscollector: retrieve MAC addresses from "/sys/class/net/<ifname>/address".
  src/wazuh_modules/syscollector/syscollector_linux.c
Labels: bug, core/syscollector

#2366 Update AWS issue template
  .github/ISSUE_TEMPLATE/test--aws.md
Labels: aws_integration, framework

#2573 Add Python and PyPi dependencies to README.md
  README.md
Labels: enhancement

#2575 Improve cluster performance: Embedded Python 3 and update to asyncio
  README.md
  etc/preloaded-vars.conf
  framework/Makefile
  framework/requirements.txt
  framework/scripts/agent_groups.py
  framework/scripts/cluster_control.py
  framework/scripts/update_ruleset.py
  framework/scripts/wazuh-clusterd.py
  framework/tests/test_cluster_sync.py
  framework/tests/test_communication.py
  framework/tests/test_imports.py
  framework/wazuh/InputValidator.py
  framework/wazuh/__init__.py
  framework/wazuh/__main__.py
  framework/wazuh/active_response.py
  framework/wazuh/agent.py
  framework/wazuh/ciscat.py
  framework/wazuh/cluster/__init__.py
  framework/wazuh/cluster/client.py
  framework/wazuh/cluster/cluster.json
  framework/wazuh/cluster/cluster.py
  framework/wazuh/cluster/common.py
  framework/wazuh/cluster/communication.py
  framework/wazuh/cluster/control.py
  framework/wazuh/cluster/dapi/dapi.py
  framework/wazuh/cluster/dapi/requests_list.py
  framework/wazuh/cluster/internal_socket.py
  framework/wazuh/cluster/local_client.py
  framework/wazuh/cluster/local_server.py
  framework/wazuh/cluster/master.py
  framework/wazuh/cluster/server.py
  framework/wazuh/cluster/worker.py
  framework/wazuh/common.py
  framework/wazuh/configuration.py
  framework/wazuh/database.py
  framework/wazuh/decoder.py
  framework/wazuh/exception.py
  framework/wazuh/manager.py
  framework/wazuh/ossec_queue.py
  framework/wazuh/ossec_socket.py
  framework/wazuh/pyDaemonModule.py
  framework/wazuh/rootcheck.py
  framework/wazuh/rule.py
  framework/wazuh/stats.py
  framework/wazuh/syscheck.py
  framework/wazuh/syscollector.py
  framework/wazuh/utils.py
  framework/wazuh/wdb.py
  framework/wrappers/generic_wrapper.sh
  install.sh
  src/Makefile
  src/init/inst-functions.sh
  wodles/aws/aws-s3.py
  wodles/azure/azure-logs.py
Labels: API, aws_integration, cluster, enhancement, framework

#2544 Edit files in cluster
  framework/wazuh/cluster/dapi/dapi.py
  framework/wazuh/cluster/dapi/requests_list.py
  framework/wazuh/configuration.py
  framework/wazuh/exception.py
  framework/wazuh/manager.py
  framework/wazuh/tests/data/test_decoders.xml
  framework/wazuh/tests/data/test_lists
  framework/wazuh/tests/data/test_rules.xml
  framework/wazuh/tests/test_manager.py
  src/headers/defs.h
  src/os_execd/execd.c
Labels: API, framework

#2578 Fix bug when ossec.conf has XML syntax errors in cluster
  framework/wazuh/cluster/common.py
  framework/wazuh/cluster/dapi/dapi.py
  framework/wazuh/cluster/master.py
  framework/wazuh/cluster/worker.py
Labels: bug, cluster

#2543 Support for API call to restart Wazuh
  active-response/restart.sh
  framework/wazuh/agent.py
  framework/wazuh/cluster/dapi/requests_list.py
  framework/wazuh/exception.py
  framework/wazuh/manager.py
  framework/wazuh/tests/test_cdb_list.py
  framework/wazuh/tests/test_manager.py
  src/os_execd/execd.c
Labels: API, framework

#2562 Remove permission map in class file reference at SELinux module
  src/selinux/wazuh.te
Labels: bug/regression, core/fim/audit

#2593 Support for uploading worker files
  framework/wazuh/cluster/common.py
  framework/wazuh/cluster/dapi/dapi.py
  framework/wazuh/cluster/local_client.py
  framework/wazuh/cluster/local_server.py
  framework/wazuh/manager.py
Labels: bug, cluster, framework

#2591 Linux syscollector: moved MAC retrieval code block out of the for loop.
  src/wazuh_modules/syscollector/syscollector_linux.c
Labels: bug, core/syscollector

#2594 Fix out-of-memory error in Remoted when upgrading an agent
  framework/scripts/agent_upgrade.py
  framework/wazuh/exception.py
  src/remoted/request.c
Labels: bug, core/remoted, framework, status/needs documentation

#2604 Return registerIP field in /agents API calls
  framework/wazuh/agent.py
  framework/wazuh/tests/test_agent.py
  framework/wazuh/utils.py
Labels: API, framework

#2597 Improve API errors when the cluster is not enabled
  framework/wazuh/cluster/dapi/dapi.py
  framework/wazuh/cluster/local_client.py
  framework/wazuh/cluster/local_server.py
Labels: API, bug, cluster, framework

#2602 Fix merge cluster results
  framework/wazuh/cluster/dapi/dapi.py
  framework/wazuh/cluster/local_server.py
Labels: API, framework

#2614 Fix dropping events because of aws.requestParameters.disabledApiTermination field
  wodles/aws/aws-s3.py
Labels: aws_integration, framework

#2621 Prevent Analysisd from crashing when receiving an invalid Syscollector event
  src/analysisd/decoders/syscollector.c
Labels: bug, core/analysisd, core/syscollector

#2537 #2473 - Support AWS Organizations in the AWS wodle
  src/config/wmodules-aws.c
  src/wazuh_modules/wm_aws.c
  src/wazuh_modules/wm_aws.h
  wodles/aws/aws-s3.py
Labels: aws_integration, framework

#2622 Fix defects reported by Coverity
  src/client-agent/notify.c
  src/client-agent/receiver.c
  src/config/syscheck-config.c
  src/headers/url.h
  src/os_net/os_net.c
  src/os_net/os_net.h
  src/shared/url.c
  src/wazuh_db/wdb_upgrade.c
Labels: bug

#2626 Fix bug when running distributed requests to all nodes from a worker
  framework/wazuh/cluster/common.py
  framework/wazuh/cluster/dapi/dapi.py
  framework/wazuh/cluster/local_client.py
  framework/wazuh/cluster/local_server.py
  framework/wazuh/cluster/master.py
  framework/wazuh/cluster/worker.py
  framework/wazuh/exception.py
Labels: API, bug, cluster

#2627 Support for AWS organizations in CloudTrail
  src/config/wmodules-aws.c
  src/wazuh_modules/wm_aws.c
  src/wazuh_modules/wm_aws.h
  wodles/aws/aws-s3.py
Labels: aws_integration, framework

#2603 Fix weird behaviour in vulnerability-detector
  src/error_messages/error_messages.h
  src/wazuh_modules/wm_vuln_detector.c
  src/wazuh_modules/wm_vuln_detector.h
  src/wazuh_modules/wm_vuln_detector_db.h
Labels: core/vuln detector

#2628 Let DB synchronize module clean the table belongs when removing agents
  src/wazuh_db/wdb_agent.c
Labels: bug, core/db, operations

#2630 Dev rootcheck pm
  framework/scripts/agent_groups.py
  framework/scripts/cluster_control.py
  framework/scripts/wazuh-clusterd.py
  framework/setup.py
  framework/wazuh/cluster/cluster.py
  framework/wazuh/cluster/dapi/requests_list.py
  framework/wazuh/cluster/master.py
  framework/wazuh/configuration_assessment.py
  framework/wazuh/tests/data/000.db
  framework/wazuh/tests/test_configuration_assessment.py
  framework/wazuh/utils.py
  framework/wazuh/wdb.py
  wodles/azure/azure-logs.py
Labels: enhancement, framework

#2635 Remove extra call to rmtree in cluster
  framework/wazuh/cluster/master.py
Labels: bug, cluster, framework

#2642 Fix for restart.sh script
  active-response/restart.sh
Labels: framework

#2637 New socket format for validating config through execd
  framework/wazuh/exception.py
  framework/wazuh/manager.py
Labels: framework

#2620 Fix memory leak and crash in Vulnerability Detector
  src/error_messages/error_messages.h
  src/os_regex/os_regex_execute.c
  src/util/ossec-regex.c
  src/wazuh_db/schema_global.sql
  src/wazuh_modules/wm_vuln_detector.c
  src/wazuh_modules/wm_vuln_detector.h
  src/wazuh_modules/wm_vuln_detector_db.h
Labels: bug, core/db, core/vuln detector

#2663 New message when cluster restarts
  framework/wazuh/cluster/cluster.py
  framework/wazuh/cluster/dapi/requests_list.py
Labels: API, framework

#2669 Fix for upgrading agents
  framework/wazuh/agent.py
Labels: bug, framework

#2668 Fix incorrect rule frecuency printed by Analysisd
  src/analysisd/config_json.c
  src/analysisd/format/to_json.c
Labels: bug, core/analysisd

#2658 Rename conf assessment to security configuration assessment (sca)
  framework/wazuh/cluster/dapi/requests_list.py
  framework/wazuh/security_configuration_assessment.py
  framework/wazuh/tests/data/000.db
  framework/wazuh/tests/test_security_configuration_assessment.py
Labels: enhancement

#2679 Fixes for Docker listener module
  src/config/wmodules-docker.c
  src/wazuh_modules/wm_docker.c
  src/wazuh_modules/wm_docker.h
Labels: bug, core/docker

#2683 Fix for Slack integration
  integrations/slack
Labels: framework

#2686 Prevent single cluster node from waiting for forwarded API requests
  framework/wazuh/cluster/local_client.py
  framework/wazuh/cluster/local_server.py
Labels: bug, cluster, framework

#2691 Add -t and -c options in wazuh-clusterd daemon
  CHANGELOG.md
  framework/scripts/wazuh-clusterd.py
  framework/wazuh/cluster/cluster.py
  framework/wazuh/cluster/tests/__init__.py
  framework/wazuh/cluster/tests/test_cluster.py
  framework/wazuh/configuration.py
  src/init/ossec-server.sh
Labels: cluster, framework

#2693 Add new version OpenAPI
  api/openapi.yml
Labels: API

#2700 Update use of registerIP field in agent.py
  framework/scripts/agent_upgrade.py
  framework/wazuh/agent.py
Labels: bug, framework

#2702 Added wazuh-cluster test
  src/os_execd/execd.c
Labels: core/execd

#2673 Added > as a possible CLI prompt
  src/agentlessd/scripts/sshlogin.exp
Labels: operations

#2708 Improve cluster logs
  framework/scripts/wazuh-clusterd.py
  framework/wazuh/manager.py
  framework/wazuh/tests/test_manager.py
Labels: API, cluster, framework
