Repository wazuh/wazuh, pull requests merged in 2019-03, with the labels that each got.

#2710 Fix for getting CDB lists
  framework/wazuh/cdb_list.py
Labels: API, bug, framework

#2572 Migrate current tests to TAP
  .gitignore
  src/Makefile
  src/tests/tap.h
  src/tests/tap_os_crypto.c
  src/tests/tap_os_net.c
  src/tests/tap_os_regex.c
  src/tests/tap_os_xml.c
  src/tests/tap_os_zlib.c
  src/tests/tap_shared.c
  src/tests/test_os_crypto.c
  src/tests/test_os_net.c
  src/tests/test_os_xml.c
  src/tests/test_os_zlib.c
Labels: qa

#2718 GET/manager/status: Add missing processes and sort the list by alphabetical order
  framework/wazuh/manager.py
  framework/wazuh/tests/test_manager.py
Labels: API, framework, operations

#2403 PagerDuty integration plain text alert support
  integrations/pagerduty
Labels: enhancement

#2726 Remove install path information from decoders and rules API calls
  framework/wazuh/decoder.py
  framework/wazuh/rule.py
  framework/wazuh/tests/test_decoders.py
  framework/wazuh/tests/test_rules.py
Labels: API, enhancement, framework

#2734 Support for overwrite parameter
  framework/wazuh/exception.py
  framework/wazuh/manager.py
Labels: API, framework

#2735 Support for deleting files
  framework/wazuh/cluster/dapi/requests_list.py
  framework/wazuh/exception.py
  framework/wazuh/manager.py
  framework/wazuh/tests/test_manager.py
Labels: API, framework

#2694 Input validation for Flask API
  api/api/test/data/test_xml_1.xml
  api/api/test/data/test_xml_2.xml
  api/api/test/data/test_xml_ko_1.xml
  api/api/test/data/test_xml_ko_2.xml
  api/api/test/test_validator.py
  api/api/validator.py
Labels: API, framework

#2739 Logging for Flask API
  api/.gitignore
  api/api/alogging.py
  api/scripts/wazuh-apid.py
  framework/scripts/wazuh-clusterd.py
  framework/wazuh/cluster/cluster.py
  framework/wazuh/wlogging.py
Labels: API, framework

#2729 Deprecate global option <queue_size> for Analysisd
  etc/templates/config/generic/global.template
  src/analysisd/analysisd.c
  src/analysisd/config.c
Labels: core/analysisd, status/needs documentation

#2752 Fix invalid read in empty globs array
  src/logcollector/config.c
Labels: bug, core/logcollector

#2754 Add OpenAPI specification for /sca API endpoints
  api/api/spec/spec.yaml
Labels: API, framework

#2747 Flask API: Improve installation
  api/Makefile
  api/scripts/wazuh-apid.py
  api/setup.py
Labels: API, framework

#2737 Dev flask poc auth
  api/Makefile
  api/api/APIException.py
  api/api/api_exception.py
  api/api/authentication.py
  api/api/configuration.py
  api/api/constants.py
  api/api/controllers/active_response_controller.py
  api/api/controllers/agents_controller.py
  api/api/controllers/cache_controller.py
  api/api/controllers/ciscat_controller.py
  api/api/controllers/login_controller.py
  api/api/controllers/sca_controller.py
  api/api/spec/spec.yaml
  api/api/test/__init__.py
  api/api/test/test_authentication.py
  api/setup.py
  framework/requirements.txt
  framework/setup.py
  src/Makefile
Labels: API

#2761 Prevent the key updating thread from starving in Remoted
  src/remoted/remoted.h
  src/remoted/secure.c
  src/remoted/sendmsg.c
Labels: bug, core/remoted

#2775 Flask API: Add OpenAPI specs for /manager and /cluster endpoints
  api/api/controllers/cluster_controller.py
  api/api/controllers/manager_controller.py
  api/api/spec/spec.yaml
Labels: API, framework

#2764 Add OpenAPI decoders endpoints
  api/api/controllers/decoders_controller.py
  api/api/spec/changes.md
  api/api/spec/spec.yaml
Labels: API

#2792 Added lists endpoints
  api/api/controllers/lists_controller.py
  api/api/spec/changes.md
  api/api/spec/spec.yaml
Labels: API

#2780 Flask API: Add OpenAPI specs for /rootcheck and /syscheck endpoints
  api/api/controllers/rootcheck_controller.py
  api/api/controllers/syscheck_controller.py
  api/api/spec/spec.yaml
Labels: API, framework

#2785 Flask API: Add OpenAPI specs for /rules endpoints
  api/api/controllers/rules_controllers.py
  api/api/spec/spec.yaml
Labels: API, framework

#2790 Fix memory leak in vulnerability-detector
  src/agentlessd/lessdcom.c
  src/analysisd/asyscom.c
  src/client-agent/agcom.c
  src/logcollector/config.c
  src/logcollector/lccom.c
  src/monitord/moncom.c
  src/os_auth/authcom.c
  src/os_csyslogd/csyscom.c
  src/os_execd/wcom.c
  src/os_integrator/intgcom.c
  src/os_maild/mailcom.c
  src/remoted/request.c
  src/shared/syscheck_op.c
  src/syscheckd/config.c
  src/syscheckd/syscom.c
  src/wazuh_modules/wm_aws.c
  src/wazuh_modules/wm_sca.c
  src/wazuh_modules/wm_vuln_detector.c
  src/wazuh_modules/wmcom.c
Labels: bug, core/vuln detector

#2800 Let CIS-CAT decoder reuse the Wazuh DB connection socket
  src/analysisd/analysisd.c
  src/analysisd/decoders/ciscat.c
  src/analysisd/decoders/plugin_decoders.h
Labels: bug, core/cis-cat

#2807 Remove null values from sca output
  framework/wazuh/tests/test_wdb.py
  framework/wazuh/wdb.py
Labels: API, framework

#2803 Improve message when deleting agent from a group
  framework/wazuh/agent.py
Labels: API, bug, framework

#2809 Flask API: Add OpenAPI specs for /experimental & /syscollector endpoints
  api/api/controllers/experimental_controller.py
  api/api/controllers/syscollector_controller.py
  api/api/spec/changes.md
  api/api/spec/spec.yaml
Labels: API, framework

#2805 SCA dump deletion of old checks
  src/analysisd/decoders/security_configuration_assessment.c
  src/headers/yaml2json.h
  src/shared/yaml2json.c
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_parser.c
  src/wazuh_db/wdb_sca.c
  src/wazuh_modules/wm_sca.c
Labels: bug, status/in review

#2818 Refactor and improve Open API spec descriptions
  api/api/spec/changes.md
  api/api/spec/spec.yaml
Labels: API

#2820 Increase the allowed size of the message read from the socket and to be sent to Wazuh DB
  src/analysisd/decoders/security_configuration_assessment.c
Labels: bug

#2821 Add **get_agent** and **get_agent_config** controllers
  api/api/controllers/agents_controller.py
  api/api/spec/spec.yaml
Labels: API, framework

#2827 Dev flask poc validation
  api/api/controllers/agents_controller.py
  api/api/controllers/experimental_controller.py
  api/api/spec/changes.md
  api/api/spec/spec.yaml
  api/api/validator.py
  api/scripts/wazuh-apid.py
Labels: API

#2842 Fix defect reported by Coverity for SCA
  src/wazuh_modules/wm_sca.c
Labels: bug

#2777 Migration from old API and CA support
  api/Makefile
  api/api/api_exception.py
  api/api/configuration.py
  api/api/configuration/template-api.yml
  api/api/constants.py
  api/api/spec/spec.yaml
  api/api/util.py
  api/api/validator.py
  api/migration.py
  api/scripts/wazuh-apid.py
  src/init/inst-functions.sh
Labels: API

#2838 Improve exception messages when there is an error unsseting an agent from a group
  framework/wazuh/agent.py
  framework/wazuh/exception.py
  framework/wazuh/tests/test_group.py
Labels: framework

#2847 Prevent manager unit tests to delete test data files
  framework/wazuh/tests/test_manager.py
Labels: framework

#2855 Prevent debug messages from being flooded
  src/headers/vector_op.h
  src/shared/vector_op.c
  src/syscheckd/run_realtime.c
  src/syscheckd/syscheck_audit.c
Labels: bug

#2854 Fix control of the frequency counter in the alerts
  src/analysisd/eventinfo.c
Labels: bug, core/analysisd

#2861 Remove error message when attempting to launch a vulnerability scan without database
  src/wazuh_modules/wm_vuln_detector.c
Labels: core/vuln detector

#2871 Fix permission extraction in Windows
  src/shared/syscheck_op.c
Labels: bug, core/fim, platform/windows

#2880 Fix for skipping empty lines in CDB lists
  framework/wazuh/manager.py
Labels: API, framework

#2869 Add unit tests for removing agents functions in worker nodes
  framework/wazuh/__init__.py
  framework/wazuh/agent.py
  framework/wazuh/cluster/tests/test_worker.py
  framework/wazuh/cluster/worker.py
  framework/wazuh/configuration.py
  framework/wazuh/database.py
  framework/wazuh/tests/data/schema_global_test.sql
  framework/wazuh/tests/test_agent.py
  framework/wazuh/utils.py
Labels: cluster, framework

#2902 Fix bug updating agent info files in master node
  framework/wazuh/cluster/cluster.py
  framework/wazuh/cluster/master.py
  framework/wazuh/cluster/worker.py
Labels: bug, cluster, framework

#2916 Fix memory leak when extracting IP from Windows agents
  src/win32/win_agent.c
Labels: bug, core/agent, platform/windows

#2914 Fix bug at cluster startup when wazuh is installed in a custom path
  framework/scripts/wazuh-clusterd.py
Labels: bug, cluster, framework

#2928 Validation for CDB list (get)
  framework/wazuh/manager.py
Labels: API, framework

#2933 Fix invalid interpretation of pending vulnerabilities
  src/wazuh_modules/wm_vuln_detector.c
Labels: bug, core/vuln detector

#2925 Set "-" to the alerts severity when it is unknown
  src/wazuh_modules/wm_vuln_detector.c
  src/wazuh_modules/wm_vuln_detector.h
Labels: core/vuln detector

#2936 Dev manager status
  active-response/restart.sh
  framework/wazuh/cluster/dapi/dapi.py
  framework/wazuh/exception.py
  framework/wazuh/manager.py
  framework/wazuh/tests/test_manager.py
  src/init/ossec-local.sh
  src/init/ossec-server.sh
Labels: API

#2903 Escape XML entities for logcollector
  framework/wazuh/utils.py
Labels: bug, framework

#2888 Fix invalid behaviour when moving files in whodata mode
  src/config/syscheck-config.h
  src/headers/hash_op.h
  src/shared/hash_op.c
  src/syscheckd/create_db.c
  src/syscheckd/run_check.c
  src/syscheckd/syscheck.h
  src/syscheckd/win_whodata.c
Labels: core/fim/audit, platform/windows

#2942 Update ossec.log parsing from the Python framework
  framework/wazuh/manager.py
  framework/wazuh/tests/test_manager.py
Labels: bug, framework

#2946 Fix for getting SCA configuration
  framework/wazuh/configuration.py
Labels: API, framework

#2947 Fix pytest warnings
  framework/wazuh/decoder.py
  framework/wazuh/rule.py
Labels: framework

#2943 Fix bug using a list as filter in API
  framework/wazuh/cluster/dapi/dapi.py
  framework/wazuh/tests/test_agent.py
  framework/wazuh/utils.py
Labels: API, bug, framework

#2953 Fix memory leak when adding multi-groups to hash table
  src/remoted/manager.c
Labels: bug

#2935 Fix System32 and SysWOW64 event processing in Whodata
  src/shared/version_op.c
  src/syscheckd/create_db.c
  src/syscheckd/win_whodata.c
Labels: bug, core/agent, platform/windows

#2940 Avoid giving an error when one of the file permissions cannot be extracted
  src/shared/syscheck_op.c
Labels: core/fim, platform/windows

#2915 Fix memleak when extracting realpath
  src/syscheckd/run_realtime.c
Labels: bug, core/fim, platform/windows

#2406 Fix bug when processing strange characters in Whodata
  CHANGELOG.md
  src/syscheckd/win_whodata.c
Labels: bug, core/fim

#2885 Fix for uploading XML files
  framework/wazuh/manager.py
Labels: API, framework

#2941 A more descriptive message for SSL error when agent-auth fails
  src/os_auth/main-client.c
Labels: core/agent
