Repository wazuh/wazuh, pull requests merged in 2020-07, with the labels that each got.

#5383 5333 dbsync test tool
  src/dbsync/CMakeLists.txt
  src/dbsync/include/typedef.h
  src/dbsync/testtool/CMakeLists.txt
  src/dbsync/testtool/Readme.md
  src/dbsync/testtool/cmdArgsHelper.h
  src/dbsync/testtool/input/config.json
  src/dbsync/testtool/input/config_template.json
  src/dbsync/testtool/input/input.json
  src/dbsync/testtool/input/input1.json
  src/dbsync/testtool/input/input2.json
  src/dbsync/testtool/main.cpp
Labels: core/osquery

#5403 [5327] Moving sqlite related files to a separated folder to be better organized
  src/dbsync/CMakeLists.txt
  src/dbsync/src/dbengine_factory.h
  src/dbsync/src/sqlite/isqlite_wrapper.h
  src/dbsync/src/sqlite/sqlite_dbengine.cpp
  src/dbsync/src/sqlite/sqlite_dbengine.h
  src/dbsync/src/sqlite/sqlite_wrapper.cpp
  src/dbsync/src/sqlite/sqlite_wrapper.h
  src/dbsync/src/sqlite/sqlite_wrapper_factory.h
  src/dbsync/tests/CMakeLists.txt
  src/dbsync/tests/sqlite/CMakeLists.txt
Labels: core/dbsync

#5399 5328 DbEngineContext refactor
  src/dbsync/src/dbengine_context.h
  src/dbsync/src/dbsync_implementation.cpp
  src/dbsync/src/dbsync_implementation.h
Labels: core/agent, core/dbsync

#5433 Add new options to the client configuration to tune up the connection parameters
  src/Makefile
  src/addagent/manage_agents.c
  src/addagent/manage_agents.h
  src/addagent/manage_keys.c
  src/addagent/validate.c
  src/client-agent/agentd.c
  src/client-agent/agentd.h
  src/client-agent/config.c
  src/client-agent/main.c
  src/client-agent/start_agent.c
  src/config/authd-config.h
  src/config/client-config.c
  src/config/client-config.h
  src/error_messages/error_messages.h
  src/headers/agent_op.h
  src/headers/debug_op.h
  src/headers/enrollment_op.h
  src/headers/os_err.h
  src/headers/queue_op.h
  src/headers/shared.h
  src/init/ossec-server.sh
  src/os_auth/auth.c
  src/os_auth/auth.h
  src/os_auth/local-server.c
  src/os_auth/main-client.c
  src/os_auth/main-server.c
  src/os_auth/ssl.c
  src/os_crypto/shared/keys.c
  src/os_crypto/shared/msgs.c
  src/shared/agent_op.c
  src/shared/debug_op.c
  src/shared/enrollment_op.c
  src/shared/queue_op.c
  src/syscheckd/fim_db.h
  src/unit_tests/agent.cmake
  src/unit_tests/client-agent/CMakeLists.txt
  src/unit_tests/client-agent/test_start_agent.c
  src/unit_tests/os_auth/CMakeLists.txt
  src/unit_tests/os_auth/test_auth_add.c
  src/unit_tests/os_auth/test_auth_parse.c
  src/unit_tests/os_auth/test_auth_validate.c
  src/unit_tests/os_auth/test_ssl.c
  src/unit_tests/server.cmake
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/shared/test_agent_op.c
  src/unit_tests/shared/test_enrollment_op.c
  src/unit_tests/shared/test_queue_op.c
  src/unit_tests/winagent.cmake
  src/unit_tests/wrappers/client-agent/start_agent.c
  src/unit_tests/wrappers/client-agent/start_agent.h
  src/unit_tests/wrappers/shared/enrollment_op.c
  src/unit_tests/wrappers/shared/enrollment_op.h
  src/wazuh_modules/wm_keyrequest.c
  src/win32/ui/os_win32ui.c
  src/win32/win_utils.c
Labels: core/agent, enhancement

#5437 Adding new dbsync APIs exposure for FIM use cases purpose
  src/dbsync/dbsync_doxygen.conf
  src/dbsync/include/dbsync.h
  src/dbsync/include/typedef.h
  src/dbsync/src/dbsync.cpp
  src/dbsync/src/sqlite/sqlite_dbengine.cpp
  src/dbsync/testtool/cmdArgsHelper.h
Labels: core/dbsync

#5362 Fix NVD version comparator to remove undesired suffixes
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector_evr.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_evr.c
Labels: core/vuln detector

#5304 [Vuln-detector] Replace Debian feed
  etc/templates/config/generic/wodle-vulnerability-detector.manager.template
  src/config/wmodules-vuln-detector.c
  src/error_messages/debug_messages.h
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
Labels: core/vuln detector

#5467 Fix crash when discarding a kernel package at Vulnerability Detector
  src/error_messages/debug_messages.h
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: bug, core/vuln detector

#5372 Declare main functions and structures for wazuh-logtest
  src/analysisd/analysisd.c
  src/analysisd/analysisd.h
  src/analysisd/logtest.c
  src/analysisd/logtest.h
  src/error_messages/error_messages.h
  src/error_messages/information_messages.h
  src/error_messages/warning_messages.h
  src/headers/defs.h
Labels: core/logtest

#5468 5399 pipeline pattern
  src/dbsync/CMakeLists.txt
  src/dbsync/src/sqlite/sqlite_dbengine.cpp
  src/dbsync/src/sqlite/sqlite_wrapper.cpp
  src/dbsync/tests/CMakeLists.txt
  src/dbsync/tests/string_helper/CMakeLists.txt
  src/dbsync/tests/string_helper/string_helper_test.cpp
  src/dbsync/tests/string_helper/string_helper_test.h
  src/dbsync/tests/utils/CMakeLists.txt
  src/dbsync/tests/utils/main.cpp
  src/dbsync/tests/utils/pipelineNodes_test.cpp
  src/dbsync/tests/utils/pipelineNodes_test.h
  src/dbsync/tests/utils/stringHelper_test.cpp
  src/dbsync/tests/utils/stringHelper_test.h
  src/dbsync/tests/utils/threadDispatcher_test.cpp
  src/dbsync/tests/utils/threadDispatcher_test.h
  src/dbsync/tests/utils/threadSafeQueue_test.cpp
  src/dbsync/tests/utils/threadSafeQueue_test.h
  src/dbsync/utils/pipelineNodesImp.h
  src/dbsync/utils/pipelinePattern.h
  src/dbsync/utils/stringHelper.h
  src/dbsync/utils/threadDispatcher.h
  src/dbsync/utils/threadSafeQueue.h
Labels: core/dbsync

#5466 Changing location og global.db to the Wazuh DB folder
  src/wazuh_db/wdb.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/db

#5476 Remove agents backup logic
  src/addagent/main.c
  src/addagent/manage_agents.c
  src/addagent/manage_agents.h
  src/addagent/validate.c
  src/headers/defs.h
  src/headers/read-agents.h
  src/os_auth/auth.c
  src/os_auth/auth.h
  src/os_auth/local-server.c
  src/os_auth/main-server.c
  src/shared/read-agents.c
  src/unit_tests/os_auth/CMakeLists.txt
  src/unit_tests/os_auth/test_auth_add.c
  src/unit_tests/os_auth/test_auth_validate.c
Labels: bug

#5385 Fix a typo in FIM's Audit rule management log on UNIX
  src/shared/audit_op.c
  src/unit_tests/shared/test_audit_op.c
Labels: core/fim, core/fim/whodata

#5253 Fixed compilation warnings
  src/addagent/manage_agents.c
  src/addagent/manage_keys.c
  src/client-agent/start_agent.c
  src/error_messages/warning_messages.h
  src/headers/string_op.h
  src/logcollector/logcollector.c
  src/logcollector/logcollector.h
  src/monitord/manage_files.c
  src/monitord/rotate_log.c
  src/monitord/sign_log.c
  src/os_auth/main-server.c
  src/os_execd/win_execd.c
  src/os_maild/os_maild_client.c
  src/shared/file_op.c
  src/shared/string_op.c
  src/shared/version_op.c
  src/syscheckd/run_check.c
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/shared/test_string_op.c
  src/wazuh_modules/syscollector/syscollector_windows.c
  src/wazuh_modules/wm_control.c
  src/wazuh_modules/wm_sca.c
Labels: bug

#5502 5423 sync single row
  src/dbsync/src/dbengine.h
  src/dbsync/src/dbsync.cpp
  src/dbsync/src/dbsync_implementation.cpp
  src/dbsync/src/dbsync_implementation.h
  src/dbsync/src/sqlite/sqlite_dbengine.cpp
  src/dbsync/src/sqlite/sqlite_dbengine.h
  src/dbsync/tests/interface/dbsync_test.cpp
  src/dbsync/tests/interface/dbsync_test.h
  src/dbsync/utils/stringHelper.h
Labels: core/dbsync

#5484 [WPK] Task module structure to process upgrade commands
  etc/templates/config/generic/wodle-task-manager.manager.template
  src/Makefile
  src/config/wmodules-config.c
  src/config/wmodules-task-manager.c
  src/error_messages/debug_messages.h
  src/error_messages/error_messages.h
  src/headers/defs.h
  src/init/inst-functions.sh
  src/init/wazuh/wazuh.sh
  src/wazuh_db/schema_task_manager.sql
  src/wazuh_modules/task_manager/wm_task_manager.c
  src/wazuh_modules/task_manager/wm_task_manager.h
  src/wazuh_modules/task_manager/wm_task_manager_db.c
  src/wazuh_modules/task_manager/wm_task_manager_db.h
  src/wazuh_modules/wmodules.h
Labels: core/modulesd

#5510 5416 set table max rows
  src/dbsync/include/typedef.h
  src/dbsync/src/db_exception.h
  src/dbsync/src/dbengine.h
  src/dbsync/src/dbsync.cpp
  src/dbsync/src/dbsync_implementation.cpp
  src/dbsync/src/dbsync_implementation.h
  src/dbsync/src/sqlite/isqlite_wrapper.h
  src/dbsync/src/sqlite/sqlite_dbengine.cpp
  src/dbsync/src/sqlite/sqlite_dbengine.h
  src/dbsync/src/sqlite/sqlite_wrapper.cpp
  src/dbsync/tests/interface/dbsync_test.cpp
Labels: core/agent, core/dbsync

#5534 Added set max rows action to testtool.
  src/dbsync/testtool/action.h
  src/dbsync/testtool/factoryAction.h
  src/dbsync/testtool/input/input6.json
Labels: core/agent, core/dbsync

#5538 Check NVD dependencies all the times the NVD detected a vulnerability
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#5352 Vulnerability Detector: Add support for RHEL OVALs
  etc/templates/config/generic/wodle-vulnerability-detector.manager.template
  src/config/wmodules-vuln-detector.c
  src/error_messages/debug_messages.h
  src/error_messages/error_messages.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector, enhancement

#5492 5472 dbsync pipeline context
  src/dbsync/include/dbsync.h
  src/dbsync/include/typedef.h
  src/dbsync/src/db_exception.h
  src/dbsync/src/dbsync.cpp
  src/dbsync/src/dbsyncPipelineFactory.cpp
  src/dbsync/src/dbsyncPipelineFactory.h
  src/dbsync/src/sqlite/sqlite_dbengine.cpp
  src/dbsync/tests/CMakeLists.txt
  src/dbsync/tests/interface/CMakeLists.txt
  src/dbsync/tests/pipelineFactory/CMakeLists.txt
  src/dbsync/tests/pipelineFactory/dbsyncPipelineFactory_test.cpp
  src/dbsync/tests/pipelineFactory/dbsyncPipelineFactory_test.h
  src/dbsync/tests/pipelineFactory/main.cpp
  src/dbsync/tests/utils/pipelineNodes_test.cpp
  src/dbsync/testtool/action.h
  src/dbsync/testtool/main.cpp
  src/dbsync/utils/pipelinePattern.h
Labels: core/dbsync

#5449 Added path or url options to update the Debian Security Tracker feed locally.
  src/config/wmodules-vuln-detector.c
  src/error_messages/debug_messages.h
  src/error_messages/error_messages.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector, enhancement

#5506 Modify FTS functions and variables for wazuh-logtest
  src/analysisd/accumulator.c
  src/analysisd/accumulator.h
  src/analysisd/analysisd.c
  src/analysisd/analysisd.h
  src/analysisd/fts.c
  src/analysisd/fts.h
  src/analysisd/logtest.c
  src/analysisd/logtest.h
  src/analysisd/testrule.c
  src/error_messages/error_messages.h
  src/unit_tests/analysisd/CMakeLists.txt
  src/unit_tests/analysisd/test_logtest.c
Labels: core/logtest

#5540 [WPK] Support for upgrade custom command
  src/Makefile
  src/config/wmodules-agent-upgrade.c
  src/error_messages/debug_messages.h
  src/error_messages/error_messages.h
  src/error_messages/information_messages.h
  src/init/inst-functions.sh
  src/wazuh_modules/agent_upgrade/wm_agent_upgrade.c
  src/wazuh_modules/agent_upgrade/wm_agent_upgrade.h
  src/wazuh_modules/agent_upgrade/wm_agent_upgrade_command.c
  src/wazuh_modules/agent_upgrade/wm_agent_upgrade_commands.c
  src/wazuh_modules/agent_upgrade/wm_agent_upgrade_parsing.c
  src/wazuh_modules/agent_upgrade/wm_agent_upgrade_parsing.h
  src/wazuh_modules/agent_upgrade/wm_agent_upgrade_result_command.c
  src/wazuh_modules/agent_upgrade/wm_agent_upgrade_tasks.c
  src/wazuh_modules/agent_upgrade/wm_agent_upgrade_tasks.h
  src/wazuh_modules/task_manager/wm_task_manager.c
  src/wazuh_modules/task_manager/wm_task_manager.h
Labels: core/modulesd

#5555 Get deletions in transaction
  src/dbsync/include/dbsync.h
  src/dbsync/include/typedef.h
  src/dbsync/src/db_exception.h
  src/dbsync/src/dbengine.h
  src/dbsync/src/dbsync.cpp
  src/dbsync/src/dbsyncPipelineFactory.cpp
  src/dbsync/src/dbsync_implementation.cpp
  src/dbsync/src/dbsync_implementation.h
  src/dbsync/src/sqlite/sqlite_dbengine.cpp
  src/dbsync/src/sqlite/sqlite_dbengine.h
  src/dbsync/tests/dbengine/dbengine_test.cpp
  src/dbsync/testtool/action.h
  src/dbsync/testtool/cmdArgsHelper.h
  src/dbsync/testtool/factoryAction.h
  src/dbsync/testtool/input/input7.json
  src/dbsync/utils/makeUnique.h
Labels: core/dbsync

#5573 Fixing bugs reported by Coverity for Vulnerability Detector
  src/config/wmodules-vuln-detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#5554 5423 sync single row
  src/dbsync/src/db_exception.h
  src/dbsync/src/dbengine.h
  src/dbsync/src/sqlite/isqlite_wrapper.h
  src/dbsync/src/sqlite/sqlite_dbengine.cpp
  src/dbsync/src/sqlite/sqlite_dbengine.h
  src/dbsync/src/sqlite/sqlite_wrapper.cpp
  src/dbsync/src/sqlite/sqlite_wrapper.h
  src/dbsync/tests/interface/dbsync_test.cpp
  src/dbsync/tests/interface/dbsync_test.h
  src/dbsync/tests/mocks/sqlitewrapper_mock.h
  src/dbsync/testtool/action.h
  src/dbsync/testtool/cmdArgsHelper.h
  src/dbsync/testtool/factoryAction.h
  src/dbsync/testtool/input/input7.json
  src/dbsync/testtool/input/inputSyncRowInsert.json
  src/dbsync/testtool/input/inputSyncRowModified.json
  src/dbsync/testtool/main.cpp
Labels: core/dbsync

#5548 Fix default gateway data gathering in Syscollector on Linux 2.6
  src/wazuh_modules/syscollector/syscollector_linux.c
Labels: bug, bug/regression, core/agent, core/syscollector

#5569 5291 data update in txn
  src/dbsync/include/typedef.h
  src/dbsync/src/db_exception.h
  src/dbsync/src/dbengine.h
  src/dbsync/src/dbsync.cpp
  src/dbsync/src/dbsyncPipelineFactory.cpp
  src/dbsync/src/dbsync_implementation.cpp
  src/dbsync/src/dbsync_implementation.h
  src/dbsync/src/sqlite/sqlite_dbengine.cpp
  src/dbsync/src/sqlite/sqlite_dbengine.h
  src/dbsync/tests/interface/dbsync_test.cpp
  src/dbsync/tests/pipelineFactory/dbsyncPipelineFactory_test.cpp
  src/dbsync/testtool/action.h
  src/dbsync/testtool/factoryAction.h
  src/dbsync/testtool/input/inputSyncRowInsertTxn.json
  src/dbsync/testtool/input/inputSyncRowModifiedTxn.json
Labels: core/agent, core/dbsync

#5588 Remove inactive client session in Logtest
  src/analysisd/logtest.c
  src/analysisd/logtest.h
  src/error_messages/error_messages.h
Labels: core/logtest

#5594 [5418] Delete specific rows based on PKs
  src/dbsync/src/dbengine.h
  src/dbsync/src/dbsync.cpp
  src/dbsync/src/dbsync_implementation.cpp
  src/dbsync/src/dbsync_implementation.h
  src/dbsync/src/sqlite/sqlite_dbengine.cpp
  src/dbsync/src/sqlite/sqlite_dbengine.h
  src/dbsync/tests/interface/dbsync_test.cpp
  src/dbsync/testtool/action.h
  src/dbsync/testtool/factoryAction.h
  src/dbsync/testtool/input/deleteRows.json
  src/dbsync/testtool/input/inputSyncRowInsert.json
Labels: core/dbsync

#5604 5419 get specific data universe
  src/dbsync/include/typedef.h
  src/dbsync/src/dbengine.h
  src/dbsync/src/dbsync.cpp
  src/dbsync/src/dbsync_implementation.cpp
  src/dbsync/src/dbsync_implementation.h
  src/dbsync/src/sqlite/isqlite_wrapper.h
  src/dbsync/src/sqlite/sqlite_dbengine.cpp
  src/dbsync/src/sqlite/sqlite_dbengine.h
  src/dbsync/src/sqlite/sqlite_wrapper.cpp
  src/dbsync/src/sqlite/sqlite_wrapper.h
  src/dbsync/tests/interface/dbsync_test.cpp
  src/dbsync/tests/mocks/sqlitewrapper_mock.h
  src/dbsync/tests/sqlite/sqlite_test.cpp
  src/dbsync/testtool/action.h
  src/dbsync/testtool/factoryAction.h
  src/dbsync/testtool/input/inputSelectRows.json
Labels: core/agent, core/dbsync

#5607 [5571] Adding smokeTests use cases folder with its data
  src/dbsync/images/dbsyncTestToolArchDiagram.png
  src/dbsync/smokeTests/InsertionUpdateAndDelete/Readme.md
  src/dbsync/smokeTests/InsertionUpdateAndDelete/deleteRows.json
  src/dbsync/smokeTests/InsertionUpdateAndDelete/inputSyncRowInsert.json
  src/dbsync/smokeTests/InsertionUpdateAndDelete/inputSyncRowInsertTxn.json
  src/dbsync/smokeTests/Readme.md
  src/dbsync/smokeTests/config.json
  src/dbsync/smokeTests/snapthotsUpdate/Readme.md
  src/dbsync/smokeTests/snapthotsUpdate/insertData.json
  src/dbsync/smokeTests/snapthotsUpdate/updateWithSnapshot.json
  src/dbsync/smokeTests/txnOperation/Readme.md
  src/dbsync/smokeTests/txnOperation/closeTxn.json
  src/dbsync/smokeTests/txnOperation/createTxn.json
  src/dbsync/smokeTests/txnOperation/inputSyncRowInsertTxn.json
  src/dbsync/smokeTests/txnOperation/inputSyncRowModifiedTxn.json
  src/dbsync/testtool/Readme.md
  src/dbsync/testtool/action.h
  src/dbsync/testtool/factoryAction.h
  src/dbsync/testtool/input/closeTxn.json
  src/dbsync/testtool/input/createTxn.json
  src/dbsync/testtool/input/insertData.json
  src/dbsync/testtool/input/updateWithSnapshot.json
Labels: core/dbsync

#5570 Fixing not escaped single quote in vuln detector SQL query
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: bug, community, core/vuln detector
