Repository wazuh/wazuh, pull requests merged in 2020-01, with the labels that each got.

#4314 Fixed CLANG analyzer (scan-build) for Windows agents building
  src/Makefile
Labels: core/Makefile, platform/windows

#4390 Prevent Remoted from exiting when a client closes a connection prematurely
  src/remoted/secure.c
Labels: bug, core/remoted

#4415 Stop directory recursion when readall is 0
  src/rootcheck/check_rc_sys.c
Labels: bug, bug/regression, core/rootcheck

#4477 Fix descriptor leak in Rootcheck's system scan
  src/rootcheck/check_rc_sys.c
Labels: bug, bug/regression, core/rootcheck

#4480 Fix a memory leak in Vulnerability Detector
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: bug, bug/regression, core/vuln detector

#4498 Add default directory to syscheck socket path
  src/shared/syscheck_op.c
Labels: bug, core/fim

#4493 Rootcheck - Fix false positive on Windows
  src/rootcheck/check_rc_sys.c
  src/rootcheck/run_rk_check.c
Labels: bug, core/rootcheck

#4528 Fix framework error when empty <directories> tag.
  framework/wazuh/configuration.py
Labels: bug, framework

#4522 Fim rework monitoring new directory
  src/config/syscheck-config.c
Labels: bug, core/fim
