Repository wazuh/wazuh, pull requests merged in 2020-11, with the labels that each got.

#6468 Adding connection_status to the cluster synchronization
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb_global.c
Labels: core/db

#6469 6356 os info linux
  src/Makefile
  src/wazuh_modules/syscollector/CMakeLists.txt
  src/wazuh_modules/syscollector/sysInfo.cpp
  src/wazuh_modules/syscollector/sysInfo.hpp
  src/wazuh_modules/syscollector/sysInfoCommonBSD.cpp
  src/wazuh_modules/syscollector/sysInfoFreeBSD.cpp
  src/wazuh_modules/syscollector/sysInfoLinux.cpp
  src/wazuh_modules/syscollector/sysInfoMac.cpp
  src/wazuh_modules/syscollector/sysInfoOpenBSD.cpp
  src/wazuh_modules/syscollector/sysInfoWin.cpp
  src/wazuh_modules/syscollector/sysOsParsers.cpp
  src/wazuh_modules/syscollector/sysOsParsers.h
  src/wazuh_modules/syscollector/syscollectorImp.cpp
  src/wazuh_modules/syscollector/tests/sysInfo/CMakeLists.txt
  src/wazuh_modules/syscollector/tests/sysInfo/sysInfoParsers_test.cpp
  src/wazuh_modules/syscollector/tests/sysInfo/sysInfoParsers_test.h
  src/wazuh_modules/syscollector/tests/sysInfo/sysInfo_test.cpp
  src/wazuh_modules/syscollector/testtool/CMakeLists.txt
Labels: core/dbsync-rsync-integration, core/syscollector

#6471 Deprecating get_agents_by_last_keepalive and get_agents_by_keepalive code
  src/headers/read-agents.h
  src/shared/read-agents.c
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb_agent.c
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/unit_tests/wazuh_db/test_wdb_global_parser.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.h
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_agent.c
  src/wazuh_db/wdb_global.c
  src/wazuh_db/wdb_parser.c
Labels: core/db

#6472 6359 network sysinfo provider
  src/Makefile
  src/build.py
  src/ci/__init__.py
  src/ci/utils.py
  src/shared_modules/utils/filesystemHelper.h
  src/shared_modules/utils/networkHelper.h
  src/shared_modules/utils/networkUnixHelper.h
  src/shared_modules/utils/stringHelper.h
  src/wazuh_modules/syscollector/CMakeLists.txt
  src/wazuh_modules/syscollector/cppcheckSuppress.txt
  src/wazuh_modules/syscollector/network/inetworkInterface.h
  src/wazuh_modules/syscollector/network/inetworkWrapper.h
  src/wazuh_modules/syscollector/network/networkBSDWrapper.h
  src/wazuh_modules/syscollector/network/networkFamilyDataAFactory.h
  src/wazuh_modules/syscollector/network/networkInterfaceBSD.cpp
  src/wazuh_modules/syscollector/network/networkInterfaceBSD.h
  src/wazuh_modules/syscollector/network/networkInterfaceLinux.cpp
  src/wazuh_modules/syscollector/network/networkInterfaceLinux.h
  src/wazuh_modules/syscollector/network/networkLinuxWrapper.h
  src/wazuh_modules/syscollector/sharedDefs.h
  src/wazuh_modules/syscollector/sysInfo.cpp
  src/wazuh_modules/syscollector/sysInfo.hpp
  src/wazuh_modules/syscollector/sysInfoCommonBSD.cpp
  src/wazuh_modules/syscollector/sysInfoLinux.cpp
  src/wazuh_modules/syscollector/sysInfoWin.cpp
  src/wazuh_modules/syscollector/syscollectorImp.cpp
  src/wazuh_modules/syscollector/tests/CMakeLists.txt
  src/wazuh_modules/syscollector/tests/sysInfo/sysInfo_test.cpp
  src/wazuh_modules/syscollector/tests/sysInfoNetworkBSD/CMakeLists.txt
  src/wazuh_modules/syscollector/tests/sysInfoNetworkBSD/main.cpp
  src/wazuh_modules/syscollector/tests/sysInfoNetworkBSD/sysInfoNetworkBSD_test.cpp
  src/wazuh_modules/syscollector/tests/sysInfoNetworkBSD/sysInfoNetworkBSD_test.h
  src/wazuh_modules/syscollector/tests/sysInfoNetworkLinux/CMakeLists.txt
  src/wazuh_modules/syscollector/tests/sysInfoNetworkLinux/main.cpp
  src/wazuh_modules/syscollector/tests/sysInfoNetworkLinux/sysInfoNetworkLinux_test.cpp
  src/wazuh_modules/syscollector/tests/sysInfoNetworkLinux/sysInfoNetworkLinux_test.h
  src/wazuh_modules/syscollector/testtool/CMakeLists.txt
Labels: core/dbsync-rsync-integration, core/syscollector

#6505 Vulnerability Detector: Fixed agent OS distribution version value for some cases
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#6507 Vulnerability Detector: Lowercase vendor only for macos systems
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#6514 Remove DISCON_TIME usage from the upgrade module - Implementation
  src/unit_tests/wazuh_modules/agent_upgrade/test_wm_agent_upgrade_commands.c
  src/unit_tests/wazuh_modules/agent_upgrade/test_wm_agent_upgrade_validate.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_modules/wm_agent_upgrade_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_modules/wm_agent_upgrade_wrappers.h
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_commands.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_manager.h
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_tasks.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_validate.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_validate.h
Labels: upgrade

#6510 6354 os info win
  src/Makefile
  src/wazuh_modules/syscollector/CMakeLists.txt
  src/wazuh_modules/syscollector/sysInfoWin.cpp
  src/wazuh_modules/syscollector/sysOsInfo/sysOsInfoInterface.h
  src/wazuh_modules/syscollector/sysOsInfo/sysOsInfoWin.cpp
  src/wazuh_modules/syscollector/sysOsInfo/sysOsInfoWin.h
  src/wazuh_modules/syscollector/sysOsInfo/sysOsParsers.cpp
  src/wazuh_modules/syscollector/sysOsInfo/sysOsParsers.h
  src/wazuh_modules/syscollector/tests/sysInfo/CMakeLists.txt
  src/wazuh_modules/syscollector/tests/sysInfo/sysOsInfo_test.cpp
  src/wazuh_modules/syscollector/tests/sysInfo/sysOsInfo_test.h
  src/wazuh_modules/syscollector/testtool/CMakeLists.txt
Labels: core/dbsync-rsync-integration, core/syscollector

#6516 Preventing the agents to be added to the disconnection alert hash table in workers
  src/monitord/monitor_actions.c
  src/unit_tests/monitord/test_monitor_actions.c
Labels: core/monitord

#6524 Update information shown in API log debug messages.
  api/api/spec/spec.yaml
  framework/wazuh/core/cluster/dapi/dapi.py
  framework/wazuh/core/exception.py
  framework/wazuh/security.py
Labels: API, framework

#6526 Fix framework security unittests.
  framework/wazuh/tests/data/security/users_roles_test_cases.yml
Labels: API, framework

#6531 Fix wdb offset
  api/test/integration/test_manager_endpoints.tavern.yaml
  framework/wazuh/core/wdb.py
Labels: framework

#6480 Support for PCRE regular expressions
  README.md
  src/Makefile
  src/analysisd/analysisd.c
  src/analysisd/config_json.c
  src/analysisd/decoders/decode-xml.c
  src/analysisd/decoders/decoder.c
  src/analysisd/decoders/decoder.h
  src/analysisd/expression.c
  src/analysisd/expression.h
  src/analysisd/rules.c
  src/analysisd/rules.h
  src/error_messages/error_messages.h
  src/error_messages/warning_messages.h
  src/headers/shared.h
  src/headers/validate_op.h
  src/os_regex/os_regex.c
  src/os_regex/os_regex.h
  src/os_xml/os_xml.c
  src/os_xml/os_xml.h
  src/unit_tests/CMakeLists.txt
  src/unit_tests/analysisd/CMakeLists.txt
  src/unit_tests/analysisd/test_decode-xml.c
  src/unit_tests/analysisd/test_expression.c
  src/unit_tests/analysisd/test_rules.c
  src/unit_tests/os_xml/CMakeLists.txt
  src/unit_tests/os_xml/test_os_xml.c
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/wazuh_modules/vulnerability_detector/CMakeLists.txt
  src/unit_tests/wrappers/externals/pcre2/pcre2_wrappers.c
  src/unit_tests/wrappers/externals/pcre2/pcre2_wrappers.h
  src/unit_tests/wrappers/wazuh/os_regex/os_regex_wrappers.c
  src/unit_tests/wrappers/wazuh/os_regex/os_regex_wrappers.h
Labels: core/Makefile, core/analysisd, core/regex, ruleset

#6543 6121 - rsync dbsync thread and config of syscollector parameters.
  src/wazuh_modules/syscollector/sysInfo.hpp
  src/wazuh_modules/syscollector/sysInfoInterface.h
  src/wazuh_modules/syscollector/syscollectorImp.cpp
  src/wazuh_modules/syscollector/syscollectorImp.h
  src/wazuh_modules/syscollector/tests/CMakeLists.txt
  src/wazuh_modules/syscollector/tests/sysCollectorImp/CMakeLists.txt
  src/wazuh_modules/syscollector/tests/sysCollectorImp/main.cpp
  src/wazuh_modules/syscollector/tests/sysCollectorImp/syscollectorImp_test.cpp
  src/wazuh_modules/syscollector/tests/sysCollectorImp/syscollectorImp_test.h
  src/wazuh_modules/syscollector/testtool/main.cpp
Labels: core/dbsync-rsync-integration, core/syscollector

#6496 Add access to rootcheck DB and new rootcheck endpoints.
  CHANGELOG.md
  api/api/controllers/rootcheck_controller.py
  api/api/spec/spec.yaml
  api/test/integration/env/configurations/base/agent/config/ossec_4.x.conf
  api/test/integration/env/configurations/rbac/rootcheck/black_config.txt
  api/test/integration/env/configurations/rbac/rootcheck/black_config.yaml
  api/test/integration/env/configurations/rbac/rootcheck/white_config.txt
  api/test/integration/env/configurations/rbac/rootcheck/white_config.yaml
  api/test/integration/test_rbac_black_rootcheck_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_rootcheck_endpoints.tavern.yaml
  api/test/integration/test_rootcheck_endpoints.tavern.yaml
  framework/wazuh/core/rootcheck.py
  framework/wazuh/core/tests/data/test_rootcheck/schema_rootcheck_test.sql
  framework/wazuh/core/tests/test_rootcheck.py
  framework/wazuh/core/wdb.py
  framework/wazuh/rbac/default/policies.yaml
  framework/wazuh/rbac/default/relationships.yaml
  framework/wazuh/rootcheck.py
  framework/wazuh/syscheck.py
  framework/wazuh/tests/data/security/rbac_catalog.yml
  framework/wazuh/tests/test_rootcheck.py
Labels: API, framework

#6557 Update max_agents limitation in framework.
  api/api/spec/spec.yaml
  api/test/integration/test_agents_GET_endpoints.tavern.yaml
  api/test/integration/test_cluster_endpoints.tavern.yaml
  framework/wazuh/__init__.py
Labels: framework

#6544 6126 current port usage linux/windows/macos
  src/Makefile
  src/shared_modules/utils/networkUnixHelper.h
  src/shared_modules/utils/stringHelper.h
  src/shared_modules/utils/tests/stringHelper_test.cpp
  src/wazuh_modules/syscollector/network/networkBSDWrapper.h
  src/wazuh_modules/syscollector/network/networkFamilyDataAFactory.h
  src/wazuh_modules/syscollector/ports/iportInterface.h
  src/wazuh_modules/syscollector/ports/iportWrapper.h
  src/wazuh_modules/syscollector/ports/portBSDWrapper.h
  src/wazuh_modules/syscollector/ports/portImpl.h
  src/wazuh_modules/syscollector/ports/portLinuxWrapper.h
  src/wazuh_modules/syscollector/ports/portWindowsWrapper.h
  src/wazuh_modules/syscollector/sharedDefs.h
  src/wazuh_modules/syscollector/sysInfo.cpp
  src/wazuh_modules/syscollector/sysInfo.hpp
  src/wazuh_modules/syscollector/sysInfoCommonBSD.cpp
  src/wazuh_modules/syscollector/sysInfoFreeBSD.cpp
  src/wazuh_modules/syscollector/sysInfoInterface.h
  src/wazuh_modules/syscollector/sysInfoLinux.cpp
  src/wazuh_modules/syscollector/sysInfoMac.cpp
  src/wazuh_modules/syscollector/sysInfoOpenBSD.cpp
  src/wazuh_modules/syscollector/sysInfoWin.cpp
  src/wazuh_modules/syscollector/syscollectorImp.cpp
  src/wazuh_modules/syscollector/tests/CMakeLists.txt
  src/wazuh_modules/syscollector/tests/sysInfo/sysInfo_test.cpp
  src/wazuh_modules/syscollector/tests/sysInfoPorts/CMakeLists.txt
  src/wazuh_modules/syscollector/tests/sysInfoPorts/main.cpp
  src/wazuh_modules/syscollector/tests/sysInfoPorts/sysInfoPort_test.cpp
  src/wazuh_modules/syscollector/tests/sysInfoPorts/sysInfoPort_test.h
  src/wazuh_modules/syscollector/testtool/CMakeLists.txt
Labels: core/dbsync-rsync-integration, core/syscollector

#6568 Removing fim_offset, reg_offset, and status from agent table in global.db
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb_agent.c
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/unit_tests/wazuh_db/test_wdb_global_parser.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.h
  src/wazuh_db/schema_global.sql
  src/wazuh_db/schema_global_upgrade_v2.sql
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_agent.c
  src/wazuh_db/wdb_global.c
  src/wazuh_db/wdb_parser.c
  src/wazuh_modules/wm_database.c
Labels: core/db

#6570 6351 packages sync
  src/shared_modules/dbsync/src/sqlite/sqlite_dbengine.cpp
  src/wazuh_modules/syscollector/CMakeLists.txt
  src/wazuh_modules/syscollector/sysInfoLinux.cpp
  src/wazuh_modules/syscollector/sysInfoMac.cpp
  src/wazuh_modules/syscollector/syscollectorImp.cpp
  src/wazuh_modules/syscollector/syscollectorImp.h
  src/wazuh_modules/syscollector/tests/sysCollectorImp/CMakeLists.txt
  src/wazuh_modules/syscollector/tests/sysCollectorImp/syscollectorImp_test.cpp
  src/wazuh_modules/syscollector/testtool/main.cpp
Labels: core/dbsync-rsync-integration, core/syscollector

#6575 Fix special character in default policies file.
  framework/wazuh/rbac/default/policies.yaml
  framework/wazuh/tests/data/security/rbac_catalog.yml
Labels: RBAC, framework

#6527 Registry UT: syscheck_config
  src/unit_tests/CMakeLists.txt
  src/unit_tests/syscheckd/test_syscheck.c
  src/unit_tests/syscheckd/test_syscheck_config.c
  src/unit_tests/test_syscheck_config_win.conf
Labels: core/fim, core/fim/registry

#6582 6351 processes sync
  src/wazuh_modules/syscollector/syscollectorImp.cpp
  src/wazuh_modules/syscollector/tests/sysCollectorImp/syscollectorImp_test.cpp
Labels: core/dbsync-rsync-integration, core/syscollector

#6585 6259 os and hardware sync
  src/wazuh_modules/syscollector/syscollectorImp.cpp
  src/wazuh_modules/syscollector/tests/sysCollectorImp/syscollectorImp_test.cpp
Labels: core/dbsync-rsync-integration, core/syscollector

#6584 Fix analysisd user permission drop
  src/analysisd/analysisd.c
  src/analysisd/decoders/decode-xml.c
  src/analysisd/lists.c
  src/analysisd/rules.c
Labels: core/analysisd, core/logtest

#6593 [Development] Vulnerability-Detector: Add a new MacOS product name
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#6588 Fixing agents_disconnection_alert_time default value
  etc/ossec-local.conf
  etc/ossec-server.conf
  etc/ossec.conf
  etc/templates/config/generic/global.template
  src/monitord/monitord.c
  src/remoted/config.c
  src/unit_tests/monitord/test_monitor_actions.c
  src/unit_tests/monitord/test_monitord.c
Labels: core/monitord

#6589 Updating the get-agents-by-connection-status command with the chunks logic
  src/unit_tests/wazuh_db/test_wdb_agent.c
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/unit_tests/wazuh_db/test_wdb_global_parser.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.h
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_agent.c
  src/wazuh_db/wdb_global.c
  src/wazuh_db/wdb_parser.c
Labels: core/db

#6571 Change disconnect-agents logic to work by chunks
  src/unit_tests/wazuh_db/test_wdb_agent.c
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/unit_tests/wazuh_db/test_wdb_global_parser.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.h
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_agent.c
  src/wazuh_db/wdb_global.c
  src/wazuh_db/wdb_parser.c
Labels: core/db

#6509 Registry UT: fim_sync
  src/unit_tests/syscheckd/CMakeLists.txt
  src/unit_tests/syscheckd/test_create_db.c
  src/unit_tests/syscheckd/test_fim_sync.c
  src/unit_tests/wrappers/wazuh/shared/integrity_op_wrappers.c
  src/unit_tests/wrappers/wazuh/shared/integrity_op_wrappers.h
  src/unit_tests/wrappers/wazuh/syscheckd/create_db_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/create_db_wrappers.h
  src/unit_tests/wrappers/wazuh/syscheckd/fim_db_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/fim_db_wrappers.h
Labels: core/fim, core/fim/registry

#6481 Fix test_run_check unit test for Linux and Windows
  src/unit_tests/syscheckd/test_run_check.c
  src/unit_tests/wrappers/wazuh/shared/mq_op_wrappers.c
  src/unit_tests/wrappers/wazuh/shared/mq_op_wrappers.h
  src/unit_tests/wrappers/wazuh/syscheckd/create_db_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/create_db_wrappers.h
  src/unit_tests/wrappers/wazuh/syscheckd/fim_db_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/fim_db_wrappers.h
  src/unit_tests/wrappers/wazuh/syscheckd/run_realtime_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/run_realtime_wrappers.h
  src/unit_tests/wrappers/windows/processthreadsapi_wrappers.c
  src/unit_tests/wrappers/windows/processthreadsapi_wrappers.h
Labels: core/fim, core/fim/registry

#6583 Registry UT: test_create_db
  src/unit_tests/syscheckd/CMakeLists.txt
  src/unit_tests/syscheckd/expect_fim_diff_changes.c
  src/unit_tests/syscheckd/test_create_db.c
  src/unit_tests/syscheckd/test_fim.h
  src/unit_tests/syscheckd/test_run_check.c
  src/unit_tests/wrappers/wazuh/os_crypto/md5_op_wrappers.c
  src/unit_tests/wrappers/wazuh/os_crypto/md5_op_wrappers.h
  src/unit_tests/wrappers/wazuh/shared/syscheck_op_wrappers.c
  src/unit_tests/wrappers/wazuh/shared/syscheck_op_wrappers.h
  src/unit_tests/wrappers/wazuh/syscheckd/fim_db_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/fim_db_wrappers.h
  src/unit_tests/wrappers/wazuh/syscheckd/fim_diff_changes_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/fim_diff_changes_wrappers.h
  src/unit_tests/wrappers/wazuh/syscheckd/registry.c
  src/unit_tests/wrappers/wazuh/syscheckd/registry.h
Labels: core/fim, core/fim/registry

#6595 Fix special character in default policies file. (#6575)
  framework/wazuh/rbac/default/policies.yaml
Labels: RBAC, framework

#6444 Fix error on getsockopt if socket is disconnected
  src/os_net/os_net.c
Labels: core/shared

#4560 Fixed agent limit logic
  CHANGELOG.md
  src/os_crypto/shared/keys.c
Labels: core/auth, operations

#6631 6192 remote sync threaded init
  src/shared_modules/rsync/src/rsyncImplementation.cpp
  src/shared_modules/rsync/tests/interface/rsync_test.cpp
  src/wazuh_modules/syscollector/CMakeLists.txt
  src/wazuh_modules/syscollector/syscollectorImp.cpp
  src/wazuh_modules/syscollector/syscollectorImp.h
  src/wazuh_modules/syscollector/tests/sysCollectorImp/syscollectorImp_test.cpp
  src/wazuh_modules/syscollector/testtool/main.cpp
Labels: core/dbsync-rsync-integration, core/syscollector

#6630 [6125] Networks and Ports sync integration
  src/shared_modules/rsync/tests/interface/rsync_test.cpp
  src/wazuh_modules/syscollector/network/inetworkWrapper.h
  src/wazuh_modules/syscollector/network/networkBSDWrapper.h
  src/wazuh_modules/syscollector/network/networkInterfaceBSD.cpp
  src/wazuh_modules/syscollector/network/networkInterfaceLinux.cpp
  src/wazuh_modules/syscollector/network/networkInterfaceWindows.cpp
  src/wazuh_modules/syscollector/network/networkLinuxWrapper.h
  src/wazuh_modules/syscollector/network/networkWindowsWrapper.h
  src/wazuh_modules/syscollector/sysInfoWin.cpp
  src/wazuh_modules/syscollector/syscollectorImp.cpp
  src/wazuh_modules/syscollector/tests/sysCollectorImp/syscollectorImp_test.cpp
  src/wazuh_modules/syscollector/tests/sysInfoNetworkBSD/sysInfoNetworkBSD_test.cpp
  src/wazuh_modules/syscollector/tests/sysInfoNetworkLinux/sysInfoNetworkLinux_test.cpp
  src/wazuh_modules/syscollector/tests/sysInfoNetworkWindows/sysInfoNetworkWindows_test.cpp
Labels: core/dbsync-rsync-integration, core/syscollector

#6572 Remove old agent-info code in cluster.
  framework/wazuh/core/cluster/cluster.py
  framework/wazuh/core/cluster/master.py
  framework/wazuh/core/cluster/tests/test_cluster.py
  framework/wazuh/core/cluster/worker.py
Labels: cluster, framework

#6548 Remove default items from RBAC sql schema.
  api/test/integration/env/configurations/security/manager/schema_security_test.sql
  api/test/integration/env/configurations/security/manager/security_config.sh
Labels: API

#6614 Refactor cluster error handling in integrity process.
  framework/wazuh/core/cluster/client.py
  framework/wazuh/core/cluster/common.py
  framework/wazuh/core/cluster/master.py
  framework/wazuh/core/cluster/worker.py
Labels: cluster, framework

#6632 Setting the agents as syncreq in global.db when they change the connection status
  src/remoted/manager.c
  src/remoted/secure.c
  src/unit_tests/wazuh_db/test_wdb_agent.c
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/unit_tests/wazuh_db/test_wdb_global_parser.c
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_agent.c
  src/wazuh_db/wdb_global.c
  src/wazuh_db/wdb_parser.c
Labels: team/duff

#6601 Read old CA config in the upgrade module
  CHANGELOG.md
  src/config/authd-config.c
  src/config/wmodules-agent-upgrade.c
Labels: core/modulesd

#6644 Setting the agents as syncreq in global.db when monitord disconnect them
  src/monitord/main.c
  src/monitord/monitor_actions.c
  src/monitord/monitord.c
  src/monitord/monitord.h
  src/unit_tests/monitord/test_monitor_actions.c
  src/unit_tests/wazuh_db/test_wdb_agent.c
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/unit_tests/wazuh_db/test_wdb_global_parser.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agent_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agent_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.h
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_agent.c
  src/wazuh_db/wdb_global.c
  src/wazuh_db/wdb_parser.c
Labels: core/db, core/monitord, team/duff

#6643 Unify chunks logic on WazuhDB
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb.c
  src/unit_tests/wazuh_db/test_wdb_agent.c
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/unit_tests/wazuh_db/test_wdb_global_parser.c
  src/unit_tests/wrappers/externals/sqlite/sqlite3_wrappers.c
  src/unit_tests/wrappers/externals/sqlite/sqlite3_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_wrappers.h
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_agent.c
  src/wazuh_db/wdb_global.c
  src/wazuh_db/wdb_parser.c
Labels: core/db, team/duff

#6607 Fix analysisd compilation warnings in Wazuh 4.1.0
  src/analysisd/alerts/log.c
  src/analysisd/expression.c
  src/analysisd/rules.c
Labels: core/logtest, packages

#6662 Fix disconnection sync on master
  src/monitord/monitor_actions.c
  src/remoted/secure.c
Labels: core/db, team/duff

#6669 6192 remote sync net ports
  src/wazuh_modules/syscollector/src/syscollectorImp.cpp
Labels: core/dbsync-rsync-integration, core/syscollector

#6679 Add definition for new types(not defined in C5)
  src/data_provider/src/network/networkLinuxWrapper.h
Labels: bug, core/dbsync-rsync-integration, core/syscollector

#6665 Fixing limitations introduced to Vulnerability Detector and Monitord as part of the new monitoring mechanism of agents disconnections
  etc/ossec-local.conf
  etc/ossec-server.conf
  etc/ossec.conf
  etc/templates/config/generic/global.template
  src/monitord/main.c
  src/monitord/monitor_actions.c
  src/monitord/monitord.c
  src/monitord/monitord.h
  src/remoted/config.c
  src/remoted/manager.c
  src/remoted/secure.c
  src/unit_tests/monitord/test_monitor_actions.c
  src/unit_tests/monitord/test_monitord.c
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb.c
  src/unit_tests/wazuh_db/test_wdb_agent.c
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/unit_tests/wazuh_db/test_wdb_global_parser.c
  src/unit_tests/wrappers/externals/sqlite/sqlite3_wrappers.c
  src/unit_tests/wrappers/externals/sqlite/sqlite3_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agent_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agent_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_wrappers.h
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_agent.c
  src/wazuh_db/wdb_global.c
  src/wazuh_db/wdb_parser.c
Labels: team/duff

#6695 6677 Win agent shutdown delayed.
  src/wazuh_modules/wm_syscollector.c
  src/win32/win_utils.c
Labels: bug, core/dbsync-rsync-integration, core/syscollector

#6696 Stop a race condition when deleting multiple files
  src/syscheckd/fim_db.c
Labels: bug, core/agent, core/fim

#6710 6702 solaris compilation
  src/Makefile
  src/data_provider/CMakeLists.txt
  src/data_provider/src/sysInfoLinux.cpp
  src/data_provider/src/sysInfoUnix.cpp
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/schema_upgrade_v6.sql
  src/wazuh_modules/syscollector/src/syscollectorImp.cpp
Labels: core/dbsync-rsync-integration, core/syscollector

#6711 Find before access, to avoid exceptions
  src/data_provider/CMakeLists.txt
  src/data_provider/src/sysInfoLinux.cpp
Labels: core/dbsync-rsync-integration, core/syscollector

#6713 Vulnerability Detector: Check value is not null before atoi function
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#6706 Syscollector: Only accept well formatted hotfixes
  src/wazuh_modules/syscollector/syscollector.h
  src/wazuh_modules/syscollector/syscollector_windows.c
Labels: core/syscollector, platform/windows

#6738 Fix makefile to clean libpcre2 when clean-external
  src/Makefile
Labels: bug, core/Makefile
