Repository wazuh/wazuh, pull requests merged in 2020-12, with the labels that each got.

#6719 Fix zombie process leak in Modulesd
  src/wazuh_modules/wm_exec.c
Labels: bug, core/command, core/modulesd

#6757 Manager dynamic queries and decoder for dbsync client implementation
  src/analysisd/decoders/syscollector.c
  src/data_provider/CMakeLists.txt
  src/data_provider/src/network/networkLinuxWrapper.h
  src/data_provider/src/sysInfoFreeBSD.cpp
  src/data_provider/src/sysInfoLinux.cpp
  src/data_provider/src/sysInfoMac.cpp
  src/data_provider/src/sysInfoWin.cpp
  src/headers/buffer_op.h
  src/headers/shared.h
  src/init/inst-functions.sh
  src/shared/buffer_op.c
  src/shared_modules/dbsync/CMakeLists.txt
  src/shared_modules/rsync/CMakeLists.txt
  src/shared_modules/utils/tests/CMakeLists.txt
  src/unit_tests/CMakeLists.txt
  src/unit_tests/agent.cmake
  src/unit_tests/analysisd/CMakeLists.txt
  src/unit_tests/analysisd/test_decoder_syscollector.c
  src/unit_tests/server.cmake
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/shared/test_buffer_op.c
  src/unit_tests/wazuh_modules/CMakeLists.txt
  src/unit_tests/wazuh_modules/aws/CMakeLists.txt
  src/unit_tests/wazuh_modules/azure/CMakeLists.txt
  src/unit_tests/wazuh_modules/ciscat/CMakeLists.txt
  src/unit_tests/wazuh_modules/command/CMakeLists.txt
  src/unit_tests/wazuh_modules/docker/CMakeLists.txt
  src/unit_tests/wazuh_modules/gcp/CMakeLists.txt
  src/unit_tests/wazuh_modules/oscap/CMakeLists.txt
  src/unit_tests/wazuh_modules/sca/CMakeLists.txt
  src/unit_tests/wazuh_modules/scheduling/CMakeLists.txt
  src/unit_tests/wazuh_modules/syscollector/CMakeLists.txt
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_global.c
  src/wazuh_db/wdb_parser.c
  src/wazuh_modules/syscollector/CMakeLists.txt
  src/wazuh_modules/syscollector/src/syscollectorImp.cpp
  src/wazuh_modules/wm_syscollector.h
  src/win32/win_utils.c
Labels: core/dbsync-rsync-integration, core/syscollector

#6833 Fix race condition in Remoted when setting umask
  src/headers/agent_op.h
  src/shared/agent_op.c
  src/unit_tests/wazuh_modules/scheduling/wmodules_scheduling_helpers.c
Labels: bug, core/remoted

#6827 Purge ossec-logtest from Wazuh
  .gitignore
  active-response/restart.sh
  src/Makefile
  src/analysisd/analysisd.c
  src/analysisd/cleanevent.c
  src/analysisd/decoders/decoder.c
  src/analysisd/decoders/plugins/json_decoder.c
  src/analysisd/dodiff.c
  src/analysisd/eventinfo.c
  src/analysisd/eventinfo.h
  src/analysisd/fts.c
  src/analysisd/fts.h
  src/analysisd/makelists.c
  src/analysisd/rules.c
  src/analysisd/testrule.c
  src/init/inst-functions.sh
  src/init/wazuh-local.sh
  src/init/wazuh-server.sh
  src/init/wazuh/wazuh.sh
  src/shared/rules_op.c
Labels: core/logtest, wazuh-stack

#6854 6837 set rpath for unix based systems
  src/data_provider/CMakeLists.txt
  src/shared_modules/dbsync/CMakeLists.txt
  src/shared_modules/rsync/CMakeLists.txt
  src/wazuh_modules/syscollector/CMakeLists.txt
Labels: bug, core/dbsync-rsync-integration, core/syscollector

#6873 6872 compile time error in winagent target
  src/client-agent/receiver-win.c
  src/client-agent/receiver.c
  src/wazuh_modules/wmcom.c
  src/wazuh_modules/wmodules.h
Labels: core/dbsync-rsync-integration, core/syscollector

#6857 Changes to clean manager tables when an update occur
  src/wazuh_db/schema_upgrade_v6.sql
Labels: core/dbsync-rsync-integration, core/syscollector

#6859 Add limit for stmt cache instantiation
  src/shared_modules/dbsync/src/sqlite/sqlite_dbengine.cpp
  src/shared_modules/dbsync/src/sqlite/sqlite_dbengine.h
Labels: core/dbsync-rsync-integration, core/syscollector

#6877 Add new component and remove unused log.
  src/analysisd/decoders/dbsync.c
  src/headers/sym_load.h
  src/shared/sym_load.c
  src/tests/tap_os_net.c
  src/unit_tests/analysisd/test_dbsync.c
  src/wazuh_db/wdb_integrity.c
Labels: bug, core/dbsync-rsync-integration, core/syscollector

#6858 Remove pipe as separator for dbsync generic synchro
  src/analysisd/decoders/syscollector.c
  src/headers/wazuhdb_op.h
  src/unit_tests/analysisd/test_decoder_syscollector.c
  src/wazuh_db/wdb_global.c
Labels: core/dbsync-rsync-integration, core/syscollector

#6856 Add constraint to avoid rows issues.
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/schema_upgrade_v6.sql
Labels: core/dbsync-rsync-integration, core/syscollector

#3605 Makefile help typo
  src/Makefile
Labels: core/Makefile

#6418 Improve the user check in shared.sh
  src/init/shared.sh
Labels: hacktoberfest-accepted, installer

#5081 Inventory states, send differences to the manager
  etc/ossec-agent.conf
  etc/ossec-local.conf
  etc/ossec-server.conf
  etc/ossec.conf
  etc/templates/config/AIX/inventory.template
  etc/templates/config/HP-UX/inventory.template
  etc/templates/config/README.md
  etc/templates/config/bsd/inventory.template
  etc/templates/config/darwin/inventory.template
  etc/templates/config/generic/inventory.template
  etc/templates/config/sunos/inventory.template
  src/analysisd/decoders/syscollector.c
  src/config/config.c
  src/config/config.h
  src/config/wmodules-config.c
  src/config/wmodules_syscollector.c
  src/headers/file_op.h
  src/init/inst-functions.sh
  src/shared/file_op.c
  src/unit_tests/CMakeLists.txt
  src/unit_tests/agent.cmake
  src/unit_tests/analysisd/CMakeLists.txt
  src/unit_tests/analysisd/test_decoder_syscollector.c
  src/unit_tests/server.cmake
  src/unit_tests/test_syscollector.conf
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb_global_parser.c
  src/unit_tests/wazuh_db/test_wdb_inventory.c
  src/unit_tests/wazuh_db/test_wdb_parser.c
  src/unit_tests/wazuh_modules/CMakeLists.txt
  src/unit_tests/wazuh_modules/scheduling/CMakeLists.txt
  src/unit_tests/wazuh_modules/syscollector/CMakeLists.txt
  src/unit_tests/wazuh_modules/syscollector/test_syscollector_common.c
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/schema_upgrade_v6.sql
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_inventory.c
  src/wazuh_db/wdb_parser.c
  src/wazuh_db/wdb_syscollector.c
  src/wazuh_db/wdb_upgrade.c
  src/wazuh_modules/syscollector/syscollector.h
  src/wazuh_modules/syscollector/syscollector_bsd.c
  src/wazuh_modules/syscollector/syscollector_common.c
  src/wazuh_modules/syscollector/syscollector_linux.c
  src/wazuh_modules/syscollector/syscollector_win_ext.c
  src/wazuh_modules/syscollector/syscollector_windows.c
  src/wazuh_modules/wm_control.c
  src/win32/ossec-pre6.conf
  src/win32/ossec.conf
  src/win32/win_utils.c
Labels: core/syscollector, enhancement

#6888 [6887] RTR tool fix
  src/data_provider/cppcheckSuppress.txt
  src/shared_modules/dbsync/cppcheckSuppress.txt
  src/shared_modules/rsync/cppcheckSuppress.txt
  src/wazuh_modules/syscollector/cppcheckSuppress.txt
Labels: bug, core/dbsync-rsync-integration

#6896 6864 unique sync index
  src/analysisd/decoders/syscollector.c
  src/shared_modules/utils/stringHelper.h
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/schema_upgrade_v6.sql
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_parser.c
  src/wazuh_db/wdb_syscollector.c
  src/wazuh_modules/syscollector/cppcheckSuppress.txt
  src/wazuh_modules/syscollector/src/syscollectorImp.cpp
  src/wazuh_modules/wm_syscollector.c
Labels: bug, core/dbsync-rsync-integration, core/syscollector

#6879 Add sys info dependencies
  src/Makefile
  src/data_provider/CMakeLists.txt
  src/shared_modules/dbsync/CMakeLists.txt
  src/shared_modules/rsync/CMakeLists.txt
  src/shared_modules/rsync/tests/interface/rsync_test.cpp
  src/wazuh_modules/syscollector/CMakeLists.txt
Labels: core/syscollector, enhancement

#6919 Fix manager API integration test healthcheck
  api/test/integration/env/configurations/manager/agent/healthcheck/healthcheck.py
Labels: API, bug, qa

#6823 Changed the use of overlap.Pointer, according to Windows documentation
  src/syscheckd/run_realtime.c
  src/unit_tests/syscheckd/test_run_realtime.c
Labels: bug, core/fim, platform/windows

#6899 [6781] Updated agent and manager tables with os_patch field
  src/analysisd/decoders/syscollector.c
  src/data_provider/cppcheckSuppress.txt
  src/data_provider/src/sharedDefs.h
  src/data_provider/src/sysInfoFreeBSD.cpp
  src/data_provider/src/sysInfoLinux.cpp
  src/data_provider/src/sysInfoMac.cpp
  src/data_provider/src/sysInfoOpenBSD.cpp
  src/data_provider/src/sysInfoUnix.cpp
  src/data_provider/src/sysInfoWin.cpp
  src/unit_tests/analysisd/test_decoder_syscollector.c
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/schema_upgrade_v6.sql
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_parser.c
  src/wazuh_db/wdb_syscollector.c
  src/wazuh_modules/syscollector/cppcheckSuppress.txt
  src/wazuh_modules/syscollector/src/syscollectorImp.cpp
  src/wazuh_modules/syscollector/tests/sysCollectorImp/syscollectorImp_test.cpp
Labels: core/syscollector, enhancement

#6931 Fix coverity issues (CIDs: 215804, 215805, 215806, 215812)
  src/analysisd/decoders/syscollector.c
  src/shared/buffer_op.c
  src/shared_modules/dbsync/src/dbsync.cpp
  src/shared_modules/rsync/src/rsync.cpp
Labels: bug, core/syscollector, core/sysinfo, coverity

#6928 Coverity fixes (CIDs: 215807, 215810, 215811, 215815 and 215816)
  src/analysisd/decoders/syscollector.c
  src/wazuh_db/wdb_global.c
  src/wazuh_db/wdb_parser.c
Labels: bug, core/dbsync-rsync-integration, core/syscollector, coverity

#6922 [Framework] Deprecate update_ruleset script and ruleset version from API endpoints
  CHANGELOG.md
  api/api/spec/spec.yaml
  api/test/integration/test_cluster_endpoints.tavern.yaml
  api/test/integration/test_manager_endpoints.tavern.yaml
  framework/Makefile
  framework/scripts/update_ruleset.py
  framework/wazuh/__init__.py
Labels: API, enhancement, framework

#6940 Migrate README file from the ruleset repository to the ruleset folder.
  ruleset/README.md
Labels: enhancement, ruleset

#6828 Change to realtime when auditd is in immutable mode
  src/error_messages/error_messages.h
  src/error_messages/warning_messages.h
  src/headers/audit_op.h
  src/syscheckd/syscheck.h
  src/syscheckd/whodata/syscheck_audit.c
  src/unit_tests/shared/test_audit_op.c
  src/unit_tests/syscheckd/CMakeLists.txt
  src/unit_tests/syscheckd/test_syscheck_audit.c
  src/unit_tests/wrappers/externals/audit/libaudit_wrappers.c
  src/unit_tests/wrappers/externals/audit/libaudit_wrappers.h
Labels: core/fim, core/fim/realtime, core/fim/whodata, enhancement

#6955 [6779] macos pkg decoder
  src/data_provider/src/packages/brewWrapper.h
  src/data_provider/src/packages/packageMac.h
  src/data_provider/src/packages/pkgWrapper.h
  src/data_provider/src/sharedDefs.h
  src/data_provider/src/sysInfoMac.cpp
Labels: core/dbsync-rsync-integration, enhancement

#6946 Fix race condition in syscollector database cleanup
  src/shared_modules/dbsync/cppcheckSuppress.txt
  src/shared_modules/dbsync/include/db_exception.h
  src/shared_modules/dbsync/src/sqlite/sqlite_dbengine.cpp
  src/shared_modules/dbsync/tests/dbengine/dbengine_test.cpp
  src/wazuh_modules/syscollector/include/syscollector.hpp
  src/wazuh_modules/syscollector/src/syscollectorImp.cpp
Labels: bug, core/dbsync-rsync-integration

#6990 [6926] Coverity fixes for the assigned CIDs
  src/data_provider/src/sysInfoLinux.cpp
  src/data_provider/testtool/main.cpp
  src/shared_modules/rsync/cppcheckSuppress.txt
  src/shared_modules/rsync/src/rsyncImplementation.cpp
Labels: bug, core/dbsync-rsync-integration, coverity

#6976 6895 manager agent pid types syscollector
  src/data_provider/src/sysInfoLinux.cpp
  src/data_provider/src/sysInfoMac.cpp
  src/data_provider/src/sysInfoWin.cpp
  src/shared_modules/dbsync/src/dbsyncPipelineFactory.cpp
  src/shared_modules/dbsync/src/sqlite/sqlite_dbengine.cpp
  src/shared_modules/dbsync/tests/pipelineFactory/dbsyncPipelineFactory_test.cpp
  src/shared_modules/rsync/cppcheckSuppress.txt
  src/wazuh_db/wdb_syscollector.c
  src/wazuh_modules/syscollector/cppcheckSuppress.txt
  src/wazuh_modules/syscollector/include/syscollector.hpp
  src/wazuh_modules/syscollector/src/syscollectorImp.cpp
  src/wazuh_modules/syscollector/tests/sysCollectorImp/syscollectorImp_test.cpp
Labels: bug, core/dbsync-rsync-integration

#6993 [6992] Fixed coverity issues based on last run
  src/shared_modules/dbsync/include/db_exception.h
  src/shared_modules/dbsync/src/sqlite/sqlite_dbengine.cpp
  src/wazuh_db/wdb_global.c
  src/wazuh_modules/syscollector/include/syscollector.hpp
Labels: bug, core/dbsync-rsync-integration, coverity

#6994 Brew implementation to get packages
  src/data_provider/src/packages/brewWrapper.h
  src/data_provider/src/packages/packageFamilyDataAFactory.h
  src/data_provider/src/packages/packageMac.cpp
  src/data_provider/src/packages/packageMac.h
  src/data_provider/src/packages/pkgWrapper.h
  src/data_provider/src/sysInfoMac.cpp
  src/data_provider/testtool/CMakeLists.txt
Labels: core/dbsync-rsync-integration, core/syscollector, enhancement

#6949 [API] Fix security integration tests
  api/test/integration/test_rbac_black_security_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_security_endpoints.tavern.yaml
  api/test/integration/test_security_GET_endpoints.tavern.yaml
Labels: API, qa

#7005 [API] Add integration test mapping script and file
  api/test/integration/mapping/README.md
  api/test/integration/mapping/_test_mapping.py
  api/test/integration/mapping/integration_test_api_endpoints.json
Labels: API, qa

#7021 7008 winagent is reporting json exception out of range
  src/wazuh_modules/syscollector/src/syscollectorImp.cpp
Labels: bug/devel, core/dbsync-rsync-integration

#7016 [API] Add new remote commands configuration
  api/api/configuration.py
  api/api/configuration/api.yaml
  api/api/models/configuration_model.py
  api/api/spec/spec.yaml
  api/test/integration/test_manager_endpoints.tavern.yaml
  api/test/integration/test_rbac_black_manager_endpoints.tavern.yaml
  framework/wazuh/core/exception.py
  framework/wazuh/core/manager.py
  framework/wazuh/core/tests/test_manager.py
  framework/wazuh/core/utils.py
  framework/wazuh/manager.py
  framework/wazuh/tests/test_manager.py
Labels: API, enhancement

#7026 Remove behind_proxy_server from /agents/insert and improve input validators
  CHANGELOG.md
  api/api/controllers/agent_controller.py
  api/api/test/test_validator.py
  api/api/validator.py
  api/test/integration/test_agent_GET_endpoints.tavern.yaml
  api/test/integration/test_agent_POST_endpoints.tavern.yaml
Labels: API

#7025 [API] Add missing secure headers
  CHANGELOG.md
  api/api/middlewares.py
  api/scripts/wazuh-apid.py
  framework/requirements.txt
Labels: API, enhancement

#7049 [7012] Invalid date field fix
  src/analysisd/decoders/syscollector.c
  src/data_provider/cppcheckSuppress.txt
  src/data_provider/include/sysInfo.hpp
  src/data_provider/src/network/inetworkWrapper.h
  src/data_provider/src/network/networkBSDWrapper.h
  src/data_provider/src/network/networkInterfaceBSD.cpp
  src/data_provider/src/network/networkInterfaceLinux.cpp
  src/data_provider/src/network/networkInterfaceWindows.cpp
  src/data_provider/src/network/networkLinuxWrapper.h
  src/data_provider/src/network/networkWindowsWrapper.h
  src/data_provider/src/osinfo/sysOsInfoInterface.h
  src/data_provider/src/osinfo/sysOsInfoWin.cpp
  src/data_provider/src/osinfo/sysOsInfoWin.h
  src/data_provider/src/packages/brewWrapper.h
  src/data_provider/src/packages/ipackageWrapper.h
  src/data_provider/src/packages/packageMac.cpp
  src/data_provider/src/packages/pkgWrapper.h
  src/data_provider/src/ports/iportInterface.h
  src/data_provider/src/ports/iportWrapper.h
  src/data_provider/src/ports/portBSDWrapper.h
  src/data_provider/src/ports/portImpl.h
  src/data_provider/src/ports/portLinuxWrapper.h
  src/data_provider/src/ports/portWindowsWrapper.h
  src/data_provider/src/sysInfo.cpp
  src/data_provider/src/sysInfoFreeBSD.cpp
  src/data_provider/src/sysInfoLinux.cpp
  src/data_provider/src/sysInfoMac.cpp
  src/data_provider/src/sysInfoOpenBSD.cpp
  src/data_provider/src/sysInfoUnix.cpp
  src/data_provider/src/sysInfoWin.cpp
  src/data_provider/tests/sysInfo/sysOsInfo_test.cpp
  src/data_provider/tests/sysInfoNetworkBSD/sysInfoNetworkBSD_test.cpp
  src/data_provider/tests/sysInfoNetworkLinux/sysInfoNetworkLinux_test.cpp
  src/data_provider/tests/sysInfoNetworkWindows/sysInfoNetworkWindows_test.cpp
  src/data_provider/tests/sysInfoPorts/sysInfoPort_test.cpp
  src/shared_modules/utils/tests/timeHelper_test.cpp
  src/shared_modules/utils/tests/timeHelper_test.h
  src/shared_modules/utils/timeHelper.h
  src/unit_tests/analysisd/test_decoder_syscollector.c
  src/wazuh_db/wdb_parser.c
  src/wazuh_modules/syscollector/src/syscollectorImp.cpp
  src/wazuh_modules/syscollector/tests/sysCollectorImp/syscollectorImp_test.cpp
Labels: bug/devel, core/dbsync-rsync-integration

#7053 [7010] Adding missing files in Uninstall nsi section - Windows
  src/win32/wazuh-installer.nsi
Labels: bug/devel, core/dbsync-rsync-integration, exploratory

#7050 Delete RedHat's vulnerabilities before feed update
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
Labels: bug, core/vuln detector

#7068 7040 sql script rsync dbsync server
  src/wazuh_db/schema_upgrade_v6.sql
  src/wazuh_db/schema_upgrade_v7.sql
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_parser.c
  src/wazuh_db/wdb_upgrade.c
  src/wazuh_modules/syscollector/src/syscollectorImp.cpp
Labels: bug/devel, core/dbsync-rsync-integration

#7063 Fix cluster integration tests race condition
  api/test/integration/test_cluster_endpoints.tavern.yaml
Labels: API, cluster
