Repository wazuh/wazuh, pull requests merged in 2020-09, with the labels that each got.

#5850 Fix severity in VDT alerts when CVE is not indexed in the NVD
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#5869 Replace calls to expect_any_always in unit tests
  src/unit_tests/CMakeLists.txt
  src/unit_tests/shared/test_agent_op.c
  src/unit_tests/shared/test_mq_op.c
  src/unit_tests/syscheckd/test_syscheck_config.c
  src/unit_tests/syscheckd/test_win_registry.c
  src/unit_tests/wazuh_modules/aws/test_wm_aws.c
  src/unit_tests/wazuh_modules/azure/test_wm_azure.c
  src/unit_tests/wazuh_modules/ciscat/test_wm_ciscat.c
  src/unit_tests/wazuh_modules/command/test_wm_command.c
  src/unit_tests/wazuh_modules/docker/test_wm_docker.c
  src/unit_tests/wazuh_modules/oscap/test_wm_oscap.c
  src/unit_tests/wazuh_modules/sca/test_wm_sca.c
  src/unit_tests/wrappers/common.h
Labels: qa

#5838 Logtest remove client on demand
  src/analysisd/logtest.c
  src/analysisd/logtest.h
  src/error_messages/error_messages.h
  src/error_messages/information_messages.h
  src/error_messages/warning_messages.h
Labels: core/logtest

#5857 Add header to socket messages
  src/analysisd/logtest.c
  src/analysisd/logtest.h
  src/error_messages/error_messages.h
  src/unit_tests/analysisd/test_logtest.c
Labels: core/logtest

#5899 5896 generic message dispatcher
  src/shared_modules/utils/msgDispatcher.h
  src/shared_modules/utils/tests/msgDispatcher_test.cpp
  src/shared_modules/utils/tests/msgDispatcher_test.h
Labels: core/remote-sync

#5917 Fix windows gui restart action with no keys
  src/win32/ui/os_win32ui.c
Labels: bug

#5922 Fix launcher.sh generation in macOS source installation
  src/init/darwin-init.sh
Labels: cicd, platform/macos

#5918 Logtest remove doble check input
  src/analysisd/logtest.c
Labels: core/logtest

#5931 Analysisd + Logtest fixes
  src/analysisd/cleanevent.c
  src/analysisd/logtest.c
Labels: core/logtest

#5957 [5730] RSYNC test tool
  src/shared_modules/rsync/CMakeLists.txt
  src/shared_modules/rsync/testtool/CMakeLists.txt
  src/shared_modules/rsync/testtool/Readme.md
  src/shared_modules/rsync/testtool/agentEmulator.cpp
  src/shared_modules/rsync/testtool/agentEmulator.h
  src/shared_modules/rsync/testtool/cmdArgsHelper.h
  src/shared_modules/rsync/testtool/main.cpp
  src/shared_modules/rsync/testtool/managerEmulator.cpp
  src/shared_modules/rsync/testtool/managerEmulator.h
Labels: core/remote-sync

#5046 Issue 5045 grammar fixes
  src/error_messages/debug_messages.h
  src/error_messages/error_messages.h
  src/error_messages/warning_messages.h
  src/unit_tests/syscheckd/test_run_check.c
  src/unit_tests/syscheckd/test_win_whodata.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
Labels: operations

#5971 Fix VDT MSU metadata handling
  src/error_messages/debug_messages.h
  src/init/inst-functions.sh
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
  src/wazuh_modules/wm_fluent.c
Labels: core/vuln detector

#5956 Fix check token type
  src/analysisd/logtest.c
  src/analysisd/logtest.h
Labels: core/logtest

#5998 [5777] RSYNC push message implementation
  src/shared_modules/rsync/include/rsync.h
  src/shared_modules/rsync/src/rsync.cpp
  src/shared_modules/rsync/src/rsync_implementation.cpp
  src/shared_modules/rsync/src/rsync_implementation.h
  src/shared_modules/rsync/tests/interface/rsync_test.cpp
  src/shared_modules/rsync/testtool/agentEmulator.cpp
  src/shared_modules/rsync/testtool/agentEmulator.h
  src/shared_modules/rsync/testtool/managerEmulator.cpp
Labels: core/remote-sync

#5999 Fix message error output when fails load cbdlist
  src/analysisd/analysisd.c
  src/analysisd/lists.c
  src/analysisd/lists.h
  src/analysisd/logtest.c
  src/analysisd/makelists.c
  src/analysisd/testrule.c
  src/unit_tests/analysisd/test_logtest.c
Labels: core/logtest

#6037 Fix block_time for DOS system
  api/api/middlewares.py
Labels: API, bug

#6043 6002 coverity on rsync
  src/Makefile
  src/shared_modules/dbsync/CMakeLists.txt
  src/shared_modules/dbsync/example/CMakeLists.txt
  src/shared_modules/dbsync/tests/dbengine/CMakeLists.txt
  src/shared_modules/dbsync/testtool/CMakeLists.txt
  src/shared_modules/rsync/CMakeLists.txt
  src/shared_modules/rsync/testtool/CMakeLists.txt
  src/shared_modules/utils/tests/CMakeLists.txt
Labels: core/remote-sync

#6021 Multi threading support for upgrade module
  src/config/wmodules-agent-upgrade.c
  src/error_messages/error_messages.h
  src/unit_tests/wazuh_modules/agent_upgrade/CMakeLists.txt
  src/unit_tests/wazuh_modules/agent_upgrade/test_wm_agent_upgrade.c
  src/unit_tests/wazuh_modules/agent_upgrade/test_wm_agent_upgrade_commands.c
  src/unit_tests/wazuh_modules/agent_upgrade/test_wm_agent_upgrade_manager.c
  src/unit_tests/wazuh_modules/agent_upgrade/test_wm_agent_upgrade_tasks.c
  src/unit_tests/wazuh_modules/agent_upgrade/test_wm_agent_upgrade_tasks_callbacks.c
  src/unit_tests/wazuh_modules/agent_upgrade/test_wm_agent_upgrade_upgrades.c
  src/unit_tests/wazuh_modules/task_manager/test_wm_task_manager_db.c
  src/unit_tests/wrappers/posix/pthread_wrappers.c
  src/unit_tests/wrappers/posix/pthread_wrappers.h
  src/unit_tests/wrappers/wazuh/shared/queue_op_wrappers.c
  src/unit_tests/wrappers/wazuh/shared/queue_op_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_modules/wm_agent_upgrade_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_modules/wm_agent_upgrade_wrappers.h
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_commands.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_manager.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_manager.h
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_tasks.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_tasks.h
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_tasks_callbacks.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_upgrades.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_upgrades.h
  src/wazuh_modules/agent_upgrade/wm_agent_upgrade.c
  src/wazuh_modules/agent_upgrade/wm_agent_upgrade.h
  src/wazuh_modules/task_manager/wm_task_manager_db.c
Labels: core/modulesd

#6050 Add recursion level option to registries configuration
  src/config/syscheck-config.c
  src/config/syscheck-config.h
  src/syscheckd/config.c
  src/syscheckd/registry/registry.h
Labels: core/fim, core/fim/registry

#6066 [5778] Added startSync implementation with its UTs
  src/Makefile
  src/shared_modules/rsync/include/rsync.h
  src/shared_modules/rsync/include/typedef.h
  src/shared_modules/rsync/src/rsync.cpp
  src/shared_modules/rsync/src/rsyncImplementation.cpp
  src/shared_modules/rsync/src/rsyncImplementation.h
  src/shared_modules/rsync/src/rsync_exception.h
  src/shared_modules/rsync/tests/implementation/rsyncImplementationTest.cpp
  src/shared_modules/rsync/tests/implementation/rsyncImplementationTest.h
  src/shared_modules/rsync/tests/interface/rsync_test.cpp
  src/shared_modules/rsync/tests/interface/rsync_test.h
  src/shared_modules/rsync/testtool/agentEmulator.cpp
  src/shared_modules/rsync/testtool/agentEmulator.h
Labels: core/remote-sync

#6074 [5779] extend rsync testtool to process parameters through json format files
  src/shared_modules/rsync/testtool/CMakeLists.txt
  src/shared_modules/rsync/testtool/Readme.md
  src/shared_modules/rsync/testtool/cmdArgsHelper.h
  src/shared_modules/rsync/testtool/input/config.json
  src/shared_modules/rsync/testtool/input/input.json
  src/shared_modules/rsync/testtool/main.cpp
  src/shared_modules/rsync/testtool/oneTimeSync.cpp
  src/shared_modules/rsync/testtool/oneTimeSync.h
Labels: core/remote-sync

#6093 Allow upgrading pip to the latest version
  src/Makefile
Labels: enhancement, framework

#6129 Fix and update entrypoint and agent branch
  api/test/integration/env/.env
  api/test/integration/env/base/agent/Dockerfile
  api/test/integration/env/base/manager/entrypoint.sh
  api/test/integration/env/base/manager/manager.Dockerfile
  api/test/integration/env/configurations/base/manager/master_only/update_agent_info.py
  api/test/integration/env/docker-compose.yml
Labels: API, qa

#6139 General framework fixes for dev-agent-info
  framework/wazuh/agent.py
  framework/wazuh/core/tests/test_agent.py
  framework/wazuh/core/tests/test_utils.py
  framework/wazuh/core/utils.py
  framework/wazuh/tests/test_agent.py
Labels: framework

#6140 Fix sending [] to master
  framework/wazuh/core/wdb.py
Labels: cluster, framework

#6071 Check patches and other values are not null before inserting into the MSU DB
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: bug, core/vuln detector

#6047 Let syscheck ignore the subkeys of an ignored registry
  src/syscheckd/registry/registry.c
Labels: core/fim, core/fim/registry

#6048 Fix global variable in ossec-control script
  src/init/ossec-client.sh
  src/init/ossec-local.sh
  src/init/ossec-server.sh
Labels: bug

#6148 6068 solaris 11.4 11.3 compilation fix
  src/Makefile
  src/headers/privsep_op.h
  src/shared/privsep_op.c
  src/shared/syscheck_op.c
  src/shared_modules/rsync/testtool/CMakeLists.txt
Labels: core/dbsync, core/remote-sync
