Repository wazuh/wazuh, pull requests merged in 2020-05, with the labels that each got.

#4996 Vuln-detector: Discard inactive Linux kernel packages
  src/error_messages/error_messages.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: bug, core/vuln detector

#4981 4978 alerts parity
  extensions/elasticsearch/7.x/wazuh-template.json
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#4998 Fix unit tests on 3.13
  src/analysisd/decoders/syscheck.c
  src/error_messages/error_messages.h
  src/syscheckd/run_check.c
  src/syscheckd/run_realtime.c
  src/syscheckd/syscheck.h
  src/unit_tests/syscheckd/test_create_db.c
  src/unit_tests/syscheckd/test_run_check.c
  src/unit_tests/syscheckd/test_run_realtime.c
  src/unit_tests/syscheckd/test_win_whodata.c
  src/unit_tests/wrappers/syscheckd/run_check.c
  src/unit_tests/wrappers/syscheckd/run_check.h
Labels: core/fim, qa

#4975 Added guarantee that all processes are killed when service stop
  src/init/ossec-client.sh
  src/init/ossec-local.sh
  src/init/ossec-server.sh
Labels: bug

#4977 Avoid duplicate descriptors using wildcards.
  src/logcollector/logcollector.c
Labels: bug, core/logcollector

#4979 [NVD] Log review
  src/error_messages/debug_messages.h
  src/error_messages/error_messages.h
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_db/schema_vuln_detector.sql
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#4963 4962 Fix start index in X509_NAME_get_index_by_NID call
  src/os_auth/check_cert.c
Labels: bug, core/auth

#4556 Fix the reading of the agents' register IP in vulnerability-detector
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
Labels: bug, core/vuln detector

#5019 Adding changes to simplify unit tests development
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#4762 FIM: Generate alerts when adding subdirectory to directory watched
  src/syscheckd/win_whodata.c
  src/unit_tests/Readme.md
  src/unit_tests/syscheckd/test_win_whodata.c
Labels: platform/windows

#5031 Added error handling
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#5026 Fixing some memory leaks and issues found with unit tests
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#5022 Fixing errors reported by debugging tools
  src/analysisd/decoders/plugins/json_decoder.c
  src/error_messages/debug_messages.h
  src/error_messages/error_messages.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#5036 Improving condition selector
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#5034 Set C standard to C11 on unit tests
  src/unit_tests/CMakeLists.txt
Labels: qa

#5038 Fixing memory leak in function wm_vuldet_normalize_date
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#5020 Fix high impact issues reported by Coverity
  src/logcollector/logcollector.c
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_upgrade.c
Labels: bug

#5037 Added new configuration block for Windows Defender eventchannel
  src/win32/ossec.conf
Labels: core/configuration, enhancement, platform/windows

#5064 Fix some warnings IDs to maintain continuity
  src/error_messages/warning_messages.h
  src/unit_tests/syscheckd/test_create_db.c
  src/unit_tests/syscheckd/test_syscheck_audit.c
Labels: core/fim

#5041 Avoid to continue the scan when all the inventory is marked as triaged
  src/config/wmodules-vuln-detector.c
  src/error_messages/error_messages.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
Labels: core/vuln detector

#5072 Fixing memory leaks
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#5061 Remove OpenSCAP policies installation and configuration block
  gen_ossec.sh
  src/init/inst-functions.sh
  src/init/wazuh/wazuh.sh
Labels: core/openscap, enhancement, installer, upgrade

#5035 [NVD] Remove some false positives and false negatives
  src/error_messages/debug_messages.h
  src/error_messages/error_messages.h
  src/wazuh_db/schema_vuln_detector.sql
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_evr.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#5066 Fix FIM unit test, check enable_whodata option.
  src/config/syscheck-config.c
  src/syscheckd/config.c
  src/syscheckd/main.c
Labels: core/fim, qa

#4603 Fix link count alerts for ignored directories
  src/rootcheck/check_rc_sys.c
Labels: bug, community, core/rootcheck

#5030 Improved ARM support and bump Python's interpreter to 3.8.2
  framework/requirements.txt
  src/Makefile
  src/init/inst-functions.sh
Labels: core/Makefile, enhancement, framework

#5089 Avoid scanning Amazon Linux agents with the RHEL7 feed by default
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: core/vuln detector

#5070 Vuln-detector: Read and analyse rhel packages' source
  src/error_messages/debug_messages.h
  src/wazuh_db/schema_vuln_detector.sql
  src/wazuh_modules/syscollector/syscollector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: bug, core/syscollector, core/vuln detector

#5001 Unit tests for Vulnerability Detector
  src/unit_tests/CMakeLists.txt
  src/unit_tests/server.cmake
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/shared/test_string_op.c
  src/unit_tests/syscheckd/test_run_check.c
  src/unit_tests/wazuh_modules/CMakeLists.txt
  src/unit_tests/wazuh_modules/gcp/CMakeLists.txt
  src/unit_tests/wazuh_modules/gcp/test_wm_gcp.c
  src/unit_tests/wazuh_modules/gcp/test_wmodules_gcp.c
  src/unit_tests/wazuh_modules/scheduling/CMakeLists.txt
  src/unit_tests/wazuh_modules/scheduling/global_helpers.c
  src/unit_tests/wazuh_modules/scheduling/test_aws_scheduling.c
  src/unit_tests/wazuh_modules/scheduling/test_azure_scheduling.c
  src/unit_tests/wazuh_modules/scheduling/test_ciscat_scheduling.c
  src/unit_tests/wazuh_modules/scheduling/test_command_scheduling.c
  src/unit_tests/wazuh_modules/scheduling/test_docker_scheduling.c
  src/unit_tests/wazuh_modules/scheduling/test_gcp_scheduling.c
  src/unit_tests/wazuh_modules/scheduling/test_oscap_scheduling.c
  src/unit_tests/wazuh_modules/scheduling/test_sca_scheduling.c
  src/unit_tests/wazuh_modules/scheduling/test_schedule_scan.c
  src/unit_tests/wazuh_modules/scheduling/test_wmodules_scheduling.c
  src/unit_tests/wazuh_modules/scheduling/wmodules_scheduling_helpers.c
  src/unit_tests/wazuh_modules/scheduling/wmodules_scheduling_helpers.h
  src/unit_tests/wazuh_modules/vulnerability_detector/CMakeLists.txt
  src/unit_tests/wazuh_modules/vulnerability_detector/mocks_wm_vuln_detector.c
  src/unit_tests/wazuh_modules/vulnerability_detector/mocks_wm_vuln_detector.h
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector_evr.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector_nvd.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#5093 [NVD] Remove false positives ubuntu
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#5094 Vulnerability detector: fixing bugs reported by Coverity
  src/analysisd/decoders/plugins/json_decoder.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#5088 Optimized get default gateway in big routing tables
  src/wazuh_modules/syscollector/syscollector_linux.c
Labels: bug, core/agent, core/modulesd

#5097 Vulnerability Detector: NVD as primary feed for Linux
  CHANGELOG.md
  etc/templates/config/generic/wodle-vulnerability-detector.manager.template
  extensions/elasticsearch/7.x/wazuh-template.json
  src/analysisd/decoders/decode-xml.c
  src/analysisd/decoders/decoder.h
  src/analysisd/decoders/plugins/json_decoder.c
  src/config/wmodules-vuln-detector.c
  src/error_messages/debug_messages.h
  src/error_messages/error_messages.h
  src/headers/string_op.h
  src/shared/string_op.c
  src/unit_tests/CMakeLists.txt
  src/unit_tests/server.cmake
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/shared/test_string_op.c
  src/unit_tests/syscheckd/test_run_check.c
  src/unit_tests/wazuh_modules/CMakeLists.txt
  src/unit_tests/wazuh_modules/gcp/CMakeLists.txt
  src/unit_tests/wazuh_modules/gcp/test_wm_gcp.c
  src/unit_tests/wazuh_modules/gcp/test_wmodules_gcp.c
  src/unit_tests/wazuh_modules/scheduling/CMakeLists.txt
  src/unit_tests/wazuh_modules/scheduling/global_helpers.c
  src/unit_tests/wazuh_modules/scheduling/test_aws_scheduling.c
  src/unit_tests/wazuh_modules/scheduling/test_azure_scheduling.c
  src/unit_tests/wazuh_modules/scheduling/test_ciscat_scheduling.c
  src/unit_tests/wazuh_modules/scheduling/test_command_scheduling.c
  src/unit_tests/wazuh_modules/scheduling/test_docker_scheduling.c
  src/unit_tests/wazuh_modules/scheduling/test_gcp_scheduling.c
  src/unit_tests/wazuh_modules/scheduling/test_oscap_scheduling.c
  src/unit_tests/wazuh_modules/scheduling/test_sca_scheduling.c
  src/unit_tests/wazuh_modules/scheduling/test_schedule_scan.c
  src/unit_tests/wazuh_modules/scheduling/test_wmodules_scheduling.c
  src/unit_tests/wazuh_modules/scheduling/wmodules_scheduling_helpers.c
  src/unit_tests/wazuh_modules/scheduling/wmodules_scheduling_helpers.h
  src/unit_tests/wazuh_modules/vulnerability_detector/CMakeLists.txt
  src/unit_tests/wazuh_modules/vulnerability_detector/mocks_wm_vuln_detector.c
  src/unit_tests/wazuh_modules/vulnerability_detector/mocks_wm_vuln_detector.h
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector_evr.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector_nvd.c
  src/wazuh_db/schema_vuln_detector.sql
  src/wazuh_modules/syscollector/syscollector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_evr.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_evr.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#5101 Add MSU as dependency and change path structure
  .gitignore
  src/Makefile
  src/wazuh_modules/vulnerability_detector/msu.json.gz
Labels: core/Makefile, core/vuln detector

#5091 Fix race condition in Analysisd when handling accumulated events
  src/analysisd/analysisd.c
Labels: bug, core/analysisd

#5090 Fix unexpected stop in Windows agent
  src/syscheckd/run_check.c
Labels: core/fim

#5131 Fixed static filters related to the system_name field
  src/analysisd/config_json.c
  src/analysisd/rules.c
  src/shared/rules_op.c
Labels: ruleset

#5122 Vulnerability Detector: Fixing minor issues
  extensions/elasticsearch/7.x/wazuh-template.json
  src/error_messages/debug_messages.h
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#5134 [NVD] Change NVD filter query
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
Labels: core/vuln detector
