Repository wazuh/wazuh, pull requests merged in 2020-04, with the labels that each got.

#4785 Adding the database option when requesting on-demand configuration.
  src/syscheckd/config.c
  src/unit_tests/syscheckd/test_syscheck_config.c
  src/unit_tests/test_syscheck.conf
  src/unit_tests/test_syscheck2.conf
  src/unit_tests/test_syscheck_win.conf
  src/unit_tests/test_syscheck_win2.conf
Labels: core/fim

#4819 Update MSU catalog on 31/03/2020
  src/wazuh_modules/vulnerability_detector/msu.json.gz
Labels: core/vuln detector, platform/windows

#4778 Fix a buffer overflow when receiving large events by Syslog over TCP
  src/error_messages/error_messages.h
  src/os_net/os_net.c
  src/remoted/syslogtcp.c
  src/tests/tap.h
  src/tests/tap_fluentd_forwarder.c
  src/tests/tap_os_crypto.c
  src/tests/tap_os_net.c
  src/tests/tap_os_regex.c
  src/tests/tap_os_xml.c
  src/tests/tap_os_zlib.c
  src/tests/tap_shared.c
  src/tests/tap_wazuhdb_op.c
Labels: bug, core/remoted

#4851 Fix memory errors in the Integrator Daemon
  src/os_integrator/integrator.c
Labels: bug, core/integratord

#4834 Add library bz2 to compress and uncompress Ubuntu ovals
  src/Makefile
  src/headers/bzip2_op.h
  src/headers/shared.h
  src/shared/bzip2_op.c
  src/unit_tests/CMakeLists.txt
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/shared/test_bzip2_op.c
  src/unit_tests/shared/test_file_op.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: core/vuln detector

#4821 [NVD] Add package source to agents table
  src/error_messages/debug_messages.h
  src/error_messages/error_messages.h
  src/unit_tests/server.cmake
  src/unit_tests/wazuh_modules/vulnerability_detector/CMakeLists.txt
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_db/schema_vuln_detector.sql
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
Labels: core/vuln detector

#4893 Update URL library error log messages
  src/headers/url.h
Labels: core/shared

#4897 Fix invalid socket on the UDP connection in Remoted
  src/remoted/netcounter.c
  src/remoted/secure.c
Labels: bug, core/remoted

#4874 4764 debian evr version comparator
  src/error_messages/debug_messages.h
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_evr.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_evr.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#4836 Adding new fields for vulnerability detector alerts
  CHANGELOG.md
  src/analysisd/decoders/decode-xml.c
  src/analysisd/decoders/decoder.h
  src/analysisd/decoders/plugins/json_decoder.c
  src/wazuh_db/schema_vuln_detector.sql
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#4866 Vulnerability Detector: Add new flow and structures
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#4923 Adding version comparator for NVD versions
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_evr.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_evr.h
Labels: core/vuln detector

#4930 Fixing version type selector error
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#4552 Fix mutex initialization in the rule parser
  src/config/rules-config.c
Labels: bug, core/db output, platform/openbsd

#4915 [NVD] Adapt the detection from the vendor feeds
  src/error_messages/debug_messages.h
  src/error_messages/error_messages.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
Labels: core/vuln detector

#4906 Fix same output in archives.json and alert.json.
  src/analysisd/format/to_json.c
  src/analysisd/format/to_json.h
  src/analysisd/output/jsonout.c
Labels: core/analysisd

#4925 Removed index count in repeated agent name
  src/os_auth/main-server.c
Labels: core/auth

#4941 Adding report for vulnerabilities stored during the scan
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#4942 Fix logbuilder for target 'agent' on <localfile>
  src/logcollector/logcollector.c
  src/shared/mq_op.c
Labels: bug, bug/regression, core/logcollector

#4951 4857 fixing double free issue
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#4945 [NVD] Filter the vulnerabilities collected from each feed
  src/headers/string_op.h
  src/shared/string_op.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#4936 Collect nvd vulnerabilities
  src/error_messages/error_messages.h
  src/headers/string_op.h
  src/shared/string_op.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector, platform/unix

#4948 Rootcheck: Memory leak in Windows Server 2016
  src/rootcheck/util/ads_dump.c
  src/rootcheck/win-common.c
Labels: bug, core/rootcheck, platform/windows

#4964 [Vulnerability-Detector] Support Ubuntu 20.04
  etc/templates/config/generic/wodle-vulnerability-detector.manager.template
  src/config/wmodules-vuln-detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: core/vuln detector

#4968 Fix memory leak in Logcollector when formatting a message
  src/shared/mq_op.c
Labels: bug, bug/regression, cicd, core/logcollector

#4969 Fix a null dereference reported by coverity
  src/syscheckd/seechanges.c
Labels: bug, core/fim

#4973 Adding new fields to the elastic search template
  extensions/elasticsearch/7.x/wazuh-template.json
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#4760 Internal variable rt_delay configuration changes
  etc/internal_options.conf
  src/syscheckd/create_db.c
  src/syscheckd/syscheck.c
Labels: core/configuration

#4792 Fixed the full log when it is too big, now it shows the end of the path correctly
  src/analysisd/decoders/syscheck.c
Labels: enhancement

#4970 Vulnerability Detector: Check packages dependencies within the NVD
  src/error_messages/error_messages.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector, enhancement
