Repository wazuh/wazuh, pull requests merged in 2020-10, with the labels that each got.

#6158 Fixing missing node_name field in global.db - agent table
  src/remoted/manager.c
Labels: bug

#6162 Fixing warning generated when no data is provided to set in global.db
  src/headers/remoted_op.h
  src/remoted/manager.c
  src/shared/file_op.c
  src/shared/remoted_op.c
  src/unit_tests/shared/test_remoted_op.c
  src/unit_tests/wazuh_db/test_wdb_agent.c
  src/wazuh_db/wdb_agent.c
Labels: bug

#6174 Fix compilation issue in ARM architecture
  src/shared_modules/rsync/CMakeLists.txt
  src/shared_modules/rsync/testtool/CMakeLists.txt
Labels: core/remote-sync

#6156 Show rule level 0 in json output
  src/analysisd/logtest.c
  src/unit_tests/analysisd/test_logtest.c
Labels: core/logtest

#5849 Add missed syscheck fields to the mail alerts.
  src/os_maild/os_maild_client.c
  src/shared/read-alert.c
Labels: core/fim, core/maild

#6065 Modify file_size, disk_quota and monitoring path log messages
  src/error_messages/debug_messages.h
  src/error_messages/information_messages.h
  src/syscheckd/main.c
  src/syscheckd/syscheck.c
  src/unit_tests/syscheckd/test_syscheck.c
Labels: core/fim

#6130 Fix segfault when windows file has no permissions.
  src/shared/syscheck_op.c
  src/unit_tests/shared/test_syscheck_op.c
Labels: core/fim

#6169 Add new configuration for windows registries
  src/config/syscheck-config.c
  src/config/syscheck-config.h
  src/error_messages/debug_messages.h
  src/error_messages/information_messages.h
  src/syscheckd/config.c
  src/syscheckd/main.c
  src/syscheckd/syscheck.c
Labels: core/fim, core/fim/registry

#6199 Adapt Windows registry DB to the new syncronization mechanism
  src/config/syscheck-config.h
  src/syscheckd/db/fim_db.c
  src/syscheckd/db/fim_db.h
  src/syscheckd/db/fim_db_registries.c
  src/syscheckd/db/fim_db_registries.h
  src/syscheckd/registry/registry.c
Labels: core/fim, core/fim/registry

#6218 Fix linking issue during the windows build
  src/shared_modules/rsync/CMakeLists.txt
Labels: core/remote-sync

#6219 [6173] Adding dbsync and rsync libs linking into the wazuh_modules
  src/Makefile
Labels: core/dbsync-rsync-integration

#6214 [6193] Module packet receiver and pusher
  src/wazuh_modules/wmcom.c
  src/wazuh_modules/wmodules.c
  src/wazuh_modules/wmodules.h
Labels: core/dbsync-rsync-integration

#6236 6190 syscollector testtool
  src/Makefile
  src/wazuh_modules/syscollector/CMakeLists.txt
  src/wazuh_modules/syscollector/syscollector.cpp
  src/wazuh_modules/syscollector/syscollector.h
  src/wazuh_modules/syscollector/syscollectorCommon.cpp
  src/wazuh_modules/syscollector/syscollectorLinux.cpp
  src/wazuh_modules/syscollector/syscollectorMac.cpp
  src/wazuh_modules/syscollector/syscollectorWin.cpp
  src/wazuh_modules/syscollector/testtool/CMakeLists.txt
  src/wazuh_modules/syscollector/testtool/main.cpp
Labels: core/dbsync-rsync-integration

#6240 [6235] Adding dbsync and rsync in server target
  src/Makefile
Labels: core/dbsync-rsync-integration

#5723 Add condition to prevent syscheck double scan.
  src/config/syscheck-config.h
  src/syscheckd/create_db.c
  src/syscheckd/fim_db.c
  src/syscheckd/syscheck.h
  src/unit_tests/syscheckd/test_create_db.c
  src/unit_tests/wrappers/common.c
  src/unit_tests/wrappers/common.h
  src/unit_tests/wrappers/wazuh/syscheckd/fim_db_wrappers.c
Labels: core/fim

#6208 Add a backslash to devices names.
  src/syscheckd/win_whodata.c
  src/unit_tests/syscheckd/test_win_whodata.c
Labels: core/fim, core/fim/whodata

#6086 wazuh-logtest: python tool
  framework/scripts/wazuh-logtest.py
Labels: core/logtest

#6238 Analysisd: export the expression negation attribute in JSON
  src/analysisd/config_json.c
Labels: core/analysisd

#6257 Fix orm for max_reserved_ids
  framework/wazuh/rbac/orm.py
Labels: RBAC

#6279 Vulnerability-Detector: Discard from RedHat OVALs every not-affected package.
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#6147 Added function to separate vendor and package
  src/unit_tests/wazuh_modules/syscollector/test_syscollector_bsd.c
  src/wazuh_modules/syscollector/syscollector.h
  src/wazuh_modules/syscollector/syscollector_bsd.c
Labels: core/syscollector, platform/macos

#6258 Allow negation in rules
  src/analysisd/analysisd.c
  src/analysisd/config_json.c
  src/analysisd/expression.c
  src/analysisd/expression.h
  src/analysisd/rules.c
  src/analysisd/rules.h
  src/error_messages/warning_messages.h
  src/shared/read-alert.c
  src/unit_tests/analysisd/CMakeLists.txt
  src/unit_tests/analysisd/test_expression.c
  src/unit_tests/analysisd/test_rules.c
Labels: core/analysisd

#6321 Add specific options for ignore and restrict in Windows registries
  src/config/syscheck-config.c
  src/config/syscheck-config.h
  src/syscheckd/config.c
  src/syscheckd/registry/registry.c
  src/syscheckd/syscheck.c
Labels: core/fim, core/fim/registry

#6181 SysCollector: Added support for MacOS binary plist files
  src/Makefile
  src/unit_tests/wazuh_modules/syscollector/test_syscollector_bsd.c
  src/unit_tests/wrappers/macos/libc/stdio_wrappers.c
  src/unit_tests/wrappers/macos/libc/stdio_wrappers.h
  src/unit_tests/wrappers/macos/libplist_wrappers.c
  src/unit_tests/wrappers/macos/libplist_wrappers.h
  src/unit_tests/wrappers/macos/libwazuh_wrappers.c
  src/unit_tests/wrappers/macos/libwazuh_wrappers.h
  src/wazuh_modules/syscollector/syscollector_bsd.c
Labels: core/syscollector, platform/macos

#6323 Fim registries minor fixes
  src/error_messages/debug_messages.h
  src/error_messages/error_messages.h
  src/syscheckd/fim_diff_changes.c
  src/syscheckd/registry/registry.c
Labels: core/fim

#6363 Fix Windows auto-deploy script
  src/win32/InstallerScripts.vbs
Labels: installer, platform/windows

#6316 Addition of the agents' connection status column to the agent table in global.db
  src/unit_tests/wazuh_db/test_wdb_upgrade.c
  src/wazuh_db/schema_global.sql
  src/wazuh_db/schema_global_upgrade_v2.sql
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_upgrade.c
Labels: core/db

#6334 6123 hw info
  src/Makefile
  src/shared_modules/dbsync/example/CMakeLists.txt
  src/shared_modules/dbsync/testtool/CMakeLists.txt
  src/shared_modules/rsync/testtool/CMakeLists.txt
  src/shared_modules/utils/cmdHelper.h
  src/shared_modules/utils/registryHelper.h
  src/shared_modules/utils/stringHelper.h
  src/shared_modules/utils/tests/CMakeLists.txt
  src/shared_modules/utils/tests/cmdHelper_test.cpp
  src/shared_modules/utils/tests/cmdHelper_test.h
  src/shared_modules/utils/tests/registryHelper_test.cpp
  src/shared_modules/utils/tests/registryHelper_test.h
  src/shared_modules/utils/tests/stringHelper_test.cpp
  src/wazuh_modules/syscollector/CMakeLists.txt
  src/wazuh_modules/syscollector/sysInfo.cpp
  src/wazuh_modules/syscollector/sysInfo.hpp
  src/wazuh_modules/syscollector/sysInfoCommonBSD.cpp
  src/wazuh_modules/syscollector/sysInfoFreeBSD.cpp
  src/wazuh_modules/syscollector/sysInfoLinux.cpp
  src/wazuh_modules/syscollector/sysInfoMac.cpp
  src/wazuh_modules/syscollector/sysInfoOpenBSD.cpp
  src/wazuh_modules/syscollector/sysInfoWin.cpp
  src/wazuh_modules/syscollector/syscollectorImp.cpp
  src/wazuh_modules/syscollector/syscollectorImp.h
  src/wazuh_modules/syscollector/syscollectorLinux.cpp
  src/wazuh_modules/syscollector/syscollectorMac.cpp
  src/wazuh_modules/syscollector/syscollectorWin.cpp
  src/wazuh_modules/syscollector/tests/CMakeLists.txt
  src/wazuh_modules/syscollector/tests/sysInfo/CMakeLists.txt
  src/wazuh_modules/syscollector/tests/sysInfo/main.cpp
  src/wazuh_modules/syscollector/tests/sysInfo/sysInfo_test.cpp
  src/wazuh_modules/syscollector/tests/sysInfo/sysInfo_test.h
  src/wazuh_modules/syscollector/testtool/CMakeLists.txt
  src/wazuh_modules/syscollector/testtool/main.cpp
Labels: core/dbsync-rsync-integration, core/syscollector

#6369 Wazuh DB command to reset the connection status of the agents in global.db - Implementation
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb_agent.c
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/unit_tests/wazuh_db/test_wdb_global_parser.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.h
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_agent.c
  src/wazuh_db/wdb_global.c
  src/wazuh_db/wdb_parser.c
Labels: core/db

#6227 SysCollector: Added os_patch field and obtain macOS OS information
  extensions/elasticsearch/7.x/wazuh-template.json
  src/analysisd/decoders/syscollector.c
  src/headers/version_op.h
  src/shared/file_op.c
  src/shared/version_op.c
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/schema_upgrade_v6.sql
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_parser.c
  src/wazuh_db/wdb_syscollector.c
  src/wazuh_db/wdb_upgrade.c
Labels: core/syscollector, platform/macos

#6377 Fix client.keys permissions when created by enrollment_op
  src/shared/enrollment_op.c
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/shared/test_enrollment_op.c
Labels: bug

#6375 Adding a new UT for global.db upgrade
  src/unit_tests/wazuh_db/test_wdb_upgrade.c
Labels: core/db

#6376 6248 add interfaces for rsync and rsync
  src/shared_modules/dbsync/include/db_exception.h
  src/shared_modules/dbsync/include/dbsync.h
  src/shared_modules/dbsync/include/dbsync.hpp
  src/shared_modules/dbsync/smokeTests/triggerActions/deleteRows.json
  src/shared_modules/dbsync/src/dbsync.cpp
  src/shared_modules/dbsync/src/dbsyncPipelineFactory.cpp
  src/shared_modules/dbsync/src/dbsyncPipelineFactory.h
  src/shared_modules/dbsync/src/dbsync_implementation.cpp
  src/shared_modules/dbsync/src/dbsync_implementation.h
  src/shared_modules/dbsync/tests/interface/dbsync_test.cpp
  src/shared_modules/dbsync/tests/pipelineFactory/dbsyncPipelineFactory_test.cpp
  src/shared_modules/dbsync/testtool/action.h
  src/shared_modules/dbsync/testtool/factoryAction.h
  src/shared_modules/dbsync/testtool/testContext.h
  src/shared_modules/rsync/include/rsync.hpp
  src/shared_modules/rsync/src/rsync.cpp
  src/shared_modules/rsync/src/rsyncImplementation.cpp
  src/shared_modules/rsync/src/rsyncImplementation.h
  src/shared_modules/rsync/tests/implementation/rsyncImplementationTest.cpp
  src/shared_modules/rsync/tests/interface/rsync_test.cpp
Labels: core/dbsync-rsync-integration

#6410 6353 packages info win
  src/shared_modules/utils/registryHelper.h
  src/shared_modules/utils/stringHelper.h
  src/shared_modules/utils/tests/registryHelper_test.cpp
  src/shared_modules/utils/tests/stringHelper_test.cpp
  src/wazuh_modules/syscollector/sysInfoWin.cpp
Labels: core/dbsync-rsync-integration, core/syscollector

#6394 [6124] Processes info based on OS
  src/shared_modules/dbsync/CMakeLists.txt
  src/shared_modules/rsync/CMakeLists.txt
  src/shared_modules/utils/stringHelper.h
  src/shared_modules/utils/tests/stringHelper_test.cpp
  src/wazuh_modules/syscollector/CMakeLists.txt
  src/wazuh_modules/syscollector/sysInfo.cpp
  src/wazuh_modules/syscollector/sysInfo.hpp
  src/wazuh_modules/syscollector/sysInfoCommonBSD.cpp
  src/wazuh_modules/syscollector/sysInfoFreeBSD.cpp
  src/wazuh_modules/syscollector/sysInfoLinux.cpp
  src/wazuh_modules/syscollector/sysInfoMac.cpp
  src/wazuh_modules/syscollector/sysInfoOpenBSD.cpp
  src/wazuh_modules/syscollector/sysInfoWin.cpp
  src/wazuh_modules/syscollector/syscollectorImp.cpp
  src/wazuh_modules/syscollector/tests/sysInfo/sysInfo_test.cpp
  src/wazuh_modules/syscollector/testtool/CMakeLists.txt
Labels: core/dbsync-rsync-integration, core/syscollector

#6412 Adding new global agent's configurations
  etc/ossec-local.conf
  etc/ossec-server.conf
  etc/ossec.conf
  etc/templates/config/generic/global.template
  src/config/global-config.c
  src/config/global-config.h
  src/config/remote-config.h
  src/config/reports-config.h
  src/monitord/main.c
  src/monitord/moncom.c
  src/monitord/monitor_agents.c
  src/monitord/monitord.c
  src/monitord/monitord.h
  src/remoted/ar-forward.c
  src/remoted/config.c
  src/remoted/main.c
  src/remoted/remoted.h
  src/remoted/request.c
  src/remoted/sendmsg.c
Labels: core/monitord, core/remoted

#6397 Agents' connection status management by remoted - Implementation
  src/remoted/manager.c
  src/remoted/secure.c
  src/unit_tests/wazuh_db/test_wdb_agent.c
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/unit_tests/wazuh_db/test_wdb_global_parser.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.h
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_agent.c
  src/wazuh_db/wdb_global.c
  src/wazuh_db/wdb_parser.c
  src/wazuh_modules/wm_database.c
Labels: core/db, core/remoted

#6436 Update expected error codes for login endpoint
  api/api/spec/spec.yaml
Labels: API

#6421 6352 packages bsd
  src/shared_modules/dbsync/CMakeLists.txt
  src/shared_modules/utils/filesystemHelper.h
  src/shared_modules/utils/stringHelper.h
  src/shared_modules/utils/tests/filesystemHelper_test.cpp
  src/shared_modules/utils/tests/filesystemHelper_test.h
  src/wazuh_modules/syscollector/sysInfoFreeBSD.cpp
  src/wazuh_modules/syscollector/sysInfoLinux.cpp
  src/wazuh_modules/syscollector/sysInfoMac.cpp
  src/wazuh_modules/syscollector/syscollectorImp.cpp
Labels: core/dbsync-rsync-integration, core/syscollector

#6441 Wazuh DB command to get a list of agents by connection status from global.db - Implementation
  src/headers/wazuhdb_op.h
  src/shared/wazuhdb_op.c
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb_agent.c
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/unit_tests/wazuh_db/test_wdb_global_parser.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_wrappers.h
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_agent.c
  src/wazuh_db/wdb_global.c
  src/wazuh_db/wdb_parser.c
Labels: core/db

#6448 Add a Wazuh DB command to disconnect the agents that didn't send a keepalive - Implementation
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb_agent.c
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/unit_tests/wazuh_db/test_wdb_global_parser.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.h
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_agent.c
  src/wazuh_db/wdb_global.c
  src/wazuh_db/wdb_parser.c
Labels: core/db

#6314 Analysisd decoder accept PCRE2 expressions
  src/analysisd/config_json.c
  src/analysisd/decoders/decode-xml.c
  src/analysisd/decoders/decoder.c
  src/analysisd/decoders/decoder.h
  src/analysisd/expression.c
  src/analysisd/expression.h
  src/error_messages/error_messages.h
  src/error_messages/warning_messages.h
  src/unit_tests/analysisd/CMakeLists.txt
  src/unit_tests/analysisd/test_decode-xml.c
Labels: core/analysisd

#6465 Updating logic in monitord for agents monitoring
  src/monitord/main.c
  src/monitord/monitor_actions.c
  src/monitord/monitor_agents.c
  src/monitord/monitord.c
  src/monitord/monitord.h
Labels: core/monitord

#6459 Update Vulnerability Detector to get agents by connection status
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector
