Repository wazuh/wazuh, pull requests merged in 2020-03, with the labels that each got.

#4688 Fim rework sqlite unit tests
  src/analysisd/decoders/dbsync.c
  src/analysisd/decoders/syscheck.c
  src/error_messages/error_messages.h
  src/shared/audit_op.c
  src/shared/syscheck_op.c
  src/syscheckd/create_db.c
  src/syscheckd/fim_db.c
  src/syscheckd/fim_sync.c
  src/syscheckd/run_check.c
  src/syscheckd/seechanges.c
  src/syscheckd/syscheck.c
  src/syscheckd/syscheck.h
  src/syscheckd/syscheck_audit.c
  src/unit_tests/CMakeLists.txt
  src/unit_tests/test_analysisd_syscheck.c
  src/unit_tests/test_audit_op.c
  src/unit_tests/test_create_db.c
  src/unit_tests/test_empty_config.conf
  src/unit_tests/test_fim_db.c
  src/unit_tests/test_fim_sync.c
  src/unit_tests/test_run_check.c
  src/unit_tests/test_run_realtime.c
  src/unit_tests/test_seechanges.c
  src/unit_tests/test_syscheck.c
  src/unit_tests/test_syscheck2.conf
  src/unit_tests/test_syscheck_audit.c
  src/unit_tests/test_syscheck_config.c
  src/unit_tests/test_syscheck_op.c
  src/unit_tests/test_syscom.c
  src/unit_tests/test_wdb_fim.c
  src/unit_tests/test_wdb_integrity.c
  src/wazuh_db/wdb_fim.c
Labels: core/fim

#4690 FIM: Fix folder descriptor not freed when removing folder
  src/headers/syscheck_op.h
  src/shared/syscheck_op.c
  src/syscheckd/run_realtime.c
Labels: core/fim

#4668 FIM v2.0: Fix delete alerts for realtime and whodata modes
  src/syscheckd/create_db.c
  src/syscheckd/fim_db.c
  src/syscheckd/fim_db.h
  src/unit_tests/test_fim_db.c
Labels: core/fim

#4680 FIM v2.0: Add minor fixes
  src/headers/shared.h
  src/shared/syscheck_op.c
  src/syscheckd/create_db.c
  src/syscheckd/fim_db.c
  src/syscheckd/run_realtime.c
  src/syscheckd/win_whodata.c
Labels: core/fim

#4695 Fix reload of Audit rules on Windows
  src/syscheckd/run_check.c
Labels: bug, core/fim, core/fim/audit

#4664 Fixed defects and compilation warn
  src/addagent/main.c
  src/config/syscheck-config.c
  src/config/wmodules-command.c
  src/os_auth/main-client.c
  src/os_auth/main-server.c
  src/os_integrator/integrator.c
  src/os_maild/os_maild_client.c
  src/shared/custom_output_search_replace.c
  src/shared/file_op.c
  src/shared/string_op.c
  src/shared/vector_op.c
  src/syscheckd/create_db.c
  src/syscheckd/fim_db.c
  src/syscheckd/win_whodata.c
Labels: bug

#4702 Fix agent drop when scanning registries
  src/syscheckd/create_db.c
Labels: bug, core/fim, platform/windows

#4707 FIM: Check if synchronization is enabled in Windows
  src/syscheckd/run_check.c
Labels: core/fim, platform/windows

#4713 fim_json_event() unblocked
  src/syscheckd/create_db.c
Labels: core/fim

#4705 FIM: Fix Windows compilation warnings
  src/os_net/os_net.c
  src/os_net/os_net.h
  src/rootcheck/rootcheck.h
  src/rootcheck/run_rk_check.c
  src/syscheckd/fim_sync.c
  src/syscheckd/run_check.c
  src/syscheckd/syscheck.h
Labels: core/fim, platform/windows

#4712 Decrement windows_audit_interval
  src/win32/ossec-pre6.conf
  src/win32/ossec.conf
Labels: core/fim, core/fim/audit, platform/windows

#4708 FIM v2.0: Fix race-condition when removing locked database file
  src/error_messages/debug_messages.h
  src/syscheckd/fim_db.c
  src/syscheckd/fim_db.h
  src/win32/win_service.c
Labels: core/fim, platform/windows

#4728 FIM v2.0: Fix the "tag" attribute when deleting file
  src/syscheckd/fim_db.c
Labels: core/fim

#4738 FIMv v2.0: Fix show delete event when using scheduled and in-memory database
  src/shared/vector_op.c
  src/syscheckd/fim_db.c
Labels: core/fim, platform/windows

#4734 Update kibana.yml
  extensions/kibana/7.x/kibana.yml
Labels: app/kibana, elastic-stack

#4745 Update filebeat.yml
  extensions/filebeat/7.x/filebeat.yml
Labels: elastic-stack

#4746 Update filebeat_all_in_one.yml
  extensions/filebeat/7.x/filebeat_all_in_one.yml
Labels: elastic-stack

#4675 Fix segmentation fault in Fluent Forwarder module
  src/wazuh_modules/wm_fluent.c
Labels: bug, core/fluent-forwarder

#4751 Delete pi character compilation error
  src/shared/mq_op.c
Labels: bug

#4795 Improve error log when Agentd cannot connect to the control module
  src/client-agent/notify.c
Labels: core/agent

#4802 Fix infinite loop in Logcollector when sending a message to a socket
  src/headers/mq_op.h
  src/logcollector/logcollector.c
Labels: bug, bug/regression, core/logcollector, operations
