Repository wazuh/wazuh, pull requests merged in 2020-08, with the labels that each got.

#5549 Vulnerability Detector: Unit tests for the RHEL OVAL support
  src/unit_tests/wazuh_modules/vulnerability_detector/mocks_wm_vuln_detector.c
  src/unit_tests/wazuh_modules/vulnerability_detector/mocks_wm_vuln_detector.h
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#5600 Vulnerability-Detector: Discard Windows CPE's with invalid version
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#5524 Vulnerability-detector: Fix support for recent Windows Server versions
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: bug, core/vuln detector

#5627 5615 ready to review script
  src/dbsync/build.sh
  src/dbsync/cppcheckSuppress.txt
  src/dbsync/readme.md
  src/dbsync/tests/interface/CMakeLists.txt
Labels: core/dbsync

#5606 5605 mark unmodified as updated in txn
  src/dbsync/src/sqlite/sqlite_dbengine.cpp
  src/dbsync/src/sqlite/sqlite_dbengine.h
  src/dbsync/tests/pipelineFactory/dbsyncPipelineFactory_test.cpp
Labels: core/dbsync

#5636 RTR build update
  src/dbsync/build.sh
Labels: core/dbsync

#5640 [WPK] Validate and download WPKs
  etc/templates/config/generic/wodle-agent-upgrade.template
  src/error_messages/debug_messages.h
  src/error_messages/error_messages.h
  src/init/inst-functions.sh
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_agent.c
  src/wazuh_modules/agent_upgrade/agent/wm_agent_upgrade_agent.c
  src/wazuh_modules/agent_upgrade/agent/wm_agent_upgrade_agent.h
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_commands.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_manager.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_manager.h
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_parsing.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_parsing.h
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_tasks.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_tasks.h
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_validate.c
  src/wazuh_modules/agent_upgrade/wm_agent_upgrade.c
  src/wazuh_modules/agent_upgrade/wm_agent_upgrade.h
Labels: core/modulesd

#5543 wazuh-logtest - manage client session
  src/analysisd/analysisd.c
  src/analysisd/analysisd.h
  src/analysisd/decoders/decode-xml.c
  src/analysisd/decoders/decoder.h
  src/analysisd/decoders/decoders_list.c
  src/analysisd/decoders/plugin_decoders.h
  src/analysisd/decoders/plugins/sonicwall_decoder.c
  src/analysisd/eventinfo.h
  src/analysisd/eventinfo_list.c
  src/analysisd/lists.c
  src/analysisd/lists.h
  src/analysisd/lists_list.c
  src/analysisd/lists_make.c
  src/analysisd/lists_make.h
  src/analysisd/logtest.c
  src/analysisd/logtest.h
  src/analysisd/makelists.c
  src/analysisd/rules.c
  src/analysisd/rules.h
  src/analysisd/rules_list.c
  src/analysisd/testrule.c
  src/os_regex/os_match_free_pattern.c
  src/os_regex/os_regex_free_pattern.c
Labels: core/logtest

#5644 [5518] DBSync Code Coverage increase
  src/dbsync/build.sh
  src/dbsync/cppcheckSuppress.txt
  src/dbsync/src/dbsync.cpp
  src/dbsync/src/sqlite/sqlite_dbengine.cpp
  src/dbsync/tests/dbengine/dbengine_test.cpp
  src/dbsync/tests/interface/dbsync_test.cpp
  src/dbsync/tests/interface/dbsync_test.h
  src/dbsync/tests/pipelineFactory/CMakeLists.txt
Labels: core/dbsync

#5641 5634 add flexibility to select
  src/dbsync/smokeTests/InsertionUpdateAndDelete/inputSyncRowInsertTxn.json
  src/dbsync/smokeTests/InsertionUpdateDeleteSelect/Readme.md
  src/dbsync/smokeTests/InsertionUpdateDeleteSelect/deleteRows.json
  src/dbsync/smokeTests/InsertionUpdateDeleteSelect/inputSelectRows.json
  src/dbsync/smokeTests/InsertionUpdateDeleteSelect/inputSyncRowInsert.json
  src/dbsync/smokeTests/InsertionUpdateDeleteSelect/inputSyncRowModified.json
  src/dbsync/src/sqlite/isqlite_wrapper.h
  src/dbsync/src/sqlite/sqlite_dbengine.cpp
  src/dbsync/src/sqlite/sqlite_wrapper.cpp
  src/dbsync/src/sqlite/sqlite_wrapper.h
  src/dbsync/tests/interface/dbsync_test.cpp
  src/dbsync/tests/mocks/sqlitewrapper_mock.h
  src/dbsync/testtool/action.h
  src/dbsync/testtool/input/inputSelectRows.json
Labels: core/dbsync

#5532 ReadDecodeXML & Rules_OP_ReadRules - Remove error and warning
  src/analysisd/analysisd.c
  src/analysisd/decoders/decode-xml.c
  src/analysisd/decoders/decoder.h
  src/analysisd/decoders/decoders_list.c
  src/analysisd/logmsg.c
  src/analysisd/logmsg.h
  src/analysisd/logtest.c
  src/analysisd/logtest.h
  src/analysisd/rules.c
  src/analysisd/rules.h
  src/analysisd/rules_list.c
  src/analysisd/testrule.c
  src/config/syscheck-config.c
  src/shared/debug_op.c
  src/shared/rules_op.c
  src/shared/validate_op.c
Labels: core/logtest

#5663 5633 dbsync fim integration tests
  src/dbsync/CMakeLists.txt
  src/dbsync/build.sh
  src/dbsync/integrationTests/CMakeLists.txt
  src/dbsync/integrationTests/Readme.md
  src/dbsync/integrationTests/fim/CMakeLists.txt
  src/dbsync/integrationTests/fim/fimDbDump.h
  src/dbsync/integrationTests/fim/fimIntegrationTest.cpp
  src/dbsync/integrationTests/fim/fimIntegrationTest.h
  src/dbsync/integrationTests/fim/main.cpp
Labels: core/dbsync

#5646 Remove "V4" version string from our endpoints
  api/api/spec/spec.yaml
  api/scripts/wazuh-apid.py
  api/test/integration/common.yaml
  api/test/integration/conftest.py
  api/test/integration/test_active-response_endpoints.tavern.yaml
  api/test/integration/test_agents_DELETE_endpoints.tavern.yaml
  api/test/integration/test_agents_GET_endpoints.tavern.yaml
  api/test/integration/test_agents_POST_endpoints.tavern.yaml
  api/test/integration/test_agents_PUT_endpoints.tavern.yaml
  api/test/integration/test_ciscat_endpoints.tavern.yaml
  api/test/integration/test_cluster_endpoints.tavern.yaml
  api/test/integration/test_decoders_endpoints.tavern.yaml
  api/test/integration/test_default_endpoints.tavern.yaml
  api/test/integration/test_experimental_endpoints.tavern.yaml
  api/test/integration/test_lists_endpoints.tavern.yaml
  api/test/integration/test_manager_endpoints.tavern.yaml
  api/test/integration/test_mitre_endpoints.tavern.yaml
  api/test/integration/test_overview_endpoints.tavern.yaml
  api/test/integration/test_rbac_black_active-response_endpoints.tavern.yaml
  api/test/integration/test_rbac_black_agents_endpoints.tavern.yaml
  api/test/integration/test_rbac_black_ciscat_endpoints.tavern.yaml
  api/test/integration/test_rbac_black_cluster_endpoints.tavern.yaml
  api/test/integration/test_rbac_black_decoders_endpoints.tavern.yaml
  api/test/integration/test_rbac_black_experimental_endpoints.tavern.yaml
  api/test/integration/test_rbac_black_lists_endpoints.tavern.yaml
  api/test/integration/test_rbac_black_manager_endpoints.tavern.yaml
  api/test/integration/test_rbac_black_mitre_endpoints.tavern.yaml
  api/test/integration/test_rbac_black_overview_endpoints.tavern.yaml
  api/test/integration/test_rbac_black_rules_endpoints.tavern.yaml
  api/test/integration/test_rbac_black_sca_endpoints.tavern.yaml
  api/test/integration/test_rbac_black_security_endpoints.tavern.yaml
  api/test/integration/test_rbac_black_syscheck_endpoints.tavern.yaml
  api/test/integration/test_rbac_black_syscollector_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_active-response_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_agents_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_ciscat_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_cluster_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_decoders_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_experimental_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_lists_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_manager_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_mitre_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_overview_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_rules_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_sca_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_security_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_syscheck_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_syscollector_endpoints.tavern.yaml
  api/test/integration/test_rules_endpoints.tavern.yaml
  api/test/integration/test_sca_endpoints.tavern.yaml
  api/test/integration/test_security_DELETE_endpoints.tavern.yaml
  api/test/integration/test_security_GET_endpoints.tavern.yaml
  api/test/integration/test_security_POST_endpoints.tavern.yaml
  api/test/integration/test_security_PUT_endpoints.tavern.yaml
  api/test/integration/test_syscheck_endpoints.tavern.yaml
  api/test/integration/test_syscollector_endpoints.tavern.yaml
Labels: API

#5660 Vulnerability-Detector: Deprecate Debian Jessie
  etc/templates/config/generic/wodle-vulnerability-detector.manager.template
  src/config/wmodules-vuln-detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: core/vuln detector

#5674 FIM several improvements
  CHANGELOG.md
  src/config/syscheck-config.c
  src/config/syscheck-config.h
  src/error_messages/debug_messages.h
  src/error_messages/error_messages.h
  src/error_messages/warning_messages.h
  src/os_regex/os_regex_strbreak.c
  src/syscheckd/config.c
  src/syscheckd/create_db.c
  src/syscheckd/fim_db.c
  src/syscheckd/run_realtime.c
  src/syscheckd/seechanges.c
  src/syscheckd/win_whodata.c
  src/unit_tests/CMakeLists.txt
  src/unit_tests/syscheckd/CMakeLists.txt
  src/unit_tests/syscheckd/test_create_db.c
  src/unit_tests/syscheckd/test_fim_db.c
  src/unit_tests/syscheckd/test_run_check.c
  src/unit_tests/syscheckd/test_syscheck_config.c
  src/unit_tests/syscheckd/test_win_whodata.c
  src/unit_tests/test_syscheck3.conf
  src/unit_tests/test_syscheck_top_level.conf
  src/unit_tests/test_syscheck_top_level_win.conf
  src/unit_tests/test_syscheck_win3.conf
Labels: core/fim

#5672 5417 dbsync trigger actions in relationships
  src/dbsync/include/dbsync.h
  src/dbsync/smokeTests/config.json
  src/dbsync/smokeTests/triggerActions/Readme.md
  src/dbsync/smokeTests/triggerActions/addTableRelationship.json
  src/dbsync/smokeTests/triggerActions/deleteRows.json
  src/dbsync/smokeTests/triggerActions/insertDataProcesses.json
  src/dbsync/smokeTests/triggerActions/insertDataSocket.json
  src/dbsync/src/dbengine.h
  src/dbsync/src/dbsync.cpp
  src/dbsync/src/dbsync_implementation.cpp
  src/dbsync/src/dbsync_implementation.h
  src/dbsync/src/sqlite/sqlite_dbengine.cpp
  src/dbsync/src/sqlite/sqlite_dbengine.h
  src/dbsync/tests/dbengine/dbengine_test.cpp
  src/dbsync/tests/interface/dbsync_test.cpp
  src/dbsync/testtool/action.h
  src/dbsync/testtool/factoryAction.h
Labels: core/dbsync

#5669 5668 Fixed race condition in pipeline rundown.
  src/dbsync/build.sh
  src/dbsync/src/dbsyncPipelineFactory.cpp
  src/dbsync/utils/threadDispatcher.h
Labels: core/dbsync

#5671 [WPK] Send WPK to agents and update tasks state
  src/config/wmodules-agent-upgrade.c
  src/error_messages/debug_messages.h
  src/error_messages/error_messages.h
  src/wazuh_modules/agent_upgrade/agent/wm_agent_upgrade_agent.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_commands.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_manager.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_manager.h
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_parsing.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_parsing.h
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_tasks.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_validate.c
  src/wazuh_modules/agent_upgrade/wm_agent_upgrade.h
  src/wazuh_modules/task_manager/wm_task_manager_db.c
Labels: core/modulesd

#5688 Remove white line in the alerts checksum file
  src/monitord/sign_log.c
Labels: core/analysisd

#5685 [5667] Adding flexible way to use the deleteRowsData APIs
  src/dbsync/smokeTests/InsertionUpdateDeleteSelect/deleteRows.json
  src/dbsync/src/db_exception.h
  src/dbsync/src/dbengine.h
  src/dbsync/src/dbsync_implementation.cpp
  src/dbsync/src/sqlite/sqlite_dbengine.cpp
  src/dbsync/src/sqlite/sqlite_dbengine.h
  src/dbsync/tests/interface/dbsync_test.cpp
  src/dbsync/testtool/input/deleteRows.json
Labels: core/dbsync

#5710 Fix compilation error in old versions of GCC
  src/analysisd/eventinfo.h
Labels: core/logtest

#5692 Unit tests for session functions and memory release
  src/analysisd/lists_list.c
  src/analysisd/logtest.c
  src/analysisd/rules_list.c
  src/unit_tests/analysisd/CMakeLists.txt
  src/unit_tests/analysisd/test_decode-xml.c
  src/unit_tests/analysisd/test_decoder_list.c
  src/unit_tests/analysisd/test_eventinfo_list.c
  src/unit_tests/analysisd/test_lists_list.c
  src/unit_tests/analysisd/test_logtest.c
  src/unit_tests/analysisd/test_rule_list.c
Labels: core/logtest

#5719 Add new exceptions and several fixes to framework
  api/api/configuration.py
  api/api/middlewares.py
  api/api/models/base_model_.py
  api/api/util.py
  api/scripts/configure_api.py
  api/scripts/migration.py
  api/scripts/wazuh-apid.py
  framework/wazuh/core/cluster/dapi/requests_list.py
  framework/wazuh/core/exception.py
  src/init/inst-functions.sh
Labels: API, framework

#5705 [5670] Adding support for compound primary keys in DBSync library
  src/dbsync/src/db_exception.h
  src/dbsync/src/sqlite/sqlite_dbengine.cpp
  src/dbsync/src/sqlite/sqlite_dbengine.h
  src/dbsync/tests/interface/dbsync_test.cpp
Labels: core/dbsync

#5734 Wazuh-logtest: fix race condition
  src/analysisd/analysisd.c
  src/analysisd/analysisd.h
  src/analysisd/decoders/ciscat.c
  src/analysisd/decoders/decode-xml.c
  src/analysisd/decoders/decoder.h
  src/analysisd/decoders/decoders_list.c
  src/analysisd/decoders/hostinfo.c
  src/analysisd/decoders/rootcheck.c
  src/analysisd/decoders/security_configuration_assessment.c
  src/analysisd/decoders/syscheck.c
  src/analysisd/decoders/syscollector.c
  src/analysisd/decoders/winevtchannel.c
  src/analysisd/logtest.c
  src/analysisd/logtest.h
  src/analysisd/rules.c
  src/analysisd/rules.h
  src/analysisd/testrule.c
Labels: core/logtest

#5732 Fix logtest hardcoded path in restart.sh
  active-response/restart.sh
Labels: bug, core/active-response

#5626 I/O processing in Wazuh-Logtest
  src/analysisd/logmsg.h
  src/analysisd/logtest.c
  src/analysisd/logtest.h
  src/error_messages/error_messages.h
  src/error_messages/information_messages.h
  src/error_messages/warning_messages.h
  src/unit_tests/analysisd/CMakeLists.txt
  src/unit_tests/analysisd/test_logtest.c
  src/unit_tests/shared/test_mq_op.c
Labels: core/logtest

#5746 [5726] Changed getStatement call to createStatement so that the statement is…
  src/dbsync/src/sqlite/sqlite_dbengine.cpp
Labels: core/dbsync

#5748 [5725] Adding flexibility to the insert operation and control every stmt step
  src/dbsync/cppcheckSuppress.txt
  src/dbsync/src/db_exception.h
  src/dbsync/src/sqlite/sqlite_dbengine.cpp
  src/dbsync/src/sqlite/sqlite_dbengine.h
  src/dbsync/src/sqlite/sqlite_wrapper.cpp
  src/dbsync/src/sqlite/sqlite_wrapper.h
Labels: core/dbsync

#5764 [5728] Adding RSync folder structure
  src/rsync/CMakeLists.txt
  src/rsync/include/rsync.h
  src/rsync/integrationTests/CMakeLists.txt
  src/rsync/rsync_doxygen.conf
  src/rsync/smokeTests/Readme.md
  src/rsync/src/rsync.cpp
  src/rsync/tests/CMakeLists.txt
Labels: core/remote-sync

#5774 [WPK] Wpk fixes in tasks DB
  etc/templates/config/generic/wodle-agent-upgrade.manager.template
  src/config/wmodules-task-manager.c
  src/error_messages/debug_messages.h
  src/init/wazuh/wazuh.sh
  src/wazuh_db/schema_task_manager.sql
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_commands.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_manager.h
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_tasks_callbacks.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_validate.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_validate.h
  src/wazuh_modules/task_manager/wm_task_manager.c
  src/wazuh_modules/task_manager/wm_task_manager.h
  src/wazuh_modules/task_manager/wm_task_manager_db.c
  src/wazuh_modules/task_manager/wm_task_manager_db.h
  src/wazuh_modules/wm_task_general.c
  src/wazuh_modules/wm_task_general.h
Labels: core/modulesd

#5762 Fix memleak bad opt rules - Analisysd
  src/analysisd/rules.c
Labels: core/logtest

#5759 Logtest - Fix output msg and error code
  src/analysisd/logtest.c
Labels: core/logtest

#5609 Add auto-enrollment feature so that agents can request a key to the manager on their own
  CHANGELOG.md
  framework/wazuh/agent.py
  framework/wazuh/core/agent.py
  framework/wazuh/core/cluster/common.py
  framework/wazuh/core/cluster/dapi/dapi.py
  framework/wazuh/core/cluster/local_client.py
  framework/wazuh/core/cluster/local_server.py
  framework/wazuh/core/cluster/master.py
  framework/wazuh/core/cluster/worker.py
  framework/wazuh/core/configuration.py
  framework/wazuh/core/ossec_socket.py
  framework/wazuh/core/tests/test_wazuh_socket.py
  framework/wazuh/core/wazuh_socket.py
  src/addagent/main.c
  src/addagent/manage_agents.c
  src/addagent/manage_agents.h
  src/addagent/validate.c
  src/client-agent/config.c
  src/client-agent/start_agent.c
  src/config/client-config.c
  src/headers/defs.h
  src/headers/enrollment_op.h
  src/headers/read-agents.h
  src/init/ossec-server.sh
  src/os_auth/auth.c
  src/os_auth/auth.h
  src/os_auth/local-server.c
  src/os_auth/main-server.c
  src/os_execd/config.c
  src/os_net/os_net.c
  src/os_net/os_net.h
  src/shared/agent_op.c
  src/shared/auth_client.c
  src/shared/enrollment_op.c
  src/shared/read-agents.c
  src/unit_tests/os_auth/CMakeLists.txt
  src/unit_tests/os_auth/test_auth_add.c
  src/unit_tests/os_auth/test_auth_parse.c
  src/unit_tests/os_auth/test_auth_validate.c
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/shared/test_agent_op.c
  src/unit_tests/shared/test_enrollment_op.c
  src/win32/agent_auth.c
Labels: core/agent, core/auth, enhancement

#5770 sync-agent-info-get memory leak fix
  src/wazuh_db/wdb_global.c
Labels: bug/descriptor leak

#5783 Fix ID filter in MITRE
  api/api/controllers/mitre_controller.py
  api/test/integration/test_mitre_endpoints.tavern.yaml
Labels: API, v4.0.0

#5799 [5765] DBSync project addition in Makefile with its deps
  src/Makefile
  src/VERSION
  src/dbsync/CMakeLists.txt
  src/dbsync/integrationTests/CMakeLists.txt
  src/dbsync/tests/CMakeLists.txt
Labels: core/dbsync

#5810 Fix jwt token duration and rbac mode for production
  api/api/spec/spec.yaml
  api/api/test/test_authentication.py
  api/api/test/test_validator.py
  api/api/validator.py
  api/test/integration/env/configurations/base/manager/security.yaml
  api/test/integration/test_cluster_endpoints.tavern.yaml
  api/test/integration/test_rbac_black_active-response_endpoints.tavern.yaml
  framework/wazuh/core/agent.py
  framework/wazuh/core/cluster/tests/test_control.py
  framework/wazuh/core/tests/test_agent.py
  framework/wazuh/core/tests/test_wazuh_socket.py
  framework/wazuh/core/wazuh_socket.py
  framework/wazuh/rbac/tests/test_default_configuration.py
  framework/wazuh/tests/test_stats.py
Labels: API

#5721 Unify Wazuh Manager and API services and remove OpenSCAP files
  api/Makefile
  api/service/install_daemon.sh
  api/service/wazuh-api
  api/service/wazuh-api.service
  etc/templates/config/centos/6/openscap.files
  etc/templates/config/centos/6/wodle-openscap.template
  etc/templates/config/centos/7/openscap.files
  etc/templates/config/centos/7/wodle-openscap.template
  etc/templates/config/debian/8/openscap.files
  etc/templates/config/debian/8/wodle-openscap.template
  etc/templates/config/debian/9/openscap.files
  etc/templates/config/debian/9/wodle-openscap.template
  etc/templates/config/fedora/24/openscap.files
  etc/templates/config/fedora/24/wodle-openscap.template
  etc/templates/config/generic/wodle-openscap.template
  etc/templates/config/rhel/6/openscap.files
  etc/templates/config/rhel/6/wodle-openscap.template
  etc/templates/config/rhel/7/openscap.files
  etc/templates/config/rhel/7/wodle-openscap.template
  etc/templates/config/ubuntu/14/04/openscap.files
  etc/templates/config/ubuntu/14/04/wodle-openscap.template
  etc/templates/config/ubuntu/16/04/openscap.files
  etc/templates/config/ubuntu/16/04/wodle-openscap.template
  framework/Makefile
  gen_ossec.sh
  install.sh
  src/init/inst-functions.sh
  src/init/ossec-server.sh
  src/init/shared.sh
  src/init/wazuh/wazuh.sh
Labels: enhancement, installer, services

#5813 Vulnerability-Detector: Unit test for the MSU feed
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/shared/test_file_op.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#5678 Vulnerability-Detector: Add support for the MSU automatic update
  etc/templates/config/generic/wodle-vulnerability-detector.manager.template
  src/Makefile
  src/config/wmodules-vuln-detector.c
  src/error_messages/debug_messages.h
  src/headers/url.h
  src/shared/url.c
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/shared/test_file_op.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_db/schema_vuln_detector.sql
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector, enhancement

#5792 Syscollector: Enhance Windows registry fetcher
  src/wazuh_modules/syscollector/syscollector.h
  src/wazuh_modules/syscollector/syscollector_windows.c
Labels: core/syscollector, core/vuln detector, enhancement

#5819 5747 dbsync build script to py
  src/Makefile
  src/dbsync/CMakeLists.txt
  src/dbsync/build.py
  src/dbsync/build.sh
  src/dbsync/cppcheckSuppress.txt
  src/dbsync/example/CMakeLists.txt
  src/dbsync/integrationTests/fim/CMakeLists.txt
  src/dbsync/readme.md
  src/dbsync/src/sqlite/sqlite_dbengine.cpp
  src/dbsync/tests/dbengine/CMakeLists.txt
  src/dbsync/tests/interface/CMakeLists.txt
  src/dbsync/tests/pipelineFactory/CMakeLists.txt
  src/dbsync/tests/sqlite/CMakeLists.txt
  src/dbsync/tests/sqlite/sqlite_test.cpp
  src/dbsync/tests/utils/CMakeLists.txt
  src/dbsync/testtool/CMakeLists.txt
Labels: core/dbsync

#5822 [WPK] Unit tests for upgrade module functions
  src/unit_tests/wazuh_modules/agent_upgrade/CMakeLists.txt
  src/unit_tests/wazuh_modules/agent_upgrade/test_wm_agent_upgrade_agent.c
  src/unit_tests/wazuh_modules/agent_upgrade/test_wm_agent_upgrade_commands.c
  src/unit_tests/wazuh_modules/agent_upgrade/test_wm_agent_upgrade_manager.c
  src/unit_tests/wazuh_modules/agent_upgrade/test_wm_agent_upgrade_parsing.c
  src/unit_tests/wazuh_modules/agent_upgrade/test_wm_agent_upgrade_tasks.c
  src/unit_tests/wazuh_modules/agent_upgrade/test_wm_agent_upgrade_tasks_callbacks.c
  src/unit_tests/wazuh_modules/agent_upgrade/test_wm_agent_upgrade_validate.c
  src/wazuh_modules/agent_upgrade/agent/wm_agent_upgrade_agent.c
  src/wazuh_modules/agent_upgrade/agent/wm_agent_upgrade_agent.h
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_commands.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_manager.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_manager.h
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_parsing.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_tasks.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_tasks.h
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_tasks_callbacks.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_validate.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_validate.h
  src/wazuh_modules/agent_upgrade/wm_agent_upgrade.c
  src/wazuh_modules/agent_upgrade/wm_agent_upgrade.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: core/modulesd

#4641 explicitly use bash for the pagerduty integration
  integrations/pagerduty
Labels: community, core/integratord

#5827 Fix issues reported by coverity scan in FIM module
  src/headers/syscheck_op.h
  src/shared/syscheck_op.c
  src/syscheckd/create_db.c
  src/syscheckd/fim_db.c
  src/syscheckd/syscheck_audit.c
  src/unit_tests/shared/test_syscheck_op.c
  src/unit_tests/syscheckd/test_create_db.c
  src/unit_tests/syscheckd/test_fim_db.c
  src/unit_tests/syscheckd/test_syscheck_audit.c
Labels: core/fim

#5826 Fix Vulnerability Detector alerts title
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#5832 Logtest-memleak-rule-dont-match
  src/analysisd/analysisd.c
  src/analysisd/eventinfo.c
  src/analysisd/eventinfo.h
  src/analysisd/logtest.c
Labels: core/logtest

#5444 Vulnerability Detector: Accumulated tasks
  etc/templates/config/generic/wodle-vulnerability-detector.manager.template
  src/Makefile
  src/config/wmodules-vuln-detector.c
  src/error_messages/debug_messages.h
  src/error_messages/error_messages.h
  src/headers/file_op.h
  src/headers/url.h
  src/shared/file_op.c
  src/shared/url.c
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/shared/test_file_op.c
  src/unit_tests/wazuh_modules/vulnerability_detector/CMakeLists.txt
  src/unit_tests/wazuh_modules/vulnerability_detector/mocks_wm_vuln_detector.c
  src/unit_tests/wazuh_modules/vulnerability_detector/mocks_wm_vuln_detector.h
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector_evr.c
  src/wazuh_db/schema_vuln_detector.sql
  src/wazuh_modules/syscollector/syscollector.h
  src/wazuh_modules/syscollector/syscollector_windows.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_evr.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
  tools/vulnerability-detector/nvd-generator.sh
  tools/vulnerability-detector/rh-generator.sh
Labels: core/vuln detector

#5846 Fix default users and add do not modify disclaimer
  api/test/integration/env/configurations/base/manager/security.yaml
  framework/wazuh/rbac/default/policies.yaml
  framework/wazuh/rbac/default/relationships.yaml
  framework/wazuh/rbac/default/roles.yaml
  framework/wazuh/rbac/default/rules.yaml
  framework/wazuh/rbac/default/users.yaml
Labels: RBAC

#5855 [5805] RSync interfaces addition
  src/shared_modules/common/commonDefs.h
  src/shared_modules/dbsync/CMakeLists.txt
  src/shared_modules/dbsync/include/dbsync.h
  src/shared_modules/dbsync/src/dbengine.h
  src/shared_modules/dbsync/src/dbengine_factory.h
  src/shared_modules/dbsync/src/dbsyncPipelineFactory.h
  src/shared_modules/dbsync/src/dbsync_implementation.h
  src/shared_modules/dbsync/src/sqlite/sqlite_dbengine.cpp
  src/shared_modules/dbsync/src/sqlite/sqlite_wrapper.h
  src/shared_modules/dbsync/src/sqlite/sqlite_wrapper_factory.h
  src/shared_modules/dbsync/tests/interface/dbsync_test.h
  src/shared_modules/rsync/CMakeLists.txt
  src/shared_modules/rsync/include/rsync.h
  src/shared_modules/rsync/src/rsync.cpp
Labels: core/remote-sync
