Repository wazuh/wazuh, pull requests merged in 2020-06, with the labels that each got.

#5129 Reduce Framework Python file permissions
  src/Makefile
  src/init/wazuh/wazuh.sh
Labels: core/Makefile

#5140 Vulnerability-detector: Minor fix for RHEL source packages parser
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: bug, core/vuln detector

#5142 Disconnected time in ossec-agentd.state (max_time_reconnect_try)
  src/client-agent/state.c
Labels: bug, core/agent

#5112 Move enrollment process after privilege change
  src/client-agent/agentd.c
  src/client-agent/main.c
  src/client-agent/start_agent.c
  src/os_crypto/shared/keys.c
Labels: bug, core/agent

#5148 [NVD] Improve RHEL regex to parse versions starting with 'v'
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#5159 Fix TOCTOU condition in Clusterd when merging agent-info files
  framework/wazuh/cluster/cluster.py
Labels: bug, cluster

#5141 [NVD] Improve OVAL filter query
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector_nvd.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#5165 Fixing NVD database removal for local feed update
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#5158 Some issues solved in FIM
  src/Makefile
  src/error_messages/debug_messages.h
  src/headers/shared.h
  src/os_crypto/md5/md5_op.c
  src/os_crypto/md5_sha1_sha256/md5_sha1_sha256_op.c
  src/shared/file_op.c
  src/syscheckd/fim_db.c
  src/syscheckd/fim_sync.c
  src/syscheckd/run_realtime.c
  src/syscheckd/seechanges.c
  src/syscheckd/syscheck.h
  src/syscheckd/win_whodata.c
  src/unit_tests/CMakeLists.txt
  src/unit_tests/server.cmake
  src/unit_tests/shared/test_string_op.c
  src/unit_tests/syscheckd/CMakeLists.txt
  src/unit_tests/syscheckd/test_fim_db.c
  src/unit_tests/syscheckd/test_fim_sync.c
  src/unit_tests/syscheckd/test_run_check.c
  src/unit_tests/syscheckd/test_run_realtime.c
  src/unit_tests/syscheckd/test_seechanges.c
  src/unit_tests/syscheckd/test_win_whodata.c
  src/unit_tests/wazuh_modules/gcp/test_wm_gcp.c
  src/unit_tests/wazuh_modules/scheduling/test_aws_scheduling.c
  src/unit_tests/wazuh_modules/scheduling/test_azure_scheduling.c
  src/unit_tests/wazuh_modules/scheduling/test_ciscat_scheduling.c
  src/unit_tests/wazuh_modules/scheduling/test_command_scheduling.c
  src/unit_tests/wazuh_modules/scheduling/test_docker_scheduling.c
  src/unit_tests/wazuh_modules/scheduling/test_gcp_scheduling.c
  src/unit_tests/wazuh_modules/scheduling/test_oscap_scheduling.c
  src/unit_tests/wazuh_modules/scheduling/test_sca_scheduling.c
  src/unit_tests/wazuh_modules/scheduling/wmodules_scheduling_helpers.c
  src/unit_tests/wazuh_modules/scheduling/wmodules_scheduling_helpers.h
  src/unit_tests/wrappers/common.c
  src/unit_tests/wrappers/common.h
  src/unit_tests/wrappers/syscheckd/run_check.c
  src/unit_tests/wrappers/syscheckd/win_whodata.c
  src/wazuh_modules/wm_control.c
  src/wazuh_modules/wmodules.c
  src/wazuh_modules/wmodules.h
Labels: core/fim

#4332 Adapt internal options
  etc/internal_options.conf
Labels: bug, enhancement, operations

#5172 [NVD] Remove Ubuntu and RHEL false positives
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: core/vuln detector

#5123 5121 dev agent enrollment refactor
  src/client-agent/agentd.c
  src/client-agent/agentd.h
  src/client-agent/start_agent.c
  src/win32/win_utils.c
Labels: core/agent, core/auth

#5182 [NVD] Filter NVD vulnerabilities by vendor and target SW
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#5116 Vulnerability-detector: Unit test
  src/unit_tests/wazuh_modules/vulnerability_detector/CMakeLists.txt
  src/unit_tests/wazuh_modules/vulnerability_detector/mocks_wm_vuln_detector.c
  src/unit_tests/wazuh_modules/vulnerability_detector/mocks_wm_vuln_detector.h
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector_evr.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector_nvd.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_evr.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#5150 Bump Python's interpreter to 3.8.2
  framework/requirements.txt
  framework/wazuh/results.py
  src/Makefile
Labels: enhancement, framework

#5207 Fixed wm vuldet index json condition
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: bug, core/vuln detector

#5211 Do not include the state field in Vulnerability Detector alerts
  extensions/elasticsearch/7.x/wazuh-template.json
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#5212 Active Response: Fixed remote restart of Windows agents
  src/analysisd/active-response.c
Labels: bug, core/active-response

#5119 Fixes of bugs reported by gcc version 10.1.0
  src/Makefile
  src/analysisd/analysisd.c
  src/analysisd/analysisd.h
  src/analysisd/config.c
  src/analysisd/decoders/syscheck.c
  src/analysisd/eventinfo.c
  src/client-agent/agentd.c
  src/client-agent/config.c
  src/client-agent/main.c
  src/logcollector/logcollector.c
  src/logcollector/logcollector.h
  src/logcollector/main.c
  src/os_crypto/shared/msgs.c
  src/os_csyslogd/main.c
  src/os_integrator/main.c
  src/remoted/config.c
  src/remoted/main.c
  src/remoted/queue.c
  src/unit_tests/analysisd/CMakeLists.txt
  src/wazuh_db/main.c
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_modules/main.c
  src/wazuh_modules/wm_aws.c
Labels: bug, platform/arch linux

#5003 [#2552] Fix compilation errors with USE_PRELUDE=1
  src/analysisd/analysisd.c
  src/analysisd/output/prelude.c
Labels: community

#5004 Use the proper algorithm name for SHA-256 inside prelude output
  src/analysisd/output/prelude.c
Labels: community

#5155 Vulnerability-detector: Unit test legacy functions
  src/unit_tests/wazuh_modules/vulnerability_detector/CMakeLists.txt
  src/unit_tests/wazuh_modules/vulnerability_detector/mocks_wm_vuln_detector.c
  src/unit_tests/wazuh_modules/vulnerability_detector/mocks_wm_vuln_detector.h
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#5230 Vulnerability-detector: Remove unused code from xml parser
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#5278 Change JSON schema of vulnerability detector
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: core/vuln detector

#5335 Add sleep when run on start is set to no
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#5273 Add base64_log format to the log builder for Logcollector
  src/Makefile
  src/addagent/manage_agents.h
  src/headers/string_op.h
  src/shared/b64.c
  src/shared/log_builder.c
  src/win32/ui/os_win32ui.c
  src/win32/ui/os_win32ui.h
Labels: core/logcollector, enhancement, operations

#5339 5293 expose free method for deallocations managed by hosted process
  src/dbsync/example/main.cpp
  src/dbsync/include/dbsync.h
  src/dbsync/src/dbsync.cpp
  src/dbsync/src/sqlite_dbengine.cpp
  src/dbsync/src/sqlite_wrapper.cpp
  src/dbsync/tests/CMakeLists.txt
  src/dbsync/tests/interface/CMakeLists.txt
  src/dbsync/tests/interface/dbsync_test.cpp
  src/dbsync/tests/interface/dbsync_test.h
  src/dbsync/tests/interface/main.cpp
Labels: core/dbsync

#5330 [Vuln-detector] Use package vendor to discard NVD vulnerabilities
  src/config/wmodules-vuln-detector.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector_nvd.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#5284 Report CVEs from the NVD when affected packages have unspecified version
  src/config/wmodules-vuln-detector.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector_nvd.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#5313 Change Agentd connection Behavior
  src/Makefile
  src/client-agent/agentd.c
  src/client-agent/agentd.h
  src/client-agent/config.c
  src/client-agent/start_agent.c
  src/config/client-config.c
  src/config/client-config.h
  src/os_crypto/shared/msgs.c
  src/unit_tests/agent.cmake
  src/unit_tests/client-agent/CMakeLists.txt
  src/unit_tests/client-agent/test_start_agent.c
  src/unit_tests/winagent.cmake
  src/unit_tests/wrappers/client-agent/start_agent.c
  src/unit_tests/wrappers/client-agent/start_agent.h
  src/win32/win_utils.c
Labels: core/agent

#5316 Add ID to wazuh API 4.0 users, general fixes for integrated tests
  api/api/controllers/security_controller.py
  api/api/spec/spec.yaml
  api/test/integration/env/configurations/base/manager/security/base_security_test.sql
  api/test/integration/env/configurations/rbac/security/black_config.txt
  api/test/integration/env/configurations/rbac/security/black_config.yaml
  api/test/integration/env/configurations/rbac/security/white_config.txt
  api/test/integration/env/configurations/rbac/security/white_config.yaml
  api/test/integration/env/configurations/security/manager/schema_security_test.sql
  api/test/integration/test_rbac_black_security_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_security_endpoints.tavern.yaml
  api/test/integration/test_security_DELETE_endpoints.tavern.yaml
  api/test/integration/test_security_GET_endpoints.tavern.yaml
  api/test/integration/test_security_POST_endpoints.tavern.yaml
  api/test/integration/test_security_PUT_endpoints.tavern.yaml
  framework/wazuh/rbac/auth_context.py
  framework/wazuh/rbac/decorators.py
  framework/wazuh/rbac/orm.py
  framework/wazuh/rbac/tests/data/schema_security_test.sql
  framework/wazuh/rbac/tests/test_default_configuration.py
  framework/wazuh/rbac/tests/test_orm.py
  framework/wazuh/security.py
  framework/wazuh/tests/data/security/policies_test_cases.yml
  framework/wazuh/tests/data/security/rbac_catalog.yml
  framework/wazuh/tests/data/security/role_policies_test_cases.yml
  framework/wazuh/tests/data/security/roles_test_cases.yml
  framework/wazuh/tests/data/security/schema_security_test.sql
  framework/wazuh/tests/data/security/users_roles_test_cases.yml
  framework/wazuh/tests/test_security.py
Labels: API, RBAC

#5308 Fix defect reported by Coverity on Vulnerability Detector
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#5236 Fix support for Prelude in Analysisd
  src/analysisd/analysisd.c
  src/analysisd/output/prelude.c
Labels: bug, community, core/analysisd

#5305 Report CVEs vulnerable for the vendor while missing in the NVD
  src/error_messages/error_messages.h
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
Labels: core/vuln detector
