Repository wazuh/wazuh, pull requests merged in 2021-09, with the labels that each got.

#8202 Reduced FIM verbosity
  src/error_messages/debug_messages.h
  src/syscheckd/create_db.c
  src/syscheckd/db/fim_db.c
  src/syscheckd/db/fim_db_files.c
  src/syscheckd/db/fim_db_registries.c
  src/syscheckd/fim_sync.c
  src/syscheckd/main.c
  src/syscheckd/run_check.c
  src/syscheckd/run_realtime.c
  src/syscheckd/syscheck.c
  src/syscheckd/whodata/audit_rule_handling.c
  src/syscheckd/whodata/win_whodata.c
  src/unit_tests/syscheckd/db/expect_fim_db.c
  src/unit_tests/syscheckd/db/test_fim_db_files.c
  src/unit_tests/syscheckd/test_create_db.c
  src/unit_tests/syscheckd/test_run_check.c
  src/unit_tests/syscheckd/test_run_realtime.c
  src/unit_tests/syscheckd/whodata/test_audit_rule_handling.c
  src/unit_tests/syscheckd/whodata/test_win_whodata.c
Labels: enhancement, core/fim

#9897 Fix version update problem from previous versions to 4.2
  src/win32/wazuh-installer.wxs
Labels: installer

#9959 Fixed Readme.md syntax errors
  src/Readme.md
Labels: documentation

#9310 Fix a leak in the Eventchannel reader when re-subscribing to a channel
  src/logcollector/read_win_event_channel.c
Labels: bug, core/logcollector, core/agent, platform/windows, bug/descriptor leak, Eventchannel

#9965 Adding prematch to decoder exim-unrouteable-address
  ruleset/decoders/0445-exim_decoders.xml
Labels: threatintel, threatintel/decoders

#9967 Fix memory leak in OS_StartCounter()
  src/client-agent/start_agent.c
Labels: bug, core/agent, memory

#9987 Prevent Analysisd from creating file resources when running in test mode
  src/analysisd/analysisd.c
Labels: bug, core/analysisd, operations, bug/regression

#9969 Fix merge.mg transfer loop when remote_conf is disabled
  src/client-agent/receiver-win.c
  src/client-agent/receiver.c
Labels: core/agent

#9976 Add centralized configuration management diagrams
  architecture/centralized_configuration/001-sequence.puml
  architecture/centralized_configuration/Readme.md
Labels: core/configuration

#9750 PR: Changes to SCA: cis_ubuntu20-04.yml
  ruleset/sca/ubuntu/cis_ubuntu20-04.yml
Labels: threatintel, threatintel/sca

#9994 9986 - Add passwd rules for Auditd
  ruleset/rules/0365-auditd_rules.xml
  ruleset/testing/tests/auditd.ini
Labels: threatintel, threatintel/rules

#10025 PR: Decoders/Rules for ESET Remote Administrator
  ruleset/decoders/0575-eset-remote_decoders.xml
  ruleset/rules/0925-eset-remote_rules.xml
Labels: threatintel, threatintel/rules, threatintel/decoders

#10023 PR: Decoders for AWS RDS through Cloudwatch
  ruleset/decoders/0570-aws-cloudwatch_decoders.xml
Labels: threatintel, threatintel/decoders

#9779 Bring Authd the capability to avoid re-registering agents that already has valid keys - Implementation
  framework/wazuh/core/tests/data/rules/0015-ossec_rules.xml
  ruleset/decoders/0200-ossec_decoders.xml
  ruleset/rules/0015-ossec_rules.xml
  src/addagent/main.c
  src/addagent/manage_agents.c
  src/addagent/manage_agents.h
  src/client-agent/agentd.c
  src/client-agent/config.c
  src/client-agent/start_agent.c
  src/config/authd-config.c
  src/config/authd-config.h
  src/config/client-config.c
  src/headers/agent_op.h
  src/headers/enrollment_op.h
  src/headers/sec.h
  src/os_auth/auth.c
  src/os_auth/auth.h
  src/os_auth/config.c
  src/os_auth/local-server.c
  src/os_auth/main-client.c
  src/os_auth/main-server.c
  src/os_crypto/sha1/sha1_op.c
  src/os_crypto/sha1/sha1_op.h
  src/os_crypto/shared/keys.c
  src/os_crypto/shared/msgs.c
  src/remoted/secure.c
  src/shared/agent_op.c
  src/shared/enrollment_op.c
  src/unit_tests/client-agent/test_start_agent.c
  src/unit_tests/os_auth/test_auth_add.c
  src/unit_tests/os_auth/test_auth_parse.c
  src/unit_tests/os_auth/test_auth_validate.c
  src/unit_tests/os_crypto/shared/CMakeLists.txt
  src/unit_tests/os_crypto/shared/test_keys.c
  src/unit_tests/shared/test_agent_op.c
  src/unit_tests/shared/test_enrollment_op.c
  src/unit_tests/wrappers/wazuh/addagent/manage_agents_wrappers.c
  src/unit_tests/wrappers/wazuh/addagent/manage_agents_wrappers.h
  src/util/agent_control.c
  src/wazuh_modules/wm_database.c
  src/win32/agent_auth.c
  src/win32/win_utils.c
Labels: enhancement, core/agent, core/auth

#10132 Extend data provider testtool with cmdline arguments
  src/data_provider/testtool/Readme.md
  src/data_provider/testtool/cmdLineActions.h
  src/data_provider/testtool/main.cpp
Labels: core/sysinfo

#10128 8473 add rules gcp vpc storage access
  ruleset/rules/0690-gcp_rules.xml
  ruleset/testing/tests/gcp.ini
Labels: threatintel, threatintel/rules

#10027 Parsing logic for the new force block in the Wazuh settings
  src/config/authd-config.c
  src/config/authd-config.h
  src/config/config.c
  src/config/config.h
  src/os_auth/config.c
Labels: enhancement, core/auth

#10135 Linux support for data_provider callback-based processes interface
  src/data_provider/src/sysInfo.cpp
  src/data_provider/src/sysInfoLinux.cpp
  src/data_provider/tests/sysInfo/sysInfo_test.cpp
Labels: core/sysinfo

#10024 Fix a bug in AWS CloudWatch Logs module that caused already processed logs to be collected
  wodles/aws/aws_s3.py
Labels: framework, aws_integration

#8256 Duplicated alerts from case insensitive 32-bit registry values in ossec.conf (winagent)
  src/config/syscheck-config.c
Labels: bug, core/fim, platform/windows, core/fim/registry

#10102 Added disconnected_time option logic
  src/addagent/manage_agents.h
  src/addagent/validate.c
  src/os_auth/auth.c
  src/unit_tests/os_auth/CMakeLists.txt
  src/unit_tests/os_auth/test_auth_validate.c
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/unit_tests/wazuh_db/test_wdb_upgrade.c
  src/unit_tests/wrappers/wazuh/addagent/manage_agents_wrappers.c
  src/unit_tests/wrappers/wazuh/addagent/manage_agents_wrappers.h
  src/wazuh_db/schema_global.sql
  src/wazuh_db/schema_global_upgrade_v3.sql
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_global.c
  src/wazuh_db/wdb_upgrade.c
Labels: enhancement, core/auth

#10138 Adding registration time validation before agent replacement in authd
  src/addagent/manage_agents.h
  src/addagent/validate.c
  src/config/authd-config.h
  src/os_auth/auth.c
Labels: enhancement, core/auth

#10157 Implemetation of callback to get proccesses information on Windows
  src/data_provider/src/sysInfoWin.cpp
Labels: core/sysinfo

#10166 Parsing the new payload for the clustered and local agent additions
  src/os_auth/local-server.c
Labels: enhancement, core/auth

#10170 Adding callback mechanism for linux packages' provider (deb, rpm and archlinux)
  .gitignore
  src/data_provider/cppcheckSuppress.txt
  src/data_provider/src/packages/packageLinuxDataRetriever.h
  src/data_provider/src/packages/packageLinuxParser.cpp
  src/data_provider/src/packages/packageLinuxParserExtra.cpp
  src/data_provider/src/sysInfo.cpp
  src/data_provider/src/sysInfoLinux.cpp
Labels: core/sysinfo

#10112 9355 palo alto ruleset
  ruleset/decoders/0505-paloalto_decoders.xml
  ruleset/rules/0700-paloalto_rules.xml
  ruleset/testing/tests/paloalto.ini
Labels: threatintel, rules, decoders

#10064 10012 update apache ruleset
  ruleset/decoders/0025-apache_decoders.xml
  ruleset/rules/0250-apache_rules.xml
  ruleset/testing/tests/apache.ini
Labels: threatintel, rules, decoders

#10175 Add callbacks implementation for bsd packages.
  src/data_provider/src/sysInfoFreeBSD.cpp
  src/data_provider/src/sysInfoMac.cpp
  src/wazuh_modules/syscollector/src/syscollectorImp.cpp
Labels: core/sysinfo

#10188 Improve data provider ports output to maintain consistency
  src/data_provider/src/sysInfoLinux.cpp
  src/data_provider/src/sysInfoMac.cpp
  src/data_provider/src/sysInfoWin.cpp
  src/wazuh_modules/syscollector/src/syscollectorImp.cpp
  src/wazuh_modules/syscollector/tests/sysCollectorImp/syscollectorImp_test.cpp
Labels: core/sysinfo

#10161 PR: Decoders and Rules for FortiNet Products
  ruleset/decoders/0101-fortiddos_decoders.xml
  ruleset/decoders/0102-fortimail_decoders.xml
  ruleset/rules/0390-fortiddos_rules.xml
  ruleset/rules/0390-fortigate_rules.xml
  ruleset/rules/0391-fortigate_rules.xml
  ruleset/rules/0392-fortimail_rules.xml
Labels: threatintel, rules, decoders

#10174 Updating the manage_agents binary, the key polling module and the cluster with the new force settings for agents' registration
  src/addagent/main.c
  src/addagent/manage_agents.c
  src/addagent/manage_agents.h
  src/addagent/manage_keys.c
  src/addagent/validate.c
  src/config/authd-config.h
  src/headers/agent_op.h
  src/os_auth/auth.c
  src/os_auth/auth.h
  src/os_auth/main-server.c
  src/shared/agent_op.c
  src/unit_tests/os_auth/CMakeLists.txt
  src/unit_tests/os_auth/test_auth_validate.c
  src/unit_tests/shared/test_agent_op.c
  src/unit_tests/wrappers/wazuh/addagent/manage_agents_wrappers.c
  src/unit_tests/wrappers/wazuh/addagent/manage_agents_wrappers.h
  src/wazuh_modules/wm_keyrequest.c
Labels: enhancement, core/auth

#10217 Add httpRequest.headers formatting for AWS WAF
  wodles/aws/aws_s3.py
Labels: aws_integration

#9992 Changing agentd and logcollector to dont overkill the data provider.
  etc/internal_options.conf
  src/client-agent/notify.c
  src/shared/log_builder.c
  src/unit_tests/client-agent/test_notify.c
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/shared/test_log_builder.c
  src/win32/win_utils.c
Labels: core/sysinfo

#10189 Bringing scan-build in RTR tool changes back from 5.0 into master
  src/Readme.md
  src/build.py
  src/ci/input/rtr_input.json
  src/ci/utils.py
Labels: static-analysis

#10233 Fixing force logic for manage_agents with disconnection and registration time flags enabled
  src/addagent/manage_agents.c
Labels: bug/devel

#10234 Fix crash when verifying the syscheck remote configuration.
  src/config/syscheck-config.c
  src/config/syscheck-config.h
  src/syscheckd/config.c
Labels: core/fim, bug/devel

#10210 Fixes the search of a current installation in the installation script
  src/init/update.sh
Labels: bug, upgrade, installer

#9246 Add FIM db to RTR checks
  src/build.py
  src/ci/input/rtr_input.json
  src/ci/utils.py
  src/syscheckd/db/include/db.hpp
  src/syscheckd/db/src/db.cpp
  src/syscheckd/db/src/file.cpp
  src/syscheckd/db/src/registry.cpp
Labels: core/fim

#10242 Create FIM DB class skeleton
  src/syscheckd/db/include/dbFileItem.hpp
  src/syscheckd/db/include/dbItem.hpp
  src/syscheckd/db/include/dbRegistryKey.hpp
  src/syscheckd/db/include/dbRegistryValue.hpp
  src/syscheckd/db/include/fimDB.hpp
  src/syscheckd/db/include/fimDBWrapper.hpp
Labels: core/fim

#10325 Improving the logs generated during the agents' registration and replacement
  src/os_auth/auth.c
  src/os_auth/auth.h
  src/os_auth/local-server.c
  src/unit_tests/os_auth/test_auth_validate.c
Labels: enhancement, core/auth

#10236 Data provider callbacks
  .gitignore
  src/data_provider/cppcheckSuppress.txt
  src/data_provider/include/sysInfo.h
  src/data_provider/include/sysInfo.hpp
  src/data_provider/include/sysInfoInterface.h
  src/data_provider/src/packages/packageLinuxDataRetriever.h
  src/data_provider/src/packages/packageLinuxParser.cpp
  src/data_provider/src/packages/packageLinuxParserExtra.cpp
  src/data_provider/src/sysInfo.cpp
  src/data_provider/src/sysInfoFreeBSD.cpp
  src/data_provider/src/sysInfoLinux.cpp
  src/data_provider/src/sysInfoMac.cpp
  src/data_provider/src/sysInfoOpenBSD.cpp
  src/data_provider/src/sysInfoUnix.cpp
  src/data_provider/src/sysInfoWin.cpp
  src/data_provider/tests/sysInfo/sysInfo_test.cpp
  src/data_provider/testtool/Readme.md
  src/data_provider/testtool/cmdLineActions.h
  src/data_provider/testtool/main.cpp
  src/shared_modules/common/commonDefs.h
  src/shared_modules/rsync/src/messageChecksum.h
  src/shared_modules/rsync/src/rsyncImplementation.cpp
  src/unit_tests/CMakeLists.txt
  src/wazuh_modules/syscollector/cppcheckSuppress.txt
  src/wazuh_modules/syscollector/include/syscollector.hpp
  src/wazuh_modules/syscollector/src/syscollectorImp.cpp
  src/wazuh_modules/syscollector/tests/sysCollectorImp/syscollectorImp_test.cpp
Labels: core/syscollector, core/sysinfo

#10315 PR: Update Amazon Linux 2 SCA
  CHANGELOG.md
  ruleset/sca/amazon/cis_amazon_linux_2.yml
Labels: threatintel, sca

#10354 PR: SCA RHEL 8 update and fix
  CHANGELOG.md
  ruleset/sca/rhel/8/cis_rhel8_linux.yml
Labels: threatintel, sca

#10356 Updated outdated copyright comments
  framework/wazuh/core/tests/data/rules/0010-rules_config.xml
  framework/wazuh/core/tests/data/rules/0015-ossec_rules.xml
  framework/wazuh/core/tests/data/rules/0225-mcafee_av_rules.xml
  framework/wazuh/core/tests/data/rules/0260-nginx_rules.xml
  framework/wazuh/core/tests/data/rules/9999-rules_regex_test.xml
  framework/wazuh/tests/data/test_invalid_rules.xml
  ruleset/decoders/0520-msexchange-log-decoders.xml
  ruleset/decoders/0540-gitlab_decoders.xml
  ruleset/decoders/0555-fireeye_decoders.xml
  ruleset/rules/0770-gitlab_rules.xml
  ruleset/sca/amazon/cis_amazon_linux_1.yml
  ruleset/sca/amazon/cis_amazon_linux_2.yml
  ruleset/sca/centos/6/cis_centos6_linux.yml
  ruleset/sca/centos/7/cis_centos7_linux.yml
  ruleset/sca/centos/8/cis_centos8_linux.yml
  ruleset/sca/debian/cis_debian10.yml
  ruleset/sca/debian/cis_debian7.yml
  ruleset/sca/debian/cis_debian8.yml
  ruleset/sca/debian/cis_debian9.yml
  ruleset/sca/oracledb/cis_oracle_database_19c.yml
  ruleset/sca/rhel/6/cis_rhel6_linux.yml
  ruleset/sca/rhel/7/cis_rhel7_linux.yml
  ruleset/sca/rhel/8/cis_rhel8_linux.yml
  ruleset/sca/sunos/cis_solaris11.yml
  ruleset/sca/ubuntu/cis_ubuntu14-04.yml
  ruleset/sca/ubuntu/cis_ubuntu16-04.yml
  ruleset/sca/ubuntu/cis_ubuntu18-04.yml
  src/unit_tests/wazuh_modules/github/test_wm_github.c
  src/unit_tests/wazuh_modules/office365/test_wm_office365.c
  src/unit_tests/wrappers/wazuh/os_regex/os_regex_wrappers.c
  src/unit_tests/wrappers/wazuh/remoted/shared_download_wrappers.c
  src/util/wazuh-regex.c
Labels: operations
