Repository wazuh/wazuh, pull requests merged in 2021-03, with the labels that each got.

#7689 Adding UTs for new vuln cve table insert and clear command
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb.c
  src/unit_tests/wazuh_db/test_wdb_agents.c
  src/unit_tests/wazuh_db/test_wdb_parser.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_wrappers.h
Labels: core/db, qa

#7697 [7599] Makefile RESOURCE_URL based on os
  src/Makefile
  src/shared_modules/utils/cmdHelper.h
  src/shared_modules/utils/makeUnique.h
  src/shared_modules/utils/mapWrapperSafe.h
  src/shared_modules/utils/networkUnixHelper.h
  src/shared_modules/utils/pipelinePattern.h
  src/shared_modules/utils/threadDispatcher.h
Labels: enhancement

#7695 Take short summary from dpkg description.
  src/data_provider/src/packages/packagesLinuxParserHelper.h
  src/data_provider/tests/sysInfoPackagesLinuxHelper/sysInfoPackagesLinuxHelper_test.cpp
  src/shared_modules/utils/stringHelper.h
  src/shared_modules/utils/tests/stringHelper_test.cpp
Labels: bug, core/syscollector, core/sysinfo

#7673 systemd-timesyncd typo cis debian10
  ruleset/sca/debian/cis_debian10.yml
Labels: bug, threatintel\sca

#7645 Fix # 4.1.8 - removed empty compliance key
  ruleset/sca/centos/7/cis_centos7_linux.yml
  ruleset/sca/rhel/7/cis_rhel7_linux.yml
Labels: community, core/sca, ruleset, threatintel\sca

#7699 Clear vuln_cve table when Vulnerability Detector is disabled
  src/unit_tests/wazuh_modules/vulnerability_detector/CMakeLists.txt
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/db, core/vuln detector, enhancement

#7661 wazuh-logtest: add support for testing location information
  framework/scripts/wazuh-logtest.py
Labels: core/logtest

#7633 Removes <PRI> header in syslog tcp
  src/remoted/syslogtcp.c
  src/unit_tests/remoted/CMakeLists.txt
  src/unit_tests/remoted/test_syslogtcp.c
Labels: core/remoted

#7595 Improve unit tests for the os_net library
  src/os_net/os_net.c
  src/unit_tests/os_net/CMakeLists.txt
  src/unit_tests/os_net/test_os_net.c
  src/unit_tests/wrappers/linux/socket_wrappers.c
  src/unit_tests/wrappers/linux/socket_wrappers.h
Labels: core/unit tests, enhancement

#7617 Delete rules, decoders and tests for f5-bigip appliances as these are incomplete.
  ruleset/decoders/0520-f5_bigip_decoders.xml
  ruleset/rules/0695-f5_bigip_rules.xml
  ruleset/testing/tests/f5_bigip.ini
Labels: ruleset, threatintel

#7730 7728 centos5 precompiled packages url
  src/Makefile
Labels: enhancement

#7734 Update aiohttp version
  framework/requirements.txt
  src/Makefile
Labels: enhancement

#7732 Fixing scan-build and Coverity issues reported over the branch dev-cves-by-agent
  src/shared/version_op.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: bug/devel, coverity

#7723 Change __wrap_stat to copy a full stat buffer instead of using a single integer for multiple fields
  src/unit_tests/monitord/test_monitor_actions.c
  src/unit_tests/shared/test_file_op.c
  src/unit_tests/syscheckd/test_create_db.c
  src/unit_tests/wrappers/posix/stat_wrappers.c
Labels: bug, core/unit tests

#7736 [7685] Makefile only sources flag
  src/Makefile
Labels: enhancement

#7745 7741 arch linux os info parser
  src/data_provider/src/osinfo/sysOsParsers.cpp
  src/data_provider/tests/sysInfo/sysInfoParsers_test.cpp
Labels: bug, core/sysinfo

#7744 Increase the default agent disconnection detection time to 10 minutes
  etc/ossec-local.conf
  etc/ossec-server.conf
  etc/ossec.conf
  etc/templates/config/generic/global.template
  src/monitord/monitord.c
  src/remoted/config.c
  src/unit_tests/monitord/test_monitord.c
Labels: core/configuration

#7711 Fix analysisd json null fields
  src/analysisd/alerts/log.c
  src/analysisd/decoders/decode-xml.c
  src/analysisd/decoders/decoder.h
  src/analysisd/decoders/plugins/json_decoder.c
  src/analysisd/format/to_json.c
  src/error_messages/warning_messages.h
Labels: core/analysisd, core/logtest

#7737 Fix remoted config for ipv6 - only yes/no
  src/config/remote-config.c
  src/error_messages/warning_messages.h
Labels: bug, core/configuration, core/remoted

#7746 Add strict control of values in rids_closing_time option
  src/config/remote-config.c
  src/config/remote-config.h
  src/error_messages/warning_messages.h
Labels: core/configuration, core/remoted

#7752 Fixing bad string generated for debug logs when trying to insert duplicated vulnerabilities in the agents' databases
  src/wazuh_db/wdb.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: bug/devel, core/vuln detector

#6999 FIM: Remove audit rules when monitoring symbolic links
  src/config/syscheck-config.h
  src/error_messages/debug_messages.h
  src/headers/audit_op.h
  src/headers/list_op.h
  src/shared/audit_op.c
  src/shared/list_op.c
  src/syscheckd/create_db.c
  src/syscheckd/main.c
  src/syscheckd/run_check.c
  src/syscheckd/run_realtime.c
  src/syscheckd/syscheck.c
  src/syscheckd/syscheck.h
  src/syscheckd/whodata/audit_healthcheck.c
  src/syscheckd/whodata/audit_parse.c
  src/syscheckd/whodata/audit_rule_handling.c
  src/syscheckd/whodata/syscheck_audit.c
  src/syscheckd/whodata/syscheck_audit.h
  src/unit_tests/shared/test_audit_op.c
  src/unit_tests/syscheckd/CMakeLists.txt
  src/unit_tests/syscheckd/test_create_db.c
  src/unit_tests/syscheckd/test_run_check.c
  src/unit_tests/syscheckd/test_run_realtime.c
  src/unit_tests/syscheckd/test_syscheck_audit.c
  src/unit_tests/syscheckd/whodata/CMakeLists.txt
  src/unit_tests/syscheckd/whodata/test_audit_healthcheck.c
  src/unit_tests/syscheckd/whodata/test_audit_parse.c
  src/unit_tests/syscheckd/whodata/test_audit_rule_handling.c
  src/unit_tests/syscheckd/whodata/test_syscheck_audit.c
  src/unit_tests/syscheckd/whodata/test_win_whodata.c
  src/unit_tests/wazuh_modules/gcp/test_wmodules_gcp.c
  src/unit_tests/wrappers/libc/stdlib_wrappers.c
  src/unit_tests/wrappers/posix/pthread_wrappers.c
  src/unit_tests/wrappers/posix/pthread_wrappers.h
  src/unit_tests/wrappers/wazuh/shared/audit_op_wrappers.c
  src/unit_tests/wrappers/wazuh/shared/audit_op_wrappers.h
  src/unit_tests/wrappers/wazuh/syscheckd/audit_parse_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/audit_parse_wrappers.h
  src/unit_tests/wrappers/wazuh/syscheckd/audit_rule_handling_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/audit_rule_handling_wrappers.h
  src/unit_tests/wrappers/wazuh/syscheckd/syscheck_audit_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/syscheck_audit_wrappers.h
Labels: core/fim, core/fim/whodata

#7783 Rollback MITRE IDs to valid ones that match with IDs stored in mitre.db
  ruleset/rules/0015-ossec_rules.xml
  ruleset/rules/0020-syslog_rules.xml
  ruleset/rules/0065-pix_rules.xml
  ruleset/rules/0070-netscreenfw_rules.xml
  ruleset/rules/0110-ms_dhcp_rules.xml
  ruleset/rules/0175-proftpd_rules.xml
  ruleset/rules/0265-php_rules.xml
  ruleset/rules/0270-web_appsec_rules.xml
  ruleset/rules/0275-squid_rules.xml
  ruleset/rules/0320-clam_av_rules.xml
  ruleset/rules/0345-netscaler_rules.xml
  ruleset/rules/0360-serv-u_rules.xml
  ruleset/rules/0365-auditd_rules.xml
  ruleset/rules/0390-fortigate_rules.xml
  ruleset/rules/0435-ms_logs_rules.xml
  ruleset/rules/0545-osquery_rules.xml
  ruleset/rules/0560-docker_integration_rules.xml
  ruleset/rules/0565-ms_ipsec_rules.xml
  ruleset/rules/0580-win-security_rules.xml
  ruleset/rules/0585-win-application_rules.xml
  ruleset/rules/0590-win-system_rules.xml
  ruleset/rules/0601-win-vipre_rules.xml
  ruleset/rules/0610-win-ms_logs_rules.xml
  ruleset/rules/0625-cisco-asa_rules.xml
  ruleset/rules/0700-paloalto_rules.xml
Labels: threatintel, threatintel/mitre

#7795 Fixing Vulnerability Detector scans for all the agents in the master node even if the agents are connected to a worker node
  src/analysisd/ar_json.c
  src/headers/cluster_utils.h
  src/remoted/config.c
  src/shared/cluster_utils.c
  src/unit_tests/wazuh_modules/vulnerability_detector/CMakeLists.txt
  src/unit_tests/wazuh_modules/vulnerability_detector/mocks_wm_vuln_detector.c
  src/unit_tests/wazuh_modules/vulnerability_detector/mocks_wm_vuln_detector.h
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/wm_database.c
Labels: bug, core/vuln detector

#7798 Update test_mapping script: remove redundant paths and duplicated tests
  api/test/integration/mapping/_test_mapping.py
  api/test/integration/mapping/integration_test_api_endpoints.json
Labels: API, bug, qa

#7858 Clean dangling agent group files by Modulesd
  src/unit_tests/wazuh_db/test_wdb_global_helpers.c
  src/wazuh_db/helpers/wdb_global_helpers.c
  src/wazuh_db/helpers/wdb_global_helpers.h
  src/wazuh_db/wdb_fim.c
  src/wazuh_db/wdb_rootcheck.c
  src/wazuh_modules/wm_database.c
Labels: bug, core/dbsync, core/modulesd

#7873 Fix string length when parsing sync-agent-info-get response
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/unit_tests/wazuh_db/test_wdb_global_parser.c
  src/wazuh_db/wdb_parser.c
Labels: bug

#7870 Added shared permission flags for writing and deleting to CreateFile
  src/shared/file_op.c
Labels: bug, bug/regression, core/fim, platform/windows

#7892 ignore_time property renamed to min_full_scan_interval
  api/test/integration/env/configurations/vulnerability/manager/configuration_files/ossec_module.conf
  etc/templates/config/generic/wodle-vulnerability-detector.manager.template
  src/config/wmodules-vuln-detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: core/vuln detector, enhancement

#7898 Updating agents DB schema to improve CVE alerts mechanism
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/schema_upgrade_v8.sql
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_upgrade.c
Labels: core/db, enhancement

#7859 7842 missing process name in ports (server side)
  src/analysisd/decoders/syscollector.c
  src/data_provider/src/ports/portImpl.h
  src/data_provider/tests/sysInfoPorts/sysInfoPort_test.cpp
  src/unit_tests/analysisd/test_decoder_syscollector.c
  src/wazuh_modules/syscollector/src/syscollectorImp.cpp
Labels: bug, core/syscollector, core/sysinfo

#7880 [7843] macos packages missing fields (location and source)
  src/data_provider/cppcheckSuppress.txt
  src/data_provider/src/packages/brewWrapper.h
  src/data_provider/src/packages/ipackageWrapper.h
  src/data_provider/src/packages/packageMac.cpp
  src/data_provider/src/packages/pkgWrapper.h
  src/data_provider/tests/sysInfoNetworkBSD/sysInfoNetworkBSD_test.cpp
  src/data_provider/tests/sysInfoPackagesMAC/sysInfoMacPackages_test.cpp
  src/data_provider/testtool/CMakeLists.txt
Labels: core/sysinfo

#7933 Fixed false positive of Coverity
  src/analysisd/rules.c
Labels: core/analysisd, coverity

#7941 Implementing a NO-AR command to force the agent reconnection to the manager
  src/client-agent/receiver-win.c
  src/client-agent/receiver.c
  src/headers/rc.h
Labels: core/active-response, core/agent, enhancement

#7923 Add force_reconnect_interval config to Wazuh Agent
  src/client-agent/agentd.c
  src/client-agent/agentd.h
  src/client-agent/config.c
  src/client-agent/notify.c
  src/client-agent/start_agent.c
  src/config/client-config.c
  src/config/client-config.h
  src/headers/string_op.h
  src/shared/string_op.c
  src/win32/win_utils.c
Labels: core/agent, enhancement

#7901 7852 berkeley db usage
  src/data_provider/CMakeLists.txt
  src/data_provider/cppcheckSuppress.txt
  src/data_provider/src/packages/berkeleyDbWrapper.h
  src/data_provider/src/packages/berkeleyRpmDbHelper.h
  src/data_provider/src/packages/iberkeleyDbWrapper.h
  src/data_provider/src/packages/pkgWrapper.h
  src/data_provider/src/sharedDefs.h
  src/data_provider/src/sysInfoLinux.cpp
  src/data_provider/tests/CMakeLists.txt
  src/data_provider/tests/sysInfoPackagesBerkeleyDB/CMakeLists.txt
  src/data_provider/tests/sysInfoPackagesBerkeleyDB/main.cpp
  src/data_provider/tests/sysInfoPackagesBerkeleyDB/sysInfoPackagesBerkeleyDB_test.cpp
  src/data_provider/tests/sysInfoPackagesBerkeleyDB/sysInfoPackagesBerkeleyDB_test.h
  src/data_provider/testtool/CMakeLists.txt
  src/shared_modules/utils/byteArrayHelper.h
  src/shared_modules/utils/tests/byteArrayHelper_test.cpp
  src/shared_modules/utils/tests/byteArrayHelper_test.h
Labels: core/sysinfo

#7807 Restored and renamed ossec-logtest
  .gitignore
  src/Makefile
  src/active-response/restart.sh
  src/analysisd/analysisd.c
  src/analysisd/cleanevent.c
  src/analysisd/decoders/decoder.c
  src/analysisd/decoders/plugins/json_decoder.c
  src/analysisd/dodiff.c
  src/analysisd/eventinfo.c
  src/analysisd/eventinfo.h
  src/analysisd/fts.c
  src/analysisd/fts.h
  src/analysisd/rules.c
  src/analysisd/testrule.c
  src/init/inst-functions.sh
  src/init/wazuh-local.sh
  src/init/wazuh-server.sh
  src/shared/rules_op.c
Labels: bug/regression, core/logtest

#7756 Ensure agent_ip buffer has a null terminator on error
  src/client-agent/notify.c
Labels: bug, bug/devel, core/agent

#7561 Keep processing permissions after finding a duplicate user in Windows events
  src/shared/syscheck_op.c
Labels: bug, core/analysisd, core/fim, platform/windows

#7964 Update Python dependencies
  framework/requirements.txt
Labels: API, bug/vulnerability, enhancement, framework

#7905 Fixing initial value for hotfix scan ID in agents DB
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/schema_upgrade_v3.sql
Labels: bug, core/db

#7954 Implemented UTs for new Wazuh-db command
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb_agents.c
  src/unit_tests/wazuh_db/test_wdb_agents_helpers.c
  src/unit_tests/wazuh_db/test_wdb_parser.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_wrappers.c
  src/wazuh_db/wdb_parser.c
Labels: enhancement

#7983 Fix API integration test env
  api/test/integration/env/base/manager/entrypoint.sh
  api/test/integration/env/configurations/base/manager/configuration_files/master_only/config/queue/db/global.db
Labels: API, bug, qa

#7965 Rename wazuh-logtest.legacy
  .gitignore
  src/Makefile
  src/active-response/restart.sh
  src/init/inst-functions.sh
  src/init/wazuh-local.sh
  src/init/wazuh-server.sh
Labels: core/logtest

#8003 Fix a segmentation fault in Vulnerability Detector
  src/error_messages/error_messages.h
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector_nvd.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: bug, core/vuln detector

#8017 Fix workers reconnection after master restart
  CHANGELOG.md
  framework/wazuh/core/cluster/client.py
Labels: bug, cluster

#8012 Added additional information to spec.yaml
  api/api/spec/spec.yaml
Labels: API, enhancement

#7974 Improved parallelism in osregex execute and rule engine
  src/analysisd/decoders/decoder.c
  src/analysisd/rules.c
  src/os_regex/os_regex.h
  src/os_regex/os_regex_execute.c
Labels: core/analysisd, core/regex

#7990 Verify inodes saved on FIM DB before updating file data
  src/config/syscheck-config.h
  src/error_messages/debug_messages.h
  src/error_messages/warning_messages.h
  src/headers/list_op.h
  src/headers/pthreads_op.h
  src/headers/rbtree_op.h
  src/shared/list_op.c
  src/shared/rbtree_op.c
  src/syscheckd/create_db.c
  src/syscheckd/db/fim_db.c
  src/syscheckd/db/fim_db_files.c
  src/syscheckd/db/fim_db_files.h
  src/syscheckd/fim_diff_changes.c
  src/syscheckd/fim_sync.c
  src/syscheckd/registry/registry.c
  src/syscheckd/run_check.c
  src/syscheckd/run_realtime.c
  src/syscheckd/syscheck.h
  src/syscheckd/whodata/win_whodata.c
  src/unit_tests/shared/test_file_op.c
  src/unit_tests/shared/test_rbtree_op.c
  src/unit_tests/syscheckd/CMakeLists.txt
  src/unit_tests/syscheckd/db/test_fim_db_files.c
  src/unit_tests/syscheckd/test_create_db.c
  src/unit_tests/syscheckd/test_fim.h
  src/unit_tests/syscheckd/test_run_check.c
  src/unit_tests/syscheckd/test_run_realtime.c
  src/unit_tests/syscheckd/utils.c
  src/unit_tests/wrappers/posix/stat_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/create_db_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/create_db_wrappers.h
  src/unit_tests/wrappers/wazuh/syscheckd/fim_db_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/fim_db_wrappers.h
Labels: bug, core/fim

#8025 8024 cURL cannot download VD feeds.
  src/shared/url.c
Labels: bug

#8020 8019 scan build warning
  src/data_provider/src/packages/berkeleyRpmDbHelper.h
Labels: static-analysis

#7993 Calculating OS and packages hash value in agent's DB
  src/analysisd/decoders/syscollector.c
  src/unit_tests/wazuh_db/test_wdb_integrity.c
  src/unit_tests/wrappers/externals/openssl/digest_wrappers.c
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/schema_upgrade_v8.sql
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_integrity.c
  src/wazuh_db/wdb_parser.c
  src/wazuh_db/wdb_syscollector.c
Labels: core/db

#8026 Adding a Wazuh DB command to remove vulnerabilities from the vuln_cves table of the agents' databases
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb_agents.c
  src/unit_tests/wazuh_db/test_wdb_agents_helpers.c
  src/unit_tests/wazuh_db/test_wdb_parser.c
  src/unit_tests/wazuh_modules/vulnerability_detector/CMakeLists.txt
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/unit_tests/wrappers/externals/cJSON/cJSON_wrappers.c
  src/unit_tests/wrappers/externals/cJSON/cJSON_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_helpers_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_helpers_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_wrappers.h
  src/wazuh_db/helpers/wdb_agents_helpers.c
  src/wazuh_db/helpers/wdb_agents_helpers.h
  src/wazuh_db/helpers/wdb_global_helpers.c
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_agents.c
  src/wazuh_db/wdb_agents.h
  src/wazuh_db/wdb_parser.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/db, core/vuln detector, enhancement

#8061 Fix high impact defects detected by Coverity
  src/shared/bzip2_op.c
  src/shared/json-queue.c
  src/shared/url.c
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/shared/test_bzip2_op.c
  src/unit_tests/wrappers/externals/bzip2/bzlib_wrappers.c
  src/unit_tests/wrappers/externals/bzip2/bzlib_wrappers.h
Labels: bug, core/shared, coverity

#8016 Implement mechanisms to force an agent reconnection with the manager - Implementation
  api/api/controllers/agent_controller.py
  api/api/spec/spec.yaml
  api/test/integration/common.yaml
  api/test/integration/env/configurations/rbac/agent/black_config.txt
  api/test/integration/env/configurations/rbac/agent/black_config.yaml
  api/test/integration/env/configurations/rbac/agent/white_config.txt
  api/test/integration/env/configurations/rbac/agent/white_config.yaml
  api/test/integration/test_agent_PUT_endpoints.tavern.yaml
  api/test/integration/test_rbac_black_agent_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_agent_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_all_endpoints.tavern.yaml
  framework/wazuh/agent.py
  framework/wazuh/core/agent.py
  framework/wazuh/core/exception.py
  framework/wazuh/core/tests/test_agent.py
  framework/wazuh/core/tests/test_wazuh_queue.py
  framework/wazuh/core/wazuh_queue.py
  framework/wazuh/rbac/default/policies.yaml
  framework/wazuh/tests/data/security/rbac_catalog.yml
  framework/wazuh/tests/test_agent.py
  src/client-agent/agentd.c
  src/client-agent/agentd.h
  src/client-agent/config.c
  src/client-agent/notify.c
  src/client-agent/receiver-win.c
  src/client-agent/receiver.c
  src/client-agent/start_agent.c
  src/config/client-config.c
  src/config/client-config.h
  src/headers/rc.h
  src/headers/string_op.h
  src/shared/string_op.c
  src/win32/win_utils.c
Labels: core/agent, enhancement

#8084 Revised UTs of wdb insert command
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb_agents.c
  src/unit_tests/wazuh_db/test_wdb_agents_helpers.c
  src/unit_tests/wazuh_db/test_wdb_parser.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_helpers_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_helpers_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_wrappers.h
  src/wazuh_db/helpers/wdb_agents_helpers.c
  src/wazuh_db/wdb_agents.c
  src/wazuh_db/wdb_parser.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector, enhancement

#8092 Adding new unit tests for update vulnerability status Wazuh-DB command
  src/unit_tests/wazuh_db/test_wdb_agents.c
  src/unit_tests/wazuh_db/test_wdb_agents_helpers.c
  src/unit_tests/wazuh_db/test_wdb_parser.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_wrappers.h
Labels: core/db

#8089 Updating Wazuh DB command to update vulnerabilities status by their type
  src/analysisd/decoders/syscollector.c
  src/unit_tests/wazuh_db/test_wdb_agents.c
  src/unit_tests/wazuh_db/test_wdb_agents_helpers.c
  src/unit_tests/wazuh_db/test_wdb_parser.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_wrappers.h
  src/wazuh_db/helpers/wdb_agents_helpers.c
  src/wazuh_db/helpers/wdb_agents_helpers.h
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_agents.c
  src/wazuh_db/wdb_agents.h
  src/wazuh_db/wdb_parser.c
Labels: core/db
