Repository wazuh/wazuh, pull requests merged in 2021-08, with the labels that each got.

#9417 Added github module diagram
  architecture/wm_github/001-sequence.puml
  architecture/wm_github/002-sequence-scan-block.puml
  architecture/wm_github/Readme.md
Labels: enhancement

#9437 Fix invalid platform names in agent upgrade module
  src/unit_tests/wazuh_modules/agent_upgrade/test_wm_agent_upgrade_validate.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_validate.c
Labels: upgrade

#9441 [9414] Syscollector hotfixes missing fix
  src/data_provider/src/packages/packagesWindowsParserHelper.h
Labels: core/syscollector, core/sysinfo, platform/windows

#9439 [9620] static analysis fixes
  src/syscheckd/create_db.c
  src/syscheckd/fim_diff_changes.c
  src/syscheckd/syscom.c
Labels: static-analysis

#9346 Agent disconnection handling and alerting charter
  architecture/agent_disconnection_handling/001-sequence.puml
  architecture/agent_disconnection_handling/Readme.md
  architecture/generate_reports/001-sequence.puml
  architecture/generate_reports/Readme.md
  architecture/log_rotation/001-sequence.puml
  architecture/log_rotation/Readme.md
Labels: core/modulesd, core/monitord

#9500 Allow the execution of batch files for Windows AR
  src/shared/exec_op.c
Labels: core/active-response

#9536 Update copyright notice at Windows agent About UI panel
  src/win32/ui/win32ui.rc
Labels: platform/windows

#9547 Fix CA verification when disabled
  src/config/wmodules-agent-upgrade.c
Labels: packages/wpk, core/agent, upgrade

#9450 Remove WPK rollback code section
  src/init/pkg_installer.sh
  src/win32/do_upgrade.ps1
Labels: enhancement, packages/wpk, core/agent, upgrade

#9586 Increase Logcollector state file interval default value to one minute
  etc/internal_options.conf
Labels: core/logcollector

#9660 Generic method to obtain the SHA1 hash of the agent's and manager's key
  src/headers/sec.h
  src/os_crypto/shared/keys.c
Labels: core/auth

#9659 Fix syscollector exception log prefix
  src/wazuh_modules/syscollector/cppcheckSuppress.txt
  src/wazuh_modules/syscollector/src/syscollectorImp.cpp
Labels: core/syscollector

#9704 Authd key hash parse and validation on local-server
  src/config/authd-config.c
  src/config/authd-config.h
  src/headers/agent_op.h
  src/os_auth/auth.c
  src/os_auth/auth.h
  src/os_auth/config.c
  src/os_auth/local-server.c
  src/os_auth/main-server.c
  src/os_crypto/shared/keys.c
  src/shared/agent_op.c
  src/unit_tests/os_auth/test_auth_validate.c
Labels: core/auth

#9685 Updating agent_auth binary to send agent's key's hash in every request
  src/os_auth/main-client.c
  src/win32/agent_auth.c
Labels: core/auth

#9540 New decoders for Cisco IOS
  ruleset/decoders/0065-cisco-ios_decoders.xml
Labels: threatintel, threatintel/decoders

#9722 Replaced bitfield by time_t datatype
  src/client-agent/config.c
  src/config/client-config.c
  src/headers/enrollment_op.h
  src/shared/enrollment_op.c
  src/unit_tests/shared/test_enrollment_op.c
Labels: enhancement, core/agent, core/auth

#9709 Deprecated ping-pong check
  src/client-agent/start_agent.c
  src/remoted/secure.c
Labels: enhancement, core/agent, core/remoted

#9724 Improve the key store initialization to support DUAL mode
  src/client-agent/agentd.c
  src/headers/sec.h
  src/os_auth/auth.c
  src/os_auth/local-server.c
  src/os_auth/main-client.c
  src/os_auth/main-server.c
  src/os_crypto/sha1/sha1_op.c
  src/os_crypto/sha1/sha1_op.h
  src/os_crypto/shared/keys.c
  src/os_crypto/shared/msgs.c
  src/remoted/secure.c
  src/unit_tests/client-agent/test_start_agent.c
  src/unit_tests/os_auth/test_auth_add.c
  src/unit_tests/os_auth/test_auth_validate.c
  src/util/agent_control.c
  src/wazuh_modules/wm_database.c
  src/win32/agent_auth.c
  src/win32/win_utils.c
Labels: core/auth

#9751 Fix buffer overflow in firewall drop AR tools
  src/active-response/firewalld-drop.c
  src/active-response/firewalls/default-firewall-drop.c
Labels: bug, core/active-response, bug/devel

#9173 Readded lost changes to 0015-wazuh_rules.xml
  ruleset/rules/0015-wazuh_rules.xml
Labels: core/fim, ruleset, core/fim/registry, bug/devel

#9756 Authd key hash logic Coverity fixes
  src/client-agent/start_agent.c
  src/os_crypto/sha1/sha1_op.c
Labels: core/auth, coverity

#9758 Fixing Wazuh DB not handling `sys_programs` items with empty fields
  src/unit_tests/wazuh_db/test_wdb_parser.c
  src/wazuh_db/wdb_parser.c
Labels: core/db, bug/devel

#9771 Restoring ping-pong enrollment logic in the manager to allow the proper registering of legacy agents
  src/remoted/secure.c
Labels: core/auth, bug/devel

#9772 Fixing enrollment message parsing when using the IP option
  src/os_auth/auth.c
Labels: core/auth, bug/devel

#9829 macOS segfault obtaining ip fix
  src/data_provider/src/network/networkBSDWrapper.h
  src/data_provider/src/network/networkInterfaceBSD.h
Labels: core/sysinfo

#9895 Added missing headers to ruleset issue template
  .github/ISSUE_TEMPLATE/rules-decoders_request.md
Labels: threatintel

#9133 Delete synchro conditionals, to clean rows if the configuration is changed
  src/wazuh_modules/syscollector/src/syscollectorImp.cpp
Labels: enhancement, core/syscollector
