Repository wazuh/wazuh, pull requests merged in 2021-10, with the labels that each got.

#10352 Unit test for wdb_syscollector.c file
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb_syscollector.c
  src/unit_tests/wrappers/externals/sqlite/sqlite3_wrappers.c
  src/unit_tests/wrappers/externals/sqlite/sqlite3_wrappers.h
Labels: core/syscollector, core/unit tests

#10010 Enable wpk upgrade for MacOS agents
  src/init/pkg_installer.sh
  src/init/pkg_installer_mac.sh
  src/unit_tests/wazuh_modules/agent_upgrade/test_wm_agent_upgrade_commands.c
  src/unit_tests/wazuh_modules/agent_upgrade/test_wm_agent_upgrade_upgrades.c
  src/unit_tests/wazuh_modules/agent_upgrade/test_wm_agent_upgrade_validate.c
  src/unit_tests/wrappers/wazuh/wazuh_modules/wm_agent_upgrade_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_modules/wm_agent_upgrade_wrappers.h
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_commands.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_manager.h
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_validate.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_validate.h
  src/wazuh_modules/agent_upgrade/wm_agent_upgrade.h
  upgrade.sh
Labels: enhancement, upgrade, platform/macos

#10375 Fix a typo in SCA rule 15597 (Xbox Live Networking Service)
  ruleset/sca/windows/cis_win10_enterprise.yml
Labels: ruleset, sca

#10374 Improve force block validation for API calls
  src/config/authd-config.c
  src/config/authd-config.h
  src/os_auth/local-server.c
Labels: enhancement, core/auth

#10373 Enabling the (s,m,h,d) format for the new authd settings using API calls
  src/config/authd-config.c
  src/config/authd-config.h
  src/os_auth/local-server.c
Labels: enhancement, core/auth

#9111 Addition of detection timestamp, severity, and score to the CVEs alerts inventory for Vulnerability Detector - Implementation
  api/api/controllers/vulnerability_controller.py
  api/api/spec/spec.yaml
  api/test/integration/tavern_utils.py
  api/test/integration/test_rbac_black_vulnerability_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_all_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_vulnerability_endpoints.tavern.yaml
  api/test/integration/test_vulnerability_endpoints.tavern.yaml
  framework/wazuh/core/tests/test_vulnerability.py
  framework/wazuh/core/vulnerability.py
  framework/wazuh/tests/data/schema_cve_test.sql
  framework/wazuh/tests/data/security/rbac_catalog.yml
  framework/wazuh/vulnerability.py
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb_agents.c
  src/unit_tests/wazuh_db/test_wdb_agents_helpers.c
  src/unit_tests/wazuh_db/test_wdb_parser.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/unit_tests/wrappers/externals/sqlite/sqlite3_wrappers.c
  src/unit_tests/wrappers/externals/sqlite/sqlite3_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_helpers_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_helpers_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_wrappers.h
  src/wazuh_db/helpers/wdb_agents_helpers.c
  src/wazuh_db/helpers/wdb_agents_helpers.h
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/schema_upgrade_v8.sql
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb_agents.c
  src/wazuh_db/wdb_agents.h
  src/wazuh_db/wdb_integrity.c
  src/wazuh_db/wdb_parser.c
  src/wazuh_db/wdb_syscollector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: enhancement, core/vuln detector, API, core/db

#10388 Fix a segmentation fault in Remoted when retrieving an agent's group
  src/remoted/manager.c
  src/unit_tests/remoted/test_manager.c
Labels: bug, core/remoted

#10438 Remove freezegun from Python dependencies
  framework/requirements.txt
Labels: enhancement, dependencies

#10432 Fix premature agent group file cleanup in DB sync module
  src/wazuh_modules/wm_database.c
Labels: bug, core/modulesd

#10639 Get correct version of Windows 11
  src/data_provider/src/osinfo/sysOsInfoWin.cpp
  src/shared/file_op.c
Labels: bug, platform/windows, core/sysinfo

#10682 Windows security "group changed" event rules fixes
  CHANGELOG.md
  ruleset/rules/0580-win-security_rules.xml
Labels: threatintel
