Repository wazuh/wazuh, pull requests merged in 2021-11, with the labels that each got.

#10602 Add information about eventlog in API report
  src/config/localfile-config.h
  src/logcollector/config.c
  src/logcollector/logcollector.c
Labels: bug, core/logcollector, platform/windows

#10707 PR: Fix YAML issues in Solaris 11.4 SCA
  CHANGELOG.md
  ruleset/sca/sunos/cis_solaris11.4.yml
Labels: operations, threatintel, sca

#10723 Hide CMD windows on MSI installation
  src/win32/InstallerScripts.vbs
  src/win32/wazuh-installer.wxs
Labels: platform/windows

#10693 Improve the configuration options for Authd during agents replacement - Implementation
  api/api/configuration.py
  api/api/configuration/api.yaml
  api/api/controllers/agent_controller.py
  api/api/controllers/test/test_agent_controller.py
  api/api/models/agent_added_model.py
  api/api/models/agent_inserted_model.py
  api/api/models/base_model_.py
  api/api/models/configuration_model.py
  api/api/spec/spec.yaml
  api/api/test/test_configuration.py
  api/api/test/test_util.py
  api/api/util.py
  api/api/validator.py
  api/scripts/wazuh-apid.py
  api/test/integration/env/configurations/base/manager/config/api/configuration/api.yaml
  api/test/integration/tavern_utils.py
  api/test/integration/test_agent_GET_endpoints.tavern.yaml
  api/test/integration/test_agent_POST_endpoints.tavern.yaml
  api/test/integration/test_cluster_endpoints.tavern.yaml
  api/test/integration/test_manager_endpoints.tavern.yaml
  etc/ossec.conf
  etc/templates/config/generic/auth.template
  framework/wazuh/agent.py
  framework/wazuh/core/agent.py
  framework/wazuh/core/configuration.py
  framework/wazuh/core/exception.py
  framework/wazuh/core/tests/data/test_agent/schema_global_test.sql
  framework/wazuh/core/tests/test_agent.py
  framework/wazuh/tests/data/schema_global_test.sql
  framework/wazuh/tests/test_agent.py
  src/addagent/main.c
  src/addagent/manage_agents.c
  src/addagent/manage_agents.h
  src/addagent/manage_keys.c
  src/addagent/validate.c
  src/config/authd-config.c
  src/config/authd-config.h
  src/config/config.c
  src/config/config.h
  src/headers/agent_op.h
  src/init/inst-functions.sh
  src/os_auth/auth.c
  src/os_auth/auth.h
  src/os_auth/config.c
  src/os_auth/local-server.c
  src/os_auth/main-server.c
  src/shared/agent_op.c
  src/unit_tests/os_auth/CMakeLists.txt
  src/unit_tests/os_auth/test_auth_validate.c
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/shared/test_agent_op.c
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/unit_tests/wrappers/wazuh/addagent/manage_agents_wrappers.c
  src/unit_tests/wrappers/wazuh/addagent/manage_agents_wrappers.h
  src/wazuh_db/schema_global.sql
  src/wazuh_db/schema_global_upgrade_v3.sql
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_global.c
  src/wazuh_modules/wm_keyrequest.c
Labels: enhancement, core/auth

#10768 PR: Merge macos-sshd ruleset into sshd ruleset
  ruleset/decoders/0310-ssh_decoders.xml
  ruleset/decoders/0500-macos-sshd_decoders.xml
  ruleset/rules/0095-sshd_rules.xml
  ruleset/rules/0685-macos-sshd_rules.xml
  ruleset/testing/tests/macos-sshd.ini
  ruleset/testing/tests/sshd.ini
  src/init/wazuh/deprecated_ruleset.txt
Labels: rules, decoders, threatintel/PR

#10747 Fix a segmentation fault in Analysisd when building the rules configuration
  src/analysisd/config_json.c
Labels: bug, core/analysisd

#10804 PR: Fixed missing links in Ruleset changelog and removed wrong MITRE mapping from rules
  CHANGELOG.md
  ruleset/rules/0017-wazuh-api_rules.xml
  ruleset/rules/0935-cloudflare-waf_rules.xml
Labels: threatintel/PR

#10788 PR: Fix cdb lists not being added to ossec.conf
  etc/templates/config/generic/rules.template
Labels: threatintel/PR

#10808 Fix UT error reported by address sanitizer
  src/analysisd/decoders/syscollector.c
  src/wazuh_db/wdb_delta_event.c
Labels: core/syscollector

#10809 Use wpopenv in AR scripts and escape special characters from JSON alert
  src/active-response/disable-account.c
  src/active-response/firewalld-drop.c
  src/active-response/firewalls/default-firewall-drop.c
  src/active-response/firewalls/ipfw.c
  src/active-response/netsh.c
  src/active-response/route-null.c
  src/active-response/wazuh-slack.c
  src/analysisd/alerts/exec.c
  src/analysisd/ar_json.c
  src/analysisd/config.h
  src/shared/string_op.c
  src/unit_tests/analysisd/test_exec.c
  src/unit_tests/shared/test_string_op.c
Labels: bug, core/active-response

#3659 Log type for inability to resolve manager address
  src/client-agent/start_agent.c
  src/unit_tests/client-agent/test_start_agent.c
Labels: operations

#10777 Improving Doxygen in force options related functions and structures of authd
  src/config/authd-config.h
  src/headers/agent_op.h
Labels: enhancement, core/auth

#10827 Fixing ids of ip reputation rules
  ruleset/rules/0095-sshd_rules.xml
  ruleset/rules/0940-ip_reputation_rules.xml
  ruleset/testing/tests/sshd.ini
  ruleset/testing/tests/test_features.ini
Labels: threatintel/PR

#10849 Fixing wazuh-db doesn't start after wazuh-dbd
  src/init/wazuh-client.sh
  src/init/wazuh-local.sh
  src/init/wazuh-server.sh
Labels: bug

#10904 Removing duplicated os_free for cpe_data structure and setting to NULL the freed structure
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: bug, core/vuln detector, coverity

#10899 Fix undefined reference to pthread_yield() by libdb on gcc 11
  src/Makefile
Labels: bug, core/dependencies

#10856 Add force_reconnect_interval to centralized configuration
  src/client-agent/config.c
  src/config/client-config.c
  src/config/config.c
  src/config/config.h
Labels: core/configuration

#10922 Prevent Wazuh DB from preparing statements multiple times
  src/wazuh_db/wdb.c
Labels: bug, core/db

#10949 Print Integrity check `Starting` log as soon as the task is created
  framework/wazuh/core/cluster/master.py
Labels: enhancement, framework, cluster

#10921 Check that files collected by the AWS module aren't folders before processing them
  wodles/aws/aws_s3.py
Labels: bug, aws_integration, external_integrations

#10948 Fix a segmentation fault in Analysisd by a wrong Active Response configuration
  src/analysisd/alerts/exec.c
  src/config/active-response.c
  src/error_messages/warning_messages.h
Labels: bug, core/analysisd, core/active-response

#11115 Fix a typo in an error log about enrollment SSL certificate
  src/shared/enrollment_op.c
  src/unit_tests/shared/test_enrollment_op.c
Labels: bug, core/agent, release/4.3.0

#11086 Defined the `subversion` value when missing to avoid installation errors
  src/init/dist-detect.sh
Labels: bug, installer, cicd-tracked, release/4.3.0
