Repository wazuh/wazuh, pull requests merged in 2021-07, with the labels that each got.

#9109 Fix a locked-state delay in Syscollector
  src/shared_modules/dbsync/include/db_exception.h
  src/shared_modules/dbsync/src/sqlite/sqlite_dbengine.cpp
Labels: bug, core/syscollector

#9143 Adding rules and tests for MITRE Carbanak step 5.A
  ruleset/rules/0802-attack-TA0002.xml
  ruleset/rules/0808-attack-TA0008.xml
  ruleset/rules/0811-attack-TA0011.xml
  ruleset/testing/tests/audit_scp.ini
Labels: threatintel, threatintel/mitre, threatintel/rules

#9179 Prevent the agent from raising errors when the leaky bucket is full
  src/wazuh_modules/wm_sca.c
  src/win32/win_utils.c
Labels: bug, core/agent, core/sca, platform/windows

#9195 Fixed srcip and dstip values in SonicWall decoder
  ruleset/decoders/0295-sonicwall_decoders.xml
Labels: threatintel, threatintel/decoders

#9205 Logcollector: enabled mysql5.7 log format #4056 and minor bug fix
  ruleset/rules/0295-mysql_rules.xml
Labels: threatintel, threatintel/rules

#9190 Lateral movement detection rules - Carbanak step 5.C
  ruleset/rules/0802-attack-TA0002.xml
  ruleset/rules/0803-attack-TA0003.xml
  ruleset/rules/0808-attack-TA0008.xml
  ruleset/testing/tests/audit_lateral.ini
  ruleset/testing/tests/audit_scp.ini
Labels: threatintel, threatintel/mitre, threatintel/rules

#9196 Fix for missing registry field value_type in alerts
  src/analysisd/decoders/syscheck.c
Labels: bug, core/fim, core/fim/registry, platform/windows

#9183 Adding rules for detection of step 6.A
  ruleset/rules/0802-attack-TA0002.xml
  ruleset/rules/0915-win-powershell_rules.xml
Labels: threatintel, threatintel/mitre, threatintel/rules

#9271 Refactoring ruleset file names, changing MITRE tactic for data source
  ruleset/rules/0800-sysmon_id_1.xml
  ruleset/rules/0802-attack-TA0002.xml
  ruleset/rules/0803-attack-TA0003.xml
  ruleset/rules/0806-attack-TA0006.xml
  ruleset/rules/0807-attack-TA0007.xml
  ruleset/rules/0810-sysmon_id_3.xml
  ruleset/rules/0811-attack-TA0011.xml
  ruleset/rules/0820-sysmon_id_7.xml
  ruleset/rules/0830-sysmon_id_11.xml
  ruleset/rules/0840-win_event_channel.xml
  ruleset/rules/0850-audit_rules.xml
Labels: threatintel, threatintel/rules

#9304 Ruleset copyright update
  ruleset/decoders/0062-cisco-ftd_decoders.xml
  ruleset/decoders/0065-cisco-ios_decoders.xml
  ruleset/decoders/0480-perdition_decoders.xml
  ruleset/decoders/0485-nextcloud_decoders.xml
  ruleset/decoders/0490-junos_decoders.xml
  ruleset/decoders/0495-freepbs_decoders.xml
  ruleset/decoders/0500-macos-sshd_decoders.xml
  ruleset/decoders/0515-wazuh-api-decoders.xml
  ruleset/decoders/0520-msexchange-log-decoders.xml
  ruleset/decoders/0525-f5_bigip_decoders.xml
  ruleset/decoders/0530-icinga_decoders.xml
  ruleset/decoders/0535-haproxy_decoders.xml
  ruleset/decoders/0540-gitlab_decoders.xml
  ruleset/decoders/0545-cylance_decoders.xml
  ruleset/rules/0580-win-security_rules.xml
  ruleset/rules/0585-win-application_rules.xml
  ruleset/rules/0590-win-system_rules.xml
  ruleset/rules/0595-win-sysmon_rules.xml
  ruleset/rules/0600-win-wdefender_rules.xml
  ruleset/rules/0602-win-wfirewall_rules.xml
  ruleset/rules/0605-win-mcafee_rules.xml
  ruleset/rules/0610-win-ms_logs_rules.xml
  ruleset/rules/0615-win-ms-se_rules.xml
  ruleset/rules/0620-win-generic_rules.xml
  ruleset/rules/0630-nextcloud_rules.xml
  ruleset/rules/0635-owlh-zeek_rules.xml
  ruleset/rules/0685-macos-sshd_rules.xml
  ruleset/rules/0695-f5_bigip_rules.xml
  ruleset/rules/0700-paloalto_rules.xml
  ruleset/rules/0710-wazuh-api-rules.xml
  ruleset/rules/0715-freepbx_rules.xml
  ruleset/rules/0715-icinga_rules.xml
  ruleset/rules/0730-cylance_rules.xml
  ruleset/rules/0770-gitlab_rules.xml
  ruleset/rules/0905-cisco-ftd_rules.xml
  ruleset/rules/0910-ms-exchange-proxylogon_rules.xml
  ruleset/rules/0915-win-powershell_rules.xml
Labels: threatintel, threatintel/decoders, threatintel/rules

#9284 Rules for PrintNightmare - CVE-2021-34527
  ruleset/rules/0820-sysmon_id_7.xml
  ruleset/rules/0830-sysmon_id_11.xml
  ruleset/rules/0840-win_event_channel.xml
Labels: threatintel, threatintel/rules

#9232 Rules for suspicious RDP activity detection
  ruleset/rules/0800-sysmon_id_1.xml
  ruleset/rules/0810-sysmon_id_3.xml
  ruleset/rules/0850-audit_rules.xml
Labels: threatintel, threatintel/mitre, threatintel/rules

#9027 Adding PCI compliance groups
  ruleset/rules/0015-ossec_rules.xml
  ruleset/rules/0016-wazuh_rules.xml
  ruleset/rules/0020-syslog_rules.xml
  ruleset/rules/0065-pix_rules.xml
  ruleset/rules/0090-telnetd_rules.xml
  ruleset/rules/0220-msauth_rules.xml
  ruleset/rules/0230-ms-se_rules.xml
  ruleset/rules/0240-ids_rules.xml
  ruleset/rules/0275-squid_rules.xml
  ruleset/rules/0340-puppet_rules.xml
  ruleset/rules/0360-serv-u_rules.xml
  ruleset/rules/0425-cisco-estreamer_rules.xml
  ruleset/rules/0430-ms_wdefender_rules.xml
  ruleset/rules/0450-mongodb_rules.xml
  ruleset/rules/0455-docker_rules.xml
  ruleset/rules/0470-vshell_rules.xml
  ruleset/rules/0480-qualysguard_rules.xml
  ruleset/rules/0485-cylance_rules.xml
  ruleset/rules/0490-virustotal_rules.xml
  ruleset/rules/0505-vuls_rules.xml
  ruleset/rules/0510-ciscat_rules.xml
  ruleset/rules/0515-exim_rules.xml
Labels: threatintel, threatintel/rules

#9312 Detection rules for registry persistence
  ruleset/rules/0830-sysmon_id_11.xml
  ruleset/rules/0860-sysmon_id_13.xml
Labels: threatintel, threatintel/mitre, threatintel/rules

#9319 Rules for RDP activity detection
  ruleset/rules/0800-sysmon_id_1.xml
  ruleset/rules/0810-sysmon_id_3.xml
  ruleset/rules/0840-win_event_channel.xml
Labels: threatintel, threatintel/mitre, threatintel/rules

#9238 OracleDB 12c Integration
  ruleset/decoders/0550-oracledb_decoders.xml
  ruleset/rules/0920-oracledb_rules.xml
Labels: threatintel, threatintel/decoders, threatintel/rules

#9340 Detect MITRE's Carbanak step 9.A
  ruleset/rules/0830-sysmon_id_11.xml
  ruleset/rules/0870-sysmon_id_8.xml
Labels: threatintel, threatintel/mitre, threatintel/rules

#9339 Detect suspicious process execution based on windows script interpreters
  ruleset/rules/0800-sysmon_id_1.xml
Labels: threatintel, threatintel/mitre, threatintel/rules

#8929 7656 GitHub ruleset issue template
  .github/ISSUE_TEMPLATE/rules-decoders_request.md
  .github/ISSUE_TEMPLATE/ruleset.md
  .github/pull_request_template.md
Labels: threatintel

#9349 Remove files after WPK upgrade
  src/win32/do_upgrade.ps1
  upgrade.sh
Labels: packages/wpk

#9347 Fix FIM synchronization of Windows Registry
  src/syscheckd/db/fim_db.c
  src/syscheckd/db/schema_fim_db.sql
  src/unit_tests/syscheckd/db/test_fim_db.c
  src/unit_tests/wazuh_db/test_wdb_fim.c
  src/wazuh_db/wdb_fim.c
Labels: bug, bug/devel, bug/regression, core/fim, core/fim/registry

#9085 8071 add postgre sql sca
  etc/templates/config/generic/sca.manager.files
  ruleset/sca/applications/cis_postgre-sql-13.yml
Labels: threatintel, threatintel/sca

#9243 [Rebase] Grouping of multiple rebased Pull Requests (Branch: Rebase-merge)
  ruleset/decoders/0100-fortigate_decoders.xml
  ruleset/decoders/0375-web-accesslog_decoders.xml
  ruleset/decoders/0377-huawei-usg_decoders.xml
  ruleset/decoders/0550-arbor_decoders.xml
  ruleset/decoders/0555-fireeye_decoders.xml
  ruleset/rules/0245-web_rules.xml
  ruleset/rules/0390-fortigate_rules.xml
  ruleset/rules/0775-arbor_rules.xml
  ruleset/rules/0780-fireeye_rules.xml
  ruleset/rules/0785-huawei-usg_rules.xml
  ruleset/testing/tests/arbor.ini
  ruleset/testing/tests/cisco_ios.ini
  ruleset/testing/tests/fireeye.ini
  ruleset/testing/tests/fortigate.ini
  ruleset/testing/tests/huawei_usg.ini
  ruleset/testing/tests/web_rules.ini
Labels: threatintel, threatintel/decoders, threatintel/rules

#9366 9342 add aws eks decoders
  ruleset/decoders/0555-aws-eks-authenticator_decoders.xml
Labels: threatintel, threatintel/decoders

#9379 PR: Fixed decoders repeated number
  ruleset/decoders/0560-oracledb_decoders.xml
  ruleset/decoders/0565-aws-eks-authenticator_decoders.xml
Labels: threatintel, threatintel/decoders

#9292 Fix agentless ssh_integrity_check_linux script typo
  src/agentlessd/scripts/ssh_integrity_check_linux
Labels: core/agentless, operations

#9372 Adding basic rules for SAM dumping detection
  ruleset/rules/0800-sysmon_id_1.xml
Labels: threatintel, threatintel/mitre, threatintel/rules

#9356 Detection rules for MITRE's Carbanak step 9.B
  ruleset/rules/0800-sysmon_id_1.xml
  ruleset/rules/0820-sysmon_id_7.xml
Labels: threatintel, threatintel/mitre, threatintel/rules

#9390 Let wpopen communicate in duplex mode
  src/active-response/active_responses.c
  src/active-response/firewalls/default-firewall-drop.c
  src/active-response/firewalls/ipfw.c
  src/active-response/firewalls/npf.c
  src/agentlessd/agentlessd.c
  src/headers/exec_op.h
  src/os_execd/execd.c
  src/os_execd/wcom.c
  src/os_execd/win_execd.c
  src/os_integrator/integrator.c
  src/shared/audit_op.c
  src/shared/exec_op.c
  src/unit_tests/shared/test_audit_op.c
  src/wazuh_modules/wm_docker.c
  src/wazuh_modules/wm_keyrequest.c
  src/wazuh_modules/wm_osquery_monitor.c
Labels: core/active-response, core/shared, enhancement

#9285 Added message size validation and avoid ssize_t underflow
  src/remoted/secure.c
  src/unit_tests/remoted/CMakeLists.txt
  src/unit_tests/remoted/test_secure.c
  src/unit_tests/wrappers/linux/netbuffer_wrappers.c
  src/unit_tests/wrappers/linux/netbuffer_wrappers.h
  src/unit_tests/wrappers/linux/netcounter_wrappers.c
  src/unit_tests/wrappers/linux/netcounter_wrappers.h
  src/unit_tests/wrappers/wazuh/os_crypto/keys_wrappers.c
  src/unit_tests/wrappers/wazuh/os_crypto/keys_wrappers.h
Labels: core/remoted, operations
