Repository wazuh/wazuh, pull requests merged in 2021-06, with the labels that each got.

#8875 Fixed MS Logs rule 83200 bug
  ruleset/rules/0435-ms_logs_rules.xml
Labels: bug, threatintel, threatintel/rules

#8889 Added parameters description, fix issue when updating and related UTs
  src/unit_tests/wazuh_db/test_wdb_agents.c
  src/wazuh_db/helpers/wdb_agents_helpers.h
  src/wazuh_db/wdb_agents.c
Labels: core/unit tests, enhancement

#7848 Fix FIM data races
  src/config/syscheck-config.h
  src/headers/atomic.h
  src/headers/shared.h
  src/shared/agent_op.c
  src/shared/atomic.c
  src/shared/wait_op.c
  src/syscheckd/create_db.c
  src/syscheckd/main.c
  src/syscheckd/run_check.c
  src/syscheckd/run_realtime.c
  src/syscheckd/syscheck.c
  src/syscheckd/syscheck.h
  src/syscheckd/whodata/audit_healthcheck.c
  src/syscheckd/whodata/audit_parse.c
  src/syscheckd/whodata/audit_rule_handling.c
  src/syscheckd/whodata/syscheck_audit.c
  src/syscheckd/whodata/syscheck_audit.h
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/shared/test_atomic.c
  src/unit_tests/shared/test_queue_op.c
  src/unit_tests/syscheckd/CMakeLists.txt
  src/unit_tests/syscheckd/test_run_realtime.c
  src/unit_tests/syscheckd/test_syscheck.c
  src/unit_tests/syscheckd/whodata/CMakeLists.txt
  src/unit_tests/syscheckd/whodata/test_audit_healthcheck.c
  src/unit_tests/syscheckd/whodata/test_audit_parse.c
  src/unit_tests/syscheckd/whodata/test_audit_rule_handling.c
  src/unit_tests/syscheckd/whodata/test_syscheck_audit.c
  src/unit_tests/wrappers/wazuh/shared/atomic_wrappers.c
  src/unit_tests/wrappers/wazuh/shared/atomic_wrappers.h
Labels: core/fim

#8894 Fix segfault for wazuh-logtest-legacy -a argument
  src/analysisd/alerts/log.c
  src/analysisd/alerts/log.h
  src/analysisd/analysisd.c
  src/analysisd/testrule.c
Labels: bug, core/logtest

#8886 Upgrade boto3, botocore, requests, s3transfer and urllib3 Python dependencies
  framework/requirements.txt
Labels: API, enhancement

#8905 Making the agent's syscheck DB able to recover from a sqlite transaction error
  src/syscheckd/db/fim_db.c
  src/syscheckd/db/fim_db_files.c
  src/syscheckd/db/fim_db_registries.c
  src/unit_tests/syscheckd/db/CMakeLists.txt
  src/unit_tests/syscheckd/db/expect_fim_db.c
  src/unit_tests/syscheckd/db/test_fim_db.c
  src/unit_tests/syscheckd/db/test_fim_db_files.c
  src/unit_tests/syscheckd/db/test_fim_db_registries.c
  src/unit_tests/wrappers/externals/sqlite/sqlite3_wrappers.c
  src/unit_tests/wrappers/externals/sqlite/sqlite3_wrappers.h
Labels: core/fim

#8933 logcollector: possible buffer overflow fixed
  src/logcollector/logcollector.c
Labels: bug, core/logcollector

#8954 Fixing duplicated variable name an possible memory leak in Vulnerability Detector
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: bug/devel, core/vuln detector

#8968 Remove delay in the restart procedure at Execd
  src/os_execd/wcom.c
Labels: bug, core/execd

#8973 Propagating missing fields for Arch Linux during a vulnerability detector scan
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
Labels: bug/devel, core/vuln detector

#8972 Improve log message of the Vulnerability Detector scan result
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector, enhancement

#9007 Update Makefile's "clean" rule to remove pacman-related object files
  src/Makefile
Labels: core/Makefile

#8914 Fixes segfault when can not connect to wdb
  src/analysisd/mitre.c
  src/init/inst-functions.sh
Labels: core/analysisd, core/logtest, threatintel, threatintel/mitre

#8902 Let wazuh-db remove agent files on cluster enviornments
  src/addagent/validate.c
  src/analysisd/decoders/dbsync.c
  src/analysisd/decoders/syscheck.c
  src/os_auth/main-server.c
  src/shared/auth_client.c
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb.c
  src/unit_tests/wazuh_db/test_wdb_parser.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.h
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_global.c
  src/wazuh_db/wdb_parser.c
  src/wazuh_modules/wm_database.c
Labels: core/db

#8784 Let FIM add realtime directories if the limit is no longer reached
  src/config/syscheck-config.h
  src/error_messages/debug_messages.h
  src/error_messages/error_messages.h
  src/syscheckd/config.c
  src/syscheckd/create_db.c
  src/syscheckd/run_check.c
  src/syscheckd/run_realtime.c
  src/syscheckd/syscheck.h
  src/unit_tests/syscheckd/CMakeLists.txt
  src/unit_tests/syscheckd/test_run_check.c
  src/unit_tests/syscheckd/test_run_realtime.c
  src/unit_tests/wrappers/wazuh/shared/hash_op_wrappers.c
  src/unit_tests/wrappers/wazuh/shared/hash_op_wrappers.h
  src/unit_tests/wrappers/wazuh/syscheckd/run_realtime_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/run_realtime_wrappers.h
  src/unit_tests/wrappers/windows/synchapi_wrappers.c
  src/unit_tests/wrappers/windows/synchapi_wrappers.h
Labels: core/fim, core/fim/realtime

#8604 Replace `atoi` calls with `strtol` in audit_parse
  src/syscheckd/whodata/audit_parse.c
Labels: bug, core/fim, core/fim/whodata

#7358 Modifying syscheck static fields into dynamic fields
  src/analysisd/alerts/exec.c
  src/analysisd/alerts/log.c
  src/analysisd/decoders/syscheck.c
  src/analysisd/eventinfo.c
  src/analysisd/eventinfo.h
  src/analysisd/format/to_json.c
  src/analysisd/output/prelude.c
  src/headers/syscheck_op.h
  src/shared/syscheck_op.c
  src/syscheckd/create_db.c
  src/syscheckd/registry/events.c
  src/unit_tests/analysisd/CMakeLists.txt
  src/unit_tests/analysisd/test_analysisd_syscheck.c
  src/unit_tests/analysisd/test_exec.c
  src/unit_tests/analysisd/test_log.c
  src/unit_tests/shared/test_syscheck_op.c
  src/unit_tests/wrappers/libc/stdio_wrappers.c
  src/unit_tests/wrappers/libc/stdio_wrappers.h
  src/unit_tests/wrappers/posix/time_wrappers.c
  src/unit_tests/wrappers/posix/time_wrappers.h
Labels: core/fim, enhancement

#9044 Addition of architecture and version for the Windows OS vulnerabilities in the CVEs inventory of the agents and vulnerabilities alerts
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector, enhancement

#8917 Remove libwazuhshared.so in clean-internals
  src/Makefile
Labels: core/Makefile

#8941 Correct handling of SQLITE_DONE code return in FIM db synchronization
  src/syscheckd/db/fim_db.c
  src/unit_tests/syscheckd/db/test_fim_db.c
Labels: core/fim, enhancement

#9030 Added icinga rules, decoders and .ini
  ruleset/decoders/0530-icinga_decoders.xml
  ruleset/rules/0715-icinga_rules.xml
  ruleset/testing/tests/icinga.ini
Labels: threatintel, threatintel/decoders, threatintel/rules

#9033 Added Haproxy decoders and Sample logs
  ruleset/decoders/0535-haproxy_decoders.xml
Labels: threatintel, threatintel/decoders

#9047 Added Cylance decoders, rules and .ini testfile
  ruleset/decoders/0545-cylance_decoders.xml
  ruleset/rules/0730-cylance_rules.xml
  ruleset/testing/tests/cylance.ini
Labels: threatintel, threatintel/decoders, threatintel/rules

#9009 Added Freepbx integration with rules and decoders
  ruleset/decoders/0495-freepbs_decoders.xml
  ruleset/rules/0715-freepbx_rules.xml
  ruleset/testing/tests/freepbx.ini
Labels: threatintel, threatintel/decoders, threatintel/rules

#9037 Added glpi decoders and .ini file
  ruleset/decoders/0025-apache_decoders.xml
  ruleset/decoders/0375-web-accesslog_decoders.xml
  ruleset/testing/tests/glpi.ini
Labels: threatintel, threatintel/decoders

#9020 Updated exim4 rules, decoders and .ini to support new logs
  ruleset/decoders/0445-exim_decoders.xml
  ruleset/rules/0515-exim_rules.xml
  ruleset/testing/tests/exim.ini
Labels: threatintel, threatintel/decoders, threatintel/rules

#9018 Updated proftd decoder and added more sample logs
  ruleset/decoders/0230-proftpd_decoders.xml
Labels: threatintel, threatintel/decoders

#8998 8155 create aws s3 ruleset
  ruleset/rules/0350-amazon_rules.xml
  ruleset/testing/tests/aws_s3_access.ini
Labels: threatintel, threatintel/rules

#8969 Add rules for GCP VPC logs
  ruleset/rules/0690-gcp_rules.xml
  ruleset/testing/tests/gcp.ini
Labels: threatintel, threatintel/rules

#9083 Let upgrade from sources remove old service files
  src/init/init.sh
Labels: bug, installer

#7721 Added new function to save audit rules when audit is in immutable mode
  src/error_messages/debug_messages.h
  src/error_messages/information_messages.h
  src/syscheckd/syscheck.h
  src/syscheckd/whodata/syscheck_audit.c
  src/unit_tests/syscheckd/whodata/CMakeLists.txt
  src/unit_tests/syscheckd/whodata/test_syscheck_audit.c
Labels: bug, community, core/fim, core/fim/whodata, platform/unix

#9094 8414 monitord logging with modulesd tag
  etc/internal_options.conf
  src/init/inst-functions.sh
  src/monitord/compress_log.c
  src/monitord/generate_reports.c
  src/monitord/moncom.c
  src/monitord/monitor_actions.c
  src/monitord/monitord.c
  src/monitord/monitord.h
  src/monitord/rotate_log.c
  src/monitord/sign_log.c
  src/unit_tests/monitord/CMakeLists.txt
  src/unit_tests/monitord/test_monitor_actions.c
  src/unit_tests/monitord/test_monitord.c
  src/wazuh_modules/wm_monitor.c
  src/wazuh_modules/wm_monitor.h
Labels: core/modulesd, core/monitord

#9096 Fix FIM problems with mutex and locks
  src/syscheckd/create_db.c
  src/syscheckd/fim_diff_changes.c
  src/syscheckd/run_check.c
  src/syscheckd/run_realtime.c
  src/syscheckd/syscheck.h
  src/unit_tests/syscheckd/CMakeLists.txt
  src/unit_tests/syscheckd/test_create_db.c
  src/unit_tests/syscheckd/test_fim_diff_changes.c
  src/unit_tests/syscheckd/test_run_check.c
  src/unit_tests/syscheckd/test_run_realtime.c
  src/unit_tests/syscheckd/test_syscheck.c
Labels: bug/devel, core/fim

#9041 Gitlab v12 integration
  ruleset/decoders/0540-gitlab_decoders.xml
  ruleset/rules/0770-gitlab_rules.xml
  ruleset/testing/tests/gitlab.ini
Labels: threatintel, threatintel/decoders, threatintel/rules

#9097 Adding rules and tests to detect Carbanak step 5.B
  ruleset/rules/0807-attack-TA0007.xml
  ruleset/testing/tests/audit_recon.ini
Labels: threatintel, threatintel/mitre, threatintel/rules

#9075 Detect Carbanak Step 2.B Screen Capture (Powershell)
  ruleset/rules/0915-win-powershell_rules.xml
Labels: threatintel, threatintel/mitre, threatintel/rules

#9146 Changed win-powershell_rules ID to avoid duplication
  ruleset/rules/0915-win-powershell_rules.xml
Labels: threatintel, threatintel/rules
