Repository wazuh/wazuh, pull requests merged in 2021-02, with the labels that each got.

#7039 Include SCA files to darwin folders and move sca.template to darwin root folder
  etc/templates/config/darwin/18/sca.files
  etc/templates/config/darwin/19/sca.files
  etc/templates/config/darwin/20/sca.files
  etc/templates/config/darwin/sca.template
Labels: cis, core/sca, ruleset

#7315 7283 os and hw sync
  src/analysisd/decoders/syscollector.c
  src/data_provider/src/sysInfo.cpp
  src/unit_tests/analysisd/test_decoder_syscollector.c
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/schema_upgrade_v7.sql
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_integrity.c
  src/wazuh_db/wdb_parser.c
  src/wazuh_db/wdb_syscollector.c
  src/wazuh_modules/syscollector/cppcheckSuppress.txt
  src/wazuh_modules/syscollector/include/syscollector.hpp
  src/wazuh_modules/syscollector/src/syscollector.cpp
  src/wazuh_modules/syscollector/src/syscollectorImp.cpp
  src/wazuh_modules/syscollector/tests/sysCollectorImp/syscollectorImp_test.cpp
Labels: core/dbsync-rsync-integration, enhancement

#7265 Fix delete alerts in whodata when the action is performed by a domain user.
  src/syscheckd/whodata/win_whodata.c
Labels: core/fim, platform/windows

#7334 7275 syscollector disabled issue
  src/wazuh_modules/main.c
  src/wazuh_modules/wm_syscollector.c
Labels: bug

#7350 Fixing confusing warning message when Vulnerability Detector doesn't found any match
  src/error_messages/error_messages.h
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#7347 Fix API integration test mapping script
  api/test/integration/mapping/_test_mapping.py
  api/test/integration/mapping/integration_test_api_endpoints.json
Labels: API, qa

#7355 [7323] Added max_eps new configuration for syscollector module
  etc/ossec-agent.conf
  etc/ossec-local.conf
  etc/ossec-server.conf
  etc/ossec.conf
  etc/templates/config/AIX/wodle-syscollector.template
  etc/templates/config/HP-UX/wodle-syscollector.template
  etc/templates/config/bsd/wodle-syscollector.template
  etc/templates/config/darwin/wodle-syscollector.template
  etc/templates/config/generic/wodle-syscollector.template
  etc/templates/config/sunos/wodle-syscollector.template
  src/config/wmodules-config.c
  src/config/wmodules_syscollector.c
  src/wazuh_modules/syscollector/tests/sysCollectorImp/syscollectorImp_test.cpp
  src/wazuh_modules/wm_syscollector.c
  src/wazuh_modules/wm_syscollector.h
  src/win32/ossec-pre6.conf
  src/win32/ossec.conf
Labels: core/syscollector, enhancement

#7342 Fix RBAC permissions on GET /groups
  CHANGELOG.md
  framework/wazuh/agent.py
  framework/wazuh/core/agent.py
Labels: API, bug, framework

#7364 [7277] Fixed coverity issues reported in last scan
  src/shared/version_op.c
  src/wazuh_modules/wm_syscollector.c
Labels: bug/devel, core/dbsync-rsync-integration, coverity

#7374 HPUX shared modules compilation skip
  src/Makefile
  src/wazuh_modules/wm_syscollector.c
Labels: core/syscollector, enhancement

#7378 Fix send message during shutdown
  src/wazuh_modules/main.c
  src/wazuh_modules/wm_syscollector.c
Labels: bug/devel, core/syscollector

#7338 Validate JSON read from alerts file
  src/headers/file-queue.h
  src/headers/json-queue.h
  src/headers/read-alert.h
  src/os_integrator/integrator.c
  src/shared/file-queue.c
  src/shared/json-queue.c
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/shared/test_json-queue.c
  src/unit_tests/wrappers/wazuh/shared/file_op_wrappers.c
  src/unit_tests/wrappers/wazuh/shared/file_op_wrappers.h
Labels: bug, core/integratord, core/maild, core/syslog output

#7307 Allow quoting in commands to group arguments
  src/headers/string_op.h
  src/shared/string_op.c
  src/unit_tests/shared/test_string_op.c
  src/wazuh_db/wdb.c
  src/wazuh_modules/wm_command.c
  src/wazuh_modules/wm_exec.c
  src/wazuh_modules/wm_keyrequest.c
  src/wazuh_modules/wmodules.c
  src/wazuh_modules/wmodules.h
Labels: bug, core/command, core/modulesd, core/sca

#7389 Changes to separate rpm package data with pipe character.
  src/data_provider/cppcheckSuppress.txt
  src/data_provider/src/packages/packagesLinuxParserHelper.h
  src/data_provider/src/sharedDefs.h
  src/data_provider/src/sysInfoLinux.cpp
  src/data_provider/tests/sysInfoPackagesLinuxHelper/sysInfoPackagesLinuxHelper_test.cpp
Labels: bug/devel

#7391 7390 centos packages unique pk issue
  src/wazuh_modules/syscollector/src/syscollectorImp.cpp
  src/wazuh_modules/syscollector/tests/sysCollectorImp/syscollectorImp_test.cpp
Labels: core/dbsync-rsync-integration, core/syscollector

#7415 Fix Active Response message creation
  framework/wazuh/core/active_response.py
  framework/wazuh/core/tests/test_active_response.py
Labels: bug/regression, framework

#7408 Let agents running on Solaris get their IP to the manager
  src/client-agent/notify.c
Labels: core/agent, enhancement, platform/solaris

#7442 7439 bsd based compilation issue in debug
  src/Makefile
  src/data_provider/CMakeLists.txt
  src/data_provider/tests/CMakeLists.txt
  src/shared_modules/dbsync/CMakeLists.txt
  src/shared_modules/dbsync/integrationTests/CMakeLists.txt
  src/shared_modules/dbsync/integrationTests/fim/CMakeLists.txt
  src/shared_modules/dbsync/tests/CMakeLists.txt
  src/shared_modules/dbsync/tests/dbengine/CMakeLists.txt
  src/shared_modules/dbsync/tests/interface/CMakeLists.txt
  src/shared_modules/dbsync/tests/pipelineFactory/CMakeLists.txt
  src/shared_modules/rsync/CMakeLists.txt
  src/shared_modules/rsync/tests/CMakeLists.txt
  src/shared_modules/rsync/tests/implementation/CMakeLists.txt
  src/shared_modules/rsync/tests/interface/CMakeLists.txt
  src/shared_modules/utils/tests/CMakeLists.txt
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/shared/test_json-queue.c
  src/unit_tests/wrappers/wazuh/shared/file_op_wrappers.c
  src/unit_tests/wrappers/wazuh/shared/file_op_wrappers.h
  src/wazuh_modules/syscollector/CMakeLists.txt
  src/wazuh_modules/syscollector/tests/CMakeLists.txt
  src/wazuh_modules/syscollector/tests/sysCollectorImp/CMakeLists.txt
Labels: bug

#7460 7431 syscollector logs
  src/data_provider/src/packages/packagesLinuxParserHelper.h
  src/data_provider/tests/sysInfoPackagesLinuxHelper/sysInfoPackagesLinuxHelper_test.cpp
  src/shared_modules/dbsync/include/dbsync.hpp
  src/shared_modules/dbsync/src/dbsync.cpp
  src/shared_modules/rsync/include/rsync.hpp
  src/shared_modules/rsync/src/rsync.cpp
  src/wazuh_modules/syscollector/include/syscollector.h
  src/wazuh_modules/syscollector/include/syscollector.hpp
  src/wazuh_modules/syscollector/src/syscollector.cpp
  src/wazuh_modules/syscollector/src/syscollectorImp.cpp
  src/wazuh_modules/syscollector/tests/sysCollectorImp/syscollectorImp_test.cpp
  src/wazuh_modules/syscollector/testtool/main.cpp
  src/wazuh_modules/wm_syscollector.c
Labels: bug/devel, core/syscollector

#7453 7439 Fix - bsd based debug compilation and valgrind ci check
  src/Makefile
  src/data_provider/CMakeLists.txt
  src/data_provider/tests/CMakeLists.txt
  src/shared_modules/dbsync/CMakeLists.txt
  src/shared_modules/dbsync/integrationTests/CMakeLists.txt
  src/shared_modules/dbsync/integrationTests/fim/CMakeLists.txt
  src/shared_modules/dbsync/tests/CMakeLists.txt
  src/shared_modules/dbsync/tests/dbengine/CMakeLists.txt
  src/shared_modules/dbsync/tests/interface/CMakeLists.txt
  src/shared_modules/dbsync/tests/pipelineFactory/CMakeLists.txt
  src/shared_modules/rsync/CMakeLists.txt
  src/shared_modules/rsync/tests/CMakeLists.txt
  src/shared_modules/rsync/tests/implementation/CMakeLists.txt
  src/shared_modules/rsync/tests/interface/CMakeLists.txt
  src/shared_modules/utils/tests/CMakeLists.txt
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/shared/test_json-queue.c
  src/unit_tests/wrappers/wazuh/shared/file_op_wrappers.c
  src/unit_tests/wrappers/wazuh/shared/file_op_wrappers.h
  src/wazuh_modules/syscollector/CMakeLists.txt
  src/wazuh_modules/syscollector/tests/CMakeLists.txt
  src/wazuh_modules/syscollector/tests/sysCollectorImp/CMakeLists.txt
Labels: bug

#7441 [7437] Updating Readme files related to the last syscollector work
  INSTALL
  src/Readme.md
  src/build.py
  src/data_provider/testtool/Readme.md
  src/shared_modules/dbsync/testtool/Readme.md
  src/shared_modules/readme.md
  src/wazuh_modules/syscollector/testtool/Readme.md
Labels: enhancement

#7485 [7465] Exclusion of c++ projects under C uts coverage report
  src/unit_tests/CMakeLists.txt
Labels: bug

#7484 Add a default path for runtests.py
  ruleset/testing/runtests.py
Labels: bug/devel

#6830 Add maximum files per second option for FIM scan
  src/config/syscheck-config.c
  src/config/syscheck-config.h
  src/error_messages/debug_messages.h
  src/headers/pthreads_op.h
  src/syscheckd/config.c
  src/syscheckd/create_db.c
  src/syscheckd/run_check.c
  src/syscheckd/syscheck.h
  src/unit_tests/syscheckd/CMakeLists.txt
  src/unit_tests/syscheckd/test_run_check.c
  src/unit_tests/syscheckd/test_run_realtime.c
  src/unit_tests/syscheckd/test_syscheck_config.c
  src/unit_tests/wrappers/wazuh/shared/time_op_wrappers.c
  src/unit_tests/wrappers/wazuh/shared/time_op_wrappers.h
Labels: core/fim

#7478 Add syscollector logs (info, debug, error)
  src/data_provider/src/packages/packagesLinuxParserHelper.h
  src/data_provider/tests/sysInfoPackagesLinuxHelper/sysInfoPackagesLinuxHelper_test.cpp
  src/shared_modules/dbsync/include/dbsync.hpp
  src/shared_modules/dbsync/src/dbsync.cpp
  src/shared_modules/rsync/include/rsync.hpp
  src/shared_modules/rsync/src/rsync.cpp
  src/wazuh_modules/syscollector/include/syscollector.h
  src/wazuh_modules/syscollector/include/syscollector.hpp
  src/wazuh_modules/syscollector/src/syscollector.cpp
  src/wazuh_modules/syscollector/src/syscollectorImp.cpp
  src/wazuh_modules/syscollector/tests/sysCollectorImp/syscollectorImp_test.cpp
  src/wazuh_modules/syscollector/testtool/main.cpp
  src/wazuh_modules/wm_syscollector.c
Labels: bug, qa

#7498 Changes to testing environment: add g++ and cmake and update healthchecks
  api/test/integration/env/base/agent/Dockerfile
  api/test/integration/env/base/manager/manager.Dockerfile
  api/test/integration/env/configurations/base/agent/healthcheck/healthcheck.py
  api/test/integration/env/configurations/experimental/agent/healthcheck/healthcheck.py
  api/test/integration/env/configurations/manager/agent/healthcheck/healthcheck.py
  api/test/integration/env/configurations/security/agent/healthcheck/healthcheck.py
Labels: API, bug/regression, qa

#7476 Fix inclusion of the rule description in archives when the rule level is low
  src/analysisd/analysisd.c
Labels: bug, core/analysisd, impact/low

#7495 Allow OS Regex match empty strings
  ruleset/decoders/0063-pix_decoders.xml
  ruleset/decoders/0470-panda-paps_decoders.xml
  src/os_regex/os_regex_execute.c
  src/tests/tap_os_regex.c
Labels: bug, core/active-response, core/analysisd, core/command, core/logcollector, core/regex, core/rootcheck, core/sca

#7500 [7499] Scan-build fixes
  src/wazuh_db/wdb_global.c
  src/wazuh_modules/wmcom.c
Labels: bug/devel

#7508 [7507] Incorrect scan time fix
  src/shared_modules/utils/tests/timeHelper_test.cpp
  src/shared_modules/utils/timeHelper.h
Labels: bug

#7523 7511 centos rpm package release field missing
  src/data_provider/src/packages/packagesLinuxParserHelper.h
  src/data_provider/tests/sysInfo/CMakeLists.txt
  src/data_provider/tests/sysInfo/sysInfoParsers_test.h
  src/data_provider/tests/sysInfo/sysInfo_test.cpp
  src/data_provider/tests/sysInfo/sysInfo_test.h
  src/data_provider/tests/sysInfo/sysOsInfo_test.h
  src/data_provider/tests/sysInfoNetworkWindows/sysInfoNetworkWindows_test.cpp
  src/data_provider/tests/sysInfoNetworkWindows/sysInfoNetworkWindows_test.h
  src/data_provider/tests/sysInfoPackagesLinuxHelper/sysInfoPackagesLinuxHelper_test.cpp
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: bug/devel

#7536 7529 hotfixes empty kb value
  src/data_provider/src/sysInfoWin.cpp
Labels: bug, core/sysinfo

#7533 [7531] Unknown default value for all data providers
  src/data_provider/src/network/networkBSDWrapper.h
  src/data_provider/src/network/networkLinuxWrapper.h
  src/data_provider/src/network/networkWindowsWrapper.h
  src/data_provider/src/osinfo/sysOsInfoWin.cpp
  src/data_provider/src/osinfo/sysOsParsers.cpp
  src/data_provider/src/ports/portBSDWrapper.h
  src/data_provider/src/ports/portLinuxWrapper.h
  src/data_provider/src/ports/portWindowsWrapper.h
  src/data_provider/src/sharedDefs.h
  src/data_provider/src/sysInfoFreeBSD.cpp
  src/data_provider/tests/sysInfoNetworkBSD/sysInfoNetworkBSD_test.cpp
  src/data_provider/testtool/Readme.md
  src/shared_modules/utils/networkHelper.h
  src/shared_modules/utils/windowsHelper.h
  src/wazuh_modules/syscollector/tests/sysCollectorImp/syscollectorImp_test.cpp
  src/wazuh_modules/syscollector/testtool/Readme.md
Labels: core/sysinfo

#7530 Fixing Wazuh name to avoid errors during the upgrade
  src/init/update.sh
Labels: bug, upgrade

#7539 Switch noisy error message to debug in Syslog output
  CHANGELOG.md
  src/os_csyslogd/alert.c
Labels: core/syslog output

#7549 [7546] Network gateway issue fix
  src/data_provider/include/sysInfo.h
  src/data_provider/src/network/networkLinuxWrapper.h
  src/data_provider/src/packages/packagesLinuxParserHelper.h
  src/data_provider/src/sysInfo.cpp
  src/data_provider/tests/sysInfo/sysInfo_test.cpp
  src/data_provider/tests/sysInfo/sysInfo_test.h
  src/data_provider/tests/sysInfoNetworkLinux/sysInfoNetworkLinux_test.cpp
  src/wazuh_modules/wm_control.c
  src/win32/win_utils.c
Labels: bug, core/sysinfo

#7414 Change the behavior when changing from realtime to scheduled
  src/syscheckd/create_db.c
  src/syscheckd/db/fim_db_files.c
  src/syscheckd/db/fim_db_files.h
  src/syscheckd/main.c
  src/syscheckd/syscheck.h
  src/unit_tests/syscheckd/db/test_fim_db_files.c
  src/unit_tests/syscheckd/test_create_db.c
  src/unit_tests/wrappers/wazuh/syscheckd/fim_db_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/fim_db_wrappers.h
Labels: core/fim

#7554 7551 Syscollector Wazuh api test failed
  src/analysisd/decoders/syscollector.c
  src/data_provider/src/network/inetworkWrapper.h
  src/data_provider/src/network/networkBSDWrapper.h
  src/data_provider/src/network/networkInterfaceWindows.cpp
  src/data_provider/src/network/networkLinuxWrapper.h
  src/data_provider/src/network/networkWindowsWrapper.h
  src/data_provider/src/packages/packageMac.cpp
  src/data_provider/src/sysInfoFreeBSD.cpp
  src/data_provider/src/sysInfoLinux.cpp
  src/data_provider/src/sysInfoMac.cpp
  src/data_provider/src/sysInfoOpenBSD.cpp
  src/data_provider/src/sysInfoUnix.cpp
  src/data_provider/tests/sysInfoNetworkBSD/sysInfoNetworkBSD_test.cpp
  src/data_provider/tests/sysInfoNetworkLinux/sysInfoNetworkLinux_test.cpp
  src/data_provider/tests/sysInfoNetworkWindows/sysInfoNetworkWindows_test.cpp
  src/unit_tests/analysisd/test_decoder_syscollector.c
  src/wazuh_db/wdb_syscollector.c
  src/wazuh_modules/syscollector/src/syscollectorImp.cpp
  src/wazuh_modules/syscollector/tests/sysCollectorImp/syscollectorImp_test.cpp
Labels: bug, core/syscollector, core/sysinfo

#7316 Add CIS policy "Ensure XD/NX support is enabled" back for SCA
  ruleset/sca/centos/6/cis_centos6_linux.yml
  ruleset/sca/centos/7/cis_centos7_linux.yml
  ruleset/sca/debian/cis_debian10.yml
  ruleset/sca/debian/cis_debian7.yml
  ruleset/sca/debian/cis_debian8.yml
  ruleset/sca/debian/cis_debian9.yml
  ruleset/sca/rhel/6/cis_rhel6_linux.yml
  ruleset/sca/rhel/7/cis_rhel7_linux.yml
Labels: core/sca, enhancement, ruleset

#7569 Create Wazuh DB commands for the new cve_vuln table in the agents DB
  src/Makefile
  src/addagent/validate.c
  src/analysisd/alerts/exec.c
  src/analysisd/labels.c
  src/headers/remoted_op.h
  src/monitord/monitor_actions.c
  src/monitord/monitord.c
  src/os_auth/main-server.c
  src/remoted/manager.c
  src/remoted/secure.c
  src/shared/read-agents.c
  src/shared/rootcheck_op.c
  src/unit_tests/analysisd/test_exec.c
  src/unit_tests/analysisd/test_labels.c
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb_global_helpers.c
  src/unit_tests/wazuh_modules/agent_upgrade/test_wm_agent_upgrade_commands.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_helpers_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_helpers_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_task_wrappers.c
  src/wazuh_db/helpers/wdb_global_helpers.c
  src/wazuh_db/helpers/wdb_global_helpers.h
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_agents.c
  src/wazuh_db/wdb_agents.h
  src/wazuh_db/wdb_fim.c
  src/wazuh_db/wdb_parser.c
  src/wazuh_db/wdb_rootcheck.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_commands.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_validate.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
  src/wazuh_modules/wm_database.c
Labels: enhancement

#7566 Adding wazuh db agents helpers to insert and remove CVEs from the new vuln_cves table in the agents database
  src/headers/wazuhdb_op.h
  src/unit_tests/wazuh_db/test_wdb_global_helpers.c
  src/wazuh_db/helpers/wdb_agents_helpers.c
  src/wazuh_db/helpers/wdb_agents_helpers.h
  src/wazuh_db/helpers/wdb_global_helpers.c
  src/wazuh_modules/task_manager/wm_task_manager_commands.c
Labels: core/db, enhancement

#7594 Fix migration process to overwrite default policies
  CHANGELOG.md
  framework/wazuh/rbac/orm.py
  framework/wazuh/tests/data/security/default/default_cases.yml
  framework/wazuh/tests/data/security/default/migration_policies.yml
  framework/wazuh/tests/data/security/default/mock_relationships.yml
  framework/wazuh/tests/data/security/default/new_default_policies.yml
  framework/wazuh/tests/test_security.py
Labels: RBAC, bug, framework

#7597 Add UT for WDB agents helpers
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb_agents_helpers.c
Labels: core/db, qa

#7380 Configuration tags normalization to Wazuh standard - Wazuh changes implementation
  add_localfiles.sh
  api/api/spec/spec.yaml
  api/api/test/data/test_xml_1.xml
  api/api/test/data/test_xml_ko_1.xml
  api/test/integration/common.yaml
  api/test/integration/test_cluster_endpoints.tavern.yaml
  api/test/integration/test_manager_endpoints.tavern.yaml
  api/test/integration/test_rbac_black_cluster_endpoints.tavern.yaml
  api/test/integration/test_rbac_black_manager_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_all_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_cluster_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_manager_endpoints.tavern.yaml
  etc/ossec-agent.conf
  etc/ossec-local.conf
  etc/ossec-server.conf
  etc/ossec.conf
  etc/templates/config/README.md
  etc/templates/config/generic/global.template
  framework/wazuh/core/configuration.py
  framework/wazuh/core/tests/data/configuration/ossec.conf
  src/config/config.c
  src/config/wmodules-agent-upgrade.c
  src/init/inst-functions.sh
  src/init/register_configure_agent.sh
  src/monitord/main.c
  src/os_execd/config.c
  src/remoted/config.c
  src/shared/cluster_utils.c
  src/shared/debug_op.c
  src/unit_tests/config_files/test_empty_config.conf
  src/unit_tests/config_files/test_syscheck.conf
  src/unit_tests/config_files/test_syscheck2.conf
  src/unit_tests/config_files/test_syscheck3.conf
  src/unit_tests/config_files/test_syscheck_config_win.conf
  src/unit_tests/config_files/test_syscheck_max_dir.conf
  src/unit_tests/config_files/test_syscheck_top_level.conf
  src/unit_tests/config_files/test_syscheck_top_level_win.conf
  src/unit_tests/config_files/test_syscheck_win.conf
  src/unit_tests/config_files/test_syscheck_win2.conf
  src/unit_tests/config_files/test_syscheck_win3.conf
  src/unit_tests/config_files/test_syscheck_win_max_dir.conf
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_parsing.c
  src/wazuh_modules/wm_database.c
  src/win32/ossec-pre6.conf
  src/win32/ossec.conf
  src/win32/setup-iis.c
  src/win32/setup-syscheck.c
  src/win32/ui/common.c
Labels: enhancement

#7600 Save the vulnerabilities found during the Vulnerability Detector scans in the agents' databases
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector, enhancement

#7487 Add <type> to wazuh decoders
  ruleset/decoders/0005-wazuh_decoders.xml
  ruleset/testing/tests/wazuh.ini
Labels: bug/devel

#7239 Allow statistical data queries to the agent
  api/api/spec/spec.yaml
  api/test/integration/test_agent_GET_endpoints.tavern.yaml
  framework/wazuh/core/agent.py
  framework/wazuh/core/common.py
  framework/wazuh/core/exception.py
  framework/wazuh/core/stats.py
  framework/wazuh/core/tests/test_agent.py
  framework/wazuh/core/tests/test_stats.py
  framework/wazuh/tests/test_agent.py
  src/Makefile
  src/client-agent/agcom.c
  src/client-agent/agentd.c
  src/client-agent/agentd.h
  src/client-agent/buffer.c
  src/client-agent/event-forward.c
  src/client-agent/notify.c
  src/client-agent/receiver-win.c
  src/client-agent/receiver.c
  src/client-agent/sendmsg.c
  src/client-agent/state.c
  src/client-agent/state.h
  src/logcollector/state.c
  src/shared/validate_op.c
  src/unit_tests/client-agent/CMakeLists.txt
  src/unit_tests/client-agent/test_agentd_state.c
  src/unit_tests/client-agent/test_buffer.c
  src/unit_tests/wrappers/externals/cJSON/cJSON_wrappers.c
  src/unit_tests/wrappers/externals/cJSON/cJSON_wrappers.h
  src/unit_tests/wrappers/libc/time_wrappers.c
  src/unit_tests/wrappers/libc/time_wrappers.h
  src/unit_tests/wrappers/wazuh/client-agent/buffer_wrappers.c
  src/unit_tests/wrappers/wazuh/client-agent/buffer_wrappers.h
  src/win32/win_utils.c
Labels: core/agent

#7615 updated cis macos 11.x requirements
  ruleset/sca/darwin/20/cis_apple_macOS_11.1.yml
Labels: threatintel

#7619 Updating the Vulnerability Detector unit tests
  src/unit_tests/wazuh_modules/vulnerability_detector/CMakeLists.txt
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_helpers_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_helpers_wrappers.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector, qa

#7388 Fixed SCA spacing issue
  ruleset/sca/centos/6/cis_centos6_linux.yml
  ruleset/sca/centos/7/cis_centos7_linux.yml
  ruleset/sca/darwin/18/cis_apple_macOS_10.14.yml
  ruleset/sca/rhel/6/cis_rhel6_linux.yml
  ruleset/sca/rhel/7/cis_rhel7_linux.yml
Labels: ruleset

#7621 [7620] Changed warning message by debug1 one
  src/wazuh_modules/wmcom.c
Labels: bug, core/syscollector

#7541 Support TCP and UDP protocols at the same time in remoted
  api/test/integration/test_agent_GET_endpoints.tavern.yaml
  api/test/integration/test_cluster_endpoints.tavern.yaml
  framework/wazuh/core/configuration.py
  src/config/remote-config.c
  src/config/remote-config.h
  src/error_messages/error_messages.h
  src/error_messages/warning_messages.h
  src/headers/sec.h
  src/os_crypto/shared/keys.c
  src/remoted/config.c
  src/remoted/manager.c
  src/remoted/remoted.c
  src/remoted/request.c
  src/remoted/secure.c
  src/remoted/sendmsg.c
  src/remoted/syslog.c
  src/remoted/syslogtcp.c
  src/unit_tests/logcollector/test_localfile-config.c
  src/unit_tests/remoted/CMakeLists.txt
  src/unit_tests/remoted/test_remote-config.c
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/shared/test_keys.c
Labels: core/remoted, enhancement

#7641 Add key range for no_data process, to optimize synchro
  src/shared_modules/rsync/src/dbsyncWrapper.h
  src/shared_modules/rsync/src/imessageDecoder.h
  src/shared_modules/rsync/src/messageChecksum.h
  src/shared_modules/rsync/src/messageCreatorFactory.h
  src/shared_modules/rsync/src/messageDecoderFactory.h
  src/shared_modules/rsync/src/messageDecoderJSON.h
  src/shared_modules/rsync/src/messageRowData.h
  src/shared_modules/rsync/src/rsync.cpp
  src/shared_modules/rsync/src/rsyncImplementation.cpp
  src/shared_modules/rsync/src/rsyncImplementation.h
  src/shared_modules/rsync/src/syncDecoder.h
  src/shared_modules/rsync/tests/implementation/CMakeLists.txt
  src/shared_modules/rsync/tests/implementation/rsyncImplementationTest.cpp
  src/shared_modules/rsync/tests/implementation/rsyncImplementationTest.h
  src/shared_modules/rsync/tests/interface/CMakeLists.txt
  src/shared_modules/rsync/tests/interface/rsync_test.cpp
  src/shared_modules/rsync/tests/interface/rsync_test.h
  src/wazuh_modules/syscollector/src/syscollectorImp.cpp
Labels: bug, core/dbsync-rsync-integration

#7636 7598 curl fallback precompiled libs
  src/Makefile
  src/shared_modules/rsync/src/rsync.cpp
  src/wazuh_modules/syscollector/tests/sysNormalizer/CMakeLists.txt
  src/wazuh_modules/syscollector/testtool/CMakeLists.txt
Labels: enhancement

#7654 Fixing information addition in the CVEs insert for windows vulnerabilities
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: bug/devel

#7659 7642 agent footprint
  src/Makefile
  src/data_provider/CMakeLists.txt
  src/shared_modules/dbsync/CMakeLists.txt
  src/shared_modules/rsync/CMakeLists.txt
  src/wazuh_modules/syscollector/CMakeLists.txt
  src/wazuh_modules/syscollector/testtool/CMakeLists.txt
  src/wazuh_modules/syscollector/testtool/main.cpp
Labels: footprint
