Repository wazuh/wazuh, pull requests merged in 2021-05, with the labels that each got.

#8428 Adds predecoder support uls syslog
  src/analysisd/cleanevent.c
Labels: core/analysisd, core/logtest, enhancement, ruleset

#8488 [8407] wm monitor main implementation
  src/config/wmodules-monitor.c
  src/monitord/main.c
  src/monitord/monitord.h
  src/wazuh_modules/wm_monitor.c
  src/wazuh_modules/wm_monitor.h
Labels: core/modulesd, core/monitord, enhancement

#8476 Add rules to detect suspicious scripting activity using wscript and cscript
  ruleset/rules/0800-attack-TA0002.xml
  ruleset/rules/0810-attack-TA0011.xml
Labels: threatintel/mitre, threatintel/rules

#8292 Deleted end pipe character at rules 60908 and 60884
  ruleset/rules/0585-win-application_rules.xml
Labels: threatintel, threatintel/rules

#8285 Adding rules for Hafnium related MS Exchange vulnerabilities
  ruleset/decoders/00520-msexchange-log-decoders.xml
  ruleset/rules/0910-ms-exchange-proxylogon_rules.xml
  ruleset/testing/tests/exchange.ini
Labels: ruleset, threatintel, threatintel/rules

#8287 removed alert_by_email from default ruleset
  ruleset/rules/0235-vmware_rules.xml
  ruleset/rules/0265-php_rules.xml
  ruleset/rules/0580-win-security_rules.xml
  ruleset/rules/0585-win-application_rules.xml
  ruleset/rules/0605-win-mcafee_rules.xml
  ruleset/rules/0615-win-ms-se_rules.xml
Labels: threatintel, threatintel/rules

#8320 Remove authentication_success from groups of rule 60107
  ruleset/rules/0580-win-security_rules.xml
Labels: threatintel, threatintel/rules

#8552 Fixing MSSQL log source
  ruleset/rules/0580-win-security_rules.xml
  ruleset/rules/0585-win-application_rules.xml
Labels: threatintel, threatintel/rules

#8551 Fix NULL address access hazard in Vulnerability Detector
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: bug, core/vuln detector

#8579 Adding unit tests for check sync status method
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb_integrity.c
  src/wazuh_db/wdb_integrity.c
Labels: core/db, core/unit tests

#8532 New Wazuh module to collect Github audit logs
  ruleset/rules/0750-github_rules.xml
  ruleset/testing/tests/github.ini
  src/Makefile
  src/config/config.c
  src/config/config.h
  src/config/wmodules-config.c
  src/config/wmodules-github.c
  src/headers/url.h
  src/shared/url.c
  src/unit_tests/wazuh_modules/CMakeLists.txt
  src/unit_tests/wazuh_modules/github/CMakeLists.txt
  src/unit_tests/wazuh_modules/github/test_wm_github.c
  src/unit_tests/wrappers/wazuh/os_regex/os_regex_wrappers.c
  src/unit_tests/wrappers/wazuh/os_regex/os_regex_wrappers.h
  src/unit_tests/wrappers/wazuh/shared/url_wrappers.c
  src/unit_tests/wrappers/wazuh/shared/url_wrappers.h
  src/wazuh_modules/wm_github.c
  src/wazuh_modules/wm_github.h
  src/wazuh_modules/wmodules.h
Labels: threatintel, threatintel/rules

#8569 New mechanism to know the synchronization status of agent's tables
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb_integrity.c
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/schema_upgrade_v8.sql
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_agents.c
  src/wazuh_db/wdb_integrity.c
  src/wazuh_db/wdb_parser.c
Labels: core/db, core/syscollector

#8554 Implement wdb_exec_stmt_send in WDB
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb.c
  src/unit_tests/wazuh_db/test_wdb_global_parser.c
  src/unit_tests/wazuh_db/test_wdb_parser.c
  src/unit_tests/wazuh_db/test_wdb_task_parser.c
  src/unit_tests/wrappers/externals/sqlite/sqlite3_wrappers.c
  src/unit_tests/wrappers/externals/sqlite/sqlite3_wrappers.h
  src/unit_tests/wrappers/wazuh/os_net/os_net_wrappers.c
  src/unit_tests/wrappers/wazuh/os_net/os_net_wrappers.h
  src/wazuh_db/main.c
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_parser.c
Labels: enhancement

#8568 Tracking integrity check global hash
  src/unit_tests/wazuh_db/test_wdb_integrity.c
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/schema_upgrade_v8.sql
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_integrity.c
  src/wazuh_db/wdb_parser.c
Labels: core/db

#8298 Add template for ruleset issues
  .github/ISSUE_TEMPLATE/ruleset.md
Labels: threatintel, threatintel/rules

#8620 Prevent the agent installation from getting corrupted after a macOS upgrade
  src/init/wazuh-client.sh
Labels: bug, core/auth

#8357 Let wcom execute check-manager-config query.
  framework/wazuh/core/common.py
  framework/wazuh/core/exception.py
  framework/wazuh/core/manager.py
  framework/wazuh/core/tests/test_manager.py
  framework/wazuh/tests/test_manager.py
  src/headers/defs.h
  src/init/wazuh/wazuh.sh
  src/os_execd/execd.c
  src/os_execd/execd.h
  src/os_execd/wcom.c
Labels: core/execd

#8600 Fix segfault when saving state with rotated files
  src/error_messages/debug_messages.h
  src/error_messages/error_messages.h
  src/headers/file_op.h
  src/logcollector/logcollector.c
  src/logcollector/logcollector.h
  src/logcollector/read_audit.c
  src/logcollector/read_djb_multilog.c
  src/logcollector/read_json.c
  src/logcollector/read_mssql_log.c
  src/logcollector/read_multiline.c
  src/logcollector/read_multiline_regex.c
  src/logcollector/read_mysql_log.c
  src/logcollector/read_nmapg.c
  src/logcollector/read_ossecalert.c
  src/logcollector/read_postgresql_log.c
  src/logcollector/read_snortfull.c
  src/logcollector/read_syslog.c
  src/logcollector/read_ucs2_be.c
  src/logcollector/read_ucs2_le.c
  src/os_crypto/sha1/sha1_op.c
  src/os_crypto/sha1/sha1_op.h
  src/shared/file_op.c
  src/unit_tests/logcollector/CMakeLists.txt
  src/unit_tests/logcollector/test_logcollector.c
  src/unit_tests/logcollector/test_read_multiline_regex.c
  src/unit_tests/wrappers/wazuh/os_crypto/sha1_op_wrappers.c
  src/unit_tests/wrappers/wazuh/os_crypto/sha1_op_wrappers.h
Labels: bug, core/logcollector

#8630 Let DB sync module erase agent-related files on syncing
  src/wazuh_modules/wm_database.c
Labels: bug, core/dbsync, core/modulesd

#8481 Set package revision to 0 when missing in Vulnerability Detector
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#8622 Create WDB get command for packages and hotfixes
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb_agents.c
  src/unit_tests/wazuh_db/test_wdb_global_parser.c
  src/unit_tests/wazuh_db/test_wdb_parser.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_wrappers.c
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_agents.c
  src/wazuh_db/wdb_agents.h
  src/wazuh_db/wdb_parser.c
Labels: enhancement

#8664 New unit tests for packages and hotfixes helper methods in vulnerability detector
  src/unit_tests/wazuh_modules/vulnerability_detector/CMakeLists.txt
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#8634 New helper methods for vulnerability detector to query both hotfixes and packages from agents
  src/unit_tests/wazuh_modules/vulnerability_detector/CMakeLists.txt
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
Labels: core/vuln detector

#8638 Retry mechanism for the vulnerability detector scans and usage of the helpers to get packages and hotfixes in an atomic way
  src/error_messages/error_messages.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
Labels: core/vuln detector

#8674 Migrate cluster improvements from master to 4.2
  api/api/spec/spec.yaml
  api/test/integration/env/base/manager/entrypoint.sh
  framework/scripts/cluster_control.py
  framework/scripts/wazuh-clusterd.py
  framework/wazuh/core/agent.py
  framework/wazuh/core/cluster/client.py
  framework/wazuh/core/cluster/cluster.json
  framework/wazuh/core/cluster/cluster.py
  framework/wazuh/core/cluster/common.py
  framework/wazuh/core/cluster/local_server.py
  framework/wazuh/core/cluster/master.py
  framework/wazuh/core/cluster/server.py
  framework/wazuh/core/cluster/tests/test_utils.py
  framework/wazuh/core/cluster/tests/test_worker.py
  framework/wazuh/core/cluster/utils.py
  framework/wazuh/core/cluster/worker.py
  framework/wazuh/core/common.py
  framework/wazuh/core/exception.py
  framework/wazuh/core/tests/test_agent.py
  framework/wazuh/core/wdb.py
Labels: bug, cluster, framework

#8666 Add hotfix and packages parser legacy actions UTs
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb_parser.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_wrappers.c
  src/wazuh_db/wdb_parser.c
Labels: enhancement

#8677 Vulnerability Detector atomic query exploratory testing fixes
  src/unit_tests/wazuh_db/test_wdb_integrity.c
  src/wazuh_db/schema_upgrade_v8.sql
  src/wazuh_db/wdb_integrity.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: enhancement

#8643 Fix removal of service OssecSvc on Windows on agent upgrade
  src/win32/wazuh-installer.wxs
Labels: installer, platform/windows

#8688 Fixing winagent override warning when compiling
  src/Makefile
Labels: core/Makefile

#8705 Use integration field for GitHub rules matching
  ruleset/rules/0750-github_rules.xml
  ruleset/testing/tests/github.ini
  src/unit_tests/wazuh_modules/github/test_wm_github.c
  src/wazuh_modules/wm_github.c
Labels: ruleset

#8707 [8704] Fixed data provider network interfaces in cases where unsupported net family is present
  src/data_provider/src/network/networkInterfaceBSD.cpp
  src/data_provider/src/network/networkInterfaceLinux.cpp
  src/data_provider/src/network/networkInterfaceWindows.cpp
  src/data_provider/src/sysInfoCommonBSD.cpp
  src/data_provider/src/sysInfoLinux.cpp
  src/data_provider/tests/sysInfoNetworkBSD/sysInfoNetworkBSD_test.cpp
  src/data_provider/tests/sysInfoNetworkLinux/sysInfoNetworkLinux_test.cpp
  src/data_provider/tests/sysInfoNetworkWindows/sysInfoNetworkWindows_test.cpp
Labels: core/sysinfo

#8706 Updating last synchronization timestamp in agent's DB after a successful checksum comparison
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb_integrity.c
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_integrity.c
Labels: core/db, core/vuln detector, enhancement

#8709 [8685] scan-build fix win
  src/client-agent/start_agent.c
Labels: static-analysis

#8702 Add delay between vulnerability detectors retry scans
  src/config/wmodules-vuln-detector.c
  src/wazuh_db/wdb_parser.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: core/vuln detector, enhancement

#8676 Fix overreaching sibling decoders
  ruleset/decoders/0051-checkpoint-smart1_decoders.xml
  ruleset/decoders/0470-panda-paps_decoders.xml
  ruleset/decoders/0510-sophos_fw_decoders.xml
Labels: operations, ruleset, threatintel, threatintel/rules

#8461 Let FIM expand Windows wildcards
  src/config/syscheck-config.c
  src/headers/file_op.h
  src/shared/file_op.c
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/shared/test_file_op.c
  src/unit_tests/wrappers/windows/fileapi_wrappers.c
  src/unit_tests/wrappers/windows/fileapi_wrappers.h
Labels: core/fim, platform/windows

#8748 Fix bugs in CIS-CAT module when using relative paths
  src/wazuh_modules/wm_ciscat.c
Labels: bug, bug/regression, core/cis-cat, core/modulesd

#8731 Fix MSI uninstallation procedure tmp file locked
  src/win32/wazuh-installer.wxs
Labels: cicd

#8684 Make the Vulnerability Detector module obtain the packages to be scaned in an atomic way - Implementation
  src/config/wmodules-vuln-detector.c
  src/error_messages/debug_messages.h
  src/error_messages/error_messages.h
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb.c
  src/unit_tests/wazuh_db/test_wdb_agents.c
  src/unit_tests/wazuh_db/test_wdb_global_parser.c
  src/unit_tests/wazuh_db/test_wdb_integrity.c
  src/unit_tests/wazuh_db/test_wdb_parser.c
  src/unit_tests/wazuh_db/test_wdb_task_parser.c
  src/unit_tests/wazuh_modules/vulnerability_detector/CMakeLists.txt
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/unit_tests/wrappers/externals/sqlite/sqlite3_wrappers.c
  src/unit_tests/wrappers/externals/sqlite/sqlite3_wrappers.h
  src/unit_tests/wrappers/wazuh/os_net/os_net_wrappers.c
  src/unit_tests/wrappers/wazuh/os_net/os_net_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_wrappers.c
  src/wazuh_db/main.c
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/schema_upgrade_v8.sql
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_agents.c
  src/wazuh_db/wdb_agents.h
  src/wazuh_db/wdb_integrity.c
  src/wazuh_db/wdb_parser.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
Labels: core/db, core/vuln detector, enhancement

#8783 Replaced aws.severity with aws.severity.description in all Macie rules
  ruleset/rules/0350-amazon_rules.xml
Labels: threatintel, threatintel/rules

#8769 8206 f5 big ip lb
  ruleset/decoders/0525-f5_bigip_decoders.xml
  ruleset/rules/0695-f5_bigip_rules.xml
  ruleset/testing/tests/f5_big_ip.ini
Labels: threatintel, threatintel/decoders, threatintel/rules

#8778 Added Darwin's SCA and updated other template folder
  etc/templates/config/centos/8/rootcheck.agent.template
  etc/templates/config/centos/8/rootcheck.manager.template
  etc/templates/config/centos/8/sca.files
  etc/templates/config/darwin/sca.files
  etc/templates/config/debian/10/rootcheck.agent.template
  etc/templates/config/debian/10/rootcheck.manager.template
  etc/templates/config/debian/10/sca.files
  etc/templates/config/generic/sca.manager.files
  etc/templates/config/rhel/8/rootcheck.agent.template
  etc/templates/config/rhel/8/rootcheck.manager.template
  etc/templates/config/rhel/8/sca.files
  etc/templates/config/sles/12/sca.files
Labels: threatintel, threatintel/sca

#8789 Fix a descriptor leak in the agent when failed to connect to Authd
  src/shared/enrollment_op.c
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/shared/test_enrollment_op.c
  src/unit_tests/wrappers/wazuh/os_net/os_net_wrappers.c
Labels: bug, core/agent

#8736 Added new columns to vuln_cves database
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/schema_upgrade_v8.sql
Labels: core/db, core/vuln detector, enhancement

#8774 Adding vulnerability severity, score and detection time in insert/update function
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb_agents.c
  src/unit_tests/wazuh_db/test_wdb_parser.c
  src/unit_tests/wrappers/externals/sqlite/sqlite3_wrappers.c
  src/unit_tests/wrappers/externals/sqlite/sqlite3_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_wrappers.h
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb_agents.c
  src/wazuh_db/wdb_agents.h
  src/wazuh_db/wdb_parser.c
Labels: core/db, enhancement

#8821 Fixing Windows installer to start WazuhSvc after upgrading from OssecSvc
  src/win32/InstallerScripts.vbs
  src/win32/RemoveAllScript.vbs
  src/win32/wazuh-installer.wxs
Labels: installer, platform/windows

#8828 Let Analysisd create the PID file and the input socket before parsing the ruleset
  src/analysisd/analysisd.c
Labels: bug, core/analysisd

#8823 [8822] Fix exception handling on windows getVersion issue (8/8.1 win versions only)
  src/Makefile
  src/data_provider/CMakeLists.txt
  src/data_provider/src/osinfo/sysOsInfoWin.cpp
  src/data_provider/testtool/CMakeLists.txt
  src/shared_modules/dbsync/CMakeLists.txt
  src/shared_modules/dbsync/testtool/CMakeLists.txt
  src/shared_modules/rsync/CMakeLists.txt
  src/shared_modules/rsync/testtool/CMakeLists.txt
  src/shared_modules/utils/registryHelper.h
  src/wazuh_modules/syscollector/CMakeLists.txt
  src/wazuh_modules/syscollector/testtool/CMakeLists.txt
  src/win32/wazuh-installer.nsi
  src/win32/wazuh-installer.wxs
Labels: bug, core/sysinfo, platform/windows

#8842 8301 improve ms dhcp ipv4 decoder
  ruleset/decoders/0380-windows_decoders.xml
Labels: threatintel, threatintel/decoders

#8844 Fix SCA rules where running stat commands #7624
  ruleset/sca/centos/6/cis_centos6_linux.yml
  ruleset/sca/centos/7/cis_centos7_linux.yml
  ruleset/sca/centos/8/cis_centos8_linux.yml
  ruleset/sca/debian/cis_debian10.yml
  ruleset/sca/debian/cis_debian7.yml
  ruleset/sca/debian/cis_debian8.yml
  ruleset/sca/debian/cis_debian9.yml
  ruleset/sca/rhel/6/cis_rhel6_linux.yml
  ruleset/sca/rhel/7/cis_rhel7_linux.yml
  ruleset/sca/rhel/8/cis_rhel8_linux.yml
  ruleset/sca/sunos/cis_solaris11.yml
Labels: threatintel, threatintel/sca

#8692 Change test_select_key mandatory fields
  api/test/integration/tavern_utils.py
Labels: bug, qa
