Repository wazuh/wazuh, pull requests merged in 2021-04, with the labels that each got.

#8098 Fix a crash in winagents during sync of registries
  src/syscheckd/db/fim_db.c
  src/unit_tests/syscheckd/db/test_fim_db.c
Labels: core/fim/registry, platform/windows

#8107 Let CURL downloading function take the default values
  src/shared/url.c
Labels: bug, bug/regression, core/vuln detector

#8147 Adding new rule for removed vulnerabilities
  ruleset/rules/0520-vulnerability-detector_rules.xml
  ruleset/testing/tests/vuln_detector.ini
Labels: core/vuln detector, enhancement

#8151 Fix race conditions and optimize garbage collection in Wazuh DB
  src/wazuh_db/main.c
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
Labels: bug, core/db

#8106 Add unit testing for Arch Linux vulnerability detection
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector_nvd.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/unit tests, core/vuln detector

#8171 Fix buffer overflow in Analysisd when sending an AR request to Remoted
  src/analysisd/alerts/exec.c
  src/analysisd/ar_json.c
  src/unit_tests/analysisd/test_exec.c
Labels: bug, core/analysisd

#8154 Implement triggers for vuln det scans
  src/error_messages/debug_messages.h
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/schema_upgrade_v8.sql
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
Labels: enhancement

#8177 Add os_info triaged command
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb_agents.c
  src/unit_tests/wazuh_db/test_wdb_agents_helpers.c
  src/unit_tests/wazuh_db/test_wdb_parser.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_wrappers.h
  src/wazuh_db/helpers/wdb_agents_helpers.c
  src/wazuh_db/helpers/wdb_agents_helpers.h
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_agents.c
  src/wazuh_db/wdb_agents.h
  src/wazuh_db/wdb_parser.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: enhancement

#8195 Removing an obsolete vulnerability detector metadata column from DB and its update mechanism
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/schema_upgrade_v8.sql
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_parser.c
  src/wazuh_db/wdb_syscollector.c
Labels: core/db, core/vuln detector

#8213 Improve vulnerabilities feed update
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_db/schema_vuln_detector.sql
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: enhancement

#8069 Extended ip_update_interval functionality to windows agent
  src/unit_tests/win32/CMakeLists.txt
  src/unit_tests/win32/test_win_utils.c
  src/unit_tests/winagent.cmake
  src/win32/win_utils.c
Labels: core/agent

#8217 Update API integration tests
  api/api/spec/spec.yaml
  api/test/integration/env/docker-compose.yml
  api/test/integration/tavern_utils.py
  api/test/integration/test_rbac_black_experimental_endpoints.tavern.yaml
  api/test/integration/test_rbac_black_syscollector_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_all_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_experimental_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_syscollector_endpoints.tavern.yaml
  api/test/integration/test_sca_endpoints.tavern.yaml
  api/test/integration/test_syscollector_endpoints.tavern.yaml
Labels: API, bug, qa

#8223 Fix uninitialized value in the os_crypto library
  src/os_crypto/shared/keys.c
Labels: bug, core/remoted

#8224 Let Remoted lock the keystore in writing mode when closing RIDs
  src/remoted/secure.c
  src/unit_tests/remoted/CMakeLists.txt
  src/unit_tests/remoted/test_secure.c
Labels: bug, core/remoted

#8100 Add status and type filter fields to vulnerability endpoint
  api/api/controllers/vulnerability_controller.py
  api/api/spec/spec.yaml
  api/test/integration/test_vulnerability_endpoints.tavern.yaml
  framework/wazuh/core/tests/test_vulnerability.py
  framework/wazuh/core/vulnerability.py
  framework/wazuh/tests/data/schema_cve_test.sql
  framework/wazuh/tests/test_vulnerability.py
Labels: API, enhancement

#8143 Adapt registry synchronization mechanism
  src/Makefile
  src/shared/integrity_op.c
  src/syscheckd/create_db.c
  src/syscheckd/db/fim_db.c
  src/syscheckd/db/schema_fim_db.sql
  src/syscheckd/fim_sync.c
  src/syscheckd/registry/events.c
  src/unit_tests/shared/test_integrity_op.c
  src/unit_tests/syscheckd/db/test_fim_db.c
  src/unit_tests/wazuh_db/test_wdb_fim.c
  src/wazuh_db/wdb_fim.c
Labels: core/fim, core/fim/registry

#8201 Change in the severity of SCA module log message when queue is not available
  src/analysisd/decoders/security_configuration_assessment.c
Labels: core/sca

#8240 Fixing Vulnerability Detector unit tests.
  src/unit_tests/wazuh_db/test_wdb_agents_helpers.c
  src/unit_tests/wazuh_modules/vulnerability_detector/CMakeLists.txt
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector_nvd.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_helpers_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_helpers_wrappers.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector, enhancement

#8261 Avoided some false warnings due to duplicated ignore paths options
  src/config/syscheck-config.c
Labels: bug, core/fim

#8280 Eliminate hotfix_config_enabled logic
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: bug/devel

#8246 Update localfile active config retrieving for macOS ULS
  src/logcollector/config.c
Labels: core/agent, core/configuration, core/logcollector, platform/macos

#8310 Fix architecture detection in Makefile for downloading dependencies
  src/Makefile
Labels: core/Makefile

#8338 [8043] coverity fixes execution 22/04/2021
  src/config/localfile-config.c
  src/config/socket-config.c
  src/wazuh_modules/wm_execd.c
Labels: static-analysis

#8346 Do not insert CPE nor CVE if data parsing was incorrect
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: bug, core/modulesd, core/vuln detector

#8334 8319 check macos log before execution
  src/error_messages/error_messages.h
  src/logcollector/logcollector.c
  src/logcollector/oslog_stream.c
Labels: core/logcollector, enhancement, platform/macos

#8386 [8382] Fixed old binary removal condition for update scenarios
  src/init/update.sh
Labels: bug

#8397 Increase the maximum time for integration tests to ~20 minutes
  api/test/integration/conftest.py
  api/test/integration/env/base/agent/new.Dockerfile
  api/test/integration/env/base/agent/old.Dockerfile
  api/test/integration/env/base/manager/manager.Dockerfile
Labels: API, enhancement

#8419 Change min_select_fields for WazuhDBQueryTask
  framework/wazuh/core/task.py
  framework/wazuh/task.py
Labels: API, enhancement, framework

#8401 Fix race condition when saving localfiles information in logcollector
  src/logcollector/logcollector.c
  src/unit_tests/logcollector/CMakeLists.txt
  src/unit_tests/logcollector/test_logcollector.c
Labels: core/logcollector

#8443 Fix memory leak in FIM DB
  src/syscheckd/db/fim_db.c
Labels: bug/devel, core/fim, core/fim/registry, platform/windows

#8464 Add environment information when a StopIteration error raise
  api/test/integration/conftest.py
Labels: API, enhancement

#8415 [8402] Removed unneeded modules debug log settings from internal_options.conf
  etc/internal_options.conf
Labels: core/configuration

#8462 Revert "Clean src/win32 folder"
  src/win32/license.rtf
  src/win32/wazuh-installer.wxs
Labels: bug, bug/regression, installer, platform/windows

#8469 8408 monitord clean install and update
  src/init/inst-functions.sh
  src/init/update.sh
  src/init/wazuh-local.sh
  src/init/wazuh-server.sh
Labels: core/modulesd, core/monitord, enhancement

#8474 Set package revision to 0 when missing in Vulnerability Detector
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector
