Repository wazuh/wazuh, pull requests merged in 2022-09, with the labels that each got.

#13892 Add empty string check before cleaning agents artifacts.
  src/shared/read-agents.c
  src/unit_tests/wazuh_modules/database/CMakeLists.txt
  src/unit_tests/wazuh_modules/database/test_wm_database.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_helpers_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_helpers_wrappers.h
  src/wazuh_db/helpers/wdb_global_helpers.c
  src/wazuh_modules/wm_database.c
Labels: type/bug/non production

#14019 Fix permission error in JSON alert
  src/analysisd/format/to_json.c
  src/shared/syscheck_op.c
  src/unit_tests/shared/test_syscheck_op.c
Labels: module/fim, module/analysis

#14801 Fix arbitrary code execution flaw in Active Response
  api/api/spec/spec.yaml
  api/api/test/test_validator.py
  api/api/validator.py
  src/os_execd/exec.c
  src/unit_tests/os_execd/CMakeLists.txt
  src/unit_tests/os_execd/test_get_command_by_name.c
Labels: type/bug, type/bug/vulnerability

#14825 Avoid multigroup deletion in worker nodes
  src/remoted/manager.c
Labels: module/remote

#14659 Add a fseek check to avoid malformed merged.mg
  src/headers/file_op.h
  src/remoted/manager.c
  src/shared/file_op.c
  src/unit_tests/remoted/CMakeLists.txt
  src/unit_tests/remoted/test_manager.c
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/shared/test_file_op.c
Labels: module/shared, module/configuration

#14823 Fix arbitrary code execution in Active Response (backport to 3.13)
  src/os_execd/exec.c
  src/unit_tests/os_execd/CMakeLists.txt
  src/unit_tests/os_execd/test_get_command_by_name.c
Labels: type/bug, module/active response, type/bug/vulnerability, type/backport

#13741 Add the update field in the CPE Helper
  src/wazuh_modules/vulnerability_detector/cpe_helper.json
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: module/vulnerability detector, platform/windows

#13559 Add a tool to generate X509 certificates
  src/Makefile
  src/init/inst-functions.sh
  src/os_auth/generate_cert.c
  src/os_auth/generate_cert.h
  src/os_auth/main-server.c
  src/unit_tests/os_auth/CMakeLists.txt
  src/unit_tests/os_auth/test_generate_cert.c
  src/unit_tests/wrappers/externals/openssl/evp_wrappers.c
  src/unit_tests/wrappers/externals/openssl/evp_wrappers.h
  src/unit_tests/wrappers/externals/openssl/pem_wrappers.c
  src/unit_tests/wrappers/externals/openssl/pem_wrappers.h
  src/unit_tests/wrappers/externals/openssl/rsa_wrappers.c
  src/unit_tests/wrappers/externals/openssl/rsa_wrappers.h
  src/unit_tests/wrappers/externals/openssl/x509_wrapppers.c
  src/unit_tests/wrappers/externals/openssl/x509_wrapppers.h
Labels: type/bug, type/bug/regression, module/install

#15011 Include post release issue template
  .github/ISSUE_TEMPLATE/post-release.md
Labels: type/enhancement/feature

#14500 Show correct client error messages for AWS module
  wodles/aws/aws_s3.py
  wodles/aws/tests/test_aws.py
Labels: module/aws, module/cloud monitoring

#14999 Cloudwatch message debug level modification
  wodles/aws/aws_s3.py
Labels: module/aws, module/cloud monitoring

#14993 Take region from .aws/config file for AWS cloudwatch
  wodles/aws/aws_s3.py
Labels: module/aws, module/cloud monitoring

#14706 Improve location message colons parsing
  src/analysisd/cleanevent.c
  src/analysisd/logtest.c
  src/headers/string_op.h
  src/logcollector/logcollector.c
  src/shared/mq_op.c
  src/shared/string_op.c
  src/unit_tests/analysisd/CMakeLists.txt
  src/unit_tests/analysisd/test_cleanevent.c
  src/unit_tests/analysisd/test_logtest.c
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/shared/test_mq_op.c
  src/unit_tests/shared/test_string_op.c
  src/unit_tests/win32/CMakeLists.txt
  src/unit_tests/win32/test_win_utils.c
  src/unit_tests/wrappers/windows/libc/kernel32_wrappers.c
  src/unit_tests/wrappers/windows/libc/kernel32_wrappers.h
  src/win32/win_utils.c
Labels: type/bug, module/logcollector, module/analysis/logtest

#14723 Print error code when LookupAccountSid function fails
  src/error_messages/warning_messages.h
  src/shared/syscheck_op.c
  src/unit_tests/shared/test_syscheck_op.c
Labels: module/fim
