Repository wazuh/wazuh, pull requests merged in 2022-03, with the labels that each got.

#12458 Fix wrong changed attributes values.
  src/syscheckd/cppcheckSuppress.txt
  src/syscheckd/src/create_db.c
  src/syscheckd/src/db/src/file.cpp
  src/unit_tests/syscheckd/test_create_db.c
Labels: core/fim, bug/devel

#12471 Fix valgrind check
  src/syscheckd/CMakeLists.txt
Labels: bug/devel

#12442 Improve C code coverage after FIM DB rework
  src/syscheckd/cppcheckSuppress.txt
  src/syscheckd/src/create_db.c
  src/syscheckd/src/registry/events.c
  src/syscheckd/src/registry/registry.c
  src/unit_tests/syscheckd/CMakeLists.txt
  src/unit_tests/syscheckd/registry/CMakeLists.txt
  src/unit_tests/syscheckd/registry/test_events.c
  src/unit_tests/syscheckd/registry/test_registry.c
  src/unit_tests/syscheckd/test_create_db.c
  src/unit_tests/syscheckd/test_run_check.c
  src/unit_tests/wrappers/wazuh/syscheckd/create_db_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/create_db_wrappers.h
  src/unit_tests/wrappers/wazuh/syscheckd/registry.c
  src/unit_tests/wrappers/wazuh/syscheckd/registry.h
Labels: core/fim, core/unit tests

#12358 HLP testing tool implementation
  src/engine/source/hlp/CMakeLists.txt
  src/engine/source/hlp/tools/example.yml
  src/engine/source/hlp/tools/hlp_cli.cpp
Labels: core/engine

#12464 File path parser implemention
  src/engine/source/hlp/src/LogQLParser.cpp
  src/engine/source/hlp/src/SpecificParsers.cpp
  src/engine/source/hlp/src/SpecificParsers.hpp
  src/engine/source/hlp/src/hlp.cpp
  src/engine/source/hlp/src/hlpDetails.hpp
  src/engine/test/source/hlp/hlp_test.cpp
Labels: core/engine

#12485 Specify when getFile failed due to no entries in the DB.
  src/syscheckd/src/db/include/db.hpp
  src/syscheckd/src/db/src/file.cpp
  src/syscheckd/src/db/tests/db/ComponentTest/fileInterface/fileTest.cpp
Labels: core/fim, bug/devel

#12496 Fix error response on empty data
  src/unit_tests/wazuh_db/test_wazuh_db-config.c
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/unit_tests/wazuh_db/test_wdb_integrity.c
  src/wazuh_db/wdb_global.c
  src/wazuh_db/wdb_integrity.c
Labels: enhancement, core/db

#12514 HLP - Adding basic user agent parser
  src/engine/source/hlp/src/LogQLParser.cpp
  src/engine/source/hlp/src/SpecificParsers.cpp
  src/engine/source/hlp/src/SpecificParsers.hpp
  src/engine/source/hlp/src/hlp.cpp
  src/engine/source/hlp/src/hlpDetails.hpp
  src/engine/test/source/hlp/hlp_test.cpp
Labels: core/engine

#12527 Fix domain contraint error at sys_programs table when upgrading DB
  src/wazuh_db/schema_upgrade_v8.sql
Labels: bug, upgrade, core/db

#12524 Let FIM DB disable registry sync
  src/syscheckd/cppcheckSuppress.txt
  src/syscheckd/src/db/include/db.h
  src/syscheckd/src/db/include/db.hpp
  src/syscheckd/src/db/smokeTests/config.json
  src/syscheckd/src/db/src/db.cpp
  src/syscheckd/src/db/src/fimDB.cpp
  src/syscheckd/src/db/src/fimDB.hpp
  src/syscheckd/src/db/src/fimDBSpecialization.h
  src/syscheckd/src/db/tests/db/ComponentTest/dbInterface/dbTest.h
  src/syscheckd/src/db/testtool/main.cpp
  src/syscheckd/src/syscheck.c
  src/unit_tests/syscheckd/test_syscheck.c
  src/unit_tests/wrappers/wazuh/syscheckd/fim_db_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/fim_db_wrappers.h
Labels: core/fim, core/fim/registry

#12384 Add Regex Extract Function Helper
  src/engine/source/builder/builders/OpBuilderHelperMap.cpp
  src/engine/source/builder/builders/OpBuilderHelperMap.hpp
  src/engine/test/source/builder/CMakeLists.txt
  src/engine/test/source/builder/builders/opBuilderHelperRegexExtract_test.cpp
Labels: core/engine

#12543 FIMDB: Avoid error when setting file or registry limit to 0
  src/syscheckd/src/db/src/fimDBSpecialization.h
Labels: core/fim

#12586 Existencial checks helper
  src/engine/source/builder/builders/OpBuilderHelperFilter.cpp
  src/engine/test/source/builder/CMakeLists.txt
  src/engine/test/source/builder/builders/opBuilderHelperExistsTest.cpp
  src/engine/test/source/builder/builders/opBuilderHelperExists_test.cpp
  src/engine/test/source/builder/builders/opBuilderHelperNotExists_test.cpp
  src/engine/test/source/builder/builders/opBuilderHelperRegexExtract_test.cpp
  src/engine/test/source/builder/builders/opBuilderHelperRegexMatch_test.cpp
Labels: core/engine

#12402 Fix warnings in wazuh_modules/agent_upgrade/agent/wm_agent_upgrade_com.c
  src/wazuh_modules/agent_upgrade/agent/wm_agent_upgrade_com.c
Labels: invalid, core/Makefile

#12435 Fix warnings in check_rc_dev.c file
  src/rootcheck/check_rc_dev.c
Labels: invalid, core/Makefile

#12603 Add a new column in Wazuh DB to identify if an agent is synced Unit Test
  src/unit_tests/remoted/CMakeLists.txt
  src/unit_tests/remoted/test_manager.c
  src/unit_tests/wrappers/wazuh/os_net/os_net_wrappers.c
  src/unit_tests/wrappers/wazuh/os_net/os_net_wrappers.h
  src/unit_tests/wrappers/wazuh/remoted/remoted_op_wrappers.c
  src/unit_tests/wrappers/wazuh/remoted/remoted_op_wrappers.h
  src/unit_tests/wrappers/wazuh/remoted/request_wrappers.c
  src/unit_tests/wrappers/wazuh/remoted/request_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_helpers_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_helpers_wrappers.h
Labels: core/remoted, core/db

#12466 Fix compiler warnings in common_rcl.c file
  src/rootcheck/common_rcl.c
Labels: invalid, core/Makefile

#12533 Fixing warnings in exec.c file
  src/os_execd/exec.c
Labels: invalid, core/Makefile

#12436 Fix warnings in unix_process.c file
  src/rootcheck/unix-process.c
Labels: invalid, core/Makefile

#12610 Remove references to queue/agent-groups in cluster tests
  framework/wazuh/core/cluster/tests/test_cluster.py
  framework/wazuh/core/cluster/tests/test_master.py
  framework/wazuh/core/cluster/tests/test_worker.py
  framework/wazuh/core/cluster/worker.py
  framework/wazuh/core/common.py
Labels: enhancement, cluster, core/agent-groups

#12439 Fix warnings in sysInfoLinux.cpp file
  src/data_provider/src/sysInfoLinux.cpp
Labels: invalid, core/Makefile

#12608 Add all API/Cluster/Framework changes related to agent-groups
  api/api/spec/spec.yaml
  api/api/test/test_validator.py
  api/api/validator.py
  api/test/integration/env/base/manager/entrypoint.sh
  api/test/integration/env/configurations/base/manager/configuration_files/config/queue/agent-groups/001
  api/test/integration/env/configurations/base/manager/configuration_files/config/queue/agent-groups/002
  api/test/integration/env/configurations/base/manager/configuration_files/config/queue/agent-groups/003
  api/test/integration/env/configurations/base/manager/configuration_files/config/queue/agent-groups/004
  api/test/integration/env/configurations/base/manager/configuration_files/config/queue/agent-groups/005
  api/test/integration/env/configurations/base/manager/configuration_files/config/queue/agent-groups/006
  api/test/integration/env/configurations/base/manager/configuration_files/config/queue/agent-groups/007
  api/test/integration/env/configurations/base/manager/configuration_files/config/queue/agent-groups/008
  api/test/integration/env/configurations/base/manager/configuration_files/config/queue/agent-groups/009
  api/test/integration/env/configurations/base/manager/configuration_files/config/queue/agent-groups/010
  api/test/integration/env/configurations/base/manager/configuration_files/master_only/agent_groups.yaml
  api/test/integration/env/configurations/base/manager/configuration_files/master_only/update_agent_info.py
  api/test/integration/test_agent_PUT_endpoints.tavern.yaml
  framework/scripts/agent_groups.py
  framework/scripts/agent_upgrade.py
  framework/scripts/cluster_control.py
  framework/wazuh/agent.py
  framework/wazuh/core/InputValidator.py
  framework/wazuh/core/active_response.py
  framework/wazuh/core/agent.py
  framework/wazuh/core/cluster/client.py
  framework/wazuh/core/cluster/cluster.json
  framework/wazuh/core/cluster/cluster.py
  framework/wazuh/core/cluster/common.py
  framework/wazuh/core/cluster/master.py
  framework/wazuh/core/cluster/tests/test_client.py
  framework/wazuh/core/cluster/tests/test_cluster.py
  framework/wazuh/core/cluster/tests/test_common.py
  framework/wazuh/core/cluster/tests/test_master.py
  framework/wazuh/core/cluster/tests/test_server.py
  framework/wazuh/core/cluster/tests/test_utils.py
  framework/wazuh/core/cluster/tests/test_worker.py
  framework/wazuh/core/cluster/utils.py
  framework/wazuh/core/cluster/worker.py
  framework/wazuh/core/common.py
  framework/wazuh/core/exception.py
  framework/wazuh/core/tests/test_agent.py
  framework/wazuh/core/tests/test_input_validator.py
  framework/wazuh/core/tests/test_wdb.py
  framework/wazuh/core/wdb.py
  framework/wazuh/tests/test_active_response.py
  framework/wazuh/tests/test_agent.py
  framework/wazuh/tests/test_group.py
Labels: enhancement, framework, cluster, API, core/agent-groups

#12618 Generate Vulnerability Detector alerts on first scan of agent
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: enhancement, core/vuln detector

#12467 Fix compiler warnings in create_db.c file
  src/syscheckd/create_db.c
Labels: invalid, core/Makefile

#12596 Fixing warnings in wm_ciscat.c file
  src/wazuh_modules/wm_ciscat.c
Labels: invalid, core/Makefile

#12606 Fixing warnings in wm_sca.c file
  src/wazuh_modules/wm_sca.c
Labels: invalid, core/Makefile

#12510 Fixing warnings in win_utils.c file
  src/client-agent/agentd.h
  src/client-agent/buffer.c
  src/client-agent/receiver-win.c
  src/client-agent/request.c
  src/client-agent/rotate_log.c
  src/client-agent/state.c
  src/client-agent/state.h
  src/wazuh_modules/agent_upgrade/wm_agent_upgrade.c
  src/wazuh_modules/task_manager/wm_task_manager.c
  src/wazuh_modules/wm_aws.c
  src/wazuh_modules/wm_ciscat.c
  src/wazuh_modules/wm_command.c
  src/wazuh_modules/wm_gcp.c
  src/wazuh_modules/wm_github.c
  src/wazuh_modules/wm_office365.c
  src/wazuh_modules/wm_oscap.c
  src/wazuh_modules/wm_osquery_monitor.c
  src/wazuh_modules/wm_sca.c
  src/wazuh_modules/wm_syscollector.c
  src/wazuh_modules/wmodules_def.h
  src/win32/win_utils.c
Labels: invalid, core/Makefile

#12602 Replace "removed" state for "solved" in Vulnerability Detector alerts - Implementation
  ruleset/rules/0520-vulnerability-detector_rules.xml
  ruleset/testing/tests/vuln_detector.ini
  src/error_messages/debug_messages.h
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_db/wdb.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: enhancement, core/vuln detector

#12593 Add "status" field to Vulnerability Detector alerts - Implementation
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_db/wdb.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: enhancement, core/vuln detector

#12632 Add "type" field to Vulnerability Detector alerts - Implementation
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: enhancement, core/vuln detector

#12468 Fix compiler warnings in win-common.c file
  src/rootcheck/win-common.c
Labels: invalid, core/Makefile

#12434 Fix warnings in check_rc_sys.c file
  src/rootcheck/check_rc_dev.c
  src/rootcheck/check_rc_sys.c
Labels: invalid, core/Makefile

#12406 Fix warnings in read_djb_multilog.c file
  src/headers/defs.h
  src/logcollector/read_djb_multilog.c
Labels: invalid, core/Makefile

#12654 Update copyright for FIM files
  architecture/FIM/db/001-class-testtool.puml
  architecture/FIM/db/002-sequence-testtool.puml
  architecture/FIM/db/sequence_diagram.puml
  src/syscheckd/src/db/include/db.h
  src/syscheckd/src/db/include/db.hpp
  src/syscheckd/src/db/include/fimCommonDefs.h
  src/syscheckd/src/db/src/db.cpp
  src/syscheckd/src/db/src/dbFileItem.cpp
  src/syscheckd/src/db/src/dbFileItem.hpp
  src/syscheckd/src/db/src/dbItem.hpp
  src/syscheckd/src/db/src/dbRegistryKey.cpp
  src/syscheckd/src/db/src/dbRegistryKey.hpp
  src/syscheckd/src/db/src/dbRegistryValue.cpp
  src/syscheckd/src/db/src/dbRegistryValue.hpp
  src/syscheckd/src/db/src/file.cpp
  src/syscheckd/src/db/src/fimDB.cpp
  src/syscheckd/src/db/src/registry.cpp
  src/syscheckd/src/db/tests/db/ComponentTest/fileInterface/fileTest.cpp
  src/syscheckd/src/db/tests/db/ComponentTest/registryInterface/registryTest.cpp
  src/syscheckd/src/db/tests/db/FIMDB/fimDBTests/fimDBImpTests.cpp
  src/syscheckd/src/db/tests/db/FIMDB/fimDBTests/fimDBImpTests.hpp
  src/syscheckd/src/db/tests/db/dbItem/FileItem/dbFileItemTest.cpp
  src/syscheckd/src/db/tests/db/dbItem/FileItem/dbFileItemTest.h
  src/syscheckd/src/db/tests/db/dbItem/RegistryKey/dbRegistryKeyTest.cpp
  src/syscheckd/src/db/tests/db/dbItem/RegistryKey/dbRegistryKeyTest.h
  src/syscheckd/src/db/tests/db/dbItem/RegistryValue/dbRegistryValueTest.cpp
  src/syscheckd/src/db/tests/db/dbItem/RegistryValue/dbRegistryValueTest.h
  src/syscheckd/src/db/testtool/action.h
  src/syscheckd/src/db/testtool/cmdArgsHelper.h
  src/syscheckd/src/db/testtool/factoryAction.h
  src/syscheckd/src/db/testtool/main.cpp
  src/syscheckd/src/db/testtool/testContext.h
Labels: core/fim

#12203 Solve warnings compilation wazuh server
  src/Makefile
  src/active-response/firewalld-drop.c
  src/active-response/firewalls/default-firewall-drop.c
  src/addagent/validate.c
  src/analysisd/analysisd.c
  src/analysisd/decoders/decode-xml.c
  src/analysisd/eventinfo.c
  src/analysisd/rules.c
  src/config/syscheck-config.c
  src/config/wmodules-vuln-detector.c
  src/error_messages/error_messages.h
  src/monitord/rotate_log.c
  src/os_crypto/blowfish/bf_op.c
  src/os_crypto/shared/keys.c
  src/os_execd/exec.c
  src/os_maild/os_maild_client.c
  src/os_xml/os_xml.c
  src/remoted/manager.c
  src/remoted/netbuffer.c
  src/remoted/secure.c
  src/rootcheck/check_rc_if.c
  src/rootcheck/common.c
  src/shared/custom_output_search_replace.c
  src/shared/enrollment_op.c
  src/shared/mem_op.c
  src/shared/read-agents.c
  src/shared/string_op.c
  src/shared/validate_op.c
  src/unit_tests/shared/test_enrollment_op.c
  src/util/agent_control.c
  src/wazuh_db/wdb_parser.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/wm_exec.c
  src/wazuh_modules/wm_github.c
  src/wazuh_modules/wm_keyrequest.c
  src/wazuh_modules/wm_office365.c
Labels: invalid, core/Makefile

#12644 Avoid memory leak when discarding kernel packages in VD
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: bug, core/vuln detector

#12652 Prevent Analysisd from failing on missing rule dependencies - Backport to 4.3
  src/analysisd/lists_list.c
  src/analysisd/rules.c
  src/analysisd/rules.h
  src/analysisd/rules_list.c
  src/error_messages/error_messages.h
  src/error_messages/warning_messages.h
  src/unit_tests/analysisd/CMakeLists.txt
  src/unit_tests/analysisd/test_logtest.c
  src/unit_tests/analysisd/test_rules.c
  src/unit_tests/wrappers/wazuh/os_xml/os_xml_wrappers.c
Labels: core/analysisd, ruleset

#12655 Fix a memory leak at wazuh-logtest-legacy when matching a level-0 rule
  src/analysisd/testrule.c
Labels: core/logtest

#12646 Removed generated_cpe and reference from vulnerability alerts
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#12433 Fix warnings in check_rc_files.c file
  src/rootcheck/check_rc_files.c
Labels: invalid, core/Makefile

#12663 Fixing warnings for second time in wm_sca.c file
  src/wazuh_modules/wm_sca.c
Labels: invalid, core/Makefile

#12666 Fixed warnings in file_op.c file.
  src/shared/file_op.c
Labels: invalid, core/Makefile

#12667 Fixed warnings in syscheck_op.c file.
  src/shared/syscheck_op.c
Labels: invalid, core/Makefile

#12668 Fixed warnings in file_op.h, setup-shared.h, setup-win.c and setup-syscheck.c files
  src/win32/setup-shared.h
Labels: invalid, core/Makefile

#12669 Fixed warnings in router-null.c file.
  src/active-response/route-null.c
Labels: invalid, core/Makefile

#12682 Fixing warnings in sysInfoWin.cpp file
  src/data_provider/src/sysInfoWin.cpp
  src/rootcheck/common_rcl.c
Labels: invalid, core/Makefile

#12685 Fix 'agent_groups' not working for single node
  framework/scripts/agent_groups.py
  framework/wazuh/core/cluster/tests/test_utils.py
  framework/wazuh/core/cluster/utils.py
Labels: framework, cluster

#12645 Add missing fields in the CVE inventory database - Implementation
  src/unit_tests/wazuh_db/test_wdb_agents.c
  src/unit_tests/wazuh_db/test_wdb_agents_helpers.c
  src/unit_tests/wazuh_db/test_wdb_parser.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_helpers_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_helpers_wrappers.h
  src/wazuh_db/helpers/wdb_agents_helpers.c
  src/wazuh_db/helpers/wdb_agents_helpers.h
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/schema_upgrade_v8.sql
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb_agents.c
  src/wazuh_db/wdb_agents.h
  src/wazuh_db/wdb_parser.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: enhancement, core/vuln detector

#12686 Add vulnerability information in solved alerts
  ruleset/rules/0520-vulnerability-detector_rules.xml
  src/unit_tests/wazuh_modules/vulnerability_detector/CMakeLists.txt
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#12691 Solve warnings for agent and winagent.
  src/active-response/route-null.c
  src/client-agent/agentd.h
  src/client-agent/buffer.c
  src/client-agent/receiver-win.c
  src/client-agent/request.c
  src/client-agent/rotate_log.c
  src/client-agent/state.c
  src/client-agent/state.h
  src/data_provider/src/sysInfoLinux.cpp
  src/data_provider/src/sysInfoWin.cpp
  src/headers/defs.h
  src/logcollector/read_audit.c
  src/logcollector/read_djb_multilog.c
  src/logcollector/read_mssql_log.c
  src/logcollector/read_multiline.c
  src/logcollector/read_mysql_log.c
  src/logcollector/read_nmapg.c
  src/logcollector/read_postgresql_log.c
  src/logcollector/read_snortfull.c
  src/os_execd/exec.c
  src/rootcheck/check_rc_dev.c
  src/rootcheck/check_rc_files.c
  src/rootcheck/check_rc_sys.c
  src/rootcheck/common_rcl.c
  src/rootcheck/unix-process.c
  src/rootcheck/win-common.c
  src/shared/file_op.c
  src/shared/syscheck_op.c
  src/syscheckd/create_db.c
  src/wazuh_modules/agent_upgrade/agent/wm_agent_upgrade_com.c
  src/wazuh_modules/agent_upgrade/wm_agent_upgrade.c
  src/wazuh_modules/task_manager/wm_task_manager.c
  src/wazuh_modules/wm_aws.c
  src/wazuh_modules/wm_ciscat.c
  src/wazuh_modules/wm_command.c
  src/wazuh_modules/wm_gcp.c
  src/wazuh_modules/wm_github.c
  src/wazuh_modules/wm_office365.c
  src/wazuh_modules/wm_oscap.c
  src/wazuh_modules/wm_osquery_monitor.c
  src/wazuh_modules/wm_sca.c
  src/wazuh_modules/wm_syscollector.c
  src/wazuh_modules/wmodules_def.h
  src/win32/setup-shared.h
  src/win32/win_utils.c
Labels: invalid, core/Makefile

#12695 Modify default empty value to avoid an empty severity in Vulnerability Detector
  framework/wazuh/tests/data/schema_cve_test.sql
  ruleset/rules/0520-vulnerability-detector_rules.xml
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/schema_upgrade_v8.sql
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: bug, core/vuln detector

#12707 Fixed the extra-valid log displaying wrong time
  framework/wazuh/core/cluster/cluster.py
  framework/wazuh/core/cluster/worker.py
Labels: framework, cluster

#12475 Track the sync status of shared configuration files
  src/remoted/manager.c
  src/remoted/remoted.h
  src/shared/remoted_op.c
  src/unit_tests/remoted/CMakeLists.txt
  src/unit_tests/remoted/test_manager.c
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/unit_tests/wazuh_db/test_wdb_global_helpers.c
  src/unit_tests/wazuh_db/test_wdb_global_parser.c
  src/unit_tests/wazuh_db/test_wdb_upgrade.c
  src/unit_tests/wrappers/wazuh/os_net/os_net_wrappers.c
  src/unit_tests/wrappers/wazuh/os_net/os_net_wrappers.h
  src/unit_tests/wrappers/wazuh/remoted/remoted_op_wrappers.c
  src/unit_tests/wrappers/wazuh/remoted/remoted_op_wrappers.h
  src/unit_tests/wrappers/wazuh/remoted/request_wrappers.c
  src/unit_tests/wrappers/wazuh/remoted/request_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_helpers_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_helpers_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.h
  src/wazuh_db/helpers/wdb_global_helpers.c
  src/wazuh_db/schema_global.sql
  src/wazuh_db/schema_global_upgrade_v4.sql
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_global.c
  src/wazuh_db/wdb_parser.c
  src/wazuh_db/wdb_upgrade.c
  src/wazuh_modules/wm_database.c
Labels: core/remoted, core/db

#12708 Fix inode overflow on MAC
  architecture/FIM/db/class.puml
  src/config/syscheck-config.h
  src/syscheckd/cppcheckSuppress.txt
  src/syscheckd/src/create_db.c
  src/syscheckd/src/db/include/db.h
  src/syscheckd/src/db/src/dbFileItem.hpp
  src/syscheckd/src/db/src/file.cpp
  src/syscheckd/src/db/tests/db/ComponentTest/fileInterface/fileTest.cpp
  src/syscheckd/src/db/tests/db/dbItem/FileItem/dbFileItemTest.cpp
  src/unit_tests/syscheckd/test_create_db.c
Labels: core/fim, platform/macos, bug/devel

#12729 Change log location and message
  framework/wazuh/core/cluster/common.py
  framework/wazuh/core/cluster/tests/test_common.py
Labels: framework, cluster

#12704 Resolve manager address by Agentd after creating the PIDfile
  src/client-agent/agentd.c
  src/client-agent/agentd.h
  src/client-agent/start_agent.c
  src/unit_tests/client-agent/CMakeLists.txt
  src/unit_tests/client-agent/test_start_agent.c
  src/win32/win_utils.c
Labels: bug, core/agent

#12683 Engine - High Level Parsers implementation
  src/engine/CMakeLists.txt
  src/engine/benchmark/CMakeLists.txt
  src/engine/benchmark/source/hlp/CMakeLists.txt
  src/engine/benchmark/source/hlp/hlp_bench.cpp
  src/engine/source/builder/CMakeLists.txt
  src/engine/source/builder/builders/stageParse.cpp
  src/engine/source/builder/builders/stageParse.hpp
  src/engine/source/builder/register.hpp
  src/engine/source/hlp/CMakeLists.txt
  src/engine/source/hlp/include/hlp/hlp.hpp
  src/engine/source/hlp/src/LogQLParser.cpp
  src/engine/source/hlp/src/LogQLParser.hpp
  src/engine/source/hlp/src/SpecificParsers.cpp
  src/engine/source/hlp/src/SpecificParsers.hpp
  src/engine/source/hlp/src/date/date.h
  src/engine/source/hlp/src/hlp.cpp
  src/engine/source/hlp/src/hlpDetails.cpp
  src/engine/source/hlp/src/hlpDetails.hpp
  src/engine/source/hlp/src/tld.hpp
  src/engine/source/hlp/tools/example.yml
  src/engine/source/hlp/tools/hlp_cli.cpp
  src/engine/test/CMakeLists.txt
  src/engine/test/acceptance_test/utils/test_logs.txt
  src/engine/test/assets/decoders/decoder_test.yml
  src/engine/test/source/hlp/CMakeLists.txt
  src/engine/test/source/hlp/hlp_test.cpp
Labels: core/engine

#12737 Fix FIMDB related warnings.
  architecture/FIM/db/class.puml
  src/syscheckd/src/db/src/fimDB.hpp
  src/syscheckd/src/db/src/fimDBSpecialization.h
  src/syscheckd/src/run_check.c
  src/win32/win_service.c
Labels: core/fim, platform/macos

#12647 Improve Google Cloud integration's error handling
  src/init/inst-functions.sh
  wodles/gcloud/buckets/bucket.py
  wodles/gcloud/exceptions.py
  wodles/gcloud/gcloud.py
  wodles/gcloud/integration.py
  wodles/gcloud/pubsub/subscriber.py
  wodles/gcloud/tests/conftest.py
  wodles/gcloud/tests/data/invalid_credentials_file.json
  wodles/gcloud/tests/test_bucket.py
  wodles/gcloud/tests/test_gcloud.py
  wodles/gcloud/tests/test_integration.py
  wodles/gcloud/tests/test_subscriber.py
  wodles/gcloud/tools.py
Labels: gcp_integration, external_integrations

#12747 Fix for groups synchronization between `etc/shared` folder and wazuh-db to allow the addition of groups with a name starting with `.` or `..` to the `group` table in the global.db database
  src/wazuh_db/helpers/wdb_global_helpers.c
  src/wazuh_modules/wm_database.c
Labels: core/modulesd, bug/devel

#12756 Avoid loading wevtapi.dll on Windows XP.
  src/Makefile
  src/syscheckd/CMakeLists.txt
  src/unit_tests/syscheckd/CMakeLists.txt
Labels: core/fim, platform/windows

#12773 Fix FIM max_eps option
  src/syscheckd/src/run_check.c
  src/unit_tests/syscheckd/test_run_check.c
Labels: core/fim

#12800 Replace 'sucess' by 'success'
  framework/wazuh/core/cluster/client.py
  framework/wazuh/core/cluster/tests/test_client.py
  framework/wazuh/tests/test_group.py
  ruleset/rules/0585-win-application_rules.xml
  src/headers/labels_op.h
  src/wazuh_db/wdb.h
Labels: framework, cluster

#12798 FIM DB: Avoid compilation warnings in HP-UX
  src/syscheckd/src/db/src/dbFileItem.cpp
  src/syscheckd/src/db/src/dbRegistryKey.cpp
  src/syscheckd/src/db/src/dbRegistryValue.cpp
  src/syscheckd/src/db/tests/db/dbItem/FileItem/dbFileItemTest.cpp
  src/syscheckd/src/db/tests/db/dbItem/RegistryKey/dbRegistryKeyTest.cpp
  src/syscheckd/src/db/tests/db/dbItem/RegistryValue/dbRegistryValueTest.cpp
Labels: core/fim

#12796 Fix wrong UID and GID in old attributes
  src/syscheckd/cppcheckSuppress.txt
  src/syscheckd/src/create_db.c
  src/unit_tests/syscheckd/test_create_db.c
Labels: core/fim, bug/devel

#12831 Fix `NoneType: None` error
  framework/scripts/wazuh-clusterd.py
  framework/wazuh/core/cluster/client.py
  framework/wazuh/core/cluster/common.py
  framework/wazuh/core/cluster/dapi/dapi.py
  framework/wazuh/core/cluster/local_server.py
  framework/wazuh/core/cluster/master.py
  framework/wazuh/core/cluster/server.py
  framework/wazuh/core/cluster/tests/test_client.py
  framework/wazuh/core/cluster/tests/test_common.py
  framework/wazuh/core/cluster/tests/test_local_server.py
  framework/wazuh/core/cluster/tests/test_master.py
  framework/wazuh/core/cluster/tests/test_server.py
  framework/wazuh/core/cluster/tests/test_worker.py
  framework/wazuh/core/cluster/worker.py
Labels: framework, cluster

#12808 Fix the residual child process removal
  framework/wazuh/core/utils.py
Labels: framework, cluster

#12836 Fix invalid time in agent-groups send task
  framework/wazuh/core/cluster/common.py
  framework/wazuh/core/cluster/master.py
  framework/wazuh/core/cluster/tests/test_worker.py
  framework/wazuh/core/cluster/worker.py
Labels: bug, cluster, core/agent-groups

#12827 Trigger alerts when the registry key limit is reached
  ruleset/rules/0016-wazuh_rules.xml
  src/syscheckd/cppcheckSuppress.txt
  src/syscheckd/src/create_db.c
  src/unit_tests/syscheckd/test_create_db.c
Labels: core/fim

#12847 Fix for rolling OS versions on WPK upgrade
  src/unit_tests/wazuh_modules/agent_upgrade/test_wm_agent_upgrade_validate.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_validate.c
Labels: bug

#12851 Fix an integer overflow in the message counter at Remoted (backport)
  src/remoted/netcounter.c
  src/remoted/remoted.h
Labels: bug, core/remoted

#12805 Allowing a syscollector scan on demand
  src/wazuh_modules/syscollector/cppcheckSuppress.txt
  src/wazuh_modules/syscollector/include/syscollector.hpp
  src/wazuh_modules/syscollector/src/syscollectorImp.cpp
  src/wazuh_modules/syscollector/tests/sysCollectorImp/syscollectorImp_test.cpp
  src/wazuh_modules/wmodules.c
Labels: enhancement, core/syscollector

#12876 [Agent-groups] Change log order to avoid race condition
  framework/wazuh/core/cluster/master.py
  framework/wazuh/core/cluster/tests/test_master.py
Labels: bug, cluster, core/agent-groups

#12881 Unescape value name properly in state message.
  src/syscheckd/src/db/src/db.cpp
Labels: core/fim, platform/windows

#12850 Fix the processing of getconfig requests in FIM
  src/headers/rc.h
  src/syscheckd/src/syscom.c
  src/unit_tests/syscheckd/test_syscom.c
Labels: core/fim, core/configuration

#12865 Allow option to have debug symbols in a folder for Linux OS
  src/Makefile
  src/symbols/.gitignore
Labels: core/Makefile, platform/linux

#12888 Fix coverity bugs in FIM
  src/syscheckd/src/db/src/dbFileItem.cpp
  src/syscheckd/src/db/src/dbItem.hpp
  src/syscheckd/src/db/src/dbRegistryKey.cpp
  src/syscheckd/src/db/src/dbRegistryValue.cpp
Labels: core/fim, dev, bug/devel
