Repository wazuh/wazuh, pull requests merged in 2022-12, with the labels that each got.

#15467 Fix descriptors leak when cleaning agents state
  src/analysisd/state.c
  src/remoted/state.c
  src/unit_tests/analysisd/test_analysis-state.c
  src/unit_tests/remoted/test_remote-state.c
Labels: module/analysis, module/remote, type/bug/leak

#15648 Fix Coverity time_t errors in FIM DB development
  src/config/syscheck-config.h
  src/syscheckd/src/create_db.c
Labels: module/fim, type/test/coverity

#15584 Fix GCloudError error messages on exception raise
  wodles/gcloud/pubsub/subscriber.py
Labels: module/gcp, team/framework, team/framework/modules

#15573 Fix defects found by Coverity in 4.4.0-alpha1
  src/os_auth/key_request.c
  src/os_crypto/md5_sha1_sha256/md5_sha1_sha256_op.c
  src/unit_tests/os_crypto/md5_sha1_sha256/CMakeLists.txt
  src/unit_tests/os_crypto/md5_sha1_sha256/test_md5_sha1_sha256_op.c
  src/unit_tests/wazuh_db/test_wdb_global_helpers.c
  src/wazuh_db/helpers/wdb_global_helpers.c
  src/wazuh_modules/wm_database.c
Labels: type/bug, type/bug/non production

#15671 Modify group_name regex to avoid invalid group names
  api/api/test/test_validator.py
  api/api/validator.py
Labels: module/api, team/framework

#15692 Unifying coverage folder location for shared_modules
  src/ci/utils.py
  src/os_auth/key_request.c
Labels: team/core/data pirates

#15685 Allows agents to connect via a link-local IPv6 address
  src/client-agent/agentd.h
  src/client-agent/config.c
  src/client-agent/main.c
  src/client-agent/start_agent.c
  src/config/client-config.c
  src/config/client-config.h
  src/error_messages/error_messages.h
  src/headers/enrollment_op.h
  src/os_auth/main-client.c
  src/os_csyslogd/alert.c
  src/os_csyslogd/csyslogd.c
  src/os_maild/sendcustomemail.c
  src/os_maild/sendmail.c
  src/os_net/os_net.c
  src/os_net/os_net.h
  src/shared/enrollment_op.c
  src/unit_tests/CMakeLists.txt
  src/unit_tests/config/CMakeLists.txt
  src/unit_tests/config/test_client-config_validate_ipv6_link_local_interface.c
  src/unit_tests/os_net/test_os_net.c
  src/unit_tests/shared/test_enrollment_op.c
  src/wazuh_modules/wm_fluent.c
  src/win32/agent_auth.c
  src/win32/win_utils.c
Labels: module/agent

#15745 Deprecate status field in SCA database and alerts
  CHANGELOG.md
  extensions/elasticsearch/7.x/wazuh-template.json
  ruleset/rules/0570-sca_rules.xml
  src/analysisd/decoders/security_configuration_assessment.c
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/schema_upgrade_v10.sql
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_parser.c
  src/wazuh_db/wdb_sca.c
  src/wazuh_db/wdb_upgrade.c
Labels: module/sca

#15405 Adds missing wdb_finalize function calls to some vuln-detector module functions
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: module/vulnerability detector, type/bug/leak

#15226 Add GuardDuty Native support to the AWS Wodle
  wodles/aws/aws_s3.py
  wodles/aws/tests/test_aws.py
Labels: type/enhancement, module/aws, team/framework, team/framework/modules

#15623 Add unit test for SHA512 functions
  src/unit_tests/os_crypto/CMakeLists.txt
  src/unit_tests/os_crypto/sha512/CMakeLists.txt
  src/unit_tests/os_crypto/sha512/test_sha512_op.c
Labels: type/test/unit, team/core/data pirates

#15617 Fix for 15616 test_mq_op is failing expecting wrong user id
  src/unit_tests/shared/test_mq_op.c
Labels: type/test/unit, team/core/data pirates

#15662 Fix rsync UT on Windows
  src/shared_modules/rsync/tests/interface/rsync_test.cpp
Labels: type/test/unit, module/rsync

#15428 Default Syscollector scan interval not set
  src/config/wmodules-config.c
  src/config/wmodules-syscollector.c
  src/wazuh_modules/wm_syscollector.h
Labels: module/syscollector

#14804 Add an alert when active response can be triggered
  ruleset/rules/0015-ossec_rules.xml
  src/active-response/active_responses.c
  src/active-response/active_responses.h
  src/active-response/netsh.c
Labels: type/enhancement, platform/windows, module/active response, type/enhancement/reliability
