Repository wazuh/wazuh, pull requests merged in 2022-02, with the labels that each got.

#12048 Create_backup UT mem leak fix
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/unit_tests/wazuh_db/test_wdb_parser.c
Labels: core/agent-groups

#12030 Unit test for `wdb_global_set_agent_groups_sync_status`
  src/unit_tests/wazuh_db/test_wdb_global.c
Labels: core/db, core/unit tests

#12051 Adding unit testing coverage for functions `wm_sync_group_file` and `wm_sync_legacy_groups_files`
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_modules/CMakeLists.txt
  src/unit_tests/wazuh_modules/database/CMakeLists.txt
  src/unit_tests/wazuh_modules/database/test_wm_database.c
  src/unit_tests/wrappers/libc/string_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_helpers_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_helpers_wrappers.h
  src/wazuh_modules/wm_database.c
  src/wazuh_modules/wm_database.h
Labels: core/modulesd, core/unit tests

#12054 Fix Windows agent crash due to segmentation fault at FIM Registry scan
  src/shared/syscheck_op.c
  src/unit_tests/shared/test_syscheck_op.c
Labels: bug, core/fim, platform/windows, core/fim/registry

#12057 UTs global_sync_agent_groups_get
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/wazuh_db/wdb_global.c
Labels: core/db, core/unit tests

#11942 Fix AWS Umbrella buckets first execution when called without specifying an `only_logs_after` parameter
  wodles/aws/aws_s3.py
Labels: aws_integration

#9067 Fix double file handle closing in Logcollector
  src/logcollector/logcollector.c
Labels: bug, core/logcollector, platform/windows

#12059 Coverity - Fixing coverity warnings for epic #10771
  src/config/wazuh_db-config.c
  src/os_crypto/sha1/sha1_op.h
  src/wazuh_db/helpers/wdb_global_helpers.c
  src/wazuh_db/wdb_global.c
  src/wazuh_db/wdb_parser.c
Labels: core/db, coverity, static-analysis

#12069 Unit Tests fixes for wdb functions after coverity fixes
  src/unit_tests/wazuh_db/test_wdb_global_helpers.c
  src/unit_tests/wazuh_db/test_wdb_global_parser.c
Labels: core/unit tests

#12095 Improving strings used in the output of the settings request to the wazuh-db socket
  src/unit_tests/wazuh_db/test_wdb.c
  src/wazuh_db/wdb.c
Labels: enhancement, core/db, core/unit tests

#11974 Fix an integer overflow in the message counter at Remoted
  src/remoted/netcounter.c
  src/remoted/remoted.h
Labels: bug, core/remoted, operations, bug/regression

#11959 Implement and adapt new entries limits for the fim DB tables.
  ruleset/rules/0016-wazuh_rules.xml
  src/Makefile
  src/error_messages/debug_messages.h
  src/error_messages/information_messages.h
  src/error_messages/warning_messages.h
  src/syscheckd/CMakeLists.txt
  src/syscheckd/cppcheckSuppress.txt
  src/syscheckd/src/create_db.c
  src/syscheckd/src/db/CMakeLists.txt
  src/syscheckd/src/db/include/db.h
  src/syscheckd/src/db/include/db.hpp
  src/syscheckd/src/db/src/db.cpp
  src/syscheckd/src/db/src/file.cpp
  src/syscheckd/src/db/src/registry.cpp
  src/syscheckd/src/db/tests/CMakeLists.txt
  src/syscheckd/src/db/tests/db/ComponentTest/registryInterface/CMakeLists.txt
  src/syscheckd/src/db/tests/db/ComponentTest/registryInterface/main.cpp
  src/syscheckd/src/db/tests/db/ComponentTest/registryInterface/registryTest.cpp
  src/syscheckd/src/main.c
  src/syscheckd/src/run_check.c
  src/unit_tests/syscheckd/CMakeLists.txt
  src/unit_tests/syscheckd/db/test_fim_db.c
  src/unit_tests/syscheckd/test_create_db.c
  src/unit_tests/wrappers/wazuh/syscheckd/fim_db_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/fim_db_wrappers.h
Labels: core/fim

#12123 Fix some info messages in fim_check_db_state
  src/error_messages/information_messages.h
  src/syscheckd/src/create_db.c
Labels: core/fim

#12121 Refactor `wdb_upgrade_global`
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb_metadata.c
  src/unit_tests/wazuh_db/test_wdb_upgrade.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_metadata_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_metadata_wrappers.h
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_metadata.c
  src/wazuh_db/wdb_upgrade.c
Labels: core/db, core/unit tests

#12131 Dev 12130 ENOENT bugfix
  src/unit_tests/wazuh_db/test_wdb_global_helpers.c
  src/wazuh_db/helpers/wdb_global_helpers.c
Labels: core/db, bug/devel

#12096 Changing from `merror` to `minfo` when Vulnerability Detector can't obtain the OS information of an agent to perform the scan
  src/unit_tests/wazuh_db/test_wdb_agents_helpers.c
  src/wazuh_db/helpers/wdb_agents_helpers.c
Labels: core/vuln detector, bug/devel

#12111 Fix segfault after global db restoration
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb_upgrade.c
Labels: core/db, bug/devel

#12129 Fixing global.db backup creation on startup if enabled
  src/wazuh_db/main.c
Labels: core/db, bug/devel

#11907 Add Testtool for FIMDB features
  architecture/FIM/db/001-class-testtool.puml
  architecture/FIM/db/002-sequence-testtool.puml
  src/build.py
  src/ci/input/rtr_input.json
  src/ci/utils.py
  src/syscheckd/cppcheckSuppress.txt
  src/syscheckd/src/db/CMakeLists.txt
  src/syscheckd/src/db/smokeTests/FimDBTransaction/CountFiles.json
  src/syscheckd/src/db/smokeTests/FimDBTransaction/GetDeletedRows.json
  src/syscheckd/src/db/smokeTests/FimDBTransaction/StartTransaction.json
  src/syscheckd/src/db/smokeTests/FimDBTransaction/StartTransactionRegistryData.json
  src/syscheckd/src/db/smokeTests/FimDBTransaction/StartTransactionRegistryKey.json
  src/syscheckd/src/db/smokeTests/FimDBTransaction/SyncTxnRowsRegistryData_1.json
  src/syscheckd/src/db/smokeTests/FimDBTransaction/SyncTxnRowsRegistryData_2.json
  src/syscheckd/src/db/smokeTests/FimDBTransaction/SyncTxnRowsRegistryKey_1.json
  src/syscheckd/src/db/smokeTests/FimDBTransaction/SyncTxnRowsRegistryKey_2.json
  src/syscheckd/src/db/smokeTests/FimDBTransaction/SyncTxnRows_1.json
  src/syscheckd/src/db/smokeTests/FimDBTransaction/SyncTxnRows_2.json
  src/syscheckd/src/db/smokeTests/atomicFileOperations/CountFiles.json
  src/syscheckd/src/db/smokeTests/atomicFileOperations/DeleteFile.json
  src/syscheckd/src/db/smokeTests/atomicFileOperations/GetFile.json
  src/syscheckd/src/db/smokeTests/atomicFileOperations/SyncRow_1.json
  src/syscheckd/src/db/smokeTests/atomicFileOperations/SyncRow_2.json
  src/syscheckd/src/db/smokeTests/atomicFileOperations/SyncRow_3.json
  src/syscheckd/src/db/smokeTests/config.json
  src/syscheckd/src/db/smokeTests/configWindows.json
  src/syscheckd/src/db/testtool/CMakeLists.txt
  src/syscheckd/src/db/testtool/Readme.md
  src/syscheckd/src/db/testtool/action.h
  src/syscheckd/src/db/testtool/cmdArgsHelper.h
  src/syscheckd/src/db/testtool/factoryAction.h
  src/syscheckd/src/db/testtool/main.cpp
  src/syscheckd/src/db/testtool/testContext.h
Labels: core/fim

#11852 Improve error messages when using invalid credentials with the Azure integration
  wodles/azure/azure-logs.py
Labels: azure_integration

#11828 Reduce number of calls to `db_maintenance` in AWS integration
  wodles/aws/aws_s3.py
Labels: aws_integration, external_integrations

#12204 logql parser structure PoC
  src/engine/source/hlp/main.cpp
Labels: core/engine

#12269 Add HLP to the Engine make process
  src/engine/CMakeLists.txt
  src/engine/source/hlp/CMakeLists.txt
  src/engine/source/hlp/LogQLParser.cpp
  src/engine/source/hlp/LogQLParser.hpp
  src/engine/source/hlp/SpecificParsers.cpp
  src/engine/source/hlp/SpecificParsers.hpp
  src/engine/source/hlp/hlp.cpp
  src/engine/source/hlp/hlp.hpp
  src/engine/source/hlp/main.cpp
  src/engine/test/CMakeLists.txt
  src/engine/test/source/hlp/CMakeLists.txt
  src/engine/test/source/hlp/hlp_test.cpp
Labels: core/engine

#12167 UT for c_groups and c_multi_groups functions
  src/unit_tests/remoted/CMakeLists.txt
  src/unit_tests/remoted/test_manager.c
  src/unit_tests/wrappers/wazuh/remoted/shared_download_wrappers.c
  src/unit_tests/wrappers/wazuh/remoted/shared_download_wrappers.h
  src/unit_tests/wrappers/wazuh/shared/file_op_wrappers.c
  src/unit_tests/wrappers/wazuh/shared/file_op_wrappers.h
  src/unit_tests/wrappers/wazuh/shared/hash_op_wrappers.c
  src/unit_tests/wrappers/wazuh/shared/hash_op_wrappers.h
Labels: core/remoted, core/unit tests

#12138 Improve multi-group generation mechanism to reduce disk usage
  api/test/integration/test_agent_GET_endpoints.tavern.yaml
  api/test/integration/test_cluster_endpoints.tavern.yaml
  etc/internal_options.conf
  src/headers/agent_op.h
  src/headers/string_op.h
  src/os_auth/auth.c
  src/os_auth/main-server.c
  src/remoted/config.c
  src/remoted/manager.c
  src/remoted/remoted.h
  src/shared/agent_op.c
  src/shared/string_op.c
  src/unit_tests/remoted/test_manager.c
Labels: core/remoted

#12243 Fix agent groups assignment and unassignment.
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/wazuh_db/wdb_global.c
Labels: core/db, core/agent-groups

#12154 Fix cmocka unit test for linux
  src/syscheckd/CMakeLists.txt
  src/syscheckd/include/syscheck.h
  src/unit_tests/CMakeLists.txt
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/shared/test_list_op.c
  src/unit_tests/syscheckd/CMakeLists.txt
  src/unit_tests/syscheckd/db/CMakeLists.txt
  src/unit_tests/syscheckd/db/expect_fim_db.c
  src/unit_tests/syscheckd/db/expect_fim_db_files.c
  src/unit_tests/syscheckd/db/expect_fim_db_registries.c
  src/unit_tests/syscheckd/db/test_fim_db.c
  src/unit_tests/syscheckd/db/test_fim_db.h
  src/unit_tests/syscheckd/db/test_fim_db_files.c
  src/unit_tests/syscheckd/db/test_fim_db_registries.c
  src/unit_tests/syscheckd/registry/CMakeLists.txt
  src/unit_tests/syscheckd/registry/test_registry.c
  src/unit_tests/syscheckd/test_config.c
  src/unit_tests/syscheckd/test_create_db.c
  src/unit_tests/syscheckd/test_fim.h
  src/unit_tests/syscheckd/test_fim_diff_changes.c
  src/unit_tests/syscheckd/test_fim_sync.c
  src/unit_tests/syscheckd/test_run_check.c
  src/unit_tests/syscheckd/test_run_realtime.c
  src/unit_tests/syscheckd/test_syscheck.c
  src/unit_tests/syscheckd/test_syscom.c
  src/unit_tests/syscheckd/whodata/CMakeLists.txt
  src/unit_tests/syscheckd/whodata/test_audit_healthcheck.c
  src/unit_tests/syscheckd/whodata/test_audit_parse.c
  src/unit_tests/syscheckd/whodata/test_audit_rule_handling.c
  src/unit_tests/syscheckd/whodata/test_syscheck_audit.c
  src/unit_tests/wrappers/wazuh/shared/integrity_op_wrappers.c
  src/unit_tests/wrappers/wazuh/shared/integrity_op_wrappers.h
  src/unit_tests/wrappers/wazuh/syscheckd/create_db_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/create_db_wrappers.h
  src/unit_tests/wrappers/wazuh/syscheckd/fim_db_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/fim_db_wrappers.h
  src/unit_tests/wrappers/wazuh/syscheckd/fim_diff_changes_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/fim_diff_changes_wrappers.h
  src/unit_tests/wrappers/wazuh/syscheckd/run_check_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/run_check_wrappers.h
Labels: core/fim, core/unit tests

#12246 adding a parser for IP address and changing some examples
  src/engine/source/hlp/LogQLParser.cpp
  src/engine/source/hlp/SpecificParsers.cpp
  src/engine/source/hlp/SpecificParsers.hpp
  src/engine/source/hlp/hlp.cpp
  src/engine/test/source/hlp/hlp_test.cpp
Labels: core/engine

#10720 Refactor of the memory releasing while loading rules
  src/analysisd/lists_list.c
  src/analysisd/rules.c
  src/analysisd/rules.h
  src/analysisd/rules_list.c
  src/error_messages/error_messages.h
  src/error_messages/warning_messages.h
  src/unit_tests/analysisd/CMakeLists.txt
  src/unit_tests/analysisd/test_logtest.c
  src/unit_tests/analysisd/test_rules.c
  src/unit_tests/wrappers/wazuh/os_xml/os_xml_wrappers.c
Labels: core/analysisd, ruleset

#12313 Logql poc improvements
  src/engine/source/hlp/CMakeLists.txt
  src/engine/source/hlp/LogQLParser.cpp
  src/engine/source/hlp/SpecificParsers.cpp
  src/engine/source/hlp/SpecificParsers.hpp
  src/engine/source/hlp/hlp.cpp
  src/engine/source/hlp/hlp.hpp
  src/engine/source/hlp/include/hlp/hlp.hpp
  src/engine/source/hlp/src/LogQLParser.cpp
  src/engine/source/hlp/src/LogQLParser.hpp
  src/engine/source/hlp/src/SpecificParsers.cpp
  src/engine/source/hlp/src/SpecificParsers.hpp
  src/engine/source/hlp/src/hlp.cpp
  src/engine/source/hlp/src/hlpDetails.hpp
  src/engine/test/source/hlp/CMakeLists.txt
  src/engine/test/source/hlp/hlp_test.cpp
Labels: core/engine

#12153 Fix eventchannel support for whodata in Windows
  src/Makefile
  src/syscheckd/CMakeLists.txt
Labels: core/fim

#12321 HLP JSON parser implementation
  src/engine/CMakeLists.txt
  src/engine/source/hlp/src/LogQLParser.cpp
  src/engine/source/hlp/src/SpecificParsers.cpp
  src/engine/source/hlp/src/SpecificParsers.hpp
  src/engine/source/hlp/src/hlp.cpp
  src/engine/test/source/hlp/hlp_test.cpp
Labels: core/engine

#12339 maps parser implementation fix UT errors
  src/engine/source/hlp/src/SpecificParsers.cpp
  src/engine/test/source/hlp/hlp_test.cpp
Labels: core/engine

#12308 Make GCP module compatible with Python3.6 (#12238)
  wodles/gcloud/buckets/bucket.py
Labels: gcp_integration, external_integrations

#12300 Fixing duplicate error message IDs
  api/api/spec/spec.yaml
  src/error_messages/error_messages.h
Labels: enhancement

#12326 Add fimdb ER diagram
  architecture/FIM/db/ER-diagram.puml
Labels: core/fim

#12324 Fix AWS Config's date parsing
  wodles/aws/aws_s3.py
  wodles/aws/tests/test_aws.py
Labels: aws_integration, external_integrations

#11085 Change some `cluster_control` binary functionalities
  framework/scripts/cluster_control.py
Labels: enhancement, framework, cluster

#12338 New parameter for `sync-agent-groups-get` command to filter recently registered agents
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/unit_tests/wazuh_db/test_wdb_global_parser.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.h
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_global.c
  src/wazuh_db/wdb_parser.c
Labels: enhancement, core/db

#12327 Validate groups to be assigned + UTs
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_global.c
Labels: core/db

#12084 Make FIM report old attributes of an entry
  src/syscheckd/cppcheckSuppress.txt
  src/syscheckd/include/syscheck.h
  src/syscheckd/src/create_db.c
  src/syscheckd/src/db/src/db.cpp
  src/syscheckd/src/db/src/dbFileItem.cpp
  src/syscheckd/src/db/src/dbFileItem.hpp
  src/syscheckd/src/db/src/dbItem.hpp
  src/syscheckd/src/db/src/dbRegistryKey.cpp
  src/syscheckd/src/db/src/dbRegistryKey.hpp
  src/syscheckd/src/db/src/dbRegistryValue.cpp
  src/syscheckd/src/db/src/dbRegistryValue.hpp
  src/syscheckd/src/db/tests/db/ComponentTest/dbInterface/dbTest.h
  src/syscheckd/src/db/tests/db/dbItem/FileItem/dbFileItemTest.cpp
  src/syscheckd/src/db/tests/db/dbItem/RegistryKey/dbRegistryKeyTest.cpp
  src/syscheckd/src/db/tests/db/dbItem/RegistryValue/dbRegistryValueTest.cpp
  src/syscheckd/src/registry/events.c
  src/syscheckd/src/registry/registry.c
  src/syscheckd/src/registry/registry.h
  src/syscheckd/src/run_check.c
  src/unit_tests/syscheckd/registry/CMakeLists.txt
  src/unit_tests/syscheckd/registry/test_events.c
  src/unit_tests/syscheckd/test_create_db.c
  src/unit_tests/syscheckd/test_syscheck.c
  src/unit_tests/wrappers/wazuh/syscheckd/registry.c
  src/unit_tests/wrappers/wazuh/syscheckd/registry.h
Labels: core/fim

#12403 Fix for rolling OS versions on WPK upgrade
  src/unit_tests/wazuh_modules/agent_upgrade/test_wm_agent_upgrade_validate.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_validate.c
Labels: bug, packages/wpk, upgrade, platform/openSUSE

#12090 Make agent_groups distributed
  framework/scripts/agent_groups.py
  framework/scripts/agent_upgrade.py
  framework/wazuh/core/cluster/utils.py
Labels: framework, cluster

#12170 Fix Windows graceful shutdown
  src/Makefile
  src/headers/logging_helper.h
  src/headers/shared.h
  src/shared/logging_helper.c
  src/syscheckd/include/syscheck.h
  src/syscheckd/src/db/src/fimDB.cpp
  src/syscheckd/src/db/src/fimDB.hpp
  src/syscheckd/src/db/tests/db/FIMDB/fimDBTests/fimDBImpTests.cpp
  src/syscheckd/src/main.c
  src/syscheckd/src/run_check.c
  src/unit_tests/client-agent/CMakeLists.txt
  src/unit_tests/os_execd/CMakeLists.txt
  src/unit_tests/os_regex/CMakeLists.txt
  src/unit_tests/os_xml/CMakeLists.txt
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/syscheckd/CMakeLists.txt
  src/unit_tests/syscheckd/registry/CMakeLists.txt
  src/unit_tests/syscheckd/test_run_check.c
  src/unit_tests/syscheckd/whodata/CMakeLists.txt
  src/unit_tests/wazuh_modules/github/CMakeLists.txt
  src/unit_tests/wazuh_modules/office365/CMakeLists.txt
  src/unit_tests/win32/CMakeLists.txt
  src/unit_tests/wrappers/wazuh/shared/mq_op_wrappers.c
  src/unit_tests/wrappers/wazuh/shared/mq_op_wrappers.h
  src/unit_tests/wrappers/wazuh/syscheckd/fim_db_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/fim_db_wrappers.h
  src/win32/win_service.c
  src/win32/win_utils.c
Labels: core/fim, platform/windows

#12415 Fix wrong buffer size management at Remoted Syslog TCP server
  src/remoted/syslogtcp.c
Labels: bug, core/remoted, bug/regression

#12409 Deprecate unused wdb setting
  etc/internal_options.conf
  src/wazuh_db/main.c
  src/wazuh_db/wdb.h
Labels: enhancement, core/db

#12419 sca amazon linux 2 fixes on rules. typos and regex improvements
  ruleset/sca/amazon/cis_amazon_linux_2.yml
Labels: threatintel

#12364 HLP Timestamp parser implementation
  src/engine/CMakeLists.txt
  src/engine/source/hlp/CMakeLists.txt
  src/engine/source/hlp/src/LogQLParser.cpp
  src/engine/source/hlp/src/SpecificParsers.cpp
  src/engine/source/hlp/src/SpecificParsers.hpp
  src/engine/source/hlp/src/date/date.h
  src/engine/source/hlp/src/hlp.cpp
  src/engine/test/source/hlp/hlp_test.cpp
Labels: core/engine

#12446 Add support for Windows 11 in Vulnerability Detector
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: enhancement, core/vuln detector, platform/windows

#12461 Prevent Vulnerability Detector from crashing
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: bug, core/vuln detector

#12452 Improving logs generation in the Vulnerability Detector module when requesting the hotfixes information from `wazuh-db`
  src/error_messages/debug_messages.h
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector

#12449 Fix Archlinux unsupported os during Vulnerability Detector scan.
  src/shared/remoted_op.c
  src/unit_tests/shared/test_remoted_op.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector, bug/devel

#12427 Refactor FIMDB
  src/ci/utils.py
  src/syscheckd/cppcheckSuppress.txt
  src/syscheckd/src/db/CMakeLists.txt
  src/syscheckd/src/db/include/db.h
  src/syscheckd/src/db/include/db.hpp
  src/syscheckd/src/db/include/fimCommonDefs.h
  src/syscheckd/src/db/smokeTests/config.json
  src/syscheckd/src/db/smokeTests/configWindows.json
  src/syscheckd/src/db/src/db.cpp
  src/syscheckd/src/db/src/file.cpp
  src/syscheckd/src/db/src/fimDB.cpp
  src/syscheckd/src/db/src/fimDB.hpp
  src/syscheckd/src/db/src/fimDBSpecialization.h
  src/syscheckd/src/db/tests/db/ComponentTest/dbInterface/dbTest.cpp
  src/syscheckd/src/db/tests/db/ComponentTest/dbInterface/dbTest.h
  src/syscheckd/src/db/tests/db/ComponentTest/registryInterface/registryTest.cpp
  src/syscheckd/src/db/tests/db/FIMDB/fimDBTests/fimDBImpTests.cpp
  src/syscheckd/src/db/tests/db/FIMDB/fimDBTests/fimDBImpTests.hpp
  src/syscheckd/src/db/tests/db/dbItem/FileItem/dbFileItemTest.cpp
  src/syscheckd/src/db/tests/db/dbItem/RegistryKey/dbRegistryKeyTest.cpp
  src/syscheckd/src/db/testtool/CMakeLists.txt
  src/syscheckd/src/db/testtool/main.cpp
  src/syscheckd/src/db/testtool/testContext.h
  src/syscheckd/src/syscheck.c
  src/unit_tests/syscheckd/test_syscheck.c
  src/unit_tests/wrappers/wazuh/syscheckd/fim_db_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/fim_db_wrappers.h
Labels: core/fim
