Repository wazuh/wazuh, pull requests merged in 2022-11, with the labels that each got.

#15219 Update Arch Linux feed URL for Vulnerability Detector
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: module/vulnerability detector, platform/arch linux

#14549 Adapt deprecated force settings in Authd to new force options
  src/config/authd-config.c
  src/os_auth/local-server.c
Labels: type/bug, module/auth

#15197 Fix the handling of DB accesses in Vulnerability Detector
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector_nvd.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: type/bug, module/vulnerability detector

#15054 Add native Shuffle integration
  integrations/shuffle.py
  integrations/tests/__init__.py
  integrations/tests/test_shuffle.py
  src/init/inst-functions.sh
  src/os_integrator/integrator.c
Labels: module/framework, module/integration, team/framework

#14977 Mark atomic operations
  src/shared_modules/dbsync/tests/interface/dbsync_test.cpp
Labels: team/core/data pirates

#15165 Fix to race condition in Remoted blocking agent connections
  src/headers/sec.h
  src/os_crypto/shared/keys.c
  src/remoted/manager.c
  src/remoted/secure.c
  src/unit_tests/remoted/test_manager.c
Labels: module/remote

#15278 EPS remove multiple logs to show the same configuration warning message
  src/analysisd/analysisd.c
  src/analysisd/config.c
  src/analysisd/limits.c
  src/analysisd/limits.h
  src/config/global-config.c
  src/config/global-config.h
  src/unit_tests/analysisd/CMakeLists.txt
  src/unit_tests/analysisd/test_limits.c
Labels: module/analysis

#15271 Libstdc++ isn't installed with the NSI executable - Implementation
  src/win32/wazuh-installer.nsi
Labels: packages, platform/windows

#15070 Ubuntu Linux 20.04 rework
  ruleset/sca/ubuntu/cis_ubuntu20-04.yml
Labels: feed/sca, team/threatintel

#15300 Escape the agent's ip in VirusTotal integration
  integrations/virustotal
Labels: type/bug, module/analysis, module/integration/virustotal

#15321 Fix race condition in Windows WPK upgrade
  src/win32/do_upgrade.ps1
Labels: platform/windows

#15303 Avoid crash when calling _InternalMatch regex function with NULL parameter
  src/os_regex/os_regex_match.c
  src/unit_tests/os_regex/CMakeLists.txt
  src/unit_tests/os_regex/test_os_regex_match.c
Labels: module/analysis, type/bug/crash

#15207 Disables Restart Manager and closes GUI in Wazuh Agent MSI installation and upgrade
  src/win32/wazuh-installer.wxs
Labels: type/bug, platform/windows

#15322 Fix Windows `wazuh-agent` upgrade using WPK
  src/win32/do_upgrade.ps1
  src/win32/upgrade.bat
Labels: type/bug, module/upgrade/wpk

#15051 SCA - Ubuntu Linux 22.04 rework
  ruleset/sca/ubuntu/cis_ubuntu22-04.yml
Labels: team/threatintel

#14065 Added thread_pool and queue_size setting to FIM DB
  src/config/syscheck-config.c
  src/config/syscheck-config.h
  src/syscheckd/src/config.c
  src/syscheckd/src/db/include/db.h
  src/syscheckd/src/db/include/db.hpp
  src/syscheckd/src/db/src/db.cpp
  src/syscheckd/src/db/tests/db/ComponentTest/dbInterface/dbTest.cpp
  src/syscheckd/src/db/tests/db/ComponentTest/dbInterface/dbTest.h
  src/syscheckd/src/db/testtool/main.cpp
  src/syscheckd/src/syscheck.c
  src/unit_tests/config_files/test_syscheck2.conf
  src/unit_tests/config_files/test_syscheck_max_dir.conf
  src/unit_tests/syscheckd/test_config.c
  src/unit_tests/syscheckd/test_syscheck.c
  src/unit_tests/wrappers/wazuh/syscheckd/fim_db_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/fim_db_wrappers.h
Labels: module/fim

#15450 Changed default engine logtest path
  src/engine/source/main.cpp
Labels: module/engine

#13588 Allow report_changes to support paths close to the maximum limit
  src/error_messages/error_messages.h
  src/syscheckd/fim_diff_changes.c
  src/syscheckd/run_check.c
  src/syscheckd/syscheck.h
  src/unit_tests/syscheckd/registry/test_registry.c
  src/unit_tests/syscheckd/test_fim_diff_changes.c
Labels: module/fim

#15339 Fix Alpine compilation errors
  src/rootcheck/os_string.c
Labels: type/enhancement, module/building

#15422 Avoid warnings during MSI building
  src/win32/InstallerScripts.vbs
  src/win32/wazuh-installer.wxs
Labels: platform/windows

#15466 Add xfail mark to sca AIT
  api/test/integration/test_sca_endpoints.tavern.yaml
Labels: type/bug, module/api, team/framework

#15476 Prevent Logcollector from producing errors on blank lines at audit log files
  src/logcollector/read_audit.c
Labels: type/bug, module/logcollector

#15440 Auto-vacuum mechanism in wazuh-db from 4.4
  etc/internal_options.conf
  src/Makefile
  src/unit_tests/syscheckd/db/test_fim_db.c
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wazuh_db_state.c
  src/unit_tests/wazuh_db/test_wdb.c
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/unit_tests/wazuh_db/test_wdb_global_parser.c
  src/unit_tests/wazuh_db/test_wdb_metadata.c
  src/unit_tests/wazuh_db/test_wdb_parser.c
  src/unit_tests/wazuh_db/test_wdb_upgrade.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector_nvd.c
  src/unit_tests/wrappers/externals/sqlite/sqlite3_wrappers.c
  src/unit_tests/wrappers/wazuh/shared/time_op_wrappers.c
  src/unit_tests/wrappers/wazuh/shared/time_op_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_state_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_state_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_wrappers.h
  src/wazuh_db/main.c
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_parser.c
  src/wazuh_db/wdb_state.c
  src/wazuh_db/wdb_state.h
Labels: type/enhancement, module/db
