Repository wazuh/wazuh, pull requests merged in 2022-08, with the labels that each got.

#14433 Update design graphs
  architecture/FIM/db/001-class-testtool.puml
  architecture/FIM/db/002-sequence-testtool.puml
  architecture/FIM/db/ER-diagram.puml
  architecture/FIM/db/class.puml
  architecture/FIM/db/sequence_diagram.puml
  src/syscheckd/src/db/include/db.h
  src/syscheckd/src/db/include/db.hpp
  src/syscheckd/src/db/src/fimDB.hpp
  src/unit_tests/syscheckd/test_create_db.c
  src/unit_tests/wrappers/wazuh/syscheckd/db_old_wrappers/fim_db_registries_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/db_old_wrappers/fim_db_registries_wrappers.h
Labels: type/design

#14368 Avoid scan-build error on github module
  src/wazuh_modules/wm_github.c
Labels: type/test/scan build, module/github

#13899 Adding Windows Server 2022 SCA check
  ruleset/sca/windows/cis_win2022.yml
  src/win32/wazuh-installer.wxs
Labels: feed/sca, team/threatintel

#14469 Fixed various issues in Win 10 SCA checks
  ruleset/sca/windows/cis_win10_enterprise.yml
Labels: team/threatintel

#11354 Replace C++ exception handling library for Windows agent
  src/Makefile
  src/win32/wazuh-installer.nsi
  src/win32/wazuh-installer.wxs
Labels: platform/windows, module/install

#14521 Fix data field on SyncTxnRows json files
  src/syscheckd/src/db/smokeTests/FimDBTransaction/SyncTxnRows_1.json
  src/syscheckd/src/db/smokeTests/FimDBTransaction/SyncTxnRows_2.json
Labels: module/fim, type/test/test tool

#14515 Fix checks in RTR tests
  src/ci/run_check.py
  src/ci/utils.py
Labels: module/fim, type/test

#14513 Fixing regex in check 5.1.1 of Ubuntu 20.04 SCA
  ruleset/sca/ubuntu/cis_ubuntu20-04.yml
Labels: team/threatintel

#14356 Fix translation of packages with missing version in CPE Helper
  src/error_messages/error_messages.h
  src/wazuh_db/schema_vuln_detector.sql
  src/wazuh_modules/vulnerability_detector/cpe_helper.json
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: module/vulnerability detector

#14536 Add error checking to test tool checks
  src/ci/tests/syscheckd/test_check_module.py
  src/syscheckd/src/db/smokeTests/FimDBTransaction/SyncTxnRowsRegistryData_1.json
  src/syscheckd/src/db/smokeTests/FimDBTransaction/SyncTxnRowsRegistryData_2.json
  src/syscheckd/src/db/smokeTests/FimDBTransaction/SyncTxnRowsRegistryKey_1.json
  src/syscheckd/src/db/smokeTests/FimDBTransaction/SyncTxnRowsRegistryKey_2.json
  src/syscheckd/src/db/smokeTests/integrityOps/SyncTxnRowsRegistryData_1.json
  src/syscheckd/src/db/smokeTests/integrityOps/SyncTxnRowsRegistryKey_1.json
Labels: type/bug, type/test/test tool

#14678 Solve OS detection rule bug on SCA Ubuntu 22.04
  ruleset/sca/ubuntu/cis_ubuntu22-04.yml
Labels: feed/sca

#14542 Deprecate Debian Stretch in Vulnerability Detector
  etc/templates/config/generic/wodle-vulnerability-detector.manager.template
  src/config/wmodules-vuln-detector.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: type/bug, module/vulnerability detector, platform/debian

#14696 Update WPK upgrade root CA certificate
  etc/wpk_root.pem
Labels: module/upgrade/wpk

#14174 Fix UBS errors in vuln detector UTs.
  src/unit_tests/os_auth/test_auth_key_request.c
  src/unit_tests/wazuh_db/test_wdb_agents_helpers.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/unit_tests/wrappers/externals/cJSON/cJSON_wrappers.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: module/vulnerability detector, type/test/unit
