Repository wazuh/wazuh, pull requests merged in 2022-06, with the labels that each got.

#12894 Add check to test tool outputs using pytest
  src/Readme.md
  src/build.py
  src/ci/build_tools.py
  src/ci/input/test_tool_config.json
  src/ci/run_check.py
  src/ci/tests/__init__.py
  src/ci/tests/conftest.py
  src/ci/tests/syscheckd/test_check_module.py
  src/ci/utils.py
  src/syscheckd/src/db/smokeTests/FimDBTransaction/SyncTxnRows_1.json
  src/syscheckd/src/db/smokeTests/FimDBTransaction/SyncTxnRows_2.json
  src/syscheckd/src/db/smokeTests/configWindows.json
  src/syscheckd/src/db/smokeTests/integrityOps/CountFiles.json
  src/syscheckd/src/db/smokeTests/integrityOps/PushMessage.json
Labels: core/fim, dev, python/unit tests

#13679 Fix maild to stringify any json array type
  src/os_maild/os_maild_client.c
Labels: bug, enhancement, core/maild

#13686 Created template for testing WPK upgrade
  .github/ISSUE_TEMPLATE/wpk-upgrade-tests.md
Labels: packages/wpk

#9962 Add support for SUSE OVAL in Vulnerability Detector
  etc/templates/config/generic/wodle-vulnerability-detector.manager.template
  src/config/wmodules-vuln-detector.c
  src/error_messages/debug_messages.h
  src/error_messages/error_messages.h
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector_nvd.c
  src/wazuh_db/schema_vuln_detector.sql
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#13753 Bump deps version 4.4
  src/Makefile
Labels: core/sysinfo

#13186 Avoid potential memory leaks if the feed lacks <criteria> on a vulnerability
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: core/vuln detector, bug/devel, memory

#13597 Adding new features to runtest.py
  ruleset/testing/coverage.py
  ruleset/testing/runtests.py
Labels: threatintel, threatintel/PR

#13567 Fixing deprecated MITRE tags in rules
  ruleset/rules/0245-web_rules.xml
  ruleset/rules/0270-web_appsec_rules.xml
  ruleset/rules/0275-squid_rules.xml
  ruleset/rules/0800-sysmon_id_1.xml
Labels: threatintel/PR

#13781 Modify Amazon Linux 2 SCA policy to resolve typo on control 1.1.22 and EMPTY_LINE conditions
  ruleset/sca/amazon/cis_amazon_linux_2.yml
Labels: threatintel, threatintel/PR

#13427 Add support for Amazon Linux 2022 in Vulnerability Detector
  etc/templates/config/generic/wodle-vulnerability-detector.manager.template
  src/config/wmodules-vuln-detector.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: enhancement, core/vuln detector

#13587 Fix a memory leak in Analysisd when overwriting a rule multiple times
  ruleset/testing/ruleset/test_overwrite_rules.xml
  ruleset/testing/tests/overwrite.ini
  src/analysisd/rules.h
  src/analysisd/rules_list.c
Labels: bug, core/analysisd, bug/regression

#13907 Abort the enrollment process if the manager couldn't be verified.
  src/shared/enrollment_op.c
  src/unit_tests/shared/test_enrollment_op.c
Labels: bug, core/agent, community

#13935 Adapt min_interval option to parse time suffixes.
  src/config/syscheck-config.c
Labels: module/fim

#13915 Improve OS info log unavailable for Vulnerability Detector
  src/error_messages/information_messages.h
  src/unit_tests/wazuh_db/test_wdb_agents_helpers.c
  src/wazuh_db/helpers/wdb_agents_helpers.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: module/vulnerability detector

#13950 Modify Amazon Linux 2 SCA policy to resolve rule and condition on control 1.5.2
  ruleset/sca/amazon/cis_amazon_linux_2.yml
Labels: threatintel, feed/sca, threatintel/PR, threatintel/sca

#13883 Prevent OpenSSL library from cleaning up resources on wazuh-modulesd stop
  src/shared/url.c
  src/unit_tests/wazuh_modules/vulnerability_detector/CMakeLists.txt
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/wm_fluent.c
Labels: type/bug, module/vulnerability detector, modules/modulesd, module/github, module/office365

#13898 Github integration scan messages enrichment
  src/unit_tests/wazuh_modules/github/CMakeLists.txt
  src/unit_tests/wazuh_modules/github/test_wm_github.c
  src/wazuh_modules/wm_github.c
Labels: module/github

#13694 Fix GeoIP compilation
  src/analysisd/rules_list.c
Labels: type/enhancement, module/analysis

#12370 Deprecate unused `wazuh-db` code
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb_agents.c
  src/unit_tests/wazuh_db/test_wdb_agents_helpers.c
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/unit_tests/wazuh_db/test_wdb_global_helpers.c
  src/unit_tests/wazuh_db/test_wdb_global_parser.c
  src/unit_tests/wazuh_db/test_wdb_parser.c
  src/unit_tests/wazuh_modules/vulnerability_detector/CMakeLists.txt
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_helpers_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_helpers_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_agents_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.h
  src/wazuh_db/helpers/wdb_agents_helpers.c
  src/wazuh_db/helpers/wdb_agents_helpers.h
  src/wazuh_db/helpers/wdb_global_helpers.c
  src/wazuh_db/helpers/wdb_global_helpers.h
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_agents.c
  src/wazuh_db/wdb_agents.h
  src/wazuh_db/wdb_fim.c
  src/wazuh_db/wdb_global.c
  src/wazuh_db/wdb_metadata.c
  src/wazuh_db/wdb_parser.c
  src/wazuh_db/wdb_rootcheck.c
Labels: type/enhancement, module/db

#13945 Remove empty fields from FIM events.
  src/syscheckd/src/create_db.c
  src/unit_tests/syscheckd/test_create_db.c
Labels: module/fim, reporter/qa
