Repository wazuh/wazuh, pull requests merged in 2022-04, with the labels that each got.

#13016 Get agents information outside collect agents method
  src/wazuh_db/helpers/wdb_global_helpers.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: enhancement, core/vuln detector

#12834 Updating active-response decoders to fill srcip field
  ruleset/decoders/0010-active-response_decoders.xml
Labels: bug, core/active-response, core/reportd, threatintel, decoders

#12864 KVDB Manager implementation
  src/engine/source/kvdb/CMakeLists.txt
  src/engine/source/kvdb/include/kvdb/kvdb.hpp
  src/engine/source/kvdb/include/kvdb/kvdbManager.hpp
  src/engine/source/kvdb/src/kvdb.cpp
  src/engine/source/kvdb/src/kvdbManager.cpp
  src/engine/test/source/hlp/hlp_test.cpp
  src/engine/test/source/kvdb/CMakeLists.txt
  src/engine/test/source/kvdb/kvdb_test.cpp
Labels: core/engine

#12974 KVDB function helpers implementation
  src/engine/source/builder/CMakeLists.txt
  src/engine/source/builder/builders/opBuilderKVDB.cpp
  src/engine/source/builder/builders/opBuilderKVDB.hpp
  src/engine/source/builder/register.hpp
  src/engine/source/kvdb/include/kvdb/kvdb.hpp
  src/engine/source/kvdb/src/kvdb.cpp
  src/engine/test/source/builder/CMakeLists.txt
  src/engine/test/source/builder/builders/opBuilderKVDBExtract_test.cpp
  src/engine/test/source/builder/builders/opBuilderKVDBMatch_test.cpp
  src/engine/test/source/builder/builders/opBuilderKVDBNotMatch_test.cpp
Labels: core/engine

#13050 KVDB - benchmarks implementation
  src/engine/benchmark/CMakeLists.txt
  src/engine/benchmark/hlp/CMakeLists.txt
  src/engine/benchmark/hlp/hlp_bench.cpp
  src/engine/benchmark/kvdb/CMakeLists.txt
  src/engine/benchmark/kvdb/kvdb_bench.cpp
  src/engine/benchmark/regex/CMakeLists.txt
  src/engine/benchmark/regex/regex_bench.cpp
  src/engine/benchmark/router/CMakeLists.txt
  src/engine/benchmark/router/router_bench.cpp
  src/engine/benchmark/rxcpp/and_operation.cpp
  src/engine/benchmark/source/router/CMakeLists.txt
  src/engine/benchmark/wazuhBenchMain.cpp
  src/engine/source/kvdb/include/kvdb/kvdb.hpp
Labels: core/engine

#13048 Fixed syscheck daemon library linking on Solaris
  src/syscheckd/CMakeLists.txt
Labels: core/fim, bug/devel, solaris

#13057 Adding sanity check for negative values in alternative parameters of `sync-agent-groups-get` command
  src/unit_tests/wazuh_db/test_wdb_global_parser.c
  src/wazuh_db/wdb_parser.c
Labels: enhancement, core/db

#13042 Add 'wazuh-logtest' unittest
  framework/scripts/tests/test_wazuh_logtest.py
  framework/scripts/wazuh_logtest.py
Labels: enhancement, framework, python/unit tests

#13044 Fix FIM injection vulnerabilty when using prefilter_cmd
  src/config/syscheck-config.c
  src/config/syscheck-config.h
  src/os_crypto/md5_sha1_sha256/md5_sha1_sha256_op.c
  src/os_crypto/md5_sha1_sha256/md5_sha1_sha256_op.h
  src/syscheckd/config.c
  src/syscheckd/create_db.c
  src/unit_tests/os_crypto/CMakeLists.txt
  src/unit_tests/os_crypto/md5_sha1_sha256/CMakeLists.txt
  src/unit_tests/os_crypto/md5_sha1_sha256/test_md5_sha1_sha256_op.c
  src/unit_tests/syscheckd/test_create_db.c
  src/unit_tests/wrappers/wazuh/os_crypto/md5_op_wrappers.c
  src/unit_tests/wrappers/wazuh/os_crypto/md5_op_wrappers.h
Labels: core/fim, bug/vulnerability

#13056 GitHub and Office365 improvements to API requests
  src/config/wmodules-github.c
  src/unit_tests/wazuh_modules/github/CMakeLists.txt
  src/unit_tests/wazuh_modules/github/test_wm_github.c
  src/unit_tests/wazuh_modules/office365/CMakeLists.txt
  src/unit_tests/wazuh_modules/office365/test_wm_office365.c
  src/wazuh_modules/wm_github.c
  src/wazuh_modules/wm_github.h
  src/wazuh_modules/wm_office365.c
  src/wazuh_modules/wm_office365.h
Labels: bug, github_integration

#13084 Dev 12935 Refactor of the kvdb implementation
  src/engine/.clang-format
  src/engine/CMakeLists.txt
  src/engine/benchmark/CMakeLists.txt
  src/engine/benchmark/kvdb/CMakeLists.txt
  src/engine/benchmark/kvdb/kvdb_bench.cpp
  src/engine/benchmark/wazuhBenchMain.cpp
  src/engine/source/base/CMakeLists.txt
  src/engine/source/base/utils/baseMacros.cpp
  src/engine/source/base/utils/baseMacros.hpp
  src/engine/source/builder/builders/opBuilderHelperMap.cpp
  src/engine/source/builder/builders/opBuilderKVDB.cpp
  src/engine/source/builder/builders/opBuilderKVDB.hpp
  src/engine/source/builder/builders/opBuilderMap.cpp
  src/engine/source/cliParser/CMakeLists.txt
  src/engine/source/cliParser/cliParser.cpp
  src/engine/source/cliParser/cliParser.hpp
  src/engine/source/kvdb/include/kvdb/kvdb.hpp
  src/engine/source/kvdb/include/kvdb/kvdbManager.hpp
  src/engine/source/kvdb/src/kvdb.cpp
  src/engine/source/kvdb/src/kvdbManager.cpp
  src/engine/source/main.cpp
  src/engine/source/server/protocolHandler.cpp
  src/engine/test/CMakeLists.txt
  src/engine/test/source/builder/builders/opBuilderKVDBExtract_test.cpp
  src/engine/test/source/builder/builders/opBuilderKVDBMatch_test.cpp
  src/engine/test/source/builder/builders/opBuilderKVDBNotMatch_test.cpp
  src/engine/test/source/cliParser/CMakeLists.txt
  src/engine/test/source/cliParser/cliParser_test.cpp
  src/engine/test/source/kvdb/CMakeLists.txt
  src/engine/test/source/kvdb/kvdb_test.cpp
Labels: core/engine

#13088 Prevent the agent from delaying for a negative timespan
  src/client-agent/buffer.c
Labels: bug, core/agent, platform/windows, bug/regression

#13115 The vulnerability detector alerts inventory updates the detection_time column after every full scan - Implementation
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb_agents.c
Labels: core/vuln detector, bug/devel

#13121 Fix errors in sshd decoders
  ruleset/decoders/0310-ssh_decoders.xml
Labels: threatintel/PR

#13118 Vuldet task msg context for queue data
  src/headers/queue_linked_op.h
  src/shared/queue_linked_op.c
  src/unit_tests/shared/test_queue_linked_op.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: core/vuln detector

#13089 Remove unittest leftovers
  framework/wazuh/core/cluster/tests/test_worker.py
Labels: framework, cluster, python/unit tests

#13127 Implement a tasks queue in the Vulnerability Detector module - Implementation
  src/headers/queue_linked_op.h
  src/os_crypto/shared/msgs.c
  src/remoted/manager.c
  src/shared/queue_linked_op.c
  src/unit_tests/os_crypto/shared/test_msgs.c
  src/unit_tests/remoted/test_secure.c
  src/unit_tests/shared/test_queue_linked_op.c
  src/unit_tests/wazuh_modules/agent_upgrade/test_wm_agent_upgrade_upgrades.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_upgrades.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: enhancement, core/vuln detector

#13098 Modify Python unit tests
  framework/wazuh/core/cluster/dapi/tests/test_dapi.py
  framework/wazuh/core/cluster/tests/test_client.py
  framework/wazuh/core/cluster/tests/test_cluster.py
  framework/wazuh/core/cluster/tests/test_common.py
  framework/wazuh/core/cluster/tests/test_master.py
  framework/wazuh/core/cluster/tests/test_server.py
  framework/wazuh/core/cluster/tests/test_utils.py
  framework/wazuh/core/cluster/tests/test_worker.py
  framework/wazuh/tests/test_ciscat.py
Labels: framework, cluster, python/unit tests

#10865 Key request feature in Authd (port agent key polling)
  api/api/spec/spec.yaml
  etc/ossec.conf
  src/Makefile
  src/config/authd-config.c
  src/config/authd-config.h
  src/config/authd-key-request-config.c
  src/config/config.c
  src/config/config.h
  src/config/wmodules-config.c
  src/config/wmodules-key-request.c
  src/headers/defs.h
  src/os_auth/auth.h
  src/os_auth/config.c
  src/os_auth/key_request.c
  src/os_auth/key_request.h
  src/os_auth/local-server.c
  src/os_auth/main-client.c
  src/os_auth/main-server.c
  src/os_net/os_net.c
  src/os_net/os_net.h
  src/remoted/secure.c
  src/shared/agent_op.c
  src/unit_tests/os_auth/CMakeLists.txt
  src/unit_tests/os_auth/test_auth_key_request.c
  src/unit_tests/os_net/test_os_net.c
  src/unit_tests/wrappers/linux/socket_wrappers.c
  src/unit_tests/wrappers/linux/socket_wrappers.h
  src/unit_tests/wrappers/wazuh/addagent/manage_agents_wrappers.c
  src/unit_tests/wrappers/wazuh/addagent/manage_agents_wrappers.h
  src/unit_tests/wrappers/wazuh/os_auth/os_auth_wrappers.c
  src/unit_tests/wrappers/wazuh/os_auth/os_auth_wrappers.h
  src/unit_tests/wrappers/wazuh/os_net/os_net_wrappers.c
  src/unit_tests/wrappers/wazuh/os_net/os_net_wrappers.h
  src/unit_tests/wrappers/wazuh/shared/agent_op_wrappers.c
  src/wazuh_modules/wm_keyrequest.c
  src/wazuh_modules/wm_keyrequest.h
  src/wazuh_modules/wmodules.h
Labels: core/auth, core/agent key polling

#13119 Remove useless `set_user_name` function
  api/api/middlewares.py
  api/api/test/test_middlewares.py
  api/scripts/wazuh-apid.py
Labels: enhancement, API

#13079 Change the hashing algorithm
  framework/wazuh/core/cluster/cluster.py
  framework/wazuh/core/cluster/common.py
  framework/wazuh/core/cluster/master.py
  framework/wazuh/core/cluster/tests/test_cluster.py
  framework/wazuh/core/cluster/worker.py
  framework/wazuh/core/tests/test_utils.py
  framework/wazuh/core/utils.py
Labels: enhancement, framework, cluster

#13091 Dev 12481 Integrating new KVDB feature into engine
  src/engine/.clang-format
  src/engine/CMakeLists.txt
  src/engine/benchmark/CMakeLists.txt
  src/engine/benchmark/hlp/CMakeLists.txt
  src/engine/benchmark/hlp/hlp_bench.cpp
  src/engine/benchmark/kvdb/CMakeLists.txt
  src/engine/benchmark/kvdb/kvdb_bench.cpp
  src/engine/benchmark/regex/CMakeLists.txt
  src/engine/benchmark/regex/regex_bench.cpp
  src/engine/benchmark/router/CMakeLists.txt
  src/engine/benchmark/router/router_bench.cpp
  src/engine/benchmark/rxcpp/and_operation.cpp
  src/engine/benchmark/source/router/CMakeLists.txt
  src/engine/benchmark/wazuhBenchMain.cpp
  src/engine/source/base/CMakeLists.txt
  src/engine/source/base/utils/baseMacros.cpp
  src/engine/source/base/utils/baseMacros.hpp
  src/engine/source/builder/CMakeLists.txt
  src/engine/source/builder/builders/opBuilderHelperMap.cpp
  src/engine/source/builder/builders/opBuilderKVDB.cpp
  src/engine/source/builder/builders/opBuilderKVDB.hpp
  src/engine/source/builder/builders/opBuilderMap.cpp
  src/engine/source/builder/register.hpp
  src/engine/source/cliParser/CMakeLists.txt
  src/engine/source/cliParser/cliParser.cpp
  src/engine/source/cliParser/cliParser.hpp
  src/engine/source/kvdb/CMakeLists.txt
  src/engine/source/kvdb/include/kvdb/kvdb.hpp
  src/engine/source/kvdb/include/kvdb/kvdbManager.hpp
  src/engine/source/kvdb/src/kvdb.cpp
  src/engine/source/kvdb/src/kvdbManager.cpp
  src/engine/source/main.cpp
  src/engine/source/server/protocolHandler.cpp
  src/engine/test/CMakeLists.txt
  src/engine/test/engineTestMain.cpp
  src/engine/test/source/builder/CMakeLists.txt
  src/engine/test/source/builder/builders/opBuilderKVDBExtract_test.cpp
  src/engine/test/source/builder/builders/opBuilderKVDBMatch_test.cpp
  src/engine/test/source/builder/builders/opBuilderKVDBNotMatch_test.cpp
  src/engine/test/source/builder/register_test.cpp
  src/engine/test/source/cliParser/CMakeLists.txt
  src/engine/test/source/cliParser/cliParser_test.cpp
  src/engine/test/source/hlp/hlp_test.cpp
  src/engine/test/source/kvdb/CMakeLists.txt
  src/engine/test/source/kvdb/kvdb_test.cpp
Labels: core/engine

#12582 src/wazuh_modules/wm_ciscat.c: support both CIS-CAT Pro V3 and V4
  src/config/wmodules-ciscat.c
  src/wazuh_modules/wm_ciscat.c
  src/wazuh_modules/wm_ciscat.h
Labels: community

#12750 Code refactor for agentd and execd
  src/Makefile
  src/client-agent/agentd.h
  src/client-agent/notify.c
  src/client-agent/receiver-win.c
  src/client-agent/receiver.c
  src/client-agent/request.c
  src/os_execd/execd.c
  src/os_execd/execd.h
  src/os_execd/main.c
  src/os_execd/win_execd.c
  src/remoted/cfga-forward.c
  src/unit_tests/os_execd/test_execd.c
  src/unit_tests/os_execd/test_win_execd.c
  src/win32/win_utils.c
Labels: core/agent, core/execd

#13208 Prevent the leaky bucket from sleeping more than 1 / EPS
  src/client-agent/buffer.c
Labels: bug, platform/windows

#13216 Fixing memory leaks in the ciscat unit tests caused by the new `ciscat_binary` variable in the module context structure
  src/unit_tests/wazuh_modules/ciscat/test_wm_ciscat.c
Labels: core/cis-cat, core/unit tests

#13199 Fix race condition while checking max_eps in FIM synchro messages
  src/syscheckd/src/run_check.c
  src/unit_tests/syscheckd/test_run_check.c
Labels: core/fim

#13212 Add the capability to the main thread to push and pop structures from queues.
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: core/vuln detector

#13260 Fix wazuh-installer.nsi to remove fim.db when uninstall Wazuh
  src/win32/wazuh-installer.nsi
Labels: core/fim, platform/windows, installer

#13272 Improve MITRE Technique Id rule mapping
  ruleset/rules/0085-pam_rules.xml
  ruleset/rules/0095-sshd_rules.xml
  ruleset/rules/0580-win-security_rules.xml
Labels: threatintel/PR

#13206 Creating a working thread for vulnerability detector
  src/error_messages/debug_messages.h
  src/error_messages/error_messages.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: enhancement, core/vuln detector
