Repository wazuh/wazuh, pull requests merged in 2022-07, with the labels that each got.

#13979 Fix remoted not updating total bytes sent by UDP
  src/remoted/sendmsg.c
  src/unit_tests/remoted/test_sendmsg.c
Labels: module/remote

#14085 Add support for Ubuntu 22 (Jammy) in Vulnerability Detector - Backport to 4.3
  etc/templates/config/generic/wodle-vulnerability-detector.manager.template
  src/config/wmodules-vuln-detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: module/vulnerability detector, type/backport

#14178 Engine - Create Apache decoders
  src/engine/source/hlp/src/specificParsers.cpp
  src/engine/test/assets/decoders/apache_access.yml
  src/engine/test/assets/decoders/apache_error.yml
  src/engine/test/assets/environments/demo_environment.yml
Labels: module/engine

#13887 Save statistics for different agents
  src/analysisd/alerts/exec.c
  src/analysisd/analysisd.c
  src/analysisd/state.c
  src/analysisd/state.h
  src/monitord/monitor_actions.c
  src/remoted/ar-forward.c
  src/remoted/cfga-forward.c
  src/remoted/manager.c
  src/remoted/netbuffer.c
  src/remoted/remoted.h
  src/remoted/request.c
  src/remoted/secure.c
  src/remoted/sendmsg.c
  src/remoted/state.c
  src/remoted/state.h
  src/unit_tests/analysisd/CMakeLists.txt
  src/unit_tests/analysisd/test_analysis-state.c
  src/unit_tests/remoted/CMakeLists.txt
  src/unit_tests/remoted/test_manager.c
  src/unit_tests/remoted/test_netbuffer.c
  src/unit_tests/remoted/test_remote-state.c
  src/unit_tests/remoted/test_secure.c
  src/unit_tests/remoted/test_sendmsg.c
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/unit_tests/wazuh_db/test_wdb_global_helpers.c
  src/unit_tests/wrappers/linux/queue.c
  src/unit_tests/wrappers/linux/state_wrappers.c
  src/unit_tests/wrappers/linux/state_wrappers.h
  src/unit_tests/wrappers/wazuh/remoted/netbuffer_wrappers.c
  src/unit_tests/wrappers/wazuh/remoted/netbuffer_wrappers.h
  src/unit_tests/wrappers/wazuh/remoted/netcounter_wrappers.c
  src/unit_tests/wrappers/wazuh/remoted/netcounter_wrappers.h
  src/unit_tests/wrappers/wazuh/remoted/queue_wrappers.c
  src/unit_tests/wrappers/wazuh/remoted/queue_wrappers.h
  src/unit_tests/wrappers/wazuh/remoted/state_wrappers.c
  src/unit_tests/wrappers/wazuh/remoted/state_wrappers.h
  src/unit_tests/wrappers/wazuh/shared/cluster_utils_wrappers.c
  src/unit_tests/wrappers/wazuh/shared/cluster_utils_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_helpers_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_helpers_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_global_wrappers.h
  src/wazuh_db/helpers/wdb_global_helpers.c
  src/wazuh_db/helpers/wdb_global_helpers.h
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_global.c
  src/wazuh_db/wdb_parser.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: module/analysis

#14090 Fix: Win10 SCA checks
  ruleset/sca/windows/cis_win10_enterprise.yml
Labels: reporter/qa

#13905 12883 Create SCA CIS for macOS Monterey
  etc/templates/config/darwin/21/sca.files
  etc/templates/config/darwin/sca.files
  ruleset/sca/darwin/21/cis_apple_macOS_12.0.yml
Labels: feed/sca, team/threatintel

#14117 Add support for Red Hat 9 in Vulnerability Detector
  etc/templates/config/generic/wodle-vulnerability-detector.manager.template
  src/config/wmodules-vuln-detector.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: type/enhancement, module/vulnerability detector

#14106 Wazuh agent waits for the second syscollector scan to synchronize its inventory with the manager - Implementation
  src/wazuh_modules/wm_syscollector.c
Labels: type/enhancement, module/syscollector

#13980 Improve the SMBIOS parser in the data provider to avoid crashing.
  src/data_provider/src/sysInfoWin.cpp
  src/shared_modules/utils/tests/windowsHelper_test.cpp
  src/shared_modules/utils/windowsHelper.h
Labels: module/syscollector

#14105 New settings added to FIM synchronization, `response_timeout` and `max_interval`
  architecture/FIM/db/FIM_sync_algorithm.puml
  ruleset/rules/0016-wazuh_rules.xml
  src/config/syscheck-config.c
  src/config/syscheck-config.h
  src/syscheckd/cppcheckSuppress.txt
  src/syscheckd/src/config.c
  src/syscheckd/src/db/include/db.h
  src/syscheckd/src/db/include/db.hpp
  src/syscheckd/src/db/smokeTests/config.json
  src/syscheckd/src/db/smokeTests/configWindows.json
  src/syscheckd/src/db/src/db.cpp
  src/syscheckd/src/db/src/file.cpp
  src/syscheckd/src/db/src/fimDB.cpp
  src/syscheckd/src/db/src/fimDB.hpp
  src/syscheckd/src/db/src/fimDBSpecialization.h
  src/syscheckd/src/db/tests/db/ComponentTest/dbInterface/dbTest.cpp
  src/syscheckd/src/db/tests/db/ComponentTest/dbInterface/dbTest.h
  src/syscheckd/src/db/tests/db/FIMDB/fimDBTests/fimDBImpTests.cpp
  src/syscheckd/src/db/tests/db/FIMDB/fimDBTests/fimDBImpTests.hpp
  src/syscheckd/src/db/testtool/main.cpp
  src/syscheckd/src/syscheck.c
  src/unit_tests/syscheckd/test_config.c
  src/unit_tests/syscheckd/test_syscheck.c
  src/unit_tests/wrappers/wazuh/syscheckd/fim_db_wrappers.c
  src/unit_tests/wrappers/wazuh/syscheckd/fim_db_wrappers.h
Labels: module/fim

#14248 Delete message controller from 9103-replace-fim-db-dbsync
  architecture/FIM/db/class.puml
  src/shared_modules/rsync/include/rsync.hpp
  src/shared_modules/rsync/src/messageController.hpp
  src/shared_modules/rsync/src/rsync.cpp
  src/shared_modules/rsync/src/rsyncImplementation.cpp
  src/shared_modules/rsync/tests/interface/rsync_test.cpp
Labels: module/fim

#13958 Office365 integration scan messages enrichment
  src/unit_tests/wazuh_modules/office365/CMakeLists.txt
  src/unit_tests/wazuh_modules/office365/test_wm_office365.c
  src/wazuh_modules/wm_office365.c
Labels: module/office365

#13879 Updated Win 10 SCA using checks developed for Win 11 SCA
  ruleset/sca/windows/cis_win10_enterprise.yml
Labels: feed/sca, team/threatintel

#14082 Fix bug in RTR jenkins check
  src/ci/build_tools.py
  src/ci/run_check.py
  src/shared_modules/rsync/cppcheckSuppress.txt
  src/shared_modules/rsync/tests/interface/rsync_test.cpp
Labels: type/bug, module/fim, type/bug/non production

#13956 Fixes a segfault at OS_Regex_execute
  ruleset/testing/ruleset/test_osregex_regex_decoders.xml
  ruleset/testing/ruleset/test_osregex_regex_rules.xml
  ruleset/testing/tests/test_osregex_regex.ini
  src/os_regex/os_regex_execute.c
  src/unit_tests/os_regex/CMakeLists.txt
  src/unit_tests/os_regex/test_os_regex_execute.c
  src/unit_tests/os_regex/test_os_regex_execute.json
  src/unit_tests/os_regex/test_os_regex_execute.md
Labels: type/enhancement, type/test, regex

#13878 Removes dummy local_ip option for agent configuration.
  src/client-agent/config.c
  src/config/client-config.c
  src/config/client-config.h
  src/unit_tests/client-agent/test_start_agent.c
Labels: module/agent

#14366 Fix VD coverity error
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: module/vulnerability detector

#14417 Fix a segmentation fault in wazuh-maild when parsing alerts exceeding the nesting limit
  src/os_maild/os_maild_client.c
Labels: type/bug, module/mail, type/bug/crash

#14436 Fix busy-looping in wazuh-maild when monitoring alerts.json
  src/os_maild/os_maild_client.c
  src/shared/json-queue.c
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/shared/test_json-queue.c
Labels: type/bug, module/mail
