Repository wazuh/wazuh, pull requests merged in 2022-05, with the labels that each got.

#13271 Added feed update task flags per vendor
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: core/vuln detector

#13276 Disconnect the Vulnerability Detector retry scan logic from the scan itself - Implementation
  src/config/wmodules-vuln-detector.c
  src/error_messages/error_messages.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: enhancement, core/vuln detector

#13319 Modify the Makefile to fix the multi-threaded compilation problem.
  src/Makefile
Labels: core/Makefile, core/cmake

#13263 Add support for Ubuntu Jammy in Vulnerability Detector
  etc/templates/config/generic/wodle-vulnerability-detector.manager.template
  src/config/wmodules-vuln-detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: enhancement, core/vuln detector

#13355 Let CIS-CAT module halt if ciscat_binary is set to an invalid value
  src/wazuh_modules/wm_ciscat.c
Labels: bug, core/cis-cat

#13439 Fixing the use of the overwrite rules for Analysisd
  ruleset/testing/ruleset/test_decoders.xml
  ruleset/testing/ruleset/test_overwrite_decoders.xml
  ruleset/testing/ruleset/test_overwrite_rules.xml
  ruleset/testing/ruleset/test_rules.xml
  ruleset/testing/ruleset/test_static_filters_decoders.xml
  ruleset/testing/ruleset/test_static_filters_rules.xml
  ruleset/testing/runtests.py
  ruleset/testing/tests/overwrite.ini
  ruleset/testing/tests/test_features.ini
  src/analysisd/rules.c
  src/analysisd/rules.h
  src/analysisd/rules_list.c
  src/error_messages/warning_messages.h
  src/shared/rules_op.c
Labels: bug, core/analysisd

#13313 Review unit tests in fimdb
  src/syscheckd/src/db/include/db.h
  src/syscheckd/src/db/src/db.cpp
  src/syscheckd/src/db/tests/db/ComponentTest/dbInterface/dbTest.cpp
  src/syscheckd/src/db/tests/db/ComponentTest/fileInterface/fileTest.cpp
Labels: bug/devel, core/unit tests

#13359 Set JSON RHEL update interval from RHEL settings
  src/config/wmodules-vuln-detector.c
Labels: core/configuration, bug/vulnerability

#13396 Remoted state counters
  src/headers/defs.h
  src/remoted/ar-forward.c
  src/remoted/cfga-forward.c
  src/remoted/manager.c
  src/remoted/netbuffer.c
  src/remoted/queue.c
  src/remoted/remcom.c
  src/remoted/remoted.h
  src/remoted/request.c
  src/remoted/secure.c
  src/remoted/sendmsg.c
  src/remoted/state.c
  src/remoted/state.h
  src/unit_tests/remoted/CMakeLists.txt
  src/unit_tests/remoted/test_netbuffer.c
  src/unit_tests/remoted/test_remcom.c
  src/unit_tests/remoted/test_remote-state.c
  src/unit_tests/remoted/test_sendmsg.c
  src/unit_tests/wrappers/wazuh/remoted/queue_wrappers.c
  src/unit_tests/wrappers/wazuh/remoted/queue_wrappers.h
  src/unit_tests/wrappers/wazuh/remoted/state_wrappers.c
  src/unit_tests/wrappers/wazuh/remoted/state_wrappers.h
  src/unit_tests/wrappers/wazuh/shared/bqueue_op_wrappers.c
Labels: core/remoted

#13405 Fix memory leak in analysisd when parsing a disabled AR.
  src/config/active-response.c
  src/shared_modules/utils/stringHelper.h
Labels: core/analysisd, core/active-response

#13534 Fixed the architecture of the dependency URL for macOS
  src/Makefile
Labels: platform/macos, core/Makefile

#13604 Properly handle AR information when overwriting a rule
  src/analysisd/rules_list.c
  src/unit_tests/analysisd/test_rule_list.c
Labels: bug, core/analysisd

#13395 Task message queue limited size
  etc/internal_options.conf
  src/headers/queue_op.h
  src/shared/queue_op.c
  src/unit_tests/shared/test_queue_op.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: core/vuln detector

#13533 Read scan type from task
  src/error_messages/debug_messages.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: core/vuln detector

#13617 Fix segmentation fault in Vuln Detector when scanning Windows agents (backport)
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: bug, core/vuln detector

#13616 Fix segmentation fault in Vuln Detector when scanning Windows agents
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: bug, core/vuln detector

#13624 Fix segmentation fault in Vuln Detector when scanning Windows agents
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: bug, core/vuln detector

#13642 Prevent Agentd from resetting its configuration on client block re-definition
  src/client-agent/config.c
  src/config/client-config.c
Labels: bug, core/agent
