Repository wazuh/wazuh, pull requests merged in 2023-03, with the labels that each got.

#14962 Add the initial configuration of wazuh_table and pf to the .conf file…
  src/active-response/firewalls/pf.c
Labels: type/bug, module/active response

#15709 Do not allow the start of the auth process in case the registration password file is empty.
  src/os_auth/main-server.c
Labels: type/bug, reporter/qa, type/design

#16286 Logcollector modified to collect normal logs as json objects
  src/logcollector/logcollector.h
  src/logcollector/read_json.c
Labels: type/enhancement, module/logcollector, module/engine, type/enhancement/usability

#15518 Allow shutdown message processing even though socket is closed
  src/remoted/secure.c
  src/unit_tests/remoted/CMakeLists.txt
  src/unit_tests/remoted/test_secure.c
  src/unit_tests/wrappers/wazuh/os_crypto/keys_wrappers.c
  src/unit_tests/wrappers/wazuh/os_crypto/keys_wrappers.h
  src/unit_tests/wrappers/wazuh/os_crypto/msgs_wrappers.c
  src/unit_tests/wrappers/wazuh/os_crypto/msgs_wrappers.h
  src/unit_tests/wrappers/wazuh/remoted/netcounter_wrappers.c
  src/unit_tests/wrappers/wazuh/remoted/netcounter_wrappers.h
  src/unit_tests/wrappers/wazuh/remoted/state_wrappers.c
  src/unit_tests/wrappers/wazuh/remoted/state_wrappers.h
Labels: module/agent, reporter/community

#16337 Changes to compile new CURL library v7.88.1
  README.md
  src/Makefile
Labels: type/enhancement, module/building

#16332 Handle exception when an inexistent region was provided
  wodles/aws/aws_s3.py
Labels: module/aws, module/cloud monitoring, team/framework

#16321 Fix memory leaks in wazuh-analysisd when parsing and matching rules
  ruleset/testing/ruleset/test_rules.xml
  ruleset/testing/tests/test_features.ini
  src/analysisd/analysisd.c
  src/analysisd/eventinfo.c
  src/analysisd/logmsg.c
  src/analysisd/logmsg.h
  src/analysisd/logtest.c
  src/analysisd/testrule.c
  src/unit_tests/analysisd/test_logmsg.c
  src/unit_tests/analysisd/test_logtest.c
Labels: type/bug, module/analysis, type/bug/regression, type/bug/leak

#16214 Fix memory leak in the SCA decoder when received event with no result
  src/analysisd/decoders/security_configuration_assessment.c
Labels: module/analysis, module/sca, type/bug/leak

#16101 Fix race condition in wazuh-analysisd when handling rule ignore option
  src/analysisd/analysisd.c
  src/analysisd/analysisd.h
  src/analysisd/eventinfo.c
  src/analysisd/eventinfo.h
  src/analysisd/rules.c
  src/analysisd/rules.h
Labels: type/bug, module/analysis, type/bug/regression
