Repository wazuh/wazuh, pull requests merged in 2023-04, with the labels that each got.

#15957 Remove unused variable in Authd
  src/os_auth/key_request.c
Labels: module/auth

#16478 Fix memory leaks in Vulnerability Detector after disk failures
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: module/vulnerability detector, type/bug/leak

#16089 Vulnerability Detection doesn't analyze brew packages from macOS agents - Implementation
  src/data_provider/src/packages/brewWrapper.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: module/vulnerability detector, module/syscollector

#16710 Fix FIM Windows UTs failing due to partially initialized structure
  src/unit_tests/syscheckd/registry/test_registry.c
Labels: type/bug, module/fim, platform/windows

#16463 Validated the region passed before instantiating the service class
  wodles/aws/aws_s3.py
Labels: type/bug, module/aws, module/cloud monitoring, team/framework

#16365 Show explicit messages when there aren't logs to process
  wodles/aws/aws_s3.py
Labels: module/aws, module/cloud monitoring

#16694 Update changelog and bump version
  CHANGELOG.md
  api/api/spec/spec.yaml
  api/setup.py
  framework/setup.py
  framework/wazuh/__init__.py
  framework/wazuh/core/cluster/__init__.py
  src/Doxyfile
  src/Makefile
  src/REVISION
  src/VERSION
  src/headers/defs.h
  src/init/wazuh-client.sh
  src/init/wazuh-local.sh
  src/init/wazuh-server.sh
  src/os_auth/key_request.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/win32/wazuh-installer.nsi
  src/win32/wazuh-installer.wxs
Labels: request/operational

#15719 Fix Rootcheck scan trying to read deleted files
  src/client-agent/receiver.c
  src/headers/file_op.h
  src/os_execd/wcom.c
  src/shared/file_op.c
  src/wazuh_modules/agent_upgrade/agent/wm_agent_upgrade_com.c
Labels: type/bug, module/rootcheck, platform/windows

#16493 Add AWS parser validations
  src/config/wmodules-aws.c
  wodles/aws/aws_s3.py
Labels: type/bug, module/aws, module/cloud monitoring

#16732 Merge branch 4.4 into 4.5
  .github/workflows/wazuh-template-elasticsearch.yml
  CHANGELOG.md
  api/api/spec/spec.yaml
  api/setup.py
  etc/templates/config/debian/11/sca.files
  etc/templates/config/debian/sca.files
  extensions/elasticsearch/7.x/qa/requirements.txt
  extensions/elasticsearch/7.x/qa/test_mapping_index_query.py
  extensions/elasticsearch/7.x/wazuh-template.json
  framework/setup.py
  framework/wazuh/core/exception.py
  framework/wazuh/core/tests/test_utils.py
  framework/wazuh/core/utils.py
  ruleset/sca/debian/cis_debian11.yml
  ruleset/sca/rhel/9/cis_rhel9_linux.yml
  src/Makefile
  src/os_auth/key_request.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: request/operational

#16216 Authd x509 Certificate generation error message and args filters enhancemet
  src/os_auth/main-server.c
Labels: type/enhancement, module/auth, team/core/watchdogs

#16268 Fix agent starts with an invalid fim configuration
  src/client-agent/main.c
  src/config/config.c
  src/config/config.h
  src/config/rootcheck-config.c
  src/config/syscheck-config.c
  src/config/wmodules-agent-upgrade.c
  src/config/wmodules-aws.c
  src/config/wmodules-azure.c
  src/config/wmodules-command.c
  src/config/wmodules-gcp.c
  src/headers/debug_op.h
  src/logcollector/main.c
  src/os_execd/execd.c
  src/os_execd/main.c
  src/rootcheck/rootcheck.c
  src/shared/debug_op.c
  src/syscheckd/src/main.c
  src/syscheckd/src/syscheck.c
  src/unit_tests/syscheckd/test_syscheck.c
  src/unit_tests/wazuh_modules/gcp/test_wmodules_gcp.c
  src/win32/win_utils.c
Labels: module/fim, team/core/binary beasts

#16857 Fix Windows unit test hangs in nanosleep for Jenkins environment
  src/unit_tests/shared/test_rwlock_op.c
Labels: type/bug, platform/windows, type/test/unit

#16515 Add Amazon Security Lake as Subscriber feature in the AWS module
  ruleset/rules/0990-amazon-security-lake_rules.xml
  ruleset/testing/tests/amazon_sec_lake.ini
  src/config/wmodules-aws.c
  src/wazuh_modules/wm_aws.c
  src/wazuh_modules/wm_aws.h
  wodles/aws/aws_s3.py
Labels: type/enhancement, module/aws
