Repository wazuh/wazuh, pull requests merged in 2023-01, with the labels that each got.

#15869 Remove unused FIM errors in sync and DB operations
  src/error_messages/error_messages.h
  src/unit_tests/syscheckd/test_create_db.c
Labels: module/fim

#15853 Deprecate status field in SCA
  CHANGELOG.md
  api/api/controllers/sca_controller.py
  api/api/controllers/test/test_sca_controller.py
  api/api/spec/spec.yaml
  api/test/integration/test_sca_endpoints.tavern.yaml
  extensions/elasticsearch/7.x/wazuh-template.json
  framework/wazuh/core/sca.py
  ruleset/rules/0570-sca_rules.xml
  src/analysisd/decoders/security_configuration_assessment.c
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/schema_upgrade_v10.sql
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_parser.c
  src/wazuh_db/wdb_sca.c
  src/wazuh_db/wdb_upgrade.c
Labels: module/sca

#15868 Add UTF-8 packages support.
  src/data_provider/src/packages/solarisWrapper.h
  src/shared_modules/utils/stringHelper.h
  src/shared_modules/utils/tests/stringHelper_test.cpp
Labels: platform/solaris

#15876 Fix a read buffer overflow in wazuh-authd when parsing requests
  src/os_auth/auth.c
  src/unit_tests/os_auth/test_auth_parse.c
Labels: type/bug, module/auth

#15936 Update agents DB version to 10
  src/unit_tests/os_crypto/md5_sha1_sha256/test_md5_sha1_sha256_op.c
  src/wazuh_db/schema_agents.sql
Labels: type/bug, module/db, type/bug/non production

#15909 Fixes resource leak reported by coverity
  src/wazuh_db/wdb_sca.c
Labels: type/bug, module/db, type/bug/leak, type/bug/non production

#15074 Optimize multigroups and shared files generation
  etc/internal_options.conf
  src/headers/file_op.h
  src/remoted/config.c
  src/remoted/manager.c
  src/remoted/remoted.h
  src/shared/file_op.c
  src/unit_tests/analysisd/CMakeLists.txt
  src/unit_tests/logcollector/test_state.c
  src/unit_tests/remoted/CMakeLists.txt
  src/unit_tests/remoted/test_manager.c
  src/unit_tests/shared/test_file_op.c
  src/unit_tests/wrappers/libc/stdio_wrappers.c
  src/unit_tests/wrappers/libc/stdio_wrappers.h
  src/unit_tests/wrappers/wazuh/os_crypto/md5_op_wrappers.c
  src/unit_tests/wrappers/wazuh/os_crypto/md5_op_wrappers.h
  src/unit_tests/wrappers/wazuh/shared/file_op_wrappers.c
  src/unit_tests/wrappers/wazuh/shared/file_op_wrappers.h
  src/unit_tests/wrappers/wazuh/shared/hash_op_wrappers.c
Labels: type/enhancement, module/remote, module/groups

#15870 Engine - Implementation Redis decoder
  src/engine/ruleset/decoders/redis/redis.yml
  src/engine/ruleset/environments/wazuh-environment.yml
Labels: module/engine, feed/engine-ruleset

#15575 Pre initialize pthread condition variable
  src/wazuh_modules/wm_syscollector.c
Labels: module/syscollector, team/core/data pirates

#15647 Let Logcollector try to open missing files perpetually
  etc/internal_options.conf
Labels: type/enhancement, module/logcollector, type/enhancement/usability
