Repository wazuh/wazuh, pull requests merged in 2023-09, with the labels that each got.

#17624 Rework SCA Policy for CentOS Linux 7
  ruleset/sca/centos/7/cis_centos7_linux.yml
Labels: type/bug, type/enhancement, feed/sca, level/epic

#16058 Feature/16034 rollback query in wazuhdb
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb.c
  src/unit_tests/wazuh_db/test_wdb_agents.c
  src/unit_tests/wazuh_db/test_wdb_fim.c
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/unit_tests/wazuh_db/test_wdb_global_parser.c
  src/unit_tests/wazuh_db/test_wdb_integrity.c
  src/unit_tests/wazuh_db/test_wdb_metadata.c
  src/unit_tests/wazuh_db/test_wdb_syscollector.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_db/wdb_wrappers.h
  src/wazuh_db/wdb.c
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_agents.c
  src/wazuh_db/wdb_ciscat.c
  src/wazuh_db/wdb_fim.c
  src/wazuh_db/wdb_global.c
  src/wazuh_db/wdb_integrity.c
  src/wazuh_db/wdb_metadata.c
  src/wazuh_db/wdb_parser.c
  src/wazuh_db/wdb_sca.c
  src/wazuh_db/wdb_scan_info.c
  src/wazuh_db/wdb_syscollector.c
  src/wazuh_db/wdb_upgrade.c
Labels: type/enhancement, module/db

#18770 Fix for downloading the Debian compressed feeds
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: type/bug, module/vulnerability detector, feed, platform/debian

#18776 Update changelog for 4.7.0
  CHANGELOG.md
Labels: type/maintenance

#17412 Rework SCA Policy for Red Hat Enterprise Linux 9
  ruleset/sca/rhel/9/cis_rhel9_linux.yml
Labels: type/bug, type/enhancement, feed/sca, level/task

#18773 The dataprovider isn't properly managing heap memory during hardware scan on Windows - Implementation
  src/data_provider/src/sysInfoWin.cpp
Labels: module/data provider

#16893 Add timeout and retries to VirusTotal integration
  integrations/maltiverse.py
  integrations/pagerduty.py
  integrations/shuffle.py
  integrations/slack.py
  integrations/tests/test_maltiverse.py
  integrations/tests/test_pagerduty.py
  integrations/tests/test_shuffle.py
  integrations/tests/test_slack.py
  integrations/tests/test_virustotal.py
  integrations/virustotal.py
  ruleset/rules/0490-virustotal_rules.xml
  src/config/integrator-config.c
  src/config/integrator-config.h
  src/os_integrator/config.c
  src/os_integrator/integrator.c
  src/unit_tests/os_integrator/test_integrator.c
Labels: module/integration

#18783 Update SUSE OVAL URL to download compressed feeds
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: module/vulnerability detector, feed, platform/suse

#18976 Fix a crash in wazuh-maild by buffer overflow
  src/os_maild/maild.h
  src/os_maild/os_maild_client.c
  src/unit_tests/os_maild/CMakeLists.txt
  src/unit_tests/os_maild/test_printtable.c
  src/unit_tests/server.cmake
Labels: type/bug, module/mail, type/bug/crash

#18964 Fix to check function output in case of error
  src/shared/file_op.c
Labels: type/bug, module/shared

#18988 Improve EPS metrics
  api/api/spec/spec.yaml
  src/analysisd/analysisd.c
  src/analysisd/state.c
  src/analysisd/state.h
  src/headers/limits_op.h
  src/shared/limits_op.c
  src/unit_tests/analysisd/test_analysis-state.c
  src/unit_tests/wrappers/wazuh/shared/limits_op_wrappers.c
Labels: module/analysis

#16839 Syscollector running on Windows XP does not retrieve the path of processes correctly - Implementation
  .github/actions/install_build_deps/action.yml
  src/data_provider/src/sysInfoWin.cpp
  src/headers/defs.h
Labels: module/data provider

#19029 Implement code signing for `libfimdb.dll`
  src/win32/wazuh-installer-sign-exes.bat
Labels: type/bug, platform/windows, level/task

#19041 Add reference for new macOS Sonoma to syscollector for v.4.5.3
  src/data_provider/src/osinfo/sysOsParsers.cpp
  src/shared/version_op.c
  src/unit_tests/shared/test_version_op.c
Labels: platform/macos, module/data provider, level/subtask, type/maintenance

#19069 Check array limits in Logcollector's multiline reader before adding a separator
  src/logcollector/read_multiline.c
  src/unit_tests/logcollector/CMakeLists.txt
  src/unit_tests/logcollector/test_read_multiline.c
Labels: type/bug, module/logcollector

#18902 Create validation logic for Vulnerability Detection module's configuration
  architecture/vulnerability-scanner/policyManager/001-sequence-config-validation.puml
  src/shared_modules/utils/stringHelper.h
  src/shared_modules/utils/tests/stringHelper_test.cpp
  src/wazuh_modules/vulnerability_scanner/CMakeLists.txt
  src/wazuh_modules/vulnerability_scanner/src/policyManager/policyManager.hpp
  src/wazuh_modules/vulnerability_scanner/src/vulnerabilityScanner.cpp
  src/wazuh_modules/vulnerability_scanner/tests/CMakeLists.txt
  src/wazuh_modules/vulnerability_scanner/tests/policyManager/CMakeLists.txt
  src/wazuh_modules/vulnerability_scanner/tests/policyManager/main.cpp
  src/wazuh_modules/vulnerability_scanner/tests/policyManager/policyManager_test.cpp
  src/wazuh_modules/vulnerability_scanner/tests/policyManager/policyManager_test.h
Labels: type/enhancement, module/vulnerability detector, level/subtask

#19048 Update Wazuh visualization field template for MS Graph
  extensions/elasticsearch/7.x/wazuh-template.json
Labels: type/bug, type/bug/non production, module/msgraph

#19217 Fix to truncate overflow attempt when parsing XML feed
  src/os_xml/os_xml.c
  src/unit_tests/os_xml/test_os_xml.c
Labels: type/bug, module/vulnerability detector, feed, platform/suse

#17052 Don't report a solved vulnerability when the package is updated and still vulnerable
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_db/wdb.c
  src/wazuh_modules/syscollector/src/syscollectorImp.cpp
  src/wazuh_modules/syscollector/tests/sysCollectorImp/syscollectorImp_test.cpp
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: module/vulnerability detector

#19265 Let the send error at wazuh-remoted print the error code
  src/remoted/netbuffer.c
  src/unit_tests/remoted/test_netbuffer.c
Labels: module/remote, type/change

#17127 Replace agents group column with the belongs relationship table
  api/test/integration/test_agent_GET_endpoints.tavern.yaml
  framework/wazuh/agent.py
  framework/wazuh/core/agent.py
  framework/wazuh/core/tests/data/test_agent/schema_global_test.sql
  framework/wazuh/core/tests/data/test_database/schema_global_test.sql
  framework/wazuh/core/tests/test_agent.py
  framework/wazuh/core/tests/test_utils.py
  framework/wazuh/tests/data/schema_global_test.sql
  framework/wazuh/tests/test_agent.py
Labels: type/enhancement, module/framework, type/enhancement/reliability, level/subtask
