Repository wazuh/wazuh, pull requests merged in 2023-02, with the labels that each got.

#15826 Fix in log date parsing at predecoding stage
  src/analysisd/cleanevent.c
  src/unit_tests/analysisd/test_cleanevent.c
Labels: type/bug, module/analysis, reporter/community

#16066 Centralize guess group functionality in the master node
  src/remoted/manager.c
  src/remoted/remcom.c
  src/remoted/remoted.h
  src/unit_tests/remoted/CMakeLists.txt
  src/unit_tests/remoted/test_manager.c
  src/unit_tests/remoted/test_remcom.c
  src/unit_tests/wazuh_modules/agent_upgrade/test_wm_agent_upgrade_tasks.c
  src/unit_tests/wrappers/wazuh/remoted/manager_wrappers.c
  src/unit_tests/wrappers/wazuh/remoted/manager_wrappers.h
  src/unit_tests/wrappers/wazuh/shared/agent_op_wrappers.c
  src/unit_tests/wrappers/wazuh/shared/agent_op_wrappers.h
  src/unit_tests/wrappers/wazuh/wazuh_modules/wm_agent_upgrade_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_modules/wm_agent_upgrade_wrappers.h
Labels: type/enhancement, module/remote

#15817 Fetch ALMA feeds for Vulnerability Detector
  etc/templates/config/generic/wodle-vulnerability-detector.manager.template
  src/config/wmodules-vuln-detector.c
  src/error_messages/error_messages.h
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: type/enhancement, module/vulnerability detector

#15985 Unit tests for syscollector legacy decoder
  src/analysisd/decoders/syscollector.c
  src/unit_tests/analysisd/test_decoder_syscollector.c
Labels: type/test/unit, team/core/data pirates

#15032 Improve command to change user and group from version 4.2.x to 4.x.x
  install.sh
  src/init/wazuh/wazuh.sh
Labels: module/upgrade

#15718 Add APK pkgs support
  framework/wazuh/tests/data/schema_syscollector_000.sql
  src/data_provider/src/packages/packageLinuxApkParserHelper.h
  src/data_provider/src/packages/packageLinuxDataRetriever.h
  src/data_provider/src/packages/packageLinuxParserApk.cpp
  src/data_provider/src/sharedDefs.h
  src/data_provider/tests/sysInfoPackagesLinuxHelper/sysInfoPackagesLinuxHelper_test.cpp
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/schema_upgrade_v11.sql
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_upgrade.c
Labels: module/syscollector, team/core/data pirates

#16088 Synchronize complete groups information including agents without group
  src/unit_tests/wazuh_db/test_wdb_global.c
  src/wazuh_db/wdb_global.c
Labels: type/enhancement, module/db

#16120 Restore `DELETE /groups` response format
  framework/wazuh/agent.py
  framework/wazuh/tests/test_agent.py
Labels: type/bug, module/api, team/framework

#16140 Fix Azure credentials link
  wodles/azure/azure-logs.py
Labels: module/azure, module/cloud monitoring

#14499 Windows packages installation date retrieving fallback
  src/data_provider/src/osinfo/sysOsInfoWin.cpp
  src/data_provider/src/packages/appxWindowsWrapper.h
  src/data_provider/src/sysInfoWin.cpp
  src/shared_modules/utils/encodingWindowsHelper.h
  src/shared_modules/utils/registryHelper.h
  src/shared_modules/utils/windowsHelper.h
Labels: module/syscollector, team/core/data pirates

#16233 Fix the orden in which the global DB is populated after an upgrade
  src/wazuh_db/schema_global_upgrade_v4.sql
  src/wazuh_db/wdb.c
  src/wazuh_modules/wm_database.c
Labels: type/bug, module/db, module/groups
