Repository wazuh/wazuh, pull requests merged in 2023-06, with the labels that each got.

#16701 Non UTF8 process information
  src/data_provider/src/ports/portWindowsWrapper.h
  src/data_provider/src/sysInfoWin.cpp
Labels: platform/windows, module/data provider, team/core

#17178 Vulnerability Detector W10 & W11
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: type/bug, module/vulnerability detector, platform/windows

#17413 Fill changelog for 4.4.4
  CHANGELOG.md
Labels: type/maintenance

#17439 Fix testing mode build with Clang
  .github/workflows/macos-unit-tests.yml
  src/shared_modules/utils/tests/CMakeLists.txt
  src/shared_modules/utils/tests/filesystemHelper_test.cpp
  src/syscheckd/CMakeLists.txt
Labels: type/bug, type/test/unit

#17490 Avoid exceeding the maximum number of fields when loading a rule
  src/analysisd/rules.c
Labels: type/bug, module/analysis, impact/low

#17438 Fix NULL pointer dereference in Windows OS CPE generation
  src/error_messages/error_messages.h
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: type/bug, module/vulnerability detector, platform/windows, type/bug/crash

#14161 Standarize time install date
  src/data_provider/src/sysInfoWin.cpp
  src/shared_modules/utils/stringHelper.h
  src/shared_modules/utils/tests/stringHelper_test.cpp
  src/shared_modules/utils/tests/windowsHelper_test.cpp
  src/shared_modules/utils/timeHelper.h
  src/shared_modules/utils/windowsHelper.h
Labels: module/syscollector

#16990 Changes to compile new CURL library v7.88.1
  README.md
  src/Makefile
Labels: type/enhancement, module/building

#17225 Removed Framework unused RBAC folder
  api/test/integration/mapping/integration_test_api_endpoints.json
  framework/wazuh/rbac/migrations/README
  framework/wazuh/rbac/migrations/alembic.ini
  framework/wazuh/rbac/migrations/env.py
  framework/wazuh/rbac/migrations/script.py.mako
Labels: type/bug, module/framework, level/task

#17463 Prevent invalid free of stack memory at osquery integration module
  src/unit_tests/wazuh_modules/CMakeLists.txt
  src/unit_tests/wazuh_modules/osquery/CMakeLists.txt
  src/unit_tests/wazuh_modules/osquery/test_wm_osquery_already_running.c
  src/wazuh_modules/wm_osquery_monitor.c
Labels: type/bug, module/osquery

#17023 Events webhook API endpoint
  api/api/alogging.py
  api/api/configuration.py
  api/api/controllers/event_controller.py
  api/api/controllers/test/test_event_controller.py
  api/api/middlewares.py
  api/api/models/events_ingest_model.py
  api/api/models/test/test_model.py
  api/api/spec/spec.yaml
  api/api/test/test_alogging.py
  api/api/test/test_middlewares.py
  api/api/validator.py
  api/scripts/wazuh-apid.py
  framework/wazuh/core/cluster/dapi/dapi.py
  framework/wazuh/core/common.py
  framework/wazuh/core/exception.py
  framework/wazuh/core/tests/test_wazuh_queue.py
  framework/wazuh/core/wazuh_queue.py
  framework/wazuh/event.py
  framework/wazuh/rbac/default/policies.yaml
  framework/wazuh/rbac/default/relationships.yaml
  framework/wazuh/tests/data/security/rbac_catalog.yml
  framework/wazuh/tests/test_event.py
Labels: type/enhancement, module/api

#16531 Refactor default_config method to take into account user config found in .aws/config file
  wodles/aws/aws_s3.py
Labels: type/enhancement, module/aws, module/cloud monitoring
