Repository wazuh/wazuh, pull requests merged in 2023-08, with the labels that each got.

#18225 MSGraph coverity improve changes
  src/wazuh_modules/wm_ms_graph.c
Labels: type/enhancement, type/test/coverity, level/subtask

#16343 Add support for AlmaLinux in Vulnerability Detector
  etc/templates/config/generic/wodle-vulnerability-detector.manager.template
  src/REVISION
  src/config/wmodules-vuln-detector.c
  src/error_messages/error_messages.h
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
Labels: module/vulnerability detector

#18302 Preserve check IDs at Windows 10 SCA policy
  ruleset/sca/windows/cis_win10_enterprise.yml
Labels: feed/sca

#18454 Changed error message when upgrading a macOS arm64 via WPK
  framework/scripts/agent_upgrade.py
  src/shared/remoted_op.c
  src/unit_tests/wazuh_modules/agent_upgrade/test_wm_agent_upgrade_validate.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_manager.c
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_manager.h
  src/wazuh_modules/agent_upgrade/manager/wm_agent_upgrade_validate.c
Labels: module/upgrade/wpk, module/upgrade, type/change

#18199 Create synchronization flatbuffer schema for syscollector - Implementation
  src/Makefile
  src/ci/build_tools.py
  src/ci/run_check.py
  src/wazuh_modules/syscollector/CMakeLists.txt
  src/wazuh_modules/syscollector/schemas/common_agentInfo.fbs
  src/wazuh_modules/syscollector/schemas/hotfix_synchronization.fbs
  src/wazuh_modules/syscollector/schemas/hwinfo_synchronization.fbs
  src/wazuh_modules/syscollector/schemas/networkAddress_synchronization.fbs
  src/wazuh_modules/syscollector/schemas/networkIface_synchronization.fbs
  src/wazuh_modules/syscollector/schemas/osinfo_synchronization.fbs
  src/wazuh_modules/syscollector/schemas/package_synchronization.fbs
  src/wazuh_modules/syscollector/schemas/ports_synchronization.fbs
  src/wazuh_modules/syscollector/schemas/processes_synchronization.fbs
  src/wazuh_modules/syscollector/schemas/syscollector_synchronization.fbs
  src/wazuh_modules/syscollector/tests/CMakeLists.txt
  src/wazuh_modules/syscollector/tests/sysCollectorFlatbuffers/CMakeLists.txt
  src/wazuh_modules/syscollector/tests/sysCollectorFlatbuffers/main.cpp
  src/wazuh_modules/syscollector/tests/sysCollectorFlatbuffers/syscollectorFb_test.cpp
  src/wazuh_modules/syscollector/tests/sysCollectorFlatbuffers/syscollectorFb_test.h
Labels: type/enhancement, module/syscollector

#18360 Fix memory leak in Vuln Detector detected by Coverity
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
Labels: type/bug, module/vulnerability detector, type/bug/leak, type/bug/non production

#18008 Add API and Framework unit tests workflows to Github Actions
  .github/workflows/api-unit-tests.yml
  .github/workflows/framework-unit-tests.yml
Labels: type/enhancement, level/task

#18476 Wazuh db does not detect agents db has been deleted
  src/shared/os_utils.c
  src/unit_tests/wazuh_db/CMakeLists.txt
  src/unit_tests/wazuh_db/test_wdb_global_parser.c
  src/unit_tests/wazuh_db/test_wdb_parser.c
  src/wazuh_db/wdb_parser.c
Labels: module/db

#17950 Add support for joins and group by in WazuhDBQuery
  framework/wazuh/core/exception.py
  framework/wazuh/core/tests/test_utils.py
  framework/wazuh/core/utils.py
Labels: type/enhancement, module/framework

#18642 Fix Solaris 10 name not showing in dashboard
  src/shared/version_op.c
  src/unit_tests/shared/test_version_op.c
Labels: module/syscollector, module/agent, platform/solaris, level/task

#18737 Fix a crash in wazuh-analysisd during startup
  src/analysisd/analysisd.c
Labels: type/bug, module/analysis, type/bug/crash
