Repository wazuh/wazuh, pull requests merged in 2023-05, with the labels that each got.

#16844 Fix RBAC white agent integration tests
  api/test/integration/test_rbac_white_agent_endpoints.tavern.yaml
Labels: type/bug, module/api

#15608 Auto causes copy
  src/wazuh_modules/syscollector/src/syscollectorImp.cpp
Labels: team/core/data pirates

#16721 AWS module improvements
  src/config/wmodules-aws.c
  wodles/aws/aws_s3.py
Labels: type/bug, module/aws, module/cloud monitoring

#16865 fix(integration test): use docker compose v2
  api/test/integration/conftest.py
  api/test/integration/env/docker-compose.yml
  api/test/integration/tavern_utils.py
Labels: type/test, module/api, level/task

#16756 Improved alphanumeric_symbols regex to cover certain SCA remediation fields
  api/api/validator.py
Labels: type/bug, module/api, level/task, team/framework

#17040 Fix OSHash_GetIndex() function signature
  src/headers/hash_op.h
  src/shared/hash_op.c
Labels: type/bug, module/shared

#17296 Merge branch 4.4 into 4.4.4
  .github/actions/test_deploy_macos.sh
  CHANGELOG.md
  src/init/darwin-init.sh
  src/init/register_configure_agent.sh
Labels: type/maintenance

#16489 Handle file read decode errors
  framework/wazuh/core/tests/data/test_load_wazuh_xml_ko/invalid_utf8.xml
  framework/wazuh/core/tests/test_utils.py
  framework/wazuh/core/utils.py
Labels: type/bug, module/framework, module/api, level/task

#16513 Add python test requirements.txt
  framework/requirements-dev.txt
Labels: type/enhancement, module/framework, module/api

#17191 Fixed README duplicated Tests
  api/test/integration/README.md
Labels: type/bug, module/api, level/task

#16987 Replace empty value with None in API specification key
  api/api/spec/spec.yaml
Labels: type/bug, module/api
