Repository wazuh/wazuh, pull requests merged in 2023-07, with the labels that each got.

#16000 Fix missing rules and decoders in Analysisd JSON report
  src/analysisd/config_json.c
Labels: type/bug, module/analysis

#17703 Fix Integration Test nginx-lb entrypoint and add container log to Artifacts.zip
  api/test/integration/conftest.py
  api/test/integration/env/base/nginx-lb/Dockerfile
  api/test/integration/env/base/nginx-lb/entrypoint.sh
Labels: type/enhancement, type/test, type/test/test tool, team/framework

#17501 Review the timestamp logs of the RTR - Implementation
  src/ci/utils.py
Labels: module/RTR

#17600 Syscollector is reading a bad value for the process RSS memory
  src/data_provider/src/sysInfoLinux.cpp
Labels: type/bug, reporter/cicd, module/data provider, level/task

#17618 Add reference for new macOS Sonoma to syscollector
  src/data_provider/src/osinfo/sysOsParsers.cpp
  src/shared/version_op.c
  src/unit_tests/shared/test_version_op.c
Labels: type/enhancement, module/syscollector, platform/macos, level/task

#16065 Constraint failed during the synchronization of sys_hwinfo table.
  src/unit_tests/wazuh_db/test_wdb_delta_event.c
  src/unit_tests/wazuh_db/test_wdb_syscollector.c
  src/wazuh_db/schema_agents.sql
  src/wazuh_db/schema_upgrade_v11.sql
  src/wazuh_db/wdb.h
  src/wazuh_db/wdb_delta_event.c
  src/wazuh_db/wdb_syscollector.c
  src/wazuh_db/wdb_upgrade.c
Labels: role/qa-data-pirates

#16895 SafeWow64DisableWow64FsRedirection wrapper to make safe call for WoW64DisableWoW64FsRedirection
  src/headers/os_utils.h
  src/shared/os_utils.c
  src/syscheckd/src/create_db.c
  src/syscheckd/src/run_check.c
  src/syscheckd/src/whodata/win_whodata.c
Labels: type/bug

#16978 Fix missing FEED_SUSE
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: type/bug, module/vulnerability detector, level/task

#17866 Clear SQLAlchemy mappers for RBAC tests
  framework/wazuh/rbac/tests/test_decorators.py
  framework/wazuh/rbac/tests/test_preprocessor.py
  framework/wazuh/rbac/tests/utils.py
Labels: type/bug, module/framework

#16684 Fix typo on configuration template file
  etc/ossec-local.conf
  src/init/inst-functions.sh
Labels: module/install

#17670 Security events webhook
  api/api/alogging.py
  api/api/configuration.py
  api/api/controllers/event_controller.py
  api/api/controllers/test/test_event_controller.py
  api/api/middlewares.py
  api/api/models/events_ingest_model.py
  api/api/models/test/test_model.py
  api/api/spec/spec.yaml
  api/api/test/test_alogging.py
  api/api/test/test_middlewares.py
  api/api/validator.py
  api/scripts/wazuh-apid.py
  api/test/integration/conftest.py
  api/test/integration/env/configurations/rbac/webhook/black_config.txt
  api/test/integration/env/configurations/rbac/webhook/black_config.yaml
  api/test/integration/env/configurations/rbac/webhook/white_config.txt
  api/test/integration/env/configurations/rbac/webhook/white_config.yaml
  api/test/integration/mapping/integration_test_api_endpoints.json
  api/test/integration/test_rbac_black_webhook_endpoints.tavern.yaml
  api/test/integration/test_rbac_white_webhook_endpoints.tavern.yaml
  api/test/integration/test_webhook_endpoints.tavern.yaml
  framework/wazuh/core/cluster/dapi/dapi.py
  framework/wazuh/core/common.py
  framework/wazuh/core/exception.py
  framework/wazuh/core/tests/test_wazuh_queue.py
  framework/wazuh/core/wazuh_queue.py
  framework/wazuh/event.py
  framework/wazuh/rbac/default/policies.yaml
  framework/wazuh/rbac/default/relationships.yaml
  framework/wazuh/tests/data/security/rbac_catalog.yml
  framework/wazuh/tests/test_event.py
Labels: module/api, type/enhancement/feature

#16919 Retries waiting for wmodules
  src/wazuh_modules/wmodules.c
  src/wazuh_modules/wmodules.h
Labels: module/syscollector

#17701 Fixed segmentation fault due to duplicate VD configuration
  src/config/wmodules-vuln-detector.c
Labels: type/bug, module/vulnerability detector, module/configuration, type/bug/crash

#15852 Wildcard support in Windows registers
  src/config/syscheck-config.c
  src/error_messages/debug_messages.h
  src/headers/syscheck_op.h
  src/shared/syscheck_op.c
  src/unit_tests/shared/test_syscheck_op.c
Labels: platform/windows, module/fim/registry

#17632 Limited allowed inputs for file_path parameter in upgrade_custom endpoint
  api/api/controllers/test/test_agent_controller.py
  api/api/spec/spec.yaml
  api/api/test/test_validator.py
  api/api/validator.py
Labels: type/bug, module/api

#17941 Fix CredSSP encryption enforcement at Windows Benchmarks for SCA
  ruleset/sca/windows/cis_win10_enterprise.yml
  ruleset/sca/windows/cis_win11_enterprise.yml
  ruleset/sca/windows/cis_win2022.yml
Labels: type/bug, type/enhancement, feed/sca, level/task

#17940 Fix inverse logic in MS Windows Server 2022 Benchmark for SCA
  ruleset/sca/windows/cis_win2022.yml
Labels: type/bug, type/enhancement, feed/sca, level/task

#17710 Parse NVD feed 2.0 for Vulnerability Detector
  src/shared/file_op.c
  src/unit_tests/wazuh_modules/vulnerability_detector/CMakeLists.txt
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector_evr.c
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector_nvd.c
  src/unit_tests/wrappers/wazuh/wazuh_modules/wm_vuln_detector_wrappers.c
  src/unit_tests/wrappers/wazuh/wazuh_modules/wm_vuln_detector_wrappers.h
  src/wazuh_db/schema_vuln_detector.sql
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_db.h
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector_nvd.c
  src/wazuh_modules/wm_control.c
Labels: module/vulnerability detector, feed, type/change

#17015 Change cluster status default date type
  framework/wazuh/core/cluster/common.py
  framework/wazuh/core/cluster/local_server.py
  framework/wazuh/core/cluster/master.py
  framework/wazuh/core/cluster/tests/test_common.py
  framework/wazuh/core/cluster/tests/test_master.py
  framework/wazuh/core/cluster/tests/test_worker.py
  framework/wazuh/core/cluster/worker.py
Labels: type/bug, module/cluster

#17991 Syscollector does not correctly learn the full version for the Opera web browser
  src/data_provider/src/packages/pkgWrapper.h
  src/data_provider/tests/sysInfoPackagesMAC/CMakeLists.txt
  src/data_provider/tests/sysInfoPackagesMAC/input_files/PKGWrapperTest_LongVersion.app/Contents/Info.plist
  src/data_provider/tests/sysInfoPackagesMAC/input_files/PKGWrapperTest_NoDescription.app/Contents/Info.plist
  src/data_provider/tests/sysInfoPackagesMAC/input_files/PKGWrapperTest_NoGroups.app/Contents/Info.plist
  src/data_provider/tests/sysInfoPackagesMAC/input_files/PKGWrapperTest_NoName.app/Contents/Info.plist
  src/data_provider/tests/sysInfoPackagesMAC/input_files/PKGWrapperTest_NoVendor.app/Contents/Info.plist
  src/data_provider/tests/sysInfoPackagesMAC/input_files/PKGWrapperTest_NoVersion.app/Contents/Info.plist
  src/data_provider/tests/sysInfoPackagesMAC/input_files/PKGWrapperTest_ShortVersion.app/Contents/Info.plist
  src/data_provider/tests/sysInfoPackagesMAC/pkgWrapper_test.cpp
  src/data_provider/tests/sysInfoPackagesMAC/pkgWrapper_test.h
Labels: type/bug, level/task

#15973 Adding wildcards for folders in the localfile configuration on Windows
  src/config/localfile-config.c
  src/logcollector/logcollector.c
  src/shared/file_op.c
Labels: type/enhancement, module/logcollector, platform/windows, module/configuration

#18047 Fix `agent_upgrade` when get agent version
  framework/scripts/agent_upgrade.py
  framework/scripts/tests/test_agent_upgrade.py
Labels: module/framework, type/bug/crash

#17865 Add query, select and distinct parameters to API endpoints
  api/api/controllers/agent_controller.py
  api/api/controllers/cdb_list_controller.py
  api/api/controllers/cluster_controller.py
  api/api/controllers/decoder_controller.py
  api/api/controllers/manager_controller.py
  api/api/controllers/mitre_controller.py
  api/api/controllers/rootcheck_controller.py
  api/api/controllers/rule_controller.py
  api/api/controllers/security_controller.py
  api/api/controllers/syscollector_controller.py
  api/api/controllers/test/test_agent_controller.py
  api/api/controllers/test/test_cdb_list_controller.py
  api/api/controllers/test/test_cluster_controller.py
  api/api/controllers/test/test_decoder_controller.py
  api/api/controllers/test/test_manager_controller.py
  api/api/controllers/test/test_mitre_controller.py
  api/api/controllers/test/test_rootcheck_controller.py
  api/api/controllers/test/test_rule_controller.py
  api/api/controllers/test/test_security_controller.py
  api/api/controllers/test/test_syscollector_controller.py
  api/api/spec/spec.yaml
  api/test/integration/test_agent_GET_endpoints.tavern.yaml
  api/test/integration/test_cdb_list_endpoints.tavern.yaml
  api/test/integration/test_cluster_endpoints.tavern.yaml
  api/test/integration/test_decoder_endpoints.tavern.yaml
  api/test/integration/test_manager_endpoints.tavern.yaml
  api/test/integration/test_mitre_endpoints.tavern.yaml
  api/test/integration/test_rule_endpoints.tavern.yaml
  api/test/integration/test_sca_endpoints.tavern.yaml
  api/test/integration/test_security_GET_endpoints.tavern.yaml
  api/test/integration/test_syscollector_endpoints.tavern.yaml
  framework/wazuh/agent.py
  framework/wazuh/cdb_list.py
  framework/wazuh/core/agent.py
  framework/wazuh/core/cluster/control.py
  framework/wazuh/core/cluster/server.py
  framework/wazuh/core/cluster/tests/test_server.py
  framework/wazuh/core/configuration.py
  framework/wazuh/core/decoder.py
  framework/wazuh/core/manager.py
  framework/wazuh/core/mitre.py
  framework/wazuh/core/rule.py
  framework/wazuh/core/tests/data/configuration/ossec.conf
  framework/wazuh/core/tests/test_configuration.py
  framework/wazuh/core/tests/test_utils.py
  framework/wazuh/core/utils.py
  framework/wazuh/decoder.py
  framework/wazuh/manager.py
  framework/wazuh/mitre.py
  framework/wazuh/rootcheck.py
  framework/wazuh/rule.py
  framework/wazuh/security.py
  framework/wazuh/syscollector.py
  framework/wazuh/tests/test_agent.py
  framework/wazuh/vulnerability.py
Labels: module/api, level/task

#18142 Set the default RHEL 5 feed URL to feed.wazuh.com
  src/unit_tests/wazuh_modules/vulnerability_detector/test_wm_vuln_detector.c
  src/wazuh_modules/vulnerability_detector/wm_vuln_detector.h
Labels: module/vulnerability detector, feed, type/change
