Repository wazuh/wazuh, pull requests merged in 2024-07, with the labels that each got.

#24675 Fix crash during agent shutdown
  src/wazuh_modules/wm_syscollector.c
Labels: type/bug, module/syscollector, platform/windows

#24710 Fix handling of single quotes in FIM and Syscollector
  src/data_provider/src/network/networkLinuxWrapper.h
  src/data_provider/src/network/networkSolarisWrapper.hpp
  src/data_provider/src/sysInfoLinux.cpp
  src/shared_modules/indexer_connector/src/monitoring.hpp
  src/shared_modules/rsync/src/rsyncImplementation.cpp
  src/shared_modules/rsync/tests/interface/rsync_test.cpp
  src/shared_modules/utils/stringHelper.h
  src/shared_modules/utils/tests/stringHelper_test.cpp
  src/syscheckd/src/db/src/fimDB.cpp
Labels: type/bug, module/fim, module/rsync

#24968 fix: revert xml parser changes
  src/analysisd/decoders/winevtchannel.c
  src/os_xml/os_xml.c
  src/unit_tests/analysisd/test_decoder_winevtchannel.c
  src/unit_tests/os_xml/test_os_xml.c
Labels: type/bug, level/task
