Repository wazuh/wazuh, pull requests merged in 2025-07, with the labels that each got.

#30663 Avoid expanded file list in logcollector getconfig output
  src/logcollector/config.c
Labels: type/bug, module/logcollector

#30835 Bring IDBSync interface from 6.x
  src/shared_modules/dbsync/include/dbsync.hpp
  src/shared_modules/dbsync/include/idbsync.hpp
Labels: type/enhancement, module/sca, module/dbsync, level/subtask

#31038 Increase timeout in Windows Tier 0 FIM test to reduce flakiness
  tests/integration/test_fim/test_files/test_file_limit/test_fill_capacity.py
Labels: module/fim
