Repository wazuh/wazuh, pull requests merged in 2025-09, with the labels that each got.

#32012 Fix for manager not finding libwazuhext.so
  src/Makefile
Labels: type/bug

#32046 Add SSL CA certificates and improve build path for legacy environments
  packages/aix/certificates/cacert.pem
  packages/aix/generate_wazuh_packages.sh
  packages/hp-ux/certificates/cacert.pem
  packages/hp-ux/generate_wazuh_packages.sh
  packages/rpms/i386/legacy/Dockerfile
  packages/rpms/i386/legacy/certificates/cacert.pem
Labels: type/enhancement, platform/aix, platform/linux, platform/hp-ux

#32376 Fix uninitialized errno in syscheck/audit unit tests
  src/unit_tests/syscheckd/whodata/test_syscheck_audit.c
Labels: type/bug, type/test/unit
