Repository wazuh/wazuh, pull requests merged in 2025-05, with the labels that each got.

#29432 Remove group inference mechanism from remoted
  src/remoted/config.c
  src/remoted/manager.c
  src/remoted/remcom.c
  src/remoted/remoted.h
  src/remoted/request.c
  src/unit_tests/remoted/test_manager.c
  src/unit_tests/remoted/test_remcom.c
Labels: type/enhancement, module/remote

#29496 Bump external dependencies version to 36
  src/Makefile
Labels: type/enhancement

#29561 Fix hidden port detection and improve netstat availability handling
  src/headers/file_op.h
  src/rootcheck/check_rc_ports.c
  src/shared/file_op.c
  src/unit_tests/shared/CMakeLists.txt
  src/unit_tests/shared/test_file_op.c
Labels: type/bug, module/rootcheck

#29600 Backport fix WPK packages for DEB when upgrading from 4.3.11 or older
  src/init/pkg_installer.sh
Labels: type/bug, module/upgrade/wpk, backport

#29598 Backport crash fix in wazuh-modulesd to 4.10.2
  src/data_provider/src/sysInfoLinux.cpp
  src/shared_modules/utils/hashHelper.h
  src/wazuh_modules/wm_syscollector.c
  src/wazuh_modules/wm_syscollector.h
Labels: type/bug, module/modulesd, type/bug/crash, backport

#29647 Fixed obtaining the full path in eBPF for the different file systems
  src/syscheckd/src/ebpf/src/modern.bpf.c
Labels: module/fim, module/fim/whodata

#29889 Revert default group assignment and restore group inference mechanism
  src/os_auth/auth.c
  src/remoted/config.c
  src/remoted/manager.c
  src/remoted/remcom.c
  src/remoted/remoted.h
  src/remoted/request.c
  src/unit_tests/os_auth/test_auth.c
  src/unit_tests/remoted/test_manager.c
  src/unit_tests/remoted/test_remcom.c
  src/wazuh_db/schema_global.sql
  src/wazuh_db/schema_global_upgrade_v7.sql
  tests/integration/test_authd/conftest.py
  tests/integration/test_authd/test_cluster/data/test_cases/cases_authd_local.yaml
  tests/integration/test_authd/test_cluster/test_authd_local.py
  tests/integration/test_authd/test_common/data/test_cases/cases_authd.yaml
  tests/integration/test_authd/test_common/test_authd.py
Labels: type/enhancement, module/remote, module/db, module/auth

#29905 Replace `select()` with `sleep()` in logcollector main loop
  src/logcollector/logcollector.c
Labels: type/enhancement, module/logcollector
